<!DOCTYPE html>
<html class="frame" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
	<title>L3 value stream (stages) summary P.H</title>

	<!-- JQUERY -->
	<script type="text/javascript" src="../../lib/jquery/jquery.min.js"></script>
	<!-- BOOTSTRAP -->
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap.min.yeti.css">
	<script type="text/javascript" src="../../lib/bootstrap/js/bootstrap-3.3.2.min.js"></script>
	<!-- REPORT SPECIFIC -->
	<link type="text/css" rel="stylesheet" href="../../css/model.css">
	<link type="text/css" rel="stylesheet" href="../../css/i18n.css">
	<script type="text/javascript" src="../../js/frame.js"></script>
	<script type="text/javascript" src="../../js/imageMapResizer.min.js"></script>
</head>

<body>
	<div class="panel panel-default root-panel">

		<div class="panel-heading root-panel-heading">
            <!-- Name -->
               <b>L3 value stream (stages) summary P.H</b>

            <!-- If a View with Viewpoint -->
			   (<span class="i18n-viewpoint-"></span>)
			   <a class="glyphicon glyphicon-info-sign" id="hint-viewpoint_" target="hint"></a>
            <!-- Or if a model (i.e has Purpose method) -->
		</div>

		<div class="panel-body root-panel-body">
		    <!-- If this is a digram model (has children and no bounds) show the image -->
			   <img class="diagram" src="../images/id-1e9022c620c845e6885f422cb5734bcc.png" alt="L3 value stream (stages) summary P.H" usemap="#id-1e9022c620c845e6885f422cb5734bccmap"/>
			   <map name="id-1e9022c620c845e6885f422cb5734bccmap">
				  				<area shape="rect" coords="1966,309,2207,334" href="../elements/id-469958.html"  target="element">

				  		<area shape="rect" coords="1954,261,2219,346" href="../elements/id-718750.html"  target="element">
				  				<area shape="rect" coords="1691,309,1931,333" href="../elements/id-469274.html"  target="element">

				  		<area shape="rect" coords="1679,261,1943,346" href="../elements/id-718770.html"  target="element">
				  				<area shape="rect" coords="1415,309,1655,333" href="../elements/id-469274.html"  target="element">

				  		<area shape="rect" coords="1403,261,1667,346" href="../elements/id-718771.html"  target="element">
				  				<area shape="rect" coords="1138,309,1379,334" href="../elements/id-72c5c85ed0bf43cda502df207414640c.html"  target="element">

				  		<area shape="rect" coords="1126,261,1391,346" href="../elements/id-718746.html"  target="element">
				  				<area shape="rect" coords="862,309,1102,333" href="../elements/id-469480.html"  target="element">

				  		<area shape="rect" coords="850,261,1114,346" href="../elements/id-718772.html"  target="element">
				  				<area shape="rect" coords="587,310,827,334" href="../elements/id-470129.html"  target="element">

				  		<area shape="rect" coords="575,262,839,346" href="../elements/id-718760.html"  target="element">
				  				<area shape="rect" coords="311,309,552,334" href="../elements/id-469958.html"  target="element">

				  		<area shape="rect" coords="299,261,563,346" href="../elements/id-718750.html"  target="element">
				  				<area shape="rect" coords="35,310,275,334" href="../elements/id-722954.html"  target="element">

				  		<area shape="rect" coords="23,262,287,346" href="../elements/id-718810.html"  target="element">
				  		<area shape="rect" coords="1954,178,2219,215" href="../elements/id-f32562d8f18a420c838e9c942ffd8f0d.html"  target="element">
				  		<area shape="rect" coords="1678,178,1943,215" href="../elements/id-1dc9e3ba591c48109b5e727bfb6dfc48.html"  target="element">
				  		<area shape="rect" coords="1402,178,1667,215" href="../elements/id-b9a59a99133e401f84114a9eb8e42de0.html"  target="element">
				  		<area shape="rect" coords="1126,178,1391,215" href="../elements/id-53eddf60152f44348aa9822a4806155b.html"  target="element">
				  		<area shape="rect" coords="850,178,1115,215" href="../elements/id-c0c80f55f6474a3f849a95d6b0f54abe.html"  target="element">
				  		<area shape="rect" coords="574,178,839,215" href="../elements/id-4bd22329a80f4ffbb76422548cf22744.html"  target="element">
				  		<area shape="rect" coords="298,178,563,215" href="../elements/id-cf385e434e2c49328adb5f95bccfcb23.html"  target="element">
				  		<area shape="rect" coords="22,178,287,215" href="../elements/id-dd88ac27190248cdaadf95e4359590b2.html"  target="element">
				  				<area shape="rect" coords="1954,58,2219,113" href="../elements/id-c462ecb4d24248d5bdab64acfe71d9e3.html"  target="element">
				  				<area shape="rect" coords="1678,58,1943,113" href="../elements/id-db2c5d58b04745f0972685c7f24c4202.html"  target="element">
				  				<area shape="rect" coords="1402,58,1667,113" href="../elements/id-669a73d6612c4f3ea7860273d1b79608.html"  target="element">
				  				<area shape="rect" coords="1126,58,1391,113" href="../elements/id-3e97e0bb9e99472ca91c539a73d0674b.html"  target="element">
				  				<area shape="rect" coords="850,58,1115,113" href="../elements/id-679b660525754874996a85273d0da214.html"  target="element">
				  				<area shape="rect" coords="574,58,839,113" href="../elements/id-b5c725e6fb32409397bdee440b15b16c.html"  target="element">
				  				<area shape="rect" coords="298,58,563,113" href="../elements/id-c47ae3c7fb9d4c2da8a5b7ad40beb891.html"  target="element">
				  				<area shape="rect" coords="22,58,287,113" href="../elements/id-2556340cb2ec4e21be6e9ce021cbb639.html"  target="element">

				  		<area shape="rect" coords="10,10,2231,131" href="../elements/id-24459716ccb14af5bff12769ebcb5476.html"  target="element">

			   </map>

			<div role="tabpanel">
				<!-- Nav tabs -->
				<ul class="nav nav-tabs" role="tablist">
                    <!-- Purpose / Documentation / Content -->
					   <li role="presentation" class="active"><a href="#documentation" aria-controls="documentation" role="tab" data-toggle="tab" class="i18n-documentation"></a></li>

                    <!-- Properties -->
                    <li role="presentation"><a href="#properties" aria-controls="properties" role="tab" data-toggle="tab" class="i18n-properties"></a></li>

						<li role="presentation"><a href="#elements" aria-controls="elements" role="tab" data-toggle="tab" class="i18n-elements"></a></li>
						<li role="presentation"><a href="#relationships" aria-controls="relationships" role="tab" data-toggle="tab" class="i18n-relationships"></a></li>
                    <!-- Model, Query Tab -->
				</ul>

				<!-- Tab panes -->
				<div class="tab-content">
					<div role="tabpanel" class="tab-pane active" id="documentation">
						<div class="convertlinks documentation" style="white-space:pre-wrap"></div>
					</div>
					<div role="tabpanel" class="tab-pane" id="properties">
						<table class="table table-striped table-hover table-condensed">
							<thead>
								<tr>
									<th class="i18n-key"></th>
									<th class="i18n-value"></th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
					</div>
						<div role="tabpanel" class="tab-pane" id="elements">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
									</tr>
								</thead>
								<tbody>
											<tr>
											    <td> <a href="../elements/id-24459716ccb14af5bff12769ebcb5476.html" target="element"> Beschikbaar stellen van netbeheerdata </a> </td>
											    <td> <a href="../elements/id-24459716ccb14af5bff12769ebcb5476.html" target="element" class="i18n-elementtype-BusinessProcess">
											    </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/id-2556340cb2ec4e21be6e9ce021cbb639.html" target="element"> Vindbaar maken dataproducten </a> </td>
													    <td> <a href="../elements/id-2556340cb2ec4e21be6e9ce021cbb639.html" target="element" class="i18n-elementtype-BusinessProcess">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-c47ae3c7fb9d4c2da8a5b7ad40beb891.html" target="element"> In behandeling nemen dataproduct verzoek </a> </td>
													    <td> <a href="../elements/id-c47ae3c7fb9d4c2da8a5b7ad40beb891.html" target="element" class="i18n-elementtype-BusinessProcess">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-b5c725e6fb32409397bdee440b15b16c.html" target="element"> Offreren dataproduct </a> </td>
													    <td> <a href="../elements/id-b5c725e6fb32409397bdee440b15b16c.html" target="element" class="i18n-elementtype-BusinessProcess">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-679b660525754874996a85273d0da214.html" target="element"> Overeenkomen dataproduct </a> </td>
													    <td> <a href="../elements/id-679b660525754874996a85273d0da214.html" target="element" class="i18n-elementtype-BusinessProcess">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-3e97e0bb9e99472ca91c539a73d0674b.html" target="element"> Leveren dataproduct </a> </td>
													    <td> <a href="../elements/id-3e97e0bb9e99472ca91c539a73d0674b.html" target="element" class="i18n-elementtype-BusinessProcess">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-669a73d6612c4f3ea7860273d1b79608.html" target="element"> Factureren dataproduct </a> </td>
													    <td> <a href="../elements/id-669a73d6612c4f3ea7860273d1b79608.html" target="element" class="i18n-elementtype-BusinessProcess">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-db2c5d58b04745f0972685c7f24c4202.html" target="element"> Innen dataproductfactuur </a> </td>
													    <td> <a href="../elements/id-db2c5d58b04745f0972685c7f24c4202.html" target="element" class="i18n-elementtype-BusinessProcess">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-c462ecb4d24248d5bdab64acfe71d9e3.html" target="element"> Behandelen vraag over dataproduct </a> </td>
													    <td> <a href="../elements/id-c462ecb4d24248d5bdab64acfe71d9e3.html" target="element" class="i18n-elementtype-BusinessProcess">
													    </a> </td>
													</tr>

											
											<tr>
											    <td> <a href="../elements/id-dd88ac27190248cdaadf95e4359590b2.html" target="element"> Gevonden dataproduct </a> </td>
											    <td> <a href="../elements/id-dd88ac27190248cdaadf95e4359590b2.html" target="element" class="i18n-elementtype-Value">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-cf385e434e2c49328adb5f95bccfcb23.html" target="element"> In behandeling genomen dataproduct verzoek </a> </td>
											    <td> <a href="../elements/id-cf385e434e2c49328adb5f95bccfcb23.html" target="element" class="i18n-elementtype-Value">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-4bd22329a80f4ffbb76422548cf22744.html" target="element"> Geoffreerd dataproduct </a> </td>
											    <td> <a href="../elements/id-4bd22329a80f4ffbb76422548cf22744.html" target="element" class="i18n-elementtype-Value">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-c0c80f55f6474a3f849a95d6b0f54abe.html" target="element"> Overeengekomen dataproduct </a> </td>
											    <td> <a href="../elements/id-c0c80f55f6474a3f849a95d6b0f54abe.html" target="element" class="i18n-elementtype-Value">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-53eddf60152f44348aa9822a4806155b.html" target="element"> Geleverd dataproduct </a> </td>
											    <td> <a href="../elements/id-53eddf60152f44348aa9822a4806155b.html" target="element" class="i18n-elementtype-Value">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-b9a59a99133e401f84114a9eb8e42de0.html" target="element"> Gefactureerd dataproduct </a> </td>
											    <td> <a href="../elements/id-b9a59a99133e401f84114a9eb8e42de0.html" target="element" class="i18n-elementtype-Value">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-1dc9e3ba591c48109b5e727bfb6dfc48.html" target="element"> Betaald dataproduct </a> </td>
											    <td> <a href="../elements/id-1dc9e3ba591c48109b5e727bfb6dfc48.html" target="element" class="i18n-elementtype-Value">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-f32562d8f18a420c838e9c942ffd8f0d.html" target="element"> Beantwoorde vraag over dataproduct </a> </td>
											    <td> <a href="../elements/id-f32562d8f18a420c838e9c942ffd8f0d.html" target="element" class="i18n-elementtype-Value">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-718810.html" target="element"> Producten en diensten ontwikkelen en beheren </a> </td>
											    <td> <a href="../elements/id-718810.html" target="element" class="i18n-elementtype-BusinessFunction">
											    </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/id-722954.html" target="element"> Klantproduct </a> </td>
													    <td> <a href="../elements/id-722954.html" target="element" class="i18n-elementtype-BusinessObject">
													    </a> </td>
													</tr>

											
											<tr>
											    <td> <a href="../elements/id-718750.html" target="element"> Melding/vraag/verzoek van klanten behandelen </a> </td>
											    <td> <a href="../elements/id-718750.html" target="element" class="i18n-elementtype-BusinessFunction">
											    </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/id-469958.html" target="element"> Klantverzoek </a> </td>
													    <td> <a href="../elements/id-469958.html" target="element" class="i18n-elementtype-BusinessObject">
													    </a> </td>
													</tr>

											
											<tr>
											    <td> <a href="../elements/id-718760.html" target="element"> Producten aan klanten offreren </a> </td>
											    <td> <a href="../elements/id-718760.html" target="element" class="i18n-elementtype-BusinessFunction">
											    </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/id-470129.html" target="element"> Klantofferte </a> </td>
													    <td> <a href="../elements/id-470129.html" target="element" class="i18n-elementtype-BusinessObject">
													    </a> </td>
													</tr>

											
											<tr>
											    <td> <a href="../elements/id-718772.html" target="element"> Klantovereenkomsten afsluiten en beheren </a> </td>
											    <td> <a href="../elements/id-718772.html" target="element" class="i18n-elementtype-BusinessFunction">
											    </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/id-469480.html" target="element"> Klantovereenkomst </a> </td>
													    <td> <a href="../elements/id-469480.html" target="element" class="i18n-elementtype-BusinessObject">
													    </a> </td>
													</tr>

											
											<tr>
											    <td> <a href="../elements/id-718746.html" target="element"> Netbeheerdata beschikbaar maken voor derden </a> </td>
											    <td> <a href="../elements/id-718746.html" target="element" class="i18n-elementtype-BusinessFunction">
											    </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/id-72c5c85ed0bf43cda502df207414640c.html" target="element"> Netbeheerdataverstrekking </a> </td>
													    <td> <a href="../elements/id-72c5c85ed0bf43cda502df207414640c.html" target="element" class="i18n-elementtype-BusinessObject">
													    </a> </td>
													</tr>

											
											<tr>
											    <td> <a href="../elements/id-718771.html" target="element"> Factuur maken en versturen </a> </td>
											    <td> <a href="../elements/id-718771.html" target="element" class="i18n-elementtype-BusinessFunction">
											    </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/id-469274.html" target="element"> Klantfactuur </a> </td>
													    <td> <a href="../elements/id-469274.html" target="element" class="i18n-elementtype-BusinessObject">
													    </a> </td>
													</tr>

											
											<tr>
											    <td> <a href="../elements/id-718770.html" target="element"> Openstaande vorderingen innen </a> </td>
											    <td> <a href="../elements/id-718770.html" target="element" class="i18n-elementtype-BusinessFunction">
											    </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/id-469274.html" target="element"> Klantfactuur </a> </td>
													    <td> <a href="../elements/id-469274.html" target="element" class="i18n-elementtype-BusinessObject">
													    </a> </td>
													</tr>

											
											<tr>
											    <td> <a href="../elements/id-718750.html" target="element"> Melding/vraag/verzoek van klanten behandelen </a> </td>
											    <td> <a href="../elements/id-718750.html" target="element" class="i18n-elementtype-BusinessFunction">
											    </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/id-469958.html" target="element"> Klantverzoek </a> </td>
													    <td> <a href="../elements/id-469958.html" target="element" class="i18n-elementtype-BusinessObject">
													    </a> </td>
													</tr>

											

								</tbody>
							</table>
						</div>
						<div role="tabpanel" class="tab-pane" id="relationships">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
										<th class="i18n-source"></th>
										<th class="i18n-target"></th>
									</tr>
								</thead>
								<tbody>
											
																	<tr>
																		<td> <a href="../elements/id-65d78ca4a09e44469608fb773e6f1920.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-65d78ca4a09e44469608fb773e6f1920.html" target="element" class="i18n-elementtype-AccessRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-718810.html" target="element"> Producten en diensten ontwikkelen en beheren </a> </td>
																		<td> <a href="../elements/id-722954.html" target="element"> Klantproduct </a> </td>
																	</tr>

											
																	<tr>
																		<td> <a href="../elements/id-18cb91e991384741a0494d4b76263c74.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-18cb91e991384741a0494d4b76263c74.html" target="element" class="i18n-elementtype-AccessRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-718750.html" target="element"> Melding/vraag/verzoek van klanten behandelen </a> </td>
																		<td> <a href="../elements/id-469958.html" target="element"> Klantverzoek </a> </td>
																	</tr>

											
																	<tr>
																		<td> <a href="../elements/id-ef8d258db5244dbf86a66611af635855.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-ef8d258db5244dbf86a66611af635855.html" target="element" class="i18n-elementtype-AccessRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-718760.html" target="element"> Producten aan klanten offreren </a> </td>
																		<td> <a href="../elements/id-470129.html" target="element"> Klantofferte </a> </td>
																	</tr>

											
																	<tr>
																		<td> <a href="../elements/id-564e350290c54a72b02bb454b272ab1c.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-564e350290c54a72b02bb454b272ab1c.html" target="element" class="i18n-elementtype-AccessRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-718772.html" target="element"> Klantovereenkomsten afsluiten en beheren </a> </td>
																		<td> <a href="../elements/id-469480.html" target="element"> Klantovereenkomst </a> </td>
																	</tr>

											
																	<tr>
																		<td> <a href="../elements/id-bb5db2353017484a9c5760371c16c22c.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-bb5db2353017484a9c5760371c16c22c.html" target="element" class="i18n-elementtype-AccessRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-718746.html" target="element"> Netbeheerdata beschikbaar maken voor derden </a> </td>
																		<td> <a href="../elements/id-72c5c85ed0bf43cda502df207414640c.html" target="element"> Netbeheerdataverstrekking </a> </td>
																	</tr>

											
																	<tr>
																		<td> <a href="../elements/id-ff869d658ff84b39a1b50631d1e7a771.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-ff869d658ff84b39a1b50631d1e7a771.html" target="element" class="i18n-elementtype-AccessRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-718771.html" target="element"> Factuur maken en versturen </a> </td>
																		<td> <a href="../elements/id-469274.html" target="element"> Klantfactuur </a> </td>
																	</tr>

											
																	<tr>
																		<td> <a href="../elements/id-8541c0e94b1446819b972af78def357b.html" target="element"> modification </a> </td>
																		<td> <a href="../elements/id-8541c0e94b1446819b972af78def357b.html" target="element" class="i18n-elementtype-AccessRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-718770.html" target="element"> Openstaande vorderingen innen </a> </td>
																		<td> <a href="../elements/id-469274.html" target="element"> Klantfactuur </a> </td>
																	</tr>

											
																	<tr>
																		<td> <a href="../elements/id-18cb91e991384741a0494d4b76263c74.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-18cb91e991384741a0494d4b76263c74.html" target="element" class="i18n-elementtype-AccessRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-718750.html" target="element"> Melding/vraag/verzoek van klanten behandelen </a> </td>
																		<td> <a href="../elements/id-469958.html" target="element"> Klantverzoek </a> </td>
																	</tr>

											

								</tbody>
							</table>
						</div>
			  </div>
			</div>
		</div>
	</div>
	<script type="text/javascript">imageMapResize();</script>
</body>
</html>