<!DOCTYPE html>
<html class="frame" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
	<title>L1 value stream (stages) P.D1</title>

	<!-- JQUERY -->
	<script type="text/javascript" src="../../lib/jquery/jquery.min.js"></script>
	<!-- BOOTSTRAP -->
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap.min.yeti.css">
	<script type="text/javascript" src="../../lib/bootstrap/js/bootstrap-3.3.2.min.js"></script>
	<!-- REPORT SPECIFIC -->
	<link type="text/css" rel="stylesheet" href="../../css/model.css">
	<link type="text/css" rel="stylesheet" href="../../css/i18n.css">
	<script type="text/javascript" src="../../js/frame.js"></script>
	<script type="text/javascript" src="../../js/imageMapResizer.min.js"></script>
</head>

<body>
	<div class="panel panel-default root-panel">

		<div class="panel-heading root-panel-heading">
            <!-- Name -->
               <b>L1 value stream (stages) P.D1</b>

            <!-- If a View with Viewpoint -->
			   (<span class="i18n-viewpoint-"></span>)
			   <a class="glyphicon glyphicon-info-sign" id="hint-viewpoint_" target="hint"></a>
            <!-- Or if a model (i.e has Purpose method) -->
		</div>

		<div class="panel-body root-panel-body">
		    <!-- If this is a digram model (has children and no bounds) show the image -->
			   <img class="diagram" src="../images/id-1b6e806b5ab24374afc16d2caf249a4b.png" alt="L1 value stream (stages) P.D1" usemap="#id-1b6e806b5ab24374afc16d2caf249a4bmap"/>
			   <map name="id-1b6e806b5ab24374afc16d2caf249a4bmap">
				  				<area shape="rect" coords="34,262,155,287" href="../elements/id-729632.html"  target="element">

				  		<area shape="rect" coords="22,190,167,299" href="../elements/id-718171.html"  target="element">
				  				<area shape="rect" coords="346,262,467,287" href="../elements/id-729578.html"  target="element">

				  		<area shape="rect" coords="334,190,479,299" href="../elements/id-718167.html"  target="element">
				  				<area shape="rect" coords="502,262,623,287" href="../elements/id-729609.html"  target="element">

				  		<area shape="rect" coords="490,190,635,299" href="../elements/id-718169.html"  target="element">
				  				<area shape="rect" coords="658,262,779,287" href="../elements/id-729558.html"  target="element">

				  		<area shape="rect" coords="646,190,791,299" href="../elements/id-718168.html"  target="element">
				  				<area shape="rect" coords="190,261,311,286" href="../elements/id-729659.html"  target="element">

				  		<area shape="rect" coords="178,189,323,300" href="../elements/id-718170.html"  target="element">
				  				<area shape="rect" coords="646,58,791,131" href="../elements/id-ec7f4984a95c467f904c205dfe637e0c.html"  target="element">
				  				<area shape="rect" coords="490,58,635,131" href="../elements/id-3cae4a6f251345959f0d3dfe9cd92d25.html"  target="element">
				  				<area shape="rect" coords="334,58,479,131" href="../elements/id-70db0c95ff154f3ea7fa638fed327f07.html"  target="element">
				  				<area shape="rect" coords="178,58,323,131" href="../elements/id-b79a7d70da3d493f81ed560da598b559.html"  target="element">
				  				<area shape="rect" coords="22,58,167,131" href="../elements/id-d228f50049f44e8cb023c09172545867.html"  target="element">

				  		<area shape="rect" coords="10,10,803,143" href="../elements/id-66cbd1922333427da4a6446c460c5c85.html"  target="element">

			   </map>

			<div role="tabpanel">
				<!-- Nav tabs -->
				<ul class="nav nav-tabs" role="tablist">
                    <!-- Purpose / Documentation / Content -->
					   <li role="presentation" class="active"><a href="#documentation" aria-controls="documentation" role="tab" data-toggle="tab" class="i18n-documentation"></a></li>

                    <!-- Properties -->
                    <li role="presentation"><a href="#properties" aria-controls="properties" role="tab" data-toggle="tab" class="i18n-properties"></a></li>

						<li role="presentation"><a href="#elements" aria-controls="elements" role="tab" data-toggle="tab" class="i18n-elements"></a></li>
						<li role="presentation"><a href="#relationships" aria-controls="relationships" role="tab" data-toggle="tab" class="i18n-relationships"></a></li>
                    <!-- Model, Query Tab -->
				</ul>

				<!-- Tab panes -->
				<div class="tab-content">
					<div role="tabpanel" class="tab-pane active" id="documentation">
						<div class="convertlinks documentation" style="white-space:pre-wrap"></div>
					</div>
					<div role="tabpanel" class="tab-pane" id="properties">
						<table class="table table-striped table-hover table-condensed">
							<thead>
								<tr>
									<th class="i18n-key"></th>
									<th class="i18n-value"></th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
					</div>
						<div role="tabpanel" class="tab-pane" id="elements">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
									</tr>
								</thead>
								<tbody>
											<tr>
											    <td> <a href="../elements/id-66cbd1922333427da4a6446c460c5c85.html" target="element"> Instandhouden van energienetten - onderhoud </a> </td>
											    <td> <a href="../elements/id-66cbd1922333427da4a6446c460c5c85.html" target="element" class="i18n-elementtype-BusinessProcess">
											    </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/id-d228f50049f44e8cb023c09172545867.html" target="element"> Bedienen klant bij onderhoud </a> </td>
													    <td> <a href="../elements/id-d228f50049f44e8cb023c09172545867.html" target="element" class="i18n-elementtype-BusinessProcess">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-b79a7d70da3d493f81ed560da598b559.html" target="element"> Meten netcomponent prestaties </a> </td>
													    <td> <a href="../elements/id-b79a7d70da3d493f81ed560da598b559.html" target="element" class="i18n-elementtype-BusinessProcess">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-70db0c95ff154f3ea7fa638fed327f07.html" target="element"> Besturen instandhouding energienet voor onderhoud </a> </td>
													    <td> <a href="../elements/id-70db0c95ff154f3ea7fa638fed327f07.html" target="element" class="i18n-elementtype-BusinessProcess">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-3cae4a6f251345959f0d3dfe9cd92d25.html" target="element"> Uitvoeren onderhoudswerkzaamheden </a> </td>
													    <td> <a href="../elements/id-3cae4a6f251345959f0d3dfe9cd92d25.html" target="element" class="i18n-elementtype-BusinessProcess">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-ec7f4984a95c467f904c205dfe637e0c.html" target="element"> Opnemen vervanging door onderhoud in besturing energietransport </a> </td>
													    <td> <a href="../elements/id-ec7f4984a95c467f904c205dfe637e0c.html" target="element" class="i18n-elementtype-BusinessProcess">
													    </a> </td>
													</tr>

											
											<tr>
											    <td> <a href="../elements/id-718170.html" target="element"> Energietransport en -netten meten </a> </td>
											    <td> <a href="../elements/id-718170.html" target="element" class="i18n-elementtype-BusinessFunction">
											    </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/id-729659.html" target="element"> Meting </a> </td>
													    <td> <a href="../elements/id-729659.html" target="element" class="i18n-elementtype-BusinessObject">
													    </a> </td>
													</tr>

											
											<tr>
											    <td> <a href="../elements/id-718168.html" target="element"> Energie transporteren </a> </td>
											    <td> <a href="../elements/id-718168.html" target="element" class="i18n-elementtype-BusinessFunction">
											    </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/id-729558.html" target="element"> Energietransport </a> </td>
													    <td> <a href="../elements/id-729558.html" target="element" class="i18n-elementtype-BusinessObject">
													    </a> </td>
													</tr>

											
											<tr>
											    <td> <a href="../elements/id-718169.html" target="element"> Werkzaamheden uitvoeren aan energienetten </a> </td>
											    <td> <a href="../elements/id-718169.html" target="element" class="i18n-elementtype-BusinessFunction">
											    </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/id-729609.html" target="element"> Werk </a> </td>
													    <td> <a href="../elements/id-729609.html" target="element" class="i18n-elementtype-BusinessObject">
													    </a> </td>
													</tr>

											
											<tr>
											    <td> <a href="../elements/id-718167.html" target="element"> Ontwikkeling en instandhouding van energienetten besturen </a> </td>
											    <td> <a href="../elements/id-718167.html" target="element" class="i18n-elementtype-BusinessFunction">
											    </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/id-729578.html" target="element"> Energienet </a> </td>
													    <td> <a href="../elements/id-729578.html" target="element" class="i18n-elementtype-BusinessObject">
													    </a> </td>
													</tr>

											
											<tr>
											    <td> <a href="../elements/id-718171.html" target="element"> Klanten bedienen </a> </td>
											    <td> <a href="../elements/id-718171.html" target="element" class="i18n-elementtype-BusinessFunction">
											    </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/id-729632.html" target="element"> Klant </a> </td>
													    <td> <a href="../elements/id-729632.html" target="element" class="i18n-elementtype-BusinessObject">
													    </a> </td>
													</tr>

											

								</tbody>
							</table>
						</div>
						<div role="tabpanel" class="tab-pane" id="relationships">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
										<th class="i18n-source"></th>
										<th class="i18n-target"></th>
									</tr>
								</thead>
								<tbody>
																	<tr>
																		<td> <a href="../elements/id-01c62a28a79e489b804bcf430146a3f2.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-01c62a28a79e489b804bcf430146a3f2.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-66cbd1922333427da4a6446c460c5c85.html" target="element"> Instandhouden van energienetten - onderhoud </a> </td>
																		<td> <a href="../elements/id-d228f50049f44e8cb023c09172545867.html" target="element"> Bedienen klant bij onderhoud </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-79046c174c674aacb95de29a41ec6f26.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-79046c174c674aacb95de29a41ec6f26.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-66cbd1922333427da4a6446c460c5c85.html" target="element"> Instandhouden van energienetten - onderhoud </a> </td>
																		<td> <a href="../elements/id-b79a7d70da3d493f81ed560da598b559.html" target="element"> Meten netcomponent prestaties </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-d4205f9fa08844d9b119cd3d080b46c5.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-d4205f9fa08844d9b119cd3d080b46c5.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-66cbd1922333427da4a6446c460c5c85.html" target="element"> Instandhouden van energienetten - onderhoud </a> </td>
																		<td> <a href="../elements/id-70db0c95ff154f3ea7fa638fed327f07.html" target="element"> Besturen instandhouding energienet voor onderhoud </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-4b41fe61e52a4799a8d62c2b6a900102.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-4b41fe61e52a4799a8d62c2b6a900102.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-66cbd1922333427da4a6446c460c5c85.html" target="element"> Instandhouden van energienetten - onderhoud </a> </td>
																		<td> <a href="../elements/id-3cae4a6f251345959f0d3dfe9cd92d25.html" target="element"> Uitvoeren onderhoudswerkzaamheden </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-eb91fb1b40234fb1b458bf787adce5cc.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-eb91fb1b40234fb1b458bf787adce5cc.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-66cbd1922333427da4a6446c460c5c85.html" target="element"> Instandhouden van energienetten - onderhoud </a> </td>
																		<td> <a href="../elements/id-ec7f4984a95c467f904c205dfe637e0c.html" target="element"> Opnemen vervanging door onderhoud in besturing energietransport </a> </td>
																	</tr>

											
																	<tr>
																		<td> <a href="../elements/id-5bcd31ab74db45918e27fe251a8c542c.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-5bcd31ab74db45918e27fe251a8c542c.html" target="element" class="i18n-elementtype-AccessRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-718170.html" target="element"> Energietransport en -netten meten </a> </td>
																		<td> <a href="../elements/id-729659.html" target="element"> Meting </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-9c2c78cff5814a1f95f45f084004a6c3.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-9c2c78cff5814a1f95f45f084004a6c3.html" target="element" class="i18n-elementtype-ServingRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-718170.html" target="element"> Energietransport en -netten meten </a> </td>
																		<td> <a href="../elements/id-b79a7d70da3d493f81ed560da598b559.html" target="element"> Meten netcomponent prestaties </a> </td>
																	</tr>

											
																	<tr>
																		<td> <a href="../elements/id-b3a14c269c654e21b693cd929c2dabc8.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-b3a14c269c654e21b693cd929c2dabc8.html" target="element" class="i18n-elementtype-AccessRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-718168.html" target="element"> Energie transporteren </a> </td>
																		<td> <a href="../elements/id-729558.html" target="element"> Energietransport </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-d2e2c0161927423d95d06cb769bbb85e.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-d2e2c0161927423d95d06cb769bbb85e.html" target="element" class="i18n-elementtype-ServingRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-718168.html" target="element"> Energie transporteren </a> </td>
																		<td> <a href="../elements/id-ec7f4984a95c467f904c205dfe637e0c.html" target="element"> Opnemen vervanging door onderhoud in besturing energietransport </a> </td>
																	</tr>

											
																	<tr>
																		<td> <a href="../elements/id-9081dde26c44433ca424b1d9f2b9d346.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-9081dde26c44433ca424b1d9f2b9d346.html" target="element" class="i18n-elementtype-AccessRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-718169.html" target="element"> Werkzaamheden uitvoeren aan energienetten </a> </td>
																		<td> <a href="../elements/id-729609.html" target="element"> Werk </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-5d37e2232d1343148820766e416f8a5b.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-5d37e2232d1343148820766e416f8a5b.html" target="element" class="i18n-elementtype-ServingRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-718169.html" target="element"> Werkzaamheden uitvoeren aan energienetten </a> </td>
																		<td> <a href="../elements/id-3cae4a6f251345959f0d3dfe9cd92d25.html" target="element"> Uitvoeren onderhoudswerkzaamheden </a> </td>
																	</tr>

											
																	<tr>
																		<td> <a href="../elements/id-9057072ede3a4c8f8460f56c7875e4e8.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-9057072ede3a4c8f8460f56c7875e4e8.html" target="element" class="i18n-elementtype-AccessRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-718167.html" target="element"> Ontwikkeling en instandhouding van energienetten besturen </a> </td>
																		<td> <a href="../elements/id-729578.html" target="element"> Energienet </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-3a61a4f65f184a90a15debad1736328e.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-3a61a4f65f184a90a15debad1736328e.html" target="element" class="i18n-elementtype-ServingRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-718167.html" target="element"> Ontwikkeling en instandhouding van energienetten besturen </a> </td>
																		<td> <a href="../elements/id-70db0c95ff154f3ea7fa638fed327f07.html" target="element"> Besturen instandhouding energienet voor onderhoud </a> </td>
																	</tr>

											
																	<tr>
																		<td> <a href="../elements/id-8b5faaa74f294cd8a477fad05cf21eb4.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-8b5faaa74f294cd8a477fad05cf21eb4.html" target="element" class="i18n-elementtype-AccessRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-718171.html" target="element"> Klanten bedienen </a> </td>
																		<td> <a href="../elements/id-729632.html" target="element"> Klant </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-60843aa8729b4cf8ad6f5d7d87fc3326.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-60843aa8729b4cf8ad6f5d7d87fc3326.html" target="element" class="i18n-elementtype-ServingRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-718171.html" target="element"> Klanten bedienen </a> </td>
																		<td> <a href="../elements/id-d228f50049f44e8cb023c09172545867.html" target="element"> Bedienen klant bij onderhoud </a> </td>
																	</tr>

											

								</tbody>
							</table>
						</div>
			  </div>
			</div>
		</div>
	</div>
	<script type="text/javascript">imageMapResize();</script>
</body>
</html>