<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html class="frame" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
	<title>Capabilities op niveau 1 en 2</title>

	<!-- JQUERY (use 1.x branch to be compatible with IE 6/7/8) -->
	<script type="text/javascript" src="../../lib/jquery/js/jquery-1.11.2.min.js"></script>
	<!-- BOOTSTRAP -->
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap.min.yeti.css">
	<script type="text/javascript" src="../../lib/bootstrap/js/bootstrap-3.3.2.min.js"></script>
	<!-- REPORT SPECIFIC -->
	<link type="text/css" rel="stylesheet" href="../../css/model.css">
	<link type="text/css" rel="stylesheet" href="../../css/i18n.css">
	<script type="text/javascript" src="../../js/frame.js"></script>
	<script type="text/javascript" src="../../js/imageMapResizer.min.js"></script>
</head>

<body>
	<div class="panel panel-default root-panel">

		<div class="panel-heading root-panel-heading">
            <!-- Name -->
               <b>Capabilities op niveau 1 en 2</b>

            <!-- If a View with Viewpoint -->
			   (<span class="i18n-viewpoint-"></span>)
			   <a class="glyphicon glyphicon-info-sign" id="hint-viewpoint_" target="hint"></a>
            <!-- Or if a model (i.e has Purpose method) -->
		</div>

		<div class="panel-body root-panel-body">
		    <!-- If this is a digram model (has children and no bounds) show the image -->
			   <img class="diagram" src="../images/id-27950.png" alt="Capabilities op niveau 1 en 2" usemap="#id-27950map"/>
			   <map name="id-27950map">
				  						<area shape="rect" coords="307,276,514,329" href="../elements/id-28837.html"  target="element">
				  						<area shape="rect" coords="307,216,514,269" href="../elements/id-28590.html"  target="element">
				  						<area shape="rect" coords="307,156,514,209" href="../elements/id-28650.html"  target="element">

				  				<area shape="rect" coords="287,70,534,417" href="../elements/id-28552.html"  target="element">
				  						<area shape="rect" coords="47,336,254,389" href="../elements/id-28730.html"  target="element">
				  						<area shape="rect" coords="47,276,254,329" href="../elements/id-28618.html"  target="element">
				  						<area shape="rect" coords="47,216,254,269" href="../elements/id-28587.html"  target="element">
				  						<area shape="rect" coords="47,156,254,209" href="../elements/id-28669.html"  target="element">

				  				<area shape="rect" coords="27,70,274,417" href="../elements/id-28564.html"  target="element">
				  						<area shape="rect" coords="827,223,1034,276" href="../elements/id-28741.html"  target="element">
				  						<area shape="rect" coords="827,156,1034,209" href="../elements/id-28624.html"  target="element">

				  				<area shape="rect" coords="807,70,1054,417" href="../elements/id-28562.html"  target="element">
				  						<area shape="rect" coords="1347,336,1554,389" href="../elements/id-28577.html"  target="element">
				  						<area shape="rect" coords="1347,276,1554,329" href="../elements/id-28606.html"  target="element">
				  						<area shape="rect" coords="1347,216,1554,269" href="../elements/id-28581.html"  target="element">
				  						<area shape="rect" coords="1347,156,1554,209" href="../elements/id-28575.html"  target="element">

				  				<area shape="rect" coords="1327,70,1574,417" href="../elements/id-28566.html"  target="element">
				  						<area shape="rect" coords="567,276,774,329" href="../elements/id-28584.html"  target="element">
				  						<area shape="rect" coords="567,216,774,269" href="../elements/id-28672.html"  target="element">
				  						<area shape="rect" coords="567,156,774,209" href="../elements/id-28616.html"  target="element">

				  				<area shape="rect" coords="547,70,794,417" href="../elements/id-28547.html"  target="element">
				  						<area shape="rect" coords="1087,336,1294,389" href="../elements/id-28653.html"  target="element">
				  						<area shape="rect" coords="1087,276,1294,329" href="../elements/id-28718.html"  target="element">
				  						<area shape="rect" coords="1087,216,1294,269" href="../elements/id-28686.html"  target="element">
				  						<area shape="rect" coords="1087,156,1294,209" href="../elements/id-28809.html"  target="element">

				  				<area shape="rect" coords="1067,70,1314,417" href="../elements/id-28550.html"  target="element">

				  		<area shape="rect" coords="10,10,1583,430" href="../elements/id-28548.html"  target="element">
				  						<area shape="rect" coords="47,776,227,829" href="../elements/id-28706.html"  target="element">
				  						<area shape="rect" coords="47,716,227,769" href="../elements/id-28663.html"  target="element">
				  						<area shape="rect" coords="47,656,227,709" href="../elements/id-28770.html"  target="element">
				  						<area shape="rect" coords="47,596,227,649" href="../elements/id-28608.html"  target="element">

				  				<area shape="rect" coords="34,510,241,843" href="../elements/id-28558.html"  target="element">
				  						<area shape="rect" coords="267,656,447,709" href="../elements/id-28917.html"  target="element">
				  						<area shape="rect" coords="267,596,447,649" href="../elements/id-28775.html"  target="element">

				  				<area shape="rect" coords="254,510,461,843" href="../elements/id-28545.html"  target="element">
				  						<area shape="rect" coords="487,776,667,829" href="../elements/id-28969.html"  target="element">
				  						<area shape="rect" coords="487,716,667,769" href="../elements/id-28613.html"  target="element">
				  						<area shape="rect" coords="487,656,667,709" href="../elements/id-28598.html"  target="element">
				  						<area shape="rect" coords="487,596,667,649" href="../elements/id-28644.html"  target="element">

				  				<area shape="rect" coords="474,510,681,843" href="../elements/id-28540.html"  target="element">
				  						<area shape="rect" coords="707,776,887,829" href="../elements/id-29128.html"  target="element">
				  						<area shape="rect" coords="707,716,887,769" href="../elements/id-28780.html"  target="element">
				  						<area shape="rect" coords="707,656,887,709" href="../elements/id-28630.html"  target="element">
				  						<area shape="rect" coords="707,596,887,649" href="../elements/id-28710.html"  target="element">

				  				<area shape="rect" coords="694,510,901,843" href="../elements/id-28556.html"  target="element">
				  						<area shape="rect" coords="927,656,1107,709" href="../elements/id-28604.html"  target="element">
				  						<area shape="rect" coords="927,596,1107,649" href="../elements/id-28636.html"  target="element">

				  				<area shape="rect" coords="914,510,1121,843" href="../elements/id-28554.html"  target="element">
				  						<area shape="rect" coords="1367,716,1547,769" href="../elements/id-28595.html"  target="element">
				  						<area shape="rect" coords="1367,656,1547,709" href="../elements/id-28764.html"  target="element">
				  						<area shape="rect" coords="1367,596,1547,649" href="../elements/id-28579.html"  target="element">

				  				<area shape="rect" coords="1354,510,1561,843" href="../elements/id-28560.html"  target="element">
				  						<area shape="rect" coords="1147,656,1327,709" href="../elements/id-28773.html"  target="element">
				  						<area shape="rect" coords="1147,596,1327,649" href="../elements/id-28634.html"  target="element">

				  				<area shape="rect" coords="1134,510,1341,843" href="../elements/id-28543.html"  target="element">

				  		<area shape="rect" coords="10,450,1583,857" href="../elements/id-28541.html"  target="element">

			   </map>

			<div role="tabpanel">
				<!-- Nav tabs -->
				<ul class="nav nav-tabs" role="tablist">
                    <!-- Purpose / Documentation / Content -->
					   <li role="presentation" class="active"><a href="#documentation" aria-controls="documentation" role="tab" data-toggle="tab" class="i18n-documentation"></a></li>

                    <!-- Properties -->
                    <li role="presentation"><a href="#properties" aria-controls="properties" role="tab" data-toggle="tab" class="i18n-properties"></a></li>

						<li role="presentation"><a href="#elements" aria-controls="elements" role="tab" data-toggle="tab" class="i18n-elements"></a></li>
						<li role="presentation"><a href="#relationships" aria-controls="relationships" role="tab" data-toggle="tab" class="i18n-relationships"></a></li>
                    <!-- Model, Query Tab -->
				</ul>

				<!-- Tab panes -->
				<div class="tab-content">
					<div role="tabpanel" class="tab-pane active" id="documentation">
						<div class="convertlinks documentation" style="white-space:pre-wrap">Op dit diagram zijn de bovenste 2 lagen afgebeeld van het capability-model van de gezamenlijke netbeheerders (level 1 en 2).
De detaillering van elke capability op level 1 is gespecificeerd op level 2 niveau.De detaillering van elke capability op level 2 is vervolgens weer gespecificeerd op level 3 niveau  (indien aanwezig).De level 3 capabilities zijn niet afgebeeld op een diagram, maar deze zijn wel op te vragen achter de bovenliggende level 2 capability (indien aanwezig).
Klik op een capability-blokje (met cijfer en naam) voor verdere beschrijving.
Toelichting: Een capability is de beschrijving van een autonome functie, inclusief de mensen, middelen en afspraken die nodig zijn om die functie succesvol uit te voeren. Een capability is letterlijk "wat iets of iemand kan". Alle business capabilities bij elkaar beschrijven een bedrijf, of een onderdeel daarvan. Een capability is op te delen in sub-capabilities. Een capability is g&#233;&#233;n proces, afdeling of systeem.</div>
					</div>
					<div role="tabpanel" class="tab-pane" id="properties">
						<table class="table table-striped table-hover table-condensed">
							<thead>
								<tr>
									<th class="i18n-key"></th>
									<th class="i18n-value"></th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
					</div>
						<div role="tabpanel" class="tab-pane" id="elements">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
									</tr>
								</thead>
								<tbody>
											<tr>
											    <td> <a href="../elements/id-28541.html" target="element"> E. Enterprise capabilities </a> </td>
											    <td> <a href="../elements/id-28541.html" target="element" class="i18n-elementtype-Grouping">
											    </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/id-28543.html" target="element"> E.6. Gebouwen beheren en faciliteiten beschikbaar stellen </a> </td>
													    <td> <a href="../elements/id-28543.html" target="element" class="i18n-elementtype-Capability">
													    </a> </td>
													</tr>

															<tr>
															    <td> <a href="../elements/id-28634.html" target="element"> E.6.1. Gebouwen beheren </a> </td>
															    <td> <a href="../elements/id-28634.html" target="element" class="i18n-elementtype-Capability">
															    </a> </td>
															</tr>

															<tr>
															    <td> <a href="../elements/id-28773.html" target="element"> E.6.2. Faciliteiten beschikbaarstellen </a> </td>
															    <td> <a href="../elements/id-28773.html" target="element" class="i18n-elementtype-Capability">
															    </a> </td>
															</tr>

													
													<tr>
													    <td> <a href="../elements/id-28560.html" target="element"> E.7. Financi&#235;n verkrijgen en beheren </a> </td>
													    <td> <a href="../elements/id-28560.html" target="element" class="i18n-elementtype-Capability">
													    </a> </td>
													</tr>

															<tr>
															    <td> <a href="../elements/id-28579.html" target="element"> E.7.1. Financi&#235;le strategie en plannen opstellen, bewaken en rapporteren </a> </td>
															    <td> <a href="../elements/id-28579.html" target="element" class="i18n-elementtype-Capability">
															    </a> </td>
															</tr>

															<tr>
															    <td> <a href="../elements/id-28764.html" target="element"> E.7.2. Vermogen en liquiditeiten verkrijgen en beheren </a> </td>
															    <td> <a href="../elements/id-28764.html" target="element" class="i18n-elementtype-Capability">
															    </a> </td>
															</tr>

															<tr>
															    <td> <a href="../elements/id-28595.html" target="element"> E.7.3. Transacties financieel verwerken en standen beheren </a> </td>
															    <td> <a href="../elements/id-28595.html" target="element" class="i18n-elementtype-Capability">
															    </a> </td>
															</tr>

													
													<tr>
													    <td> <a href="../elements/id-28554.html" target="element"> E.5. Goederen en diensten verkrijgen </a> </td>
													    <td> <a href="../elements/id-28554.html" target="element" class="i18n-elementtype-Capability">
													    </a> </td>
													</tr>

															<tr>
															    <td> <a href="../elements/id-28636.html" target="element"> E.5.1. Goederen- en dienstenstrategie en -plannen opstellen en besturen </a> </td>
															    <td> <a href="../elements/id-28636.html" target="element" class="i18n-elementtype-Capability">
															    </a> </td>
															</tr>

															<tr>
															    <td> <a href="../elements/id-28604.html" target="element"> E.5.2. Contracten met leveranciers afsluiten en bewaken </a> </td>
															    <td> <a href="../elements/id-28604.html" target="element" class="i18n-elementtype-Capability">
															    </a> </td>
															</tr>

													
													<tr>
													    <td> <a href="../elements/id-28556.html" target="element"> E.4. Digitale producten ontwikkelen en beheren </a> </td>
													    <td> <a href="../elements/id-28556.html" target="element" class="i18n-elementtype-Capability">
													    </a> </td>
													</tr>

															<tr>
															    <td> <a href="../elements/id-28710.html" target="element"> E.4.1. Digitaal productstrategie en -portfolio ontwikkelen en beheren </a> </td>
															    <td> <a href="../elements/id-28710.html" target="element" class="i18n-elementtype-Capability">
															    </a> </td>
															</tr>

															<tr>
															    <td> <a href="../elements/id-28630.html" target="element"> E.4.2. Digitale producten realiseren </a> </td>
															    <td> <a href="../elements/id-28630.html" target="element" class="i18n-elementtype-Capability">
															    </a> </td>
															</tr>

															<tr>
															    <td> <a href="../elements/id-28780.html" target="element"> E.4.3. Digitale producten leveren </a> </td>
															    <td> <a href="../elements/id-28780.html" target="element" class="i18n-elementtype-Capability">
															    </a> </td>
															</tr>

															<tr>
															    <td> <a href="../elements/id-29128.html" target="element"> E.4.4. Digitale producten exploiteren </a> </td>
															    <td> <a href="../elements/id-29128.html" target="element" class="i18n-elementtype-Capability">
															    </a> </td>
															</tr>

													
													<tr>
													    <td> <a href="../elements/id-28540.html" target="element"> E.3. Medewerkers werven en inzetbaar houden </a> </td>
													    <td> <a href="../elements/id-28540.html" target="element" class="i18n-elementtype-Capability">
													    </a> </td>
													</tr>

															<tr>
															    <td> <a href="../elements/id-28644.html" target="element"> E.3.1. Medewerkersstrategie en -plannen opstellen en besturen </a> </td>
															    <td> <a href="../elements/id-28644.html" target="element" class="i18n-elementtype-Capability">
															    </a> </td>
															</tr>

															<tr>
															    <td> <a href="../elements/id-28598.html" target="element"> E.3.2. Medewerkers in- en uitstromen </a> </td>
															    <td> <a href="../elements/id-28598.html" target="element" class="i18n-elementtype-Capability">
															    </a> </td>
															</tr>

															<tr>
															    <td> <a href="../elements/id-28613.html" target="element"> E.3.3. Medewerkers behouden </a> </td>
															    <td> <a href="../elements/id-28613.html" target="element" class="i18n-elementtype-Capability">
															    </a> </td>
															</tr>

															<tr>
															    <td> <a href="../elements/id-28969.html" target="element"> E.3.4. Medewerkers ontwikkelen </a> </td>
															    <td> <a href="../elements/id-28969.html" target="element" class="i18n-elementtype-Capability">
															    </a> </td>
															</tr>

													
													<tr>
													    <td> <a href="../elements/id-28545.html" target="element"> E.2. Processen en data ontwikkelen en beheren </a> </td>
													    <td> <a href="../elements/id-28545.html" target="element" class="i18n-elementtype-Capability">
													    </a> </td>
													</tr>

															<tr>
															    <td> <a href="../elements/id-28775.html" target="element"> E.2.1. Processen besturen </a> </td>
															    <td> <a href="../elements/id-28775.html" target="element" class="i18n-elementtype-Capability">
															    </a> </td>
															</tr>

															<tr>
															    <td> <a href="../elements/id-28917.html" target="element"> E.2.2. Data besturen </a> </td>
															    <td> <a href="../elements/id-28917.html" target="element" class="i18n-elementtype-Capability">
															    </a> </td>
															</tr>

													
													<tr>
													    <td> <a href="../elements/id-28558.html" target="element"> E.1. Bedrijfsrichting opstellen en besturen </a> </td>
													    <td> <a href="../elements/id-28558.html" target="element" class="i18n-elementtype-Capability">
													    </a> </td>
													</tr>

															<tr>
															    <td> <a href="../elements/id-28608.html" target="element"> E.1.1. Strategie ontwikkelen en bewaken </a> </td>
															    <td> <a href="../elements/id-28608.html" target="element" class="i18n-elementtype-Capability">
															    </a> </td>
															</tr>

															<tr>
															    <td> <a href="../elements/id-28770.html" target="element"> E.1.2. Met stakeholders in overeenstemming komen </a> </td>
															    <td> <a href="../elements/id-28770.html" target="element" class="i18n-elementtype-Capability">
															    </a> </td>
															</tr>

															<tr>
															    <td> <a href="../elements/id-28663.html" target="element"> E.1.3. Transformatie van bedrijfsinrichting besturen </a> </td>
															    <td> <a href="../elements/id-28663.html" target="element" class="i18n-elementtype-Capability">
															    </a> </td>
															</tr>

															<tr>
															    <td> <a href="../elements/id-28706.html" target="element"> E.1.4. Bedrijfscontinu&#239;teit en compliance borgen </a> </td>
															    <td> <a href="../elements/id-28706.html" target="element" class="i18n-elementtype-Capability">
															    </a> </td>
															</tr>

													
											
											<tr>
											    <td> <a href="../elements/id-28548.html" target="element"> C. Core business capabilities </a> </td>
											    <td> <a href="../elements/id-28548.html" target="element" class="i18n-elementtype-Grouping">
											    </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/id-28550.html" target="element"> C.5. Werkzaamheden uitvoeren aan energienetten </a> </td>
													    <td> <a href="../elements/id-28550.html" target="element" class="i18n-elementtype-Capability">
													    </a> </td>
													</tr>

															<tr>
															    <td> <a href="../elements/id-28809.html" target="element"> C.5.1. Werkzaamhedenportfolio opstellen en onderhouden </a> </td>
															    <td> <a href="../elements/id-28809.html" target="element" class="i18n-elementtype-Capability">
															    </a> </td>
															</tr>

															<tr>
															    <td> <a href="../elements/id-28686.html" target="element"> C.5.2. Regievoeren over werkzaamheden </a> </td>
															    <td> <a href="../elements/id-28686.html" target="element" class="i18n-elementtype-Capability">
															    </a> </td>
															</tr>

															<tr>
															    <td> <a href="../elements/id-28718.html" target="element"> C.5.3. Werkzaamheden uitvoeren </a> </td>
															    <td> <a href="../elements/id-28718.html" target="element" class="i18n-elementtype-Capability">
															    </a> </td>
															</tr>

															<tr>
															    <td> <a href="../elements/id-28653.html" target="element"> C.5.4. Werkzaamheden faciliteren </a> </td>
															    <td> <a href="../elements/id-28653.html" target="element" class="i18n-elementtype-Capability">
															    </a> </td>
															</tr>

													
													<tr>
													    <td> <a href="../elements/id-28547.html" target="element"> C.3. Ontwikkeling en instandhouding van energienetten besturen </a> </td>
													    <td> <a href="../elements/id-28547.html" target="element" class="i18n-elementtype-Capability">
													    </a> </td>
													</tr>

															<tr>
															    <td> <a href="../elements/id-28616.html" target="element"> C.3.1. Energienetten uitbreiden, vervangen en vernieuwen </a> </td>
															    <td> <a href="../elements/id-28616.html" target="element" class="i18n-elementtype-Capability">
															    </a> </td>
															</tr>

															<tr>
															    <td> <a href="../elements/id-28672.html" target="element"> C.3.2. Energienetten in stand houden </a> </td>
															    <td> <a href="../elements/id-28672.html" target="element" class="i18n-elementtype-Capability">
															    </a> </td>
															</tr>

															<tr>
															    <td> <a href="../elements/id-28584.html" target="element"> C.3.3. Energienetrichtlijnen en -patronen vaststellen </a> </td>
															    <td> <a href="../elements/id-28584.html" target="element" class="i18n-elementtype-Capability">
															    </a> </td>
															</tr>

													
													<tr>
													    <td> <a href="../elements/id-28566.html" target="element"> C.6. De energiemarkt faciliteren </a> </td>
													    <td> <a href="../elements/id-28566.html" target="element" class="i18n-elementtype-Capability">
													    </a> </td>
													</tr>

															<tr>
															    <td> <a href="../elements/id-28575.html" target="element"> C.6.1. Marktpartijen bedienen en relaties onderhouden </a> </td>
															    <td> <a href="../elements/id-28575.html" target="element" class="i18n-elementtype-Capability">
															    </a> </td>
															</tr>

															<tr>
															    <td> <a href="../elements/id-28581.html" target="element"> C.6.2. Marktdata beheren </a> </td>
															    <td> <a href="../elements/id-28581.html" target="element" class="i18n-elementtype-Capability">
															    </a> </td>
															</tr>

															<tr>
															    <td> <a href="../elements/id-28606.html" target="element"> C.6.3. Marktprocessen uitvoeren/faciliteren </a> </td>
															    <td> <a href="../elements/id-28606.html" target="element" class="i18n-elementtype-Capability">
															    </a> </td>
															</tr>

															<tr>
															    <td> <a href="../elements/id-28577.html" target="element"> C.6.4. Delen van marktdata faciliteren </a> </td>
															    <td> <a href="../elements/id-28577.html" target="element" class="i18n-elementtype-Capability">
															    </a> </td>
															</tr>

													
													<tr>
													    <td> <a href="../elements/id-28562.html" target="element"> C.4. Energietransport en -netten meten </a> </td>
													    <td> <a href="../elements/id-28562.html" target="element" class="i18n-elementtype-Capability">
													    </a> </td>
													</tr>

															<tr>
															    <td> <a href="../elements/id-28624.html" target="element"> C.4.1. Beschikbaar krijgen metingen van energietransport en -netten </a> </td>
															    <td> <a href="../elements/id-28624.html" target="element" class="i18n-elementtype-Capability">
															    </a> </td>
															</tr>

															<tr>
															    <td> <a href="../elements/id-28741.html" target="element"> C.4.2. Beschikbaar maken metingen van energietransport en -netten </a> </td>
															    <td> <a href="../elements/id-28741.html" target="element" class="i18n-elementtype-Capability">
															    </a> </td>
															</tr>

													
													<tr>
													    <td> <a href="../elements/id-28564.html" target="element"> C.1. Klanten bedienen </a> </td>
													    <td> <a href="../elements/id-28564.html" target="element" class="i18n-elementtype-Capability">
													    </a> </td>
													</tr>

															<tr>
															    <td> <a href="../elements/id-28669.html" target="element"> C.1.1. Klanten bedienen en relaties onderhouden </a> </td>
															    <td> <a href="../elements/id-28669.html" target="element" class="i18n-elementtype-Capability">
															    </a> </td>
															</tr>

															<tr>
															    <td> <a href="../elements/id-28587.html" target="element"> C.1.2. Contracten verwerven en beheren </a> </td>
															    <td> <a href="../elements/id-28587.html" target="element" class="i18n-elementtype-Capability">
															    </a> </td>
															</tr>

															<tr>
															    <td> <a href="../elements/id-28618.html" target="element"> C.1.3. Factureren en innen </a> </td>
															    <td> <a href="../elements/id-28618.html" target="element" class="i18n-elementtype-Capability">
															    </a> </td>
															</tr>

															<tr>
															    <td> <a href="../elements/id-28730.html" target="element"> C.1.4. Inkomstenverlies beperken </a> </td>
															    <td> <a href="../elements/id-28730.html" target="element" class="i18n-elementtype-Capability">
															    </a> </td>
															</tr>

													
													<tr>
													    <td> <a href="../elements/id-28552.html" target="element"> C.2. Energie transporteren </a> </td>
													    <td> <a href="../elements/id-28552.html" target="element" class="i18n-elementtype-Capability">
													    </a> </td>
													</tr>

															<tr>
															    <td> <a href="../elements/id-28650.html" target="element"> C.2.1. Energietransport verzorgen </a> </td>
															    <td> <a href="../elements/id-28650.html" target="element" class="i18n-elementtype-Capability">
															    </a> </td>
															</tr>

															<tr>
															    <td> <a href="../elements/id-28590.html" target="element"> C.2.2. Energietransport herstellen </a> </td>
															    <td> <a href="../elements/id-28590.html" target="element" class="i18n-elementtype-Capability">
															    </a> </td>
															</tr>

															<tr>
															    <td> <a href="../elements/id-28837.html" target="element"> C.2.3. Transport- en bedieningsplannen maken </a> </td>
															    <td> <a href="../elements/id-28837.html" target="element" class="i18n-elementtype-Capability">
															    </a> </td>
															</tr>

													
											

								</tbody>
							</table>
						</div>
						<div role="tabpanel" class="tab-pane" id="relationships">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
										<th class="i18n-source"></th>
										<th class="i18n-target"></th>
									</tr>
								</thead>
								<tbody>
																	<tr>
																		<td> <a href="../elements/id-28542.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-28542.html" target="element" class="i18n-elementtype-AggregationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-28541.html" target="element"> E. Enterprise capabilities </a> </td>
																		<td> <a href="../elements/id-28543.html" target="element"> E.6. Gebouwen beheren en faciliteiten beschikbaar stellen </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-28559.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-28559.html" target="element" class="i18n-elementtype-AggregationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-28541.html" target="element"> E. Enterprise capabilities </a> </td>
																		<td> <a href="../elements/id-28560.html" target="element"> E.7. Financi&#235;n verkrijgen en beheren </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-28553.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-28553.html" target="element" class="i18n-elementtype-AggregationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-28541.html" target="element"> E. Enterprise capabilities </a> </td>
																		<td> <a href="../elements/id-28554.html" target="element"> E.5. Goederen en diensten verkrijgen </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-28555.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-28555.html" target="element" class="i18n-elementtype-AggregationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-28541.html" target="element"> E. Enterprise capabilities </a> </td>
																		<td> <a href="../elements/id-28556.html" target="element"> E.4. Digitale producten ontwikkelen en beheren </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-28539.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-28539.html" target="element" class="i18n-elementtype-AggregationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-28541.html" target="element"> E. Enterprise capabilities </a> </td>
																		<td> <a href="../elements/id-28540.html" target="element"> E.3. Medewerkers werven en inzetbaar houden </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-28544.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-28544.html" target="element" class="i18n-elementtype-AggregationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-28541.html" target="element"> E. Enterprise capabilities </a> </td>
																		<td> <a href="../elements/id-28545.html" target="element"> E.2. Processen en data ontwikkelen en beheren </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-28557.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-28557.html" target="element" class="i18n-elementtype-AggregationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-28541.html" target="element"> E. Enterprise capabilities </a> </td>
																		<td> <a href="../elements/id-28558.html" target="element"> E.1. Bedrijfsrichting opstellen en besturen </a> </td>
																	</tr>

																			<tr>
																				<td> <a href="../elements/id-28633.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-28633.html" target="element" class="i18n-elementtype-CompositionRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-28543.html" target="element"> E.6. Gebouwen beheren en faciliteiten beschikbaar stellen </a> </td>
																				<td> <a href="../elements/id-28634.html" target="element"> E.6.1. Gebouwen beheren </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-28974.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-28974.html" target="element" class="i18n-elementtype-CompositionRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-28543.html" target="element"> E.6. Gebouwen beheren en faciliteiten beschikbaar stellen </a> </td>
																				<td> <a href="../elements/id-28773.html" target="element"> E.6.2. Faciliteiten beschikbaarstellen </a> </td>
																			</tr>

													
																			<tr>
																				<td> <a href="../elements/id-28578.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-28578.html" target="element" class="i18n-elementtype-CompositionRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-28560.html" target="element"> E.7. Financi&#235;n verkrijgen en beheren </a> </td>
																				<td> <a href="../elements/id-28579.html" target="element"> E.7.1. Financi&#235;le strategie en plannen opstellen, bewaken en rapporteren </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-28888.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-28888.html" target="element" class="i18n-elementtype-CompositionRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-28560.html" target="element"> E.7. Financi&#235;n verkrijgen en beheren </a> </td>
																				<td> <a href="../elements/id-28764.html" target="element"> E.7.2. Vermogen en liquiditeiten verkrijgen en beheren </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-28936.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-28936.html" target="element" class="i18n-elementtype-CompositionRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-28560.html" target="element"> E.7. Financi&#235;n verkrijgen en beheren </a> </td>
																				<td> <a href="../elements/id-28595.html" target="element"> E.7.3. Transacties financieel verwerken en standen beheren </a> </td>
																			</tr>

													
																			<tr>
																				<td> <a href="../elements/id-28635.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-28635.html" target="element" class="i18n-elementtype-CompositionRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-28554.html" target="element"> E.5. Goederen en diensten verkrijgen </a> </td>
																				<td> <a href="../elements/id-28636.html" target="element"> E.5.1. Goederen- en dienstenstrategie en -plannen opstellen en besturen </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-29044.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-29044.html" target="element" class="i18n-elementtype-CompositionRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-28554.html" target="element"> E.5. Goederen en diensten verkrijgen </a> </td>
																				<td> <a href="../elements/id-28604.html" target="element"> E.5.2. Contracten met leveranciers afsluiten en bewaken </a> </td>
																			</tr>

													
																			<tr>
																				<td> <a href="../elements/id-28709.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-28709.html" target="element" class="i18n-elementtype-CompositionRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-28556.html" target="element"> E.4. Digitale producten ontwikkelen en beheren </a> </td>
																				<td> <a href="../elements/id-28710.html" target="element"> E.4.1. Digitaal productstrategie en -portfolio ontwikkelen en beheren </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-28629.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-28629.html" target="element" class="i18n-elementtype-CompositionRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-28556.html" target="element"> E.4. Digitale producten ontwikkelen en beheren </a> </td>
																				<td> <a href="../elements/id-28630.html" target="element"> E.4.2. Digitale producten realiseren </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-29172.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-29172.html" target="element" class="i18n-elementtype-CompositionRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-28556.html" target="element"> E.4. Digitale producten ontwikkelen en beheren </a> </td>
																				<td> <a href="../elements/id-28780.html" target="element"> E.4.3. Digitale producten leveren </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-29223.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-29223.html" target="element" class="i18n-elementtype-CompositionRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-28556.html" target="element"> E.4. Digitale producten ontwikkelen en beheren </a> </td>
																				<td> <a href="../elements/id-29128.html" target="element"> E.4.4. Digitale producten exploiteren </a> </td>
																			</tr>

													
																			<tr>
																				<td> <a href="../elements/id-29018.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-29018.html" target="element" class="i18n-elementtype-CompositionRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-28540.html" target="element"> E.3. Medewerkers werven en inzetbaar houden </a> </td>
																				<td> <a href="../elements/id-28644.html" target="element"> E.3.1. Medewerkersstrategie en -plannen opstellen en besturen </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-29269.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-29269.html" target="element" class="i18n-elementtype-CompositionRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-28540.html" target="element"> E.3. Medewerkers werven en inzetbaar houden </a> </td>
																				<td> <a href="../elements/id-28598.html" target="element"> E.3.2. Medewerkers in- en uitstromen </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-28868.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-28868.html" target="element" class="i18n-elementtype-CompositionRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-28540.html" target="element"> E.3. Medewerkers werven en inzetbaar houden </a> </td>
																				<td> <a href="../elements/id-28613.html" target="element"> E.3.3. Medewerkers behouden </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-29266.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-29266.html" target="element" class="i18n-elementtype-CompositionRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-28540.html" target="element"> E.3. Medewerkers werven en inzetbaar houden </a> </td>
																				<td> <a href="../elements/id-28969.html" target="element"> E.3.4. Medewerkers ontwikkelen </a> </td>
																			</tr>

													
																			<tr>
																				<td> <a href="../elements/id-28774.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-28774.html" target="element" class="i18n-elementtype-CompositionRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-28545.html" target="element"> E.2. Processen en data ontwikkelen en beheren </a> </td>
																				<td> <a href="../elements/id-28775.html" target="element"> E.2.1. Processen besturen </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-28916.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-28916.html" target="element" class="i18n-elementtype-CompositionRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-28545.html" target="element"> E.2. Processen en data ontwikkelen en beheren </a> </td>
																				<td> <a href="../elements/id-28917.html" target="element"> E.2.2. Data besturen </a> </td>
																			</tr>

													
																			<tr>
																				<td> <a href="../elements/id-28607.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-28607.html" target="element" class="i18n-elementtype-CompositionRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-28558.html" target="element"> E.1. Bedrijfsrichting opstellen en besturen </a> </td>
																				<td> <a href="../elements/id-28608.html" target="element"> E.1.1. Strategie ontwikkelen en bewaken </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-28864.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-28864.html" target="element" class="i18n-elementtype-CompositionRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-28558.html" target="element"> E.1. Bedrijfsrichting opstellen en besturen </a> </td>
																				<td> <a href="../elements/id-28770.html" target="element"> E.1.2. Met stakeholders in overeenstemming komen </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-28708.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-28708.html" target="element" class="i18n-elementtype-CompositionRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-28558.html" target="element"> E.1. Bedrijfsrichting opstellen en besturen </a> </td>
																				<td> <a href="../elements/id-28663.html" target="element"> E.1.3. Transformatie van bedrijfsinrichting besturen </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-28705.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-28705.html" target="element" class="i18n-elementtype-CompositionRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-28558.html" target="element"> E.1. Bedrijfsrichting opstellen en besturen </a> </td>
																				<td> <a href="../elements/id-28706.html" target="element"> E.1.4. Bedrijfscontinu&#239;teit en compliance borgen </a> </td>
																			</tr>

													
											
																	<tr>
																		<td> <a href="../elements/id-28549.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-28549.html" target="element" class="i18n-elementtype-AggregationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-28548.html" target="element"> C. Core business capabilities </a> </td>
																		<td> <a href="../elements/id-28550.html" target="element"> C.5. Werkzaamheden uitvoeren aan energienetten </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-28546.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-28546.html" target="element" class="i18n-elementtype-AggregationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-28548.html" target="element"> C. Core business capabilities </a> </td>
																		<td> <a href="../elements/id-28547.html" target="element"> C.3. Ontwikkeling en instandhouding van energienetten besturen </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-28565.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-28565.html" target="element" class="i18n-elementtype-AggregationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-28548.html" target="element"> C. Core business capabilities </a> </td>
																		<td> <a href="../elements/id-28566.html" target="element"> C.6. De energiemarkt faciliteren </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-28561.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-28561.html" target="element" class="i18n-elementtype-AggregationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-28548.html" target="element"> C. Core business capabilities </a> </td>
																		<td> <a href="../elements/id-28562.html" target="element"> C.4. Energietransport en -netten meten </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-28563.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-28563.html" target="element" class="i18n-elementtype-AggregationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-28548.html" target="element"> C. Core business capabilities </a> </td>
																		<td> <a href="../elements/id-28564.html" target="element"> C.1. Klanten bedienen </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-28551.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-28551.html" target="element" class="i18n-elementtype-AggregationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-28548.html" target="element"> C. Core business capabilities </a> </td>
																		<td> <a href="../elements/id-28552.html" target="element"> C.2. Energie transporteren </a> </td>
																	</tr>

																			<tr>
																				<td> <a href="../elements/id-28948.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-28948.html" target="element" class="i18n-elementtype-CompositionRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-28550.html" target="element"> C.5. Werkzaamheden uitvoeren aan energienetten </a> </td>
																				<td> <a href="../elements/id-28809.html" target="element"> C.5.1. Werkzaamhedenportfolio opstellen en onderhouden </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-28941.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-28941.html" target="element" class="i18n-elementtype-CompositionRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-28550.html" target="element"> C.5. Werkzaamheden uitvoeren aan energienetten </a> </td>
																				<td> <a href="../elements/id-28686.html" target="element"> C.5.2. Regievoeren over werkzaamheden </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-28955.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-28955.html" target="element" class="i18n-elementtype-CompositionRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-28550.html" target="element"> C.5. Werkzaamheden uitvoeren aan energienetten </a> </td>
																				<td> <a href="../elements/id-28718.html" target="element"> C.5.3. Werkzaamheden uitvoeren </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-29073.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-29073.html" target="element" class="i18n-elementtype-CompositionRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-28550.html" target="element"> C.5. Werkzaamheden uitvoeren aan energienetten </a> </td>
																				<td> <a href="../elements/id-28653.html" target="element"> C.5.4. Werkzaamheden faciliteren </a> </td>
																			</tr>

													
																			<tr>
																				<td> <a href="../elements/id-28853.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-28853.html" target="element" class="i18n-elementtype-CompositionRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-28547.html" target="element"> C.3. Ontwikkeling en instandhouding van energienetten besturen </a> </td>
																				<td> <a href="../elements/id-28616.html" target="element"> C.3.1. Energienetten uitbreiden, vervangen en vernieuwen </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-28843.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-28843.html" target="element" class="i18n-elementtype-CompositionRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-28547.html" target="element"> C.3. Ontwikkeling en instandhouding van energienetten besturen </a> </td>
																				<td> <a href="../elements/id-28672.html" target="element"> C.3.2. Energienetten in stand houden </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-29089.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-29089.html" target="element" class="i18n-elementtype-CompositionRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-28547.html" target="element"> C.3. Ontwikkeling en instandhouding van energienetten besturen </a> </td>
																				<td> <a href="../elements/id-28584.html" target="element"> C.3.3. Energienetrichtlijnen en -patronen vaststellen </a> </td>
																			</tr>

													
																			<tr>
																				<td> <a href="../elements/id-29290.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-29290.html" target="element" class="i18n-elementtype-CompositionRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-28566.html" target="element"> C.6. De energiemarkt faciliteren </a> </td>
																				<td> <a href="../elements/id-28575.html" target="element"> C.6.1. Marktpartijen bedienen en relaties onderhouden </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-28580.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-28580.html" target="element" class="i18n-elementtype-CompositionRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-28566.html" target="element"> C.6. De energiemarkt faciliteren </a> </td>
																				<td> <a href="../elements/id-28581.html" target="element"> C.6.2. Marktdata beheren </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-28605.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-28605.html" target="element" class="i18n-elementtype-CompositionRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-28566.html" target="element"> C.6. De energiemarkt faciliteren </a> </td>
																				<td> <a href="../elements/id-28606.html" target="element"> C.6.3. Marktprocessen uitvoeren/faciliteren </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-28576.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-28576.html" target="element" class="i18n-elementtype-CompositionRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-28566.html" target="element"> C.6. De energiemarkt faciliteren </a> </td>
																				<td> <a href="../elements/id-28577.html" target="element"> C.6.4. Delen van marktdata faciliteren </a> </td>
																			</tr>

													
																			<tr>
																				<td> <a href="../elements/id-29072.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-29072.html" target="element" class="i18n-elementtype-CompositionRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-28562.html" target="element"> C.4. Energietransport en -netten meten </a> </td>
																				<td> <a href="../elements/id-28624.html" target="element"> C.4.1. Beschikbaar krijgen metingen van energietransport en -netten </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-29094.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-29094.html" target="element" class="i18n-elementtype-CompositionRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-28562.html" target="element"> C.4. Energietransport en -netten meten </a> </td>
																				<td> <a href="../elements/id-28741.html" target="element"> C.4.2. Beschikbaar maken metingen van energietransport en -netten </a> </td>
																			</tr>

													
																			<tr>
																				<td> <a href="../elements/id-29155.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-29155.html" target="element" class="i18n-elementtype-CompositionRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-28564.html" target="element"> C.1. Klanten bedienen </a> </td>
																				<td> <a href="../elements/id-28669.html" target="element"> C.1.1. Klanten bedienen en relaties onderhouden </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-29292.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-29292.html" target="element" class="i18n-elementtype-CompositionRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-28564.html" target="element"> C.1. Klanten bedienen </a> </td>
																				<td> <a href="../elements/id-28587.html" target="element"> C.1.2. Contracten verwerven en beheren </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-28617.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-28617.html" target="element" class="i18n-elementtype-CompositionRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-28564.html" target="element"> C.1. Klanten bedienen </a> </td>
																				<td> <a href="../elements/id-28618.html" target="element"> C.1.3. Factureren en innen </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-29061.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-29061.html" target="element" class="i18n-elementtype-CompositionRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-28564.html" target="element"> C.1. Klanten bedienen </a> </td>
																				<td> <a href="../elements/id-28730.html" target="element"> C.1.4. Inkomstenverlies beperken </a> </td>
																			</tr>

													
																			<tr>
																				<td> <a href="../elements/id-29282.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-29282.html" target="element" class="i18n-elementtype-CompositionRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-28552.html" target="element"> C.2. Energie transporteren </a> </td>
																				<td> <a href="../elements/id-28650.html" target="element"> C.2.1. Energietransport verzorgen </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-29274.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-29274.html" target="element" class="i18n-elementtype-CompositionRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-28552.html" target="element"> C.2. Energie transporteren </a> </td>
																				<td> <a href="../elements/id-28590.html" target="element"> C.2.2. Energietransport herstellen </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-29021.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-29021.html" target="element" class="i18n-elementtype-CompositionRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-28552.html" target="element"> C.2. Energie transporteren </a> </td>
																				<td> <a href="../elements/id-28837.html" target="element"> C.2.3. Transport- en bedieningsplannen maken </a> </td>
																			</tr>

													
											

								</tbody>
							</table>
						</div>
			  </div>
			</div>
		</div>
	</div>
	<script type="text/javascript">imageMapResize();</script>
</body>
</html>