<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html class="frame" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
	<title>Domeinen en subdomeinen van Bedrijfsobjecten op niveau 1 en 2</title>

	<!-- JQUERY (use 1.x branch to be compatible with IE 6/7/8) -->
	<script type="text/javascript" src="../../lib/jquery/js/jquery-1.11.2.min.js"></script>
	<!-- BOOTSTRAP -->
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap.min.yeti.css">
	<script type="text/javascript" src="../../lib/bootstrap/js/bootstrap-3.3.2.min.js"></script>
	<!-- REPORT SPECIFIC -->
	<link type="text/css" rel="stylesheet" href="../../css/model.css">
	<link type="text/css" rel="stylesheet" href="../../css/i18n.css">
	<script type="text/javascript" src="../../js/frame.js"></script>
	<script type="text/javascript" src="../../js/imageMapResizer.min.js"></script>
</head>

<body>
	<div class="panel panel-default root-panel">

		<div class="panel-heading root-panel-heading">
            <!-- Name -->
               <b>Domeinen en subdomeinen van Bedrijfsobjecten op niveau 1 en 2</b>

            <!-- If a View with Viewpoint -->
			   (<span class="i18n-viewpoint-"></span>)
			   <a class="glyphicon glyphicon-info-sign" id="hint-viewpoint_" target="hint"></a>
            <!-- Or if a model (i.e has Purpose method) -->
		</div>

		<div class="panel-body root-panel-body">
		    <!-- If this is a digram model (has children and no bounds) show the image -->
			   <img class="diagram" src="../images/id-27938.png" alt="Domeinen en subdomeinen van Bedrijfsobjecten op niveau 1 en 2" usemap="#id-27938map"/>
			   <map name="id-27938map">
				  				<area shape="rect" coords="990,357,1143,417" href="../elements/id-29013.html"  target="element">
				  				<area shape="rect" coords="990,270,1143,330" href="../elements/id-29212.html"  target="element">
				  				<area shape="rect" coords="990,190,1143,250" href="../elements/id-28700.html"  target="element">
				  				<area shape="rect" coords="990,104,1143,164" href="../elements/id-29050.html"  target="element">

				  		<area shape="rect" coords="976,10,1156,457" href="../elements/id-28538.html"  target="element">
				  				<area shape="rect" coords="796,357,949,417" href="../elements/id-28930.html"  target="element">
				  				<area shape="rect" coords="796,277,949,337" href="../elements/id-29176.html"  target="element">
				  				<area shape="rect" coords="796,190,949,250" href="../elements/id-29052.html"  target="element">
				  				<area shape="rect" coords="796,104,949,164" href="../elements/id-28808.html"  target="element">

				  		<area shape="rect" coords="783,10,963,457" href="../elements/id-28570.html"  target="element">
				  				<area shape="rect" coords="603,104,756,164" href="../elements/id-28863.html"  target="element">

				  		<area shape="rect" coords="590,10,770,457" href="../elements/id-28572.html"  target="element">
				  				<area shape="rect" coords="410,357,563,417" href="../elements/id-29088.html"  target="element">
				  				<area shape="rect" coords="410,277,563,337" href="../elements/id-28946.html"  target="element">
				  				<area shape="rect" coords="410,190,563,250" href="../elements/id-29112.html"  target="element">
				  				<area shape="rect" coords="410,104,563,164" href="../elements/id-28704.html"  target="element">

				  		<area shape="rect" coords="396,10,576,457" href="../elements/id-28568.html"  target="element">
				  				<area shape="rect" coords="216,277,369,337" href="../elements/id-29054.html"  target="element">
				  				<area shape="rect" coords="216,190,369,250" href="../elements/id-28689.html"  target="element">
				  				<area shape="rect" coords="216,104,369,164" href="../elements/id-28926.html"  target="element">

				  		<area shape="rect" coords="203,10,383,457" href="../elements/id-28536.html"  target="element">
				  				<area shape="rect" coords="23,364,176,424" href="../elements/id-29023.html"  target="element">
				  				<area shape="rect" coords="23,277,176,337" href="../elements/id-28915.html"  target="element">
				  				<area shape="rect" coords="23,190,176,250" href="../elements/id-28921.html"  target="element">
				  				<area shape="rect" coords="23,104,176,164" href="../elements/id-28668.html"  target="element">

				  		<area shape="rect" coords="10,10,190,457" href="../elements/id-28533.html"  target="element">

			   </map>

			<div role="tabpanel">
				<!-- Nav tabs -->
				<ul class="nav nav-tabs" role="tablist">
                    <!-- Purpose / Documentation / Content -->
					   <li role="presentation" class="active"><a href="#documentation" aria-controls="documentation" role="tab" data-toggle="tab" class="i18n-documentation"></a></li>

                    <!-- Properties -->
                    <li role="presentation"><a href="#properties" aria-controls="properties" role="tab" data-toggle="tab" class="i18n-properties"></a></li>

						<li role="presentation"><a href="#elements" aria-controls="elements" role="tab" data-toggle="tab" class="i18n-elements"></a></li>
						<li role="presentation"><a href="#relationships" aria-controls="relationships" role="tab" data-toggle="tab" class="i18n-relationships"></a></li>
                    <!-- Model, Query Tab -->
				</ul>

				<!-- Tab panes -->
				<div class="tab-content">
					<div role="tabpanel" class="tab-pane active" id="documentation">
						<div class="convertlinks documentation" style="white-space:pre-wrap"></div>
					</div>
					<div role="tabpanel" class="tab-pane" id="properties">
						<table class="table table-striped table-hover table-condensed">
							<thead>
								<tr>
									<th class="i18n-key"></th>
									<th class="i18n-value"></th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
					</div>
						<div role="tabpanel" class="tab-pane" id="elements">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
									</tr>
								</thead>
								<tbody>
											<tr>
											    <td> <a href="../elements/id-28533.html" target="element"> Domein Klant </a> </td>
											    <td> <a href="../elements/id-28533.html" target="element" class="i18n-elementtype-BusinessObject">
											    </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/id-28668.html" target="element"> Subdomein Klant </a> </td>
													    <td> <a href="../elements/id-28668.html" target="element" class="i18n-elementtype-BusinessObject">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-28921.html" target="element"> Subdomein Klantinteractie </a> </td>
													    <td> <a href="../elements/id-28921.html" target="element" class="i18n-elementtype-BusinessObject">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-28915.html" target="element"> Subdomein Klantovereenkomst </a> </td>
													    <td> <a href="../elements/id-28915.html" target="element" class="i18n-elementtype-BusinessObject">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-29023.html" target="element"> Subdomein Klantverrekening </a> </td>
													    <td> <a href="../elements/id-29023.html" target="element" class="i18n-elementtype-BusinessObject">
													    </a> </td>
													</tr>

											
											<tr>
											    <td> <a href="../elements/id-28536.html" target="element"> Domein Energietransport </a> </td>
											    <td> <a href="../elements/id-28536.html" target="element" class="i18n-elementtype-BusinessObject">
											    </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/id-28926.html" target="element"> Subdomein Transportbesturing </a> </td>
													    <td> <a href="../elements/id-28926.html" target="element" class="i18n-elementtype-BusinessObject">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-28689.html" target="element"> Subdomein Transportafwijking </a> </td>
													    <td> <a href="../elements/id-28689.html" target="element" class="i18n-elementtype-BusinessObject">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-29054.html" target="element"> Subdomein Transportplanning </a> </td>
													    <td> <a href="../elements/id-29054.html" target="element" class="i18n-elementtype-BusinessObject">
													    </a> </td>
													</tr>

											
											<tr>
											    <td> <a href="../elements/id-28568.html" target="element"> Domein Energienet </a> </td>
											    <td> <a href="../elements/id-28568.html" target="element" class="i18n-elementtype-BusinessObject">
											    </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/id-28704.html" target="element"> Subdomein Energienet </a> </td>
													    <td> <a href="../elements/id-28704.html" target="element" class="i18n-elementtype-BusinessObject">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-29112.html" target="element"> Subdomein Netverandering </a> </td>
													    <td> <a href="../elements/id-29112.html" target="element" class="i18n-elementtype-BusinessObject">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-28946.html" target="element"> Subdomein Netkwaliteit </a> </td>
													    <td> <a href="../elements/id-28946.html" target="element" class="i18n-elementtype-BusinessObject">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-29088.html" target="element"> Subdomein Netbeleid </a> </td>
													    <td> <a href="../elements/id-29088.html" target="element" class="i18n-elementtype-BusinessObject">
													    </a> </td>
													</tr>

											
											<tr>
											    <td> <a href="../elements/id-28572.html" target="element"> Domein Meting </a> </td>
											    <td> <a href="../elements/id-28572.html" target="element" class="i18n-elementtype-BusinessObject">
											    </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/id-28863.html" target="element"> Subdomein Meting </a> </td>
													    <td> <a href="../elements/id-28863.html" target="element" class="i18n-elementtype-BusinessObject">
													    </a> </td>
													</tr>

											
											<tr>
											    <td> <a href="../elements/id-28570.html" target="element"> Domein Werk </a> </td>
											    <td> <a href="../elements/id-28570.html" target="element" class="i18n-elementtype-BusinessObject">
											    </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/id-28808.html" target="element"> Subdomein Werkportfolio </a> </td>
													    <td> <a href="../elements/id-28808.html" target="element" class="i18n-elementtype-BusinessObject">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-29052.html" target="element"> Subdomein Werkopdracht </a> </td>
													    <td> <a href="../elements/id-29052.html" target="element" class="i18n-elementtype-BusinessObject">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-29176.html" target="element"> Subdomein Werkactiviteit </a> </td>
													    <td> <a href="../elements/id-29176.html" target="element" class="i18n-elementtype-BusinessObject">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-28930.html" target="element"> Subdomein Werkmiddel </a> </td>
													    <td> <a href="../elements/id-28930.html" target="element" class="i18n-elementtype-BusinessObject">
													    </a> </td>
													</tr>

											
											<tr>
											    <td> <a href="../elements/id-28538.html" target="element"> Domein Energiemarkt </a> </td>
											    <td> <a href="../elements/id-28538.html" target="element" class="i18n-elementtype-BusinessObject">
											    </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/id-29050.html" target="element"> Subdomein Marktpartij </a> </td>
													    <td> <a href="../elements/id-29050.html" target="element" class="i18n-elementtype-BusinessObject">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-28700.html" target="element"> Subdomein Aansluiting </a> </td>
													    <td> <a href="../elements/id-28700.html" target="element" class="i18n-elementtype-BusinessObject">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-29212.html" target="element"> Subdomein Marktproces </a> </td>
													    <td> <a href="../elements/id-29212.html" target="element" class="i18n-elementtype-BusinessObject">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-29013.html" target="element"> Subdomein Marktdataverstrekking </a> </td>
													    <td> <a href="../elements/id-29013.html" target="element" class="i18n-elementtype-BusinessObject">
													    </a> </td>
													</tr>

											

								</tbody>
							</table>
						</div>
						<div role="tabpanel" class="tab-pane" id="relationships">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
										<th class="i18n-source"></th>
										<th class="i18n-target"></th>
									</tr>
								</thead>
								<tbody>
																	<tr>
																		<td> <a href="../elements/id-29742.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-29742.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-28533.html" target="element"> Domein Klant </a> </td>
																		<td> <a href="../elements/id-28668.html" target="element"> Subdomein Klant </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-29774.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-29774.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-28533.html" target="element"> Domein Klant </a> </td>
																		<td> <a href="../elements/id-28921.html" target="element"> Subdomein Klantinteractie </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-29779.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-29779.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-28533.html" target="element"> Domein Klant </a> </td>
																		<td> <a href="../elements/id-28915.html" target="element"> Subdomein Klantovereenkomst </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-29770.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-29770.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-28533.html" target="element"> Domein Klant </a> </td>
																		<td> <a href="../elements/id-29023.html" target="element"> Subdomein Klantverrekening </a> </td>
																	</tr>

											
																	<tr>
																		<td> <a href="../elements/id-29772.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-29772.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-28536.html" target="element"> Domein Energietransport </a> </td>
																		<td> <a href="../elements/id-28926.html" target="element"> Subdomein Transportbesturing </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-29765.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-29765.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-28536.html" target="element"> Domein Energietransport </a> </td>
																		<td> <a href="../elements/id-28689.html" target="element"> Subdomein Transportafwijking </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-29756.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-29756.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-28536.html" target="element"> Domein Energietransport </a> </td>
																		<td> <a href="../elements/id-29054.html" target="element"> Subdomein Transportplanning </a> </td>
																	</tr>

											
																	<tr>
																		<td> <a href="../elements/id-29753.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-29753.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-28568.html" target="element"> Domein Energienet </a> </td>
																		<td> <a href="../elements/id-28704.html" target="element"> Subdomein Energienet </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-29725.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-29725.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-28568.html" target="element"> Domein Energienet </a> </td>
																		<td> <a href="../elements/id-29112.html" target="element"> Subdomein Netverandering </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-29792.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-29792.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-28568.html" target="element"> Domein Energienet </a> </td>
																		<td> <a href="../elements/id-28946.html" target="element"> Subdomein Netkwaliteit </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-29788.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-29788.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-28568.html" target="element"> Domein Energienet </a> </td>
																		<td> <a href="../elements/id-29088.html" target="element"> Subdomein Netbeleid </a> </td>
																	</tr>

											
																	<tr>
																		<td> <a href="../elements/id-29786.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-29786.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-28572.html" target="element"> Domein Meting </a> </td>
																		<td> <a href="../elements/id-28863.html" target="element"> Subdomein Meting </a> </td>
																	</tr>

											
																	<tr>
																		<td> <a href="../elements/id-29794.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-29794.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-28570.html" target="element"> Domein Werk </a> </td>
																		<td> <a href="../elements/id-28808.html" target="element"> Subdomein Werkportfolio </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-29808.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-29808.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-28570.html" target="element"> Domein Werk </a> </td>
																		<td> <a href="../elements/id-29052.html" target="element"> Subdomein Werkopdracht </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-29783.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-29783.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-28570.html" target="element"> Domein Werk </a> </td>
																		<td> <a href="../elements/id-29176.html" target="element"> Subdomein Werkactiviteit </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-29752.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-29752.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-28570.html" target="element"> Domein Werk </a> </td>
																		<td> <a href="../elements/id-28930.html" target="element"> Subdomein Werkmiddel </a> </td>
																	</tr>

											
																	<tr>
																		<td> <a href="../elements/id-29754.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-29754.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-28538.html" target="element"> Domein Energiemarkt </a> </td>
																		<td> <a href="../elements/id-29050.html" target="element"> Subdomein Marktpartij </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-29721.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-29721.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-28538.html" target="element"> Domein Energiemarkt </a> </td>
																		<td> <a href="../elements/id-28700.html" target="element"> Subdomein Aansluiting </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-29736.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-29736.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-28538.html" target="element"> Domein Energiemarkt </a> </td>
																		<td> <a href="../elements/id-29212.html" target="element"> Subdomein Marktproces </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-29761.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-29761.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-28538.html" target="element"> Domein Energiemarkt </a> </td>
																		<td> <a href="../elements/id-29013.html" target="element"> Subdomein Marktdataverstrekking </a> </td>
																	</tr>

											

								</tbody>
							</table>
						</div>
			  </div>
			</div>
		</div>
	</div>
	<script type="text/javascript">imageMapResize();</script>
</body>
</html>