<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html class="frame" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
	<title>Bedrijfsobjecten op niveau 3 - Thema Congestiemanagement</title>

	<!-- JQUERY (use 1.x branch to be compatible with IE 6/7/8) -->
	<script type="text/javascript" src="../../lib/jquery/js/jquery-1.11.2.min.js"></script>
	<!-- BOOTSTRAP -->
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap.min.yeti.css">
	<script type="text/javascript" src="../../lib/bootstrap/js/bootstrap-3.3.2.min.js"></script>
	<!-- REPORT SPECIFIC -->
	<link type="text/css" rel="stylesheet" href="../../css/model.css">
	<link type="text/css" rel="stylesheet" href="../../css/i18n.css">
	<script type="text/javascript" src="../../js/frame.js"></script>
	<script type="text/javascript" src="../../js/imageMapResizer.min.js"></script>
</head>

<body>
	<div class="panel panel-default root-panel">

		<div class="panel-heading root-panel-heading">
            <!-- Name -->
               <b>Bedrijfsobjecten op niveau 3 - Thema Congestiemanagement</b>

            <!-- If a View with Viewpoint -->
			   (<span class="i18n-viewpoint-"></span>)
			   <a class="glyphicon glyphicon-info-sign" id="hint-viewpoint_" target="hint"></a>
            <!-- Or if a model (i.e has Purpose method) -->
		</div>

		<div class="panel-body root-panel-body">
		    <!-- If this is a digram model (has children and no bounds) show the image -->
			   <img class="diagram" src="../images/id-27944.png" alt="Bedrijfsobjecten op niveau 3 - Thema Congestiemanagement" usemap="#id-27944map"/>
			   <map name="id-27944map">
				  		<area shape="rect" coords="375,737,508,790" href="../elements/id-28978.html"  target="element">
				  		<area shape="rect" coords="81,737,214,790" href="../elements/id-29271.html"  target="element">
				  		<area shape="rect" coords="715,617,848,670" href="../elements/id-29136.html"  target="element">
				  		<area shape="rect" coords="228,617,508,670" href="../elements/id-29255.html"  target="element">
				  		<area shape="rect" coords="81,617,214,670" href="../elements/id-29140.html"  target="element">
				  		<area shape="rect" coords="715,377,848,430" href="../elements/id-28814.html"  target="element">
				  		<area shape="rect" coords="375,497,842,550" href="../elements/id-29170.html"  target="element">
				  		<area shape="rect" coords="81,497,361,550" href="../elements/id-29286.html"  target="element">
				  		<area shape="rect" coords="81,384,508,431" href="../elements/id-28693.html"  target="element">
				  		<area shape="rect" coords="721,250,854,303" href="../elements/id-28743.html"  target="element">
				  		<area shape="rect" coords="375,250,508,303" href="../elements/id-28818.html"  target="element">
				  		<area shape="rect" coords="228,250,361,303" href="../elements/id-29145.html"  target="element">
				  		<area shape="rect" coords="81,250,214,303" href="../elements/id-29162.html"  target="element">
				  		<area shape="rect" coords="81,124,214,177" href="../elements/id-28882.html"  target="element">
				  		<area shape="rect" coords="75,10,855,63" href="../elements/id-28753.html"  target="element">

			   </map>

			<div role="tabpanel">
				<!-- Nav tabs -->
				<ul class="nav nav-tabs" role="tablist">
                    <!-- Purpose / Documentation / Content -->
					   <li role="presentation" class="active"><a href="#documentation" aria-controls="documentation" role="tab" data-toggle="tab" class="i18n-documentation"></a></li>

                    <!-- Properties -->
                    <li role="presentation"><a href="#properties" aria-controls="properties" role="tab" data-toggle="tab" class="i18n-properties"></a></li>

						<li role="presentation"><a href="#elements" aria-controls="elements" role="tab" data-toggle="tab" class="i18n-elements"></a></li>
						<li role="presentation"><a href="#relationships" aria-controls="relationships" role="tab" data-toggle="tab" class="i18n-relationships"></a></li>
                    <!-- Model, Query Tab -->
				</ul>

				<!-- Tab panes -->
				<div class="tab-content">
					<div role="tabpanel" class="tab-pane active" id="documentation">
						<div class="convertlinks documentation" style="white-space:pre-wrap"></div>
					</div>
					<div role="tabpanel" class="tab-pane" id="properties">
						<table class="table table-striped table-hover table-condensed">
							<thead>
								<tr>
									<th class="i18n-key"></th>
									<th class="i18n-value"></th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
					</div>
						<div role="tabpanel" class="tab-pane" id="elements">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
									</tr>
								</thead>
								<tbody>
											<tr>
											    <td> <a href="../elements/id-28753.html" target="element"> Energie-uitwisseling </a> </td>
											    <td> <a href="../elements/id-28753.html" target="element" class="i18n-elementtype-BusinessObject">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-28882.html" target="element"> Klantfactuur </a> </td>
											    <td> <a href="../elements/id-28882.html" target="element" class="i18n-elementtype-BusinessObject">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-29162.html" target="element"> Klantovereenkomst </a> </td>
											    <td> <a href="../elements/id-29162.html" target="element" class="i18n-elementtype-BusinessObject">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-29145.html" target="element"> Marktovereenkomst </a> </td>
											    <td> <a href="../elements/id-29145.html" target="element" class="i18n-elementtype-BusinessObject">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-28818.html" target="element"> Opregel- of afregelactie </a> </td>
											    <td> <a href="../elements/id-28818.html" target="element" class="i18n-elementtype-BusinessObject">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-28743.html" target="element"> Energieprogramma of prognose </a> </td>
											    <td> <a href="../elements/id-28743.html" target="element" class="i18n-elementtype-BusinessObject">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-28693.html" target="element"> Opregel- of afregelaanbod </a> </td>
											    <td> <a href="../elements/id-28693.html" target="element" class="i18n-elementtype-BusinessObject">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-29286.html" target="element"> Aansluiting </a> </td>
											    <td> <a href="../elements/id-29286.html" target="element" class="i18n-elementtype-BusinessObject">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-29170.html" target="element"> Opregel- of afregelbehoefte </a> </td>
											    <td> <a href="../elements/id-29170.html" target="element" class="i18n-elementtype-BusinessObject">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-28814.html" target="element"> Transportberekening </a> </td>
											    <td> <a href="../elements/id-28814.html" target="element" class="i18n-elementtype-BusinessObject">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-29140.html" target="element"> Installatie </a> </td>
											    <td> <a href="../elements/id-29140.html" target="element" class="i18n-elementtype-BusinessObject">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-29255.html" target="element"> Congestiegebied </a> </td>
											    <td> <a href="../elements/id-29255.html" target="element" class="i18n-elementtype-BusinessObject">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-29136.html" target="element"> Energiemarkt </a> </td>
											    <td> <a href="../elements/id-29136.html" target="element" class="i18n-elementtype-BusinessObject">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-29271.html" target="element"> Netberekening </a> </td>
											    <td> <a href="../elements/id-29271.html" target="element" class="i18n-elementtype-BusinessObject">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-28978.html" target="element"> Capaciteitsknelpunt </a> </td>
											    <td> <a href="../elements/id-28978.html" target="element" class="i18n-elementtype-BusinessObject">
											    </a> </td>
											</tr>


								</tbody>
							</table>
						</div>
						<div role="tabpanel" class="tab-pane" id="relationships">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
										<th class="i18n-source"></th>
										<th class="i18n-target"></th>
									</tr>
								</thead>
								<tbody>
																	<tr>
																		<td> <a href="../elements/id-29547.html" target="element"> gepland in </a> </td>
																		<td> <a href="../elements/id-29547.html" target="element" class="i18n-elementtype-AssociationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-28753.html" target="element"> Energie-uitwisseling </a> </td>
																		<td> <a href="../elements/id-28743.html" target="element"> Energieprogramma of prognose </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-29565.html" target="element"> op </a> </td>
																		<td> <a href="../elements/id-29565.html" target="element" class="i18n-elementtype-AssociationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-28753.html" target="element"> Energie-uitwisseling </a> </td>
																		<td> <a href="../elements/id-29286.html" target="element"> Aansluiting </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-29570.html" target="element"> gewijzigd door </a> </td>
																		<td> <a href="../elements/id-29570.html" target="element" class="i18n-elementtype-AssociationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-28753.html" target="element"> Energie-uitwisseling </a> </td>
																		<td> <a href="../elements/id-28818.html" target="element"> Opregel- of afregelactie </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-29572.html" target="element"> basis voor </a> </td>
																		<td> <a href="../elements/id-29572.html" target="element" class="i18n-elementtype-AssociationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-29162.html" target="element"> Klantovereenkomst </a> </td>
																		<td> <a href="../elements/id-28882.html" target="element"> Klantfactuur </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-29553.html" target="element"> afspraak over of aanvaarding van </a> </td>
																		<td> <a href="../elements/id-29553.html" target="element" class="i18n-elementtype-AssociationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-29162.html" target="element"> Klantovereenkomst </a> </td>
																		<td> <a href="../elements/id-28693.html" target="element"> Opregel- of afregelaanbod </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-29577.html" target="element"> afspraak over of aanvaarding van </a> </td>
																		<td> <a href="../elements/id-29577.html" target="element" class="i18n-elementtype-AssociationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-29145.html" target="element"> Marktovereenkomst </a> </td>
																		<td> <a href="../elements/id-28693.html" target="element"> Opregel- of afregelaanbod </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-29540.html" target="element"> afroep van </a> </td>
																		<td> <a href="../elements/id-29540.html" target="element" class="i18n-elementtype-AssociationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-28818.html" target="element"> Opregel- of afregelactie </a> </td>
																		<td> <a href="../elements/id-28693.html" target="element"> Opregel- of afregelaanbod </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-29535.html" target="element"> gewijzigd door </a> </td>
																		<td> <a href="../elements/id-29535.html" target="element" class="i18n-elementtype-AssociationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-28743.html" target="element"> Energieprogramma of prognose </a> </td>
																		<td> <a href="../elements/id-28818.html" target="element"> Opregel- of afregelactie </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-29542.html" target="element"> beschikbaar op </a> </td>
																		<td> <a href="../elements/id-29542.html" target="element" class="i18n-elementtype-AssociationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-28693.html" target="element"> Opregel- of afregelaanbod </a> </td>
																		<td> <a href="../elements/id-29286.html" target="element"> Aansluiting </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-29579.html" target="element"> meegenomen in </a> </td>
																		<td> <a href="../elements/id-29579.html" target="element" class="i18n-elementtype-AssociationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-28693.html" target="element"> Opregel- of afregelaanbod </a> </td>
																		<td> <a href="../elements/id-28814.html" target="element"> Transportberekening </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-29544.html" target="element"> in </a> </td>
																		<td> <a href="../elements/id-29544.html" target="element" class="i18n-elementtype-AssociationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-29286.html" target="element"> Aansluiting </a> </td>
																		<td> <a href="../elements/id-29255.html" target="element"> Congestiegebied </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-29559.html" target="element"> verzoek om </a> </td>
																		<td> <a href="../elements/id-29559.html" target="element" class="i18n-elementtype-AssociationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-29170.html" target="element"> Opregel- of afregelbehoefte </a> </td>
																		<td> <a href="../elements/id-28693.html" target="element"> Opregel- of afregelaanbod </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-29568.html" target="element"> in </a> </td>
																		<td> <a href="../elements/id-29568.html" target="element" class="i18n-elementtype-AssociationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-29170.html" target="element"> Opregel- of afregelbehoefte </a> </td>
																		<td> <a href="../elements/id-29255.html" target="element"> Congestiegebied </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-29538.html" target="element"> geuit op </a> </td>
																		<td> <a href="../elements/id-29538.html" target="element" class="i18n-elementtype-AssociationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-29170.html" target="element"> Opregel- of afregelbehoefte </a> </td>
																		<td> <a href="../elements/id-29136.html" target="element"> Energiemarkt </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-29551.html" target="element"> basis voor </a> </td>
																		<td> <a href="../elements/id-29551.html" target="element" class="i18n-elementtype-AssociationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-28814.html" target="element"> Transportberekening </a> </td>
																		<td> <a href="../elements/id-29170.html" target="element"> Opregel- of afregelbehoefte </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-29556.html" target="element"> achter </a> </td>
																		<td> <a href="../elements/id-29556.html" target="element" class="i18n-elementtype-AssociationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-29140.html" target="element"> Installatie </a> </td>
																		<td> <a href="../elements/id-29286.html" target="element"> Aansluiting </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-29549.html" target="element"> oorzaak van </a> </td>
																		<td> <a href="../elements/id-29549.html" target="element" class="i18n-elementtype-AssociationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-28978.html" target="element"> Capaciteitsknelpunt </a> </td>
																		<td> <a href="../elements/id-29255.html" target="element"> Congestiegebied </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-29575.html" target="element"> uitkomst van </a> </td>
																		<td> <a href="../elements/id-29575.html" target="element" class="i18n-elementtype-AssociationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-28978.html" target="element"> Capaciteitsknelpunt </a> </td>
																		<td> <a href="../elements/id-29271.html" target="element"> Netberekening </a> </td>
																	</tr>


								</tbody>
							</table>
						</div>
			  </div>
			</div>
		</div>
	</div>
	<script type="text/javascript">imageMapResize();</script>
</body>
</html>