<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html class="frame" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
	<title>Domeinen van Bedrijfsobjecten per Capability op niveau 1</title>

	<!-- JQUERY (use 1.x branch to be compatible with IE 6/7/8) -->
	<script type="text/javascript" src="../../lib/jquery/js/jquery-1.11.2.min.js"></script>
	<!-- BOOTSTRAP -->
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap.min.yeti.css">
	<script type="text/javascript" src="../../lib/bootstrap/js/bootstrap-3.3.2.min.js"></script>
	<!-- REPORT SPECIFIC -->
	<link type="text/css" rel="stylesheet" href="../../css/model.css">
	<link type="text/css" rel="stylesheet" href="../../css/i18n.css">
	<script type="text/javascript" src="../../js/frame.js"></script>
	<script type="text/javascript" src="../../js/imageMapResizer.min.js"></script>
</head>

<body>
	<div class="panel panel-default root-panel">

		<div class="panel-heading root-panel-heading">
            <!-- Name -->
               <b>Domeinen van Bedrijfsobjecten per Capability op niveau 1</b>

            <!-- If a View with Viewpoint -->
			   (<span class="i18n-viewpoint-"></span>)
			   <a class="glyphicon glyphicon-info-sign" id="hint-viewpoint_" target="hint"></a>
            <!-- Or if a model (i.e has Purpose method) -->
		</div>

		<div class="panel-body root-panel-body">
		    <!-- If this is a digram model (has children and no bounds) show the image -->
			   <img class="diagram" src="../images/id-27941.png" alt="Domeinen van Bedrijfsobjecten per Capability op niveau 1" usemap="#id-27941map"/>
			   <map name="id-27941map">
				  				<area shape="rect" coords="604,430,811,523" href="../elements/id-28538.html"  target="element">

				  		<area shape="rect" coords="584,330,831,543" href="../elements/id-28566.html"  target="element">
				  				<area shape="rect" coords="317,430,524,523" href="../elements/id-28570.html"  target="element">

				  		<area shape="rect" coords="297,330,544,543" href="../elements/id-28550.html"  target="element">
				  				<area shape="rect" coords="30,429,237,522" href="../elements/id-28572.html"  target="element">

				  		<area shape="rect" coords="10,330,257,543" href="../elements/id-28562.html"  target="element">
				  				<area shape="rect" coords="604,110,811,203" href="../elements/id-28568.html"  target="element">

				  		<area shape="rect" coords="584,10,831,223" href="../elements/id-28547.html"  target="element">
				  				<area shape="rect" coords="317,110,524,203" href="../elements/id-28536.html"  target="element">

				  		<area shape="rect" coords="297,10,544,223" href="../elements/id-28552.html"  target="element">
				  				<area shape="rect" coords="30,110,237,203" href="../elements/id-28533.html"  target="element">

				  		<area shape="rect" coords="10,10,257,223" href="../elements/id-28564.html"  target="element">

			   </map>

			<div role="tabpanel">
				<!-- Nav tabs -->
				<ul class="nav nav-tabs" role="tablist">
                    <!-- Purpose / Documentation / Content -->
					   <li role="presentation" class="active"><a href="#documentation" aria-controls="documentation" role="tab" data-toggle="tab" class="i18n-documentation"></a></li>

                    <!-- Properties -->
                    <li role="presentation"><a href="#properties" aria-controls="properties" role="tab" data-toggle="tab" class="i18n-properties"></a></li>

						<li role="presentation"><a href="#elements" aria-controls="elements" role="tab" data-toggle="tab" class="i18n-elements"></a></li>
						<li role="presentation"><a href="#relationships" aria-controls="relationships" role="tab" data-toggle="tab" class="i18n-relationships"></a></li>
                    <!-- Model, Query Tab -->
				</ul>

				<!-- Tab panes -->
				<div class="tab-content">
					<div role="tabpanel" class="tab-pane active" id="documentation">
						<div class="convertlinks documentation" style="white-space:pre-wrap">Dit diagram geeft de capabilities op alle drie de niveaus weer.
Daarnaast worden in de niveau-3 capabilities de bedrijfsobjecten afgebeeld die daarbij worden aangemaakt of gemuteerd.
Een bedrijfsobject kan in meerdere (level 3) capabilities worden aangemaakt of gemuteerd, vandaar dat sommige bedijfsobjecten meerdere keren op het diagram zijn afgebeeld.

Aan de andere kant kunnen er niveau 3 capabilities zijn waarin geen bedrijfsobject wordt aangemaakt of gemuteerd.

De meeste bedrijfsobjecten zijn met een associatierelatie gerelateerd aan de bijbehorende niveau 3 - capability. Uitzondering hierop vormen de subtypes (deelverzamelingen) van een ander bedrijfsobject (het supertype), Hierbij is het supertype wel gerelateerd aan de niveau 3 capability, maar de subtypes niet. De laatste zijn wel afgebeeld in dit diagram door ook hen in de bijbehorende niveau 3 capability te tekenen.

Niveaus 1 en 2 van de bedrijfsobjecten zijn in dit diagram niet afgebeeld (maar zij zijn wel terug te vinden in de relaties).</div>
					</div>
					<div role="tabpanel" class="tab-pane" id="properties">
						<table class="table table-striped table-hover table-condensed">
							<thead>
								<tr>
									<th class="i18n-key"></th>
									<th class="i18n-value"></th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
					</div>
						<div role="tabpanel" class="tab-pane" id="elements">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
									</tr>
								</thead>
								<tbody>
											<tr>
											    <td> <a href="../elements/id-28564.html" target="element"> C.1. Klanten bedienen </a> </td>
											    <td> <a href="../elements/id-28564.html" target="element" class="i18n-elementtype-Capability">
											    </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/id-28533.html" target="element"> Domein Klant </a> </td>
													    <td> <a href="../elements/id-28533.html" target="element" class="i18n-elementtype-BusinessObject">
													    </a> </td>
													</tr>

											
											<tr>
											    <td> <a href="../elements/id-28552.html" target="element"> C.2. Energie transporteren </a> </td>
											    <td> <a href="../elements/id-28552.html" target="element" class="i18n-elementtype-Capability">
											    </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/id-28536.html" target="element"> Domein Energietransport </a> </td>
													    <td> <a href="../elements/id-28536.html" target="element" class="i18n-elementtype-BusinessObject">
													    </a> </td>
													</tr>

											
											<tr>
											    <td> <a href="../elements/id-28547.html" target="element"> C.3. Ontwikkeling en instandhouding van energienetten besturen </a> </td>
											    <td> <a href="../elements/id-28547.html" target="element" class="i18n-elementtype-Capability">
											    </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/id-28568.html" target="element"> Domein Energienet </a> </td>
													    <td> <a href="../elements/id-28568.html" target="element" class="i18n-elementtype-BusinessObject">
													    </a> </td>
													</tr>

											
											<tr>
											    <td> <a href="../elements/id-28562.html" target="element"> C.4. Energietransport en -netten meten </a> </td>
											    <td> <a href="../elements/id-28562.html" target="element" class="i18n-elementtype-Capability">
											    </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/id-28572.html" target="element"> Domein Meting </a> </td>
													    <td> <a href="../elements/id-28572.html" target="element" class="i18n-elementtype-BusinessObject">
													    </a> </td>
													</tr>

											
											<tr>
											    <td> <a href="../elements/id-28550.html" target="element"> C.5. Werkzaamheden uitvoeren aan energienetten </a> </td>
											    <td> <a href="../elements/id-28550.html" target="element" class="i18n-elementtype-Capability">
											    </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/id-28570.html" target="element"> Domein Werk </a> </td>
													    <td> <a href="../elements/id-28570.html" target="element" class="i18n-elementtype-BusinessObject">
													    </a> </td>
													</tr>

											
											<tr>
											    <td> <a href="../elements/id-28566.html" target="element"> C.6. De energiemarkt faciliteren </a> </td>
											    <td> <a href="../elements/id-28566.html" target="element" class="i18n-elementtype-Capability">
											    </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/id-28538.html" target="element"> Domein Energiemarkt </a> </td>
													    <td> <a href="../elements/id-28538.html" target="element" class="i18n-elementtype-BusinessObject">
													    </a> </td>
													</tr>

											

								</tbody>
							</table>
						</div>
						<div role="tabpanel" class="tab-pane" id="relationships">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
										<th class="i18n-source"></th>
										<th class="i18n-target"></th>
									</tr>
								</thead>
								<tbody>
																			<tr>
																				<td> <a href="../elements/id-29729.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-29729.html" target="element" class="i18n-elementtype-AssociationRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-28533.html" target="element"> Domein Klant </a> </td>
																				<td> <a href="../elements/id-28564.html" target="element"> C.1. Klanten bedienen </a> </td>
																			</tr>

											
																	<tr>
																		<td> <a href="../elements/id-28998.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-28998.html" target="element" class="i18n-elementtype-AssociationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-28552.html" target="element"> C.2. Energie transporteren </a> </td>
																		<td> <a href="../elements/id-28536.html" target="element"> Domein Energietransport </a> </td>
																	</tr>

											
																	<tr>
																		<td> <a href="../elements/id-29037.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-29037.html" target="element" class="i18n-elementtype-AssociationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-28547.html" target="element"> C.3. Ontwikkeling en instandhouding van energienetten besturen </a> </td>
																		<td> <a href="../elements/id-28568.html" target="element"> Domein Energienet </a> </td>
																	</tr>

											
																	<tr>
																		<td> <a href="../elements/id-28687.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-28687.html" target="element" class="i18n-elementtype-AssociationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-28562.html" target="element"> C.4. Energietransport en -netten meten </a> </td>
																		<td> <a href="../elements/id-28572.html" target="element"> Domein Meting </a> </td>
																	</tr>

											
																	<tr>
																		<td> <a href="../elements/id-28683.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-28683.html" target="element" class="i18n-elementtype-AssociationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-28550.html" target="element"> C.5. Werkzaamheden uitvoeren aan energienetten </a> </td>
																		<td> <a href="../elements/id-28570.html" target="element"> Domein Werk </a> </td>
																	</tr>

											
																	<tr>
																		<td> <a href="../elements/id-28666.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-28666.html" target="element" class="i18n-elementtype-AssociationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-28566.html" target="element"> C.6. De energiemarkt faciliteren </a> </td>
																		<td> <a href="../elements/id-28538.html" target="element"> Domein Energiemarkt </a> </td>
																	</tr>

											

								</tbody>
							</table>
						</div>
			  </div>
			</div>
		</div>
	</div>
	<script type="text/javascript">imageMapResize();</script>
</body>
</html>