<!DOCTYPE html>
<html class="frame" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
	<title>L2 E object relationships</title>

	<!-- JQUERY -->
	<script type="text/javascript" src="../../lib/jquery/jquery.min.js"></script>
	<!-- BOOTSTRAP -->
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap.min.yeti.css">
	<script type="text/javascript" src="../../lib/bootstrap/js/bootstrap-3.3.2.min.js"></script>
	<!-- REPORT SPECIFIC -->
	<link type="text/css" rel="stylesheet" href="../../css/model.css">
	<link type="text/css" rel="stylesheet" href="../../css/i18n.css">
	<script type="text/javascript" src="../../js/frame.js"></script>
	<script type="text/javascript" src="../../js/imageMapResizer.min.js"></script>
</head>

<body>
	<div class="panel panel-default root-panel">

		<div class="panel-heading root-panel-heading">
            <!-- Name -->
               <b>L2 E object relationships</b>

            <!-- If a View with Viewpoint -->
			   (<span class="i18n-viewpoint-"></span>)
			   <a class="glyphicon glyphicon-info-sign" id="hint-viewpoint_" target="hint"></a>
            <!-- Or if a model (i.e has Purpose method) -->
		</div>

		<div class="panel-body root-panel-body">
		    <!-- If this is a digram model (has children and no bounds) show the image -->
			   <img class="diagram" src="../images/id-311b3ec4d9574f38a6fdcc34fe1c9240.png" alt="L2 E object relationships" usemap="#id-311b3ec4d9574f38a6fdcc34fe1c9240map"/>
			   <map name="id-311b3ec4d9574f38a6fdcc34fe1c9240map">
				  		<area shape="rect" coords="190,130,359,178" href="../elements/id-736116.html"  target="element">
				  		<area shape="rect" coords="10,10,1079,59" href="../elements/id-736160.html"  target="element">
				  		<area shape="rect" coords="370,370,539,419" href="../elements/id-736102.html"  target="element">
				  		<area shape="rect" coords="10,490,179,539" href="../elements/id-736170.html"  target="element">
				  		<area shape="rect" coords="910,130,1079,179" href="../elements/id-736031.html"  target="element">
				  		<area shape="rect" coords="550,250,719,298" href="../elements/id-736075.html"  target="element">
				  		<area shape="rect" coords="10,370,359,419" href="../elements/id-736164.html"  target="element">
				  		<area shape="rect" coords="190,490,359,539" href="../elements/id-736174.html"  target="element">
				  		<area shape="rect" coords="910,250,1079,299" href="../elements/id-736021.html"  target="element">
				  		<area shape="rect" coords="730,610,899,659" href="../elements/id-736046.html"  target="element">
				  		<area shape="rect" coords="10,130,179,179" href="../elements/id-736126.html"  target="element">
				  		<area shape="rect" coords="550,490,719,539" href="../elements/id-736081.html"  target="element">
				  		<area shape="rect" coords="730,490,899,539" href="../elements/id-736041.html"  target="element">
				  		<area shape="rect" coords="550,370,899,419" href="../elements/id-736069.html"  target="element">
				  		<area shape="rect" coords="910,370,1079,419" href="../elements/id-736013.html"  target="element">
				  		<area shape="rect" coords="10,250,539,299" href="../elements/id-736096.html"  target="element">
				  		<area shape="rect" coords="550,130,719,179" href="../elements/id-736086.html"  target="element">
				  		<area shape="rect" coords="10,610,359,659" href="../elements/id-736178.html"  target="element">
				  		<area shape="rect" coords="730,250,899,299" href="../elements/id-736059.html"  target="element">
				  		<area shape="rect" coords="370,130,539,179" href="../elements/id-736150.html"  target="element">
				  		<area shape="rect" coords="730,130,899,179" href="../elements/id-736053.html"  target="element">

			   </map>

			<div role="tabpanel">
				<!-- Nav tabs -->
				<ul class="nav nav-tabs" role="tablist">
                    <!-- Purpose / Documentation / Content -->
					   <li role="presentation" class="active"><a href="#documentation" aria-controls="documentation" role="tab" data-toggle="tab" class="i18n-documentation"></a></li>

                    <!-- Properties -->
                    <li role="presentation"><a href="#properties" aria-controls="properties" role="tab" data-toggle="tab" class="i18n-properties"></a></li>

						<li role="presentation"><a href="#elements" aria-controls="elements" role="tab" data-toggle="tab" class="i18n-elements"></a></li>
						<li role="presentation"><a href="#relationships" aria-controls="relationships" role="tab" data-toggle="tab" class="i18n-relationships"></a></li>
                    <!-- Model, Query Tab -->
				</ul>

				<!-- Tab panes -->
				<div class="tab-content">
					<div role="tabpanel" class="tab-pane active" id="documentation">
						<div class="convertlinks documentation" style="white-space:pre-wrap"></div>
					</div>
					<div role="tabpanel" class="tab-pane" id="properties">
						<table class="table table-striped table-hover table-condensed">
							<thead>
								<tr>
									<th class="i18n-key"></th>
									<th class="i18n-value"></th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
					</div>
						<div role="tabpanel" class="tab-pane" id="elements">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
									</tr>
								</thead>
								<tbody>
											<tr>
											    <td> <a href="../elements/id-736053.html" target="element"> Inkoopstrategie </a> </td>
											    <td> <a href="../elements/id-736053.html" target="element" class="i18n-elementtype-BusinessObject">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-736150.html" target="element"> Transformatie </a> </td>
											    <td> <a href="../elements/id-736150.html" target="element" class="i18n-elementtype-BusinessObject">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-736059.html" target="element"> Inkoopovereenkomst </a> </td>
											    <td> <a href="../elements/id-736059.html" target="element" class="i18n-elementtype-BusinessObject">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-736178.html" target="element"> Digitaalproductprestatie </a> </td>
											    <td> <a href="../elements/id-736178.html" target="element" class="i18n-elementtype-BusinessObject">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-736086.html" target="element"> Medewerkersstrategie </a> </td>
											    <td> <a href="../elements/id-736086.html" target="element" class="i18n-elementtype-BusinessObject">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-736096.html" target="element"> Proces </a> </td>
											    <td> <a href="../elements/id-736096.html" target="element" class="i18n-elementtype-BusinessObject">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-736013.html" target="element"> Financieel feit </a> </td>
											    <td> <a href="../elements/id-736013.html" target="element" class="i18n-elementtype-BusinessObject">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-736069.html" target="element"> Medewerker </a> </td>
											    <td> <a href="../elements/id-736069.html" target="element" class="i18n-elementtype-BusinessObject">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-736041.html" target="element"> Bedrijfsgebouw </a> </td>
											    <td> <a href="../elements/id-736041.html" target="element" class="i18n-elementtype-BusinessObject">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-736081.html" target="element"> Medewerkersprestatie </a> </td>
											    <td> <a href="../elements/id-736081.html" target="element" class="i18n-elementtype-BusinessObject">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-736126.html" target="element"> Risico </a> </td>
											    <td> <a href="../elements/id-736126.html" target="element" class="i18n-elementtype-BusinessObject">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-736046.html" target="element"> Facilitair product </a> </td>
											    <td> <a href="../elements/id-736046.html" target="element" class="i18n-elementtype-BusinessObject">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-736021.html" target="element"> Vermogen en liquiditeit </a> </td>
											    <td> <a href="../elements/id-736021.html" target="element" class="i18n-elementtype-BusinessObject">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-736174.html" target="element"> Digitaalproductinstantie </a> </td>
											    <td> <a href="../elements/id-736174.html" target="element" class="i18n-elementtype-BusinessObject">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-736164.html" target="element"> Digitaal product </a> </td>
											    <td> <a href="../elements/id-736164.html" target="element" class="i18n-elementtype-BusinessObject">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-736075.html" target="element"> Medewerkersovereenkomst </a> </td>
											    <td> <a href="../elements/id-736075.html" target="element" class="i18n-elementtype-BusinessObject">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-736031.html" target="element"> Financi&#235;le strategie </a> </td>
											    <td> <a href="../elements/id-736031.html" target="element" class="i18n-elementtype-BusinessObject">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-736170.html" target="element"> Digitaalproductwijziging </a> </td>
											    <td> <a href="../elements/id-736170.html" target="element" class="i18n-elementtype-BusinessObject">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-736102.html" target="element"> Data </a> </td>
											    <td> <a href="../elements/id-736102.html" target="element" class="i18n-elementtype-BusinessObject">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-736160.html" target="element"> Bedrijfsstrategie </a> </td>
											    <td> <a href="../elements/id-736160.html" target="element" class="i18n-elementtype-BusinessObject">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-736116.html" target="element"> Stakeholderafstemming </a> </td>
											    <td> <a href="../elements/id-736116.html" target="element" class="i18n-elementtype-BusinessObject">
											    </a> </td>
											</tr>


								</tbody>
							</table>
						</div>
						<div role="tabpanel" class="tab-pane" id="relationships">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
										<th class="i18n-source"></th>
										<th class="i18n-target"></th>
									</tr>
								</thead>
								<tbody>
																	<tr>
																		<td> <a href="../elements/id-61c0f32512c544e19ba761aa467c20ba.html" target="element"> op basis van </a> </td>
																		<td> <a href="../elements/id-61c0f32512c544e19ba761aa467c20ba.html" target="element" class="i18n-elementtype-AssociationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-736053.html" target="element"> Inkoopstrategie </a> </td>
																		<td> <a href="../elements/id-736160.html" target="element"> Bedrijfsstrategie </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-29eeb31631b2413ca31e84c3e1c880b9.html" target="element"> van </a> </td>
																		<td> <a href="../elements/id-29eeb31631b2413ca31e84c3e1c880b9.html" target="element" class="i18n-elementtype-AssociationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-736150.html" target="element"> Transformatie </a> </td>
																		<td> <a href="../elements/id-736096.html" target="element"> Proces </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-1dff8b3e0bbd428d9a0f73f22c0bae2d.html" target="element"> op basis van </a> </td>
																		<td> <a href="../elements/id-1dff8b3e0bbd428d9a0f73f22c0bae2d.html" target="element" class="i18n-elementtype-AssociationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-736150.html" target="element"> Transformatie </a> </td>
																		<td> <a href="../elements/id-736160.html" target="element"> Bedrijfsstrategie </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-7914a30f4696413ba12591846e60436b.html" target="element"> op basis van </a> </td>
																		<td> <a href="../elements/id-7914a30f4696413ba12591846e60436b.html" target="element" class="i18n-elementtype-AssociationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-736059.html" target="element"> Inkoopovereenkomst </a> </td>
																		<td> <a href="../elements/id-736053.html" target="element"> Inkoopstrategie </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-011c62b3ff944867a23e6cc97942272b.html" target="element"> van </a> </td>
																		<td> <a href="../elements/id-011c62b3ff944867a23e6cc97942272b.html" target="element" class="i18n-elementtype-AssociationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-736178.html" target="element"> Digitaalproductprestatie </a> </td>
																		<td> <a href="../elements/id-736174.html" target="element"> Digitaalproductinstantie </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-748b442d2c624c1899db12cfe3b98074.html" target="element"> op basis van </a> </td>
																		<td> <a href="../elements/id-748b442d2c624c1899db12cfe3b98074.html" target="element" class="i18n-elementtype-AssociationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-736086.html" target="element"> Medewerkersstrategie </a> </td>
																		<td> <a href="../elements/id-736160.html" target="element"> Bedrijfsstrategie </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-fc10d1b837ea420ba85a0d4021b8d153.html" target="element"> van </a> </td>
																		<td> <a href="../elements/id-fc10d1b837ea420ba85a0d4021b8d153.html" target="element" class="i18n-elementtype-AssociationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-736013.html" target="element"> Financieel feit </a> </td>
																		<td> <a href="../elements/id-736021.html" target="element"> Vermogen en liquiditeit </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-e4ba41ca89b2497ea0074d40c5b83acb.html" target="element"> gebruiker van </a> </td>
																		<td> <a href="../elements/id-e4ba41ca89b2497ea0074d40c5b83acb.html" target="element" class="i18n-elementtype-AssociationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-736069.html" target="element"> Medewerker </a> </td>
																		<td> <a href="../elements/id-736041.html" target="element"> Bedrijfsgebouw </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-c147b6de51c842ab9cf80d87c084794c.html" target="element"> van </a> </td>
																		<td> <a href="../elements/id-c147b6de51c842ab9cf80d87c084794c.html" target="element" class="i18n-elementtype-AssociationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-736081.html" target="element"> Medewerkersprestatie </a> </td>
																		<td> <a href="../elements/id-736069.html" target="element"> Medewerker </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-2f9503ea63e445d59521939cacf66536.html" target="element"> voor gebruik van </a> </td>
																		<td> <a href="../elements/id-2f9503ea63e445d59521939cacf66536.html" target="element" class="i18n-elementtype-AssociationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-736046.html" target="element"> Facilitair product </a> </td>
																		<td> <a href="../elements/id-736041.html" target="element"> Bedrijfsgebouw </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-ba0aabdced3e4f29b7c43c7bed372dfc.html" target="element"> op basis van </a> </td>
																		<td> <a href="../elements/id-ba0aabdced3e4f29b7c43c7bed372dfc.html" target="element" class="i18n-elementtype-AssociationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-736021.html" target="element"> Vermogen en liquiditeit </a> </td>
																		<td> <a href="../elements/id-736031.html" target="element"> Financi&#235;le strategie </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-fd3cee4edb0c4de7a4faddb44b69971f.html" target="element"> van </a> </td>
																		<td> <a href="../elements/id-fd3cee4edb0c4de7a4faddb44b69971f.html" target="element" class="i18n-elementtype-AssociationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-736174.html" target="element"> Digitaalproductinstantie </a> </td>
																		<td> <a href="../elements/id-736164.html" target="element"> Digitaal product </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-e8d473b9aca244d587e94f42739490c1.html" target="element"> ondersteunend bij </a> </td>
																		<td> <a href="../elements/id-e8d473b9aca244d587e94f42739490c1.html" target="element" class="i18n-elementtype-AssociationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-736164.html" target="element"> Digitaal product </a> </td>
																		<td> <a href="../elements/id-736096.html" target="element"> Proces </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-ef9040b2e31d483cad5db55707559a81.html" target="element"> op basis van </a> </td>
																		<td> <a href="../elements/id-ef9040b2e31d483cad5db55707559a81.html" target="element" class="i18n-elementtype-AssociationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-736075.html" target="element"> Medewerkersovereenkomst </a> </td>
																		<td> <a href="../elements/id-736086.html" target="element"> Medewerkersstrategie </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-6826d1058b3d42468cf02461f295d3d1.html" target="element"> met </a> </td>
																		<td> <a href="../elements/id-6826d1058b3d42468cf02461f295d3d1.html" target="element" class="i18n-elementtype-AssociationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-736075.html" target="element"> Medewerkersovereenkomst </a> </td>
																		<td> <a href="../elements/id-736069.html" target="element"> Medewerker </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-eab8c050b0d94f1b98ebb3efb3b22641.html" target="element"> op basis van </a> </td>
																		<td> <a href="../elements/id-eab8c050b0d94f1b98ebb3efb3b22641.html" target="element" class="i18n-elementtype-AssociationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-736031.html" target="element"> Financi&#235;le strategie </a> </td>
																		<td> <a href="../elements/id-736160.html" target="element"> Bedrijfsstrategie </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-aaf67d4cb1784c6f8fa3374b6d6046a2.html" target="element"> van </a> </td>
																		<td> <a href="../elements/id-aaf67d4cb1784c6f8fa3374b6d6046a2.html" target="element" class="i18n-elementtype-AssociationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-736170.html" target="element"> Digitaalproductwijziging </a> </td>
																		<td> <a href="../elements/id-736164.html" target="element"> Digitaal product </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-e0a1aa45cf9b4f1183ac6fa1ae9302f3.html" target="element"> verwerkt in </a> </td>
																		<td> <a href="../elements/id-e0a1aa45cf9b4f1183ac6fa1ae9302f3.html" target="element" class="i18n-elementtype-AssociationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-736102.html" target="element"> Data </a> </td>
																		<td> <a href="../elements/id-736096.html" target="element"> Proces </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-a4f39b9c67b74f529790e174979f019e.html" target="element"> op basis van </a> </td>
																		<td> <a href="../elements/id-a4f39b9c67b74f529790e174979f019e.html" target="element" class="i18n-elementtype-AssociationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-736160.html" target="element"> Bedrijfsstrategie </a> </td>
																		<td> <a href="../elements/id-736126.html" target="element"> Risico </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-d3f5b2cee5c042fb9de96470701a7d1b.html" target="element"> op basis van </a> </td>
																		<td> <a href="../elements/id-d3f5b2cee5c042fb9de96470701a7d1b.html" target="element" class="i18n-elementtype-AssociationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-736116.html" target="element"> Stakeholderafstemming </a> </td>
																		<td> <a href="../elements/id-736160.html" target="element"> Bedrijfsstrategie </a> </td>
																	</tr>


								</tbody>
							</table>
						</div>
			  </div>
			</div>
		</div>
	</div>
	<script type="text/javascript">imageMapResize();</script>
</body>
</html>