<!DOCTYPE html>
<html class="frame" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
	<title>N3 waardestroom(stappen) samenvatting P.B</title>

	<!-- JQUERY -->
	<script type="text/javascript" src="../../lib/jquery/jquery.min.js"></script>
	<!-- BOOTSTRAP -->
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap.min.yeti.css">
	<script type="text/javascript" src="../../lib/bootstrap/js/bootstrap-3.3.2.min.js"></script>
	<!-- REPORT SPECIFIC -->
	<link type="text/css" rel="stylesheet" href="../../css/model.css">
	<link type="text/css" rel="stylesheet" href="../../css/i18n.css">
	<script type="text/javascript" src="../../js/frame.js"></script>
	<script type="text/javascript" src="../../js/imageMapResizer.min.js"></script>
</head>

<body>
	<div class="panel panel-default root-panel">

		<div class="panel-heading root-panel-heading">
            <!-- Name -->
               <b>N3 waardestroom(stappen) samenvatting P.B</b>

            <!-- If a View with Viewpoint -->
			   (<span class="i18n-viewpoint-"></span>)
			   <a class="glyphicon glyphicon-info-sign" id="hint-viewpoint_" target="hint"></a>
            <!-- Or if a model (i.e has Purpose method) -->
		</div>

		<div class="panel-body root-panel-body">
		    <!-- If this is a digram model (has children and no bounds) show the image -->
			   <img class="diagram" src="../images/id-47e1d9e59883489c963b5d9889e3c741.png" alt="N3 waardestroom(stappen) samenvatting P.B" usemap="#id-47e1d9e59883489c963b5d9889e3c741map"/>
			   <map name="id-47e1d9e59883489c963b5d9889e3c741map">
				  				<area shape="rect" coords="3071,310,3311,334" href="../elements/id-722918.html"  target="element">

				  		<area shape="rect" coords="3059,262,3323,346" href="../elements/id-718737.html"  target="element">
				  				<area shape="rect" coords="1415,310,1655,335" href="../elements/id-723037.html"  target="element">

				  		<area shape="rect" coords="1403,262,1667,347" href="../elements/id-718726.html"  target="element">
				  				<area shape="rect" coords="2795,310,3036,335" href="../elements/id-468873.html"  target="element">

				  		<area shape="rect" coords="2783,262,3048,347" href="../elements/id-edf64465261b45aeb7a1a82f1de53cbe.html"  target="element">
				  				<area shape="rect" coords="587,310,827,334" href="../elements/id-470129.html"  target="element">

				  		<area shape="rect" coords="575,262,839,346" href="../elements/id-718760.html"  target="element">
				  				<area shape="rect" coords="863,309,1103,333" href="../elements/id-469480.html"  target="element">

				  		<area shape="rect" coords="851,261,1115,346" href="../elements/id-718772.html"  target="element">
				  				<area shape="rect" coords="3623,310,3863,334" href="../elements/id-469274.html"  target="element">

				  		<area shape="rect" coords="3611,262,3875,347" href="../elements/id-718770.html"  target="element">
				  				<area shape="rect" coords="3899,310,4140,335" href="../elements/id-469958.html"  target="element">

				  		<area shape="rect" coords="3887,262,4152,347" href="../elements/id-718750.html"  target="element">
				  				<area shape="rect" coords="35,310,275,334" href="../elements/id-722954.html"  target="element">

				  		<area shape="rect" coords="23,262,287,346" href="../elements/id-718810.html"  target="element">
				  				<area shape="rect" coords="2519,310,2760,335" href="../elements/id-c6868b832fb2474684d4cc4e6397a946.html"  target="element">

				  		<area shape="rect" coords="2507,262,2771,346" href="../elements/id-718693.html"  target="element">
				  				<area shape="rect" coords="311,310,552,335" href="../elements/id-469958.html"  target="element">

				  		<area shape="rect" coords="299,262,563,347" href="../elements/id-718750.html"  target="element">
				  				<area shape="rect" coords="2243,310,2483,334" href="../elements/id-472136.html"  target="element">

				  		<area shape="rect" coords="2231,262,2495,346" href="../elements/id-718733.html"  target="element">
				  				<area shape="rect" coords="1967,310,2207,334" href="../elements/id-470526.html"  target="element">

				  		<area shape="rect" coords="1955,262,2219,346" href="../elements/id-718695.html"  target="element">
				  				<area shape="rect" coords="3347,310,3587,334" href="../elements/id-469274.html"  target="element">

				  		<area shape="rect" coords="3335,262,3599,347" href="../elements/id-718771.html"  target="element">
				  				<area shape="rect" coords="1139,310,1380,335" href="../elements/id-722939.html"  target="element">

				  		<area shape="rect" coords="1127,262,1392,347" href="../elements/id-718766.html"  target="element">
				  				<area shape="rect" coords="1691,310,1931,334" href="../elements/id-722996.html"  target="element">

				  		<area shape="rect" coords="1679,262,1943,346" href="../elements/id-718736.html"  target="element">
				  		<area shape="rect" coords="3886,179,4151,216" href="../elements/id-943a05b78c564135bc339ff2d886db6a.html"  target="element">
				  		<area shape="rect" coords="3610,179,3875,216" href="../elements/id-316b6cfceb92416e8314cde883eb9b9c.html"  target="element">
				  		<area shape="rect" coords="3334,179,3599,216" href="../elements/id-eb3519afe9bc48dab4c4eb814f379399.html"  target="element">
				  		<area shape="rect" coords="3058,179,3323,216" href="../elements/id-4be2b4c549f740ccbd071d04ca99053c.html"  target="element">
				  		<area shape="rect" coords="2782,179,3047,216" href="../elements/id-647c6cff563d45f08167359c3e0c216f.html"  target="element">
				  		<area shape="rect" coords="2506,178,2771,216" href="../elements/id-a635b069cab84890b226d950add472f0.html"  target="element">
				  		<area shape="rect" coords="2230,178,2495,216" href="../elements/id-f3f5c6e5f38f4db8b2efbe0d191dce19.html"  target="element">
				  		<area shape="rect" coords="1954,178,2219,216" href="../elements/id-99ff64b0499c4528b926e466234caf3a.html"  target="element">
				  		<area shape="rect" coords="1678,178,1943,216" href="../elements/id-55bff71c3e5f4385b29d047e2fb1cdac.html"  target="element">
				  		<area shape="rect" coords="1402,179,1667,216" href="../elements/id-a96900f039454bb991186bfdd53d74af.html"  target="element">
				  		<area shape="rect" coords="1126,179,1391,216" href="../elements/id-808a7ec234114ed88d6ebfb26b2381df.html"  target="element">
				  		<area shape="rect" coords="850,179,1115,216" href="../elements/id-8206f52486e14d08b338fb6f0f179dd6.html"  target="element">
				  		<area shape="rect" coords="574,179,839,216" href="../elements/id-ac3f51f6d3164425ae798376d9ce38db.html"  target="element">
				  		<area shape="rect" coords="298,177,563,216" href="../elements/id-0f660e51e1c849b4986320e12472717b.html"  target="element">
				  		<area shape="rect" coords="22,178,287,217" href="../elements/id-f1c34e9a961b4185b96aa2d2982506ce.html"  target="element">
				  				<area shape="rect" coords="2506,58,2771,113" href="../elements/id-5879137c8a2443fe89086c5c1b0dfdf8.html"  target="element">
				  				<area shape="rect" coords="3334,58,3599,113" href="../elements/id-98fa07683919410882e89af9a2bd9da3.html"  target="element">
				  				<area shape="rect" coords="574,58,839,113" href="../elements/id-2ba43f1c1aed4cdea5ec2379b26b17d9.html"  target="element">
				  				<area shape="rect" coords="1954,58,2219,113" href="../elements/id-dd8d85a142674fb28d9b5b893590e90b.html"  target="element">
				  				<area shape="rect" coords="2230,58,2495,113" href="../elements/id-27f94aac7632499598f1e989a5eeca69.html"  target="element">
				  				<area shape="rect" coords="3058,58,3323,113" href="../elements/id-1bf0fdf33658458dbf2132f8481d11ec.html"  target="element">
				  				<area shape="rect" coords="22,58,287,113" href="../elements/id-297eee1e973640f2822e1bacfbd0bd4f.html"  target="element">
				  				<area shape="rect" coords="298,58,563,113" href="../elements/id-ab1379b9161b42f7b6dd15fff0c7d69e.html"  target="element">
				  				<area shape="rect" coords="2782,58,3047,113" href="../elements/id-4e51509b331a4fa7a98f6e6d6e57d242.html"  target="element">
				  				<area shape="rect" coords="1402,58,1667,113" href="../elements/id-ac8f2b01b2114141bb0337c3a9d8e45c.html"  target="element">
				  				<area shape="rect" coords="3610,58,3875,113" href="../elements/id-289e905698a84bd89500636ced565577.html"  target="element">
				  				<area shape="rect" coords="3886,58,4151,113" href="../elements/id-7600f400283944a4a5bf11e0462a2a3b.html"  target="element">
				  				<area shape="rect" coords="1126,58,1391,113" href="../elements/id-0cbd107da3e442c1911f6c3ec9944116.html"  target="element">
				  				<area shape="rect" coords="1678,58,1943,113" href="../elements/id-15274eae48814083a13cafa41533f5d7.html"  target="element">
				  				<area shape="rect" coords="850,58,1115,113" href="../elements/id-718a0f8eb4ee4f9aa9b8ee48be3f7152.html"  target="element">

				  		<area shape="rect" coords="10,10,4163,131" href="../elements/id-1c1d6f6d910a432f94a16f80147f0e4b.html"  target="element">

			   </map>

			<div role="tabpanel">
				<!-- Nav tabs -->
				<ul class="nav nav-tabs" role="tablist">
                    <!-- Purpose / Documentation / Content -->
					   <li role="presentation" class="active"><a href="#documentation" aria-controls="documentation" role="tab" data-toggle="tab" class="i18n-documentation"></a></li>

                    <!-- Properties -->
                    <li role="presentation"><a href="#properties" aria-controls="properties" role="tab" data-toggle="tab" class="i18n-properties"></a></li>

						<li role="presentation"><a href="#elements" aria-controls="elements" role="tab" data-toggle="tab" class="i18n-elements"></a></li>
						<li role="presentation"><a href="#relationships" aria-controls="relationships" role="tab" data-toggle="tab" class="i18n-relationships"></a></li>
                    <!-- Model, Query Tab -->
				</ul>

				<!-- Tab panes -->
				<div class="tab-content">
					<div role="tabpanel" class="tab-pane active" id="documentation">
						<div class="convertlinks documentation" style="white-space:pre-wrap"></div>
					</div>
					<div role="tabpanel" class="tab-pane" id="properties">
						<table class="table table-striped table-hover table-condensed">
							<thead>
								<tr>
									<th class="i18n-key"></th>
									<th class="i18n-value"></th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
					</div>
						<div role="tabpanel" class="tab-pane" id="elements">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
									</tr>
								</thead>
								<tbody>
											<tr>
											    <td> <a href="../elements/id-1c1d6f6d910a432f94a16f80147f0e4b.html" target="element"> Reconstrueren van energienetten </a> </td>
											    <td> <a href="../elements/id-1c1d6f6d910a432f94a16f80147f0e4b.html" target="element" class="i18n-elementtype-BusinessProcess">
											    </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/id-718a0f8eb4ee4f9aa9b8ee48be3f7152.html" target="element"> Overeenkomen reconstructie </a> </td>
													    <td> <a href="../elements/id-718a0f8eb4ee4f9aa9b8ee48be3f7152.html" target="element" class="i18n-elementtype-BusinessProcess">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-15274eae48814083a13cafa41533f5d7.html" target="element"> Opstellen voorlopig en definitief ontwerp reconstructie </a> </td>
													    <td> <a href="../elements/id-15274eae48814083a13cafa41533f5d7.html" target="element" class="i18n-elementtype-BusinessProcess">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-0cbd107da3e442c1911f6c3ec9944116.html" target="element"> Informeren over reconstructie </a> </td>
													    <td> <a href="../elements/id-0cbd107da3e442c1911f6c3ec9944116.html" target="element" class="i18n-elementtype-BusinessProcess">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-7600f400283944a4a5bf11e0462a2a3b.html" target="element"> Behandelen vraag over reconstructie </a> </td>
													    <td> <a href="../elements/id-7600f400283944a4a5bf11e0462a2a3b.html" target="element" class="i18n-elementtype-BusinessProcess">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-289e905698a84bd89500636ced565577.html" target="element"> Innen reconstructiefactuur </a> </td>
													    <td> <a href="../elements/id-289e905698a84bd89500636ced565577.html" target="element" class="i18n-elementtype-BusinessProcess">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-ac8f2b01b2114141bb0337c3a9d8e45c.html" target="element"> Opstellen programma van eisen en functioneel ontwerp reconstructie </a> </td>
													    <td> <a href="../elements/id-ac8f2b01b2114141bb0337c3a9d8e45c.html" target="element" class="i18n-elementtype-BusinessProcess">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-4e51509b331a4fa7a98f6e6d6e57d242.html" target="element"> Opnemen netcomponenten reconstructie in levenscyclusbeheer </a> </td>
													    <td> <a href="../elements/id-4e51509b331a4fa7a98f6e6d6e57d242.html" target="element" class="i18n-elementtype-BusinessProcess">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-ab1379b9161b42f7b6dd15fff0c7d69e.html" target="element"> In behandeling nemen reconstructieverzoek </a> </td>
													    <td> <a href="../elements/id-ab1379b9161b42f7b6dd15fff0c7d69e.html" target="element" class="i18n-elementtype-BusinessProcess">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-297eee1e973640f2822e1bacfbd0bd4f.html" target="element"> Vindbaar maken reconstructiemogelijkheden </a> </td>
													    <td> <a href="../elements/id-297eee1e973640f2822e1bacfbd0bd4f.html" target="element" class="i18n-elementtype-BusinessProcess">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-1bf0fdf33658458dbf2132f8481d11ec.html" target="element"> Opnemen reconstructie in besturing energietransport </a> </td>
													    <td> <a href="../elements/id-1bf0fdf33658458dbf2132f8481d11ec.html" target="element" class="i18n-elementtype-BusinessProcess">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-27f94aac7632499598f1e989a5eeca69.html" target="element"> Uitvoeren reconstructiewerkzaamheden </a> </td>
													    <td> <a href="../elements/id-27f94aac7632499598f1e989a5eeca69.html" target="element" class="i18n-elementtype-BusinessProcess">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-dd8d85a142674fb28d9b5b893590e90b.html" target="element"> Voorbereiden reconstructiewerkzaamheden </a> </td>
													    <td> <a href="../elements/id-dd8d85a142674fb28d9b5b893590e90b.html" target="element" class="i18n-elementtype-BusinessProcess">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-2ba43f1c1aed4cdea5ec2379b26b17d9.html" target="element"> Offreren reconstructie </a> </td>
													    <td> <a href="../elements/id-2ba43f1c1aed4cdea5ec2379b26b17d9.html" target="element" class="i18n-elementtype-BusinessProcess">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-98fa07683919410882e89af9a2bd9da3.html" target="element"> Factureren reconstructie </a> </td>
													    <td> <a href="../elements/id-98fa07683919410882e89af9a2bd9da3.html" target="element" class="i18n-elementtype-BusinessProcess">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-5879137c8a2443fe89086c5c1b0dfdf8.html" target="element"> Administratief opleveren reconstructiewerkzaamheden </a> </td>
													    <td> <a href="../elements/id-5879137c8a2443fe89086c5c1b0dfdf8.html" target="element" class="i18n-elementtype-BusinessProcess">
													    </a> </td>
													</tr>

											
											<tr>
											    <td> <a href="../elements/id-f1c34e9a961b4185b96aa2d2982506ce.html" target="element"> Gevonden reconstructiemogelijkheid </a> </td>
											    <td> <a href="../elements/id-f1c34e9a961b4185b96aa2d2982506ce.html" target="element" class="i18n-elementtype-Value">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-0f660e51e1c849b4986320e12472717b.html" target="element"> In behandeling genomen aanvraag reconstructiemogelijkheid </a> </td>
											    <td> <a href="../elements/id-0f660e51e1c849b4986320e12472717b.html" target="element" class="i18n-elementtype-Value">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-ac3f51f6d3164425ae798376d9ce38db.html" target="element"> Geoffreerde reconstructiemogelijkheid </a> </td>
											    <td> <a href="../elements/id-ac3f51f6d3164425ae798376d9ce38db.html" target="element" class="i18n-elementtype-Value">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-8206f52486e14d08b338fb6f0f179dd6.html" target="element"> Afgesloten reconstructieovereenkomst </a> </td>
											    <td> <a href="../elements/id-8206f52486e14d08b338fb6f0f179dd6.html" target="element" class="i18n-elementtype-Value">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-808a7ec234114ed88d6ebfb26b2381df.html" target="element"> Gecommuniceerde reconstructie </a> </td>
											    <td> <a href="../elements/id-808a7ec234114ed88d6ebfb26b2381df.html" target="element" class="i18n-elementtype-Value">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-a96900f039454bb991186bfdd53d74af.html" target="element"> Passend functioneel ontwerp reconstructie </a> </td>
											    <td> <a href="../elements/id-a96900f039454bb991186bfdd53d74af.html" target="element" class="i18n-elementtype-Value">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-55bff71c3e5f4385b29d047e2fb1cdac.html" target="element"> Passend technisch ontwerp reconstructie </a> </td>
											    <td> <a href="../elements/id-55bff71c3e5f4385b29d047e2fb1cdac.html" target="element" class="i18n-elementtype-Value">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-99ff64b0499c4528b926e466234caf3a.html" target="element"> Uitvoerbare reconstructiewerkzaamheden </a> </td>
											    <td> <a href="../elements/id-99ff64b0499c4528b926e466234caf3a.html" target="element" class="i18n-elementtype-Value">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-f3f5c6e5f38f4db8b2efbe0d191dce19.html" target="element"> Technisch uitgevoerde reconstructiewerkzaamheden </a> </td>
											    <td> <a href="../elements/id-f3f5c6e5f38f4db8b2efbe0d191dce19.html" target="element" class="i18n-elementtype-Value">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-a635b069cab84890b226d950add472f0.html" target="element"> Administratief opgeleverde reconstructiewerkzaamheden </a> </td>
											    <td> <a href="../elements/id-a635b069cab84890b226d950add472f0.html" target="element" class="i18n-elementtype-Value">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-647c6cff563d45f08167359c3e0c216f.html" target="element"> In levenscyclusbeheer opgenomen netcomponenten reconstructie </a> </td>
											    <td> <a href="../elements/id-647c6cff563d45f08167359c3e0c216f.html" target="element" class="i18n-elementtype-Value">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-4be2b4c549f740ccbd071d04ca99053c.html" target="element"> In transportbesturing opgenomen reconstructie </a> </td>
											    <td> <a href="../elements/id-4be2b4c549f740ccbd071d04ca99053c.html" target="element" class="i18n-elementtype-Value">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-eb3519afe9bc48dab4c4eb814f379399.html" target="element"> Gefactureerde reconstructieovereenkomst </a> </td>
											    <td> <a href="../elements/id-eb3519afe9bc48dab4c4eb814f379399.html" target="element" class="i18n-elementtype-Value">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-316b6cfceb92416e8314cde883eb9b9c.html" target="element"> Betaalde reconstructieovereenkomst </a> </td>
											    <td> <a href="../elements/id-316b6cfceb92416e8314cde883eb9b9c.html" target="element" class="i18n-elementtype-Value">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-943a05b78c564135bc339ff2d886db6a.html" target="element"> Beantwoorde vraag reconstructie </a> </td>
											    <td> <a href="../elements/id-943a05b78c564135bc339ff2d886db6a.html" target="element" class="i18n-elementtype-Value">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-718736.html" target="element"> Voorlopige en definitieve ontwerpen van energienetten opstellen </a> </td>
											    <td> <a href="../elements/id-718736.html" target="element" class="i18n-elementtype-BusinessFunction">
											    </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/id-722996.html" target="element"> Voorlopig of definitief ontwerp </a> </td>
													    <td> <a href="../elements/id-722996.html" target="element" class="i18n-elementtype-BusinessObject">
													    </a> </td>
													</tr>

											
											<tr>
											    <td> <a href="../elements/id-718766.html" target="element"> Service verlenen aan klanten in kanalen </a> </td>
											    <td> <a href="../elements/id-718766.html" target="element" class="i18n-elementtype-BusinessFunction">
											    </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/id-722939.html" target="element"> Klantnotificatie </a> </td>
													    <td> <a href="../elements/id-722939.html" target="element" class="i18n-elementtype-BusinessObject">
													    </a> </td>
													</tr>

											
											<tr>
											    <td> <a href="../elements/id-718771.html" target="element"> Factuur maken en versturen </a> </td>
											    <td> <a href="../elements/id-718771.html" target="element" class="i18n-elementtype-BusinessFunction">
											    </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/id-469274.html" target="element"> Klantfactuur </a> </td>
													    <td> <a href="../elements/id-469274.html" target="element" class="i18n-elementtype-BusinessObject">
													    </a> </td>
													</tr>

											
											<tr>
											    <td> <a href="../elements/id-718695.html" target="element"> Uitvoering van werkzaamheden voorbereiden </a> </td>
											    <td> <a href="../elements/id-718695.html" target="element" class="i18n-elementtype-BusinessFunction">
											    </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/id-470526.html" target="element"> Werkplan </a> </td>
													    <td> <a href="../elements/id-470526.html" target="element" class="i18n-elementtype-BusinessObject">
													    </a> </td>
													</tr>

											
											<tr>
											    <td> <a href="../elements/id-718733.html" target="element"> Werkzaamheden uitvoeren </a> </td>
											    <td> <a href="../elements/id-718733.html" target="element" class="i18n-elementtype-BusinessFunction">
											    </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/id-472136.html" target="element"> Werkactiviteit </a> </td>
													    <td> <a href="../elements/id-472136.html" target="element" class="i18n-elementtype-BusinessObject">
													    </a> </td>
													</tr>

											
											<tr>
											    <td> <a href="../elements/id-718750.html" target="element"> Melding/vraag/verzoek van klanten behandelen </a> </td>
											    <td> <a href="../elements/id-718750.html" target="element" class="i18n-elementtype-BusinessFunction">
											    </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/id-469958.html" target="element"> Klantverzoek </a> </td>
													    <td> <a href="../elements/id-469958.html" target="element" class="i18n-elementtype-BusinessObject">
													    </a> </td>
													</tr>

											
											<tr>
											    <td> <a href="../elements/id-718693.html" target="element"> Werkzaamheden en netcomponenten administratief opleveren </a> </td>
											    <td> <a href="../elements/id-718693.html" target="element" class="i18n-elementtype-BusinessFunction">
											    </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/id-c6868b832fb2474684d4cc4e6397a946.html" target="element"> Netrevisie of bevinding </a> </td>
													    <td> <a href="../elements/id-c6868b832fb2474684d4cc4e6397a946.html" target="element" class="i18n-elementtype-BusinessObject">
													    </a> </td>
													</tr>

											
											<tr>
											    <td> <a href="../elements/id-718810.html" target="element"> Producten en diensten ontwikkelen en beheren </a> </td>
											    <td> <a href="../elements/id-718810.html" target="element" class="i18n-elementtype-BusinessFunction">
											    </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/id-722954.html" target="element"> Klantproduct </a> </td>
													    <td> <a href="../elements/id-722954.html" target="element" class="i18n-elementtype-BusinessObject">
													    </a> </td>
													</tr>

											
											<tr>
											    <td> <a href="../elements/id-718750.html" target="element"> Melding/vraag/verzoek van klanten behandelen </a> </td>
											    <td> <a href="../elements/id-718750.html" target="element" class="i18n-elementtype-BusinessFunction">
											    </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/id-469958.html" target="element"> Klantverzoek </a> </td>
													    <td> <a href="../elements/id-469958.html" target="element" class="i18n-elementtype-BusinessObject">
													    </a> </td>
													</tr>

											
											<tr>
											    <td> <a href="../elements/id-718770.html" target="element"> Openstaande vorderingen innen </a> </td>
											    <td> <a href="../elements/id-718770.html" target="element" class="i18n-elementtype-BusinessFunction">
											    </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/id-469274.html" target="element"> Klantfactuur </a> </td>
													    <td> <a href="../elements/id-469274.html" target="element" class="i18n-elementtype-BusinessObject">
													    </a> </td>
													</tr>

											
											<tr>
											    <td> <a href="../elements/id-718772.html" target="element"> Klantovereenkomsten afsluiten en beheren </a> </td>
											    <td> <a href="../elements/id-718772.html" target="element" class="i18n-elementtype-BusinessFunction">
											    </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/id-469480.html" target="element"> Klantovereenkomst </a> </td>
													    <td> <a href="../elements/id-469480.html" target="element" class="i18n-elementtype-BusinessObject">
													    </a> </td>
													</tr>

											
											<tr>
											    <td> <a href="../elements/id-718760.html" target="element"> Producten aan klanten offreren </a> </td>
											    <td> <a href="../elements/id-718760.html" target="element" class="i18n-elementtype-BusinessFunction">
											    </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/id-470129.html" target="element"> Klantofferte </a> </td>
													    <td> <a href="../elements/id-470129.html" target="element" class="i18n-elementtype-BusinessObject">
													    </a> </td>
													</tr>

											
											<tr>
											    <td> <a href="../elements/id-edf64465261b45aeb7a1a82f1de53cbe.html" target="element"> Netcomponent in levenscyclusbeheer opnemen </a> </td>
											    <td> <a href="../elements/id-edf64465261b45aeb7a1a82f1de53cbe.html" target="element" class="i18n-elementtype-BusinessFunction">
											    </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/id-468873.html" target="element"> Netcomponent </a> </td>
													    <td> <a href="../elements/id-468873.html" target="element" class="i18n-elementtype-BusinessObject">
													    </a> </td>
													</tr>

											
											<tr>
											    <td> <a href="../elements/id-718726.html" target="element"> Programma van eisen/functioneel ontwerp opstellen </a> </td>
											    <td> <a href="../elements/id-718726.html" target="element" class="i18n-elementtype-BusinessFunction">
											    </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/id-723037.html" target="element"> Functioneel ontwerp </a> </td>
													    <td> <a href="../elements/id-723037.html" target="element" class="i18n-elementtype-BusinessObject">
													    </a> </td>
													</tr>

											
											<tr>
											    <td> <a href="../elements/id-718737.html" target="element"> Energienetten opnemen in de besturing van energietransport </a> </td>
											    <td> <a href="../elements/id-718737.html" target="element" class="i18n-elementtype-BusinessFunction">
											    </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/id-722918.html" target="element"> Bedieningssituatie </a> </td>
													    <td> <a href="../elements/id-722918.html" target="element" class="i18n-elementtype-BusinessObject">
													    </a> </td>
													</tr>

											

								</tbody>
							</table>
						</div>
						<div role="tabpanel" class="tab-pane" id="relationships">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
										<th class="i18n-source"></th>
										<th class="i18n-target"></th>
									</tr>
								</thead>
								<tbody>
											
																	<tr>
																		<td> <a href="../elements/id-be1920f6fc634d74bd3a43fd64652c7d.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-be1920f6fc634d74bd3a43fd64652c7d.html" target="element" class="i18n-elementtype-AccessRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-718736.html" target="element"> Voorlopige en definitieve ontwerpen van energienetten opstellen </a> </td>
																		<td> <a href="../elements/id-722996.html" target="element"> Voorlopig of definitief ontwerp </a> </td>
																	</tr>

											
																	<tr>
																		<td> <a href="../elements/id-01fa792742fe4fb5bd37fc02be5134ca.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-01fa792742fe4fb5bd37fc02be5134ca.html" target="element" class="i18n-elementtype-AccessRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-718766.html" target="element"> Service verlenen aan klanten in kanalen </a> </td>
																		<td> <a href="../elements/id-722939.html" target="element"> Klantnotificatie </a> </td>
																	</tr>

											
																	<tr>
																		<td> <a href="../elements/id-ff869d658ff84b39a1b50631d1e7a771.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-ff869d658ff84b39a1b50631d1e7a771.html" target="element" class="i18n-elementtype-AccessRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-718771.html" target="element"> Factuur maken en versturen </a> </td>
																		<td> <a href="../elements/id-469274.html" target="element"> Klantfactuur </a> </td>
																	</tr>

											
																	<tr>
																		<td> <a href="../elements/id-473cb1dcb0684bcf9d07aa4382c39987.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-473cb1dcb0684bcf9d07aa4382c39987.html" target="element" class="i18n-elementtype-AccessRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-718695.html" target="element"> Uitvoering van werkzaamheden voorbereiden </a> </td>
																		<td> <a href="../elements/id-470526.html" target="element"> Werkplan </a> </td>
																	</tr>

											
																	<tr>
																		<td> <a href="../elements/id-32f7bf8b89514789b24ae082b28c6c6d.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-32f7bf8b89514789b24ae082b28c6c6d.html" target="element" class="i18n-elementtype-AccessRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-718733.html" target="element"> Werkzaamheden uitvoeren </a> </td>
																		<td> <a href="../elements/id-472136.html" target="element"> Werkactiviteit </a> </td>
																	</tr>

											
																	<tr>
																		<td> <a href="../elements/id-18cb91e991384741a0494d4b76263c74.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-18cb91e991384741a0494d4b76263c74.html" target="element" class="i18n-elementtype-AccessRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-718750.html" target="element"> Melding/vraag/verzoek van klanten behandelen </a> </td>
																		<td> <a href="../elements/id-469958.html" target="element"> Klantverzoek </a> </td>
																	</tr>

											
																	<tr>
																		<td> <a href="../elements/id-819ef40b035e4acdbccf6b2a85cb21e9.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-819ef40b035e4acdbccf6b2a85cb21e9.html" target="element" class="i18n-elementtype-AccessRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-718693.html" target="element"> Werkzaamheden en netcomponenten administratief opleveren </a> </td>
																		<td> <a href="../elements/id-c6868b832fb2474684d4cc4e6397a946.html" target="element"> Netrevisie of bevinding </a> </td>
																	</tr>

											
																	<tr>
																		<td> <a href="../elements/id-65d78ca4a09e44469608fb773e6f1920.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-65d78ca4a09e44469608fb773e6f1920.html" target="element" class="i18n-elementtype-AccessRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-718810.html" target="element"> Producten en diensten ontwikkelen en beheren </a> </td>
																		<td> <a href="../elements/id-722954.html" target="element"> Klantproduct </a> </td>
																	</tr>

											
																	<tr>
																		<td> <a href="../elements/id-18cb91e991384741a0494d4b76263c74.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-18cb91e991384741a0494d4b76263c74.html" target="element" class="i18n-elementtype-AccessRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-718750.html" target="element"> Melding/vraag/verzoek van klanten behandelen </a> </td>
																		<td> <a href="../elements/id-469958.html" target="element"> Klantverzoek </a> </td>
																	</tr>

											
																	<tr>
																		<td> <a href="../elements/id-8541c0e94b1446819b972af78def357b.html" target="element"> modification </a> </td>
																		<td> <a href="../elements/id-8541c0e94b1446819b972af78def357b.html" target="element" class="i18n-elementtype-AccessRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-718770.html" target="element"> Openstaande vorderingen innen </a> </td>
																		<td> <a href="../elements/id-469274.html" target="element"> Klantfactuur </a> </td>
																	</tr>

											
																	<tr>
																		<td> <a href="../elements/id-564e350290c54a72b02bb454b272ab1c.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-564e350290c54a72b02bb454b272ab1c.html" target="element" class="i18n-elementtype-AccessRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-718772.html" target="element"> Klantovereenkomsten afsluiten en beheren </a> </td>
																		<td> <a href="../elements/id-469480.html" target="element"> Klantovereenkomst </a> </td>
																	</tr>

											
																	<tr>
																		<td> <a href="../elements/id-ef8d258db5244dbf86a66611af635855.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-ef8d258db5244dbf86a66611af635855.html" target="element" class="i18n-elementtype-AccessRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-718760.html" target="element"> Producten aan klanten offreren </a> </td>
																		<td> <a href="../elements/id-470129.html" target="element"> Klantofferte </a> </td>
																	</tr>

											
																	<tr>
																		<td> <a href="../elements/id-65a39466419b4da9a33ff19ba07eac9a.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-65a39466419b4da9a33ff19ba07eac9a.html" target="element" class="i18n-elementtype-AccessRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-edf64465261b45aeb7a1a82f1de53cbe.html" target="element"> Netcomponent in levenscyclusbeheer opnemen </a> </td>
																		<td> <a href="../elements/id-468873.html" target="element"> Netcomponent </a> </td>
																	</tr>

											
																	<tr>
																		<td> <a href="../elements/id-731ba534521c4fe7bd41044c5ee0dd03.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-731ba534521c4fe7bd41044c5ee0dd03.html" target="element" class="i18n-elementtype-AccessRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-718726.html" target="element"> Programma van eisen/functioneel ontwerp opstellen </a> </td>
																		<td> <a href="../elements/id-723037.html" target="element"> Functioneel ontwerp </a> </td>
																	</tr>

											
																	<tr>
																		<td> <a href="../elements/id-5ededb9aa900400cb029a2cbd0d1bed4.html" target="element"> modification </a> </td>
																		<td> <a href="../elements/id-5ededb9aa900400cb029a2cbd0d1bed4.html" target="element" class="i18n-elementtype-AccessRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-718737.html" target="element"> Energienetten opnemen in de besturing van energietransport </a> </td>
																		<td> <a href="../elements/id-722918.html" target="element"> Bedieningssituatie </a> </td>
																	</tr>

											

								</tbody>
							</table>
						</div>
			  </div>
			</div>
		</div>
	</div>
	<script type="text/javascript">imageMapResize();</script>
</body>
</html>