<!DOCTYPE html>
<html class="frame" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
	<title>L2 value stream (stages) P.C</title>

	<!-- JQUERY -->
	<script type="text/javascript" src="../../lib/jquery/jquery.min.js"></script>
	<!-- BOOTSTRAP -->
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap.min.yeti.css">
	<script type="text/javascript" src="../../lib/bootstrap/js/bootstrap-3.3.2.min.js"></script>
	<!-- REPORT SPECIFIC -->
	<link type="text/css" rel="stylesheet" href="../../css/model.css">
	<link type="text/css" rel="stylesheet" href="../../css/i18n.css">
	<script type="text/javascript" src="../../js/frame.js"></script>
	<script type="text/javascript" src="../../js/imageMapResizer.min.js"></script>
</head>

<body>
	<div class="panel panel-default root-panel">

		<div class="panel-heading root-panel-heading">
            <!-- Name -->
               <b>L2 value stream (stages) P.C</b>

            <!-- If a View with Viewpoint -->
			   (<span class="i18n-viewpoint-"></span>)
			   <a class="glyphicon glyphicon-info-sign" id="hint-viewpoint_" target="hint"></a>
            <!-- Or if a model (i.e has Purpose method) -->
		</div>

		<div class="panel-body root-panel-body">
		    <!-- If this is a digram model (has children and no bounds) show the image -->
			   <img class="diagram" src="../images/id-45b4154bc76c4e509f520d31a20c8396.png" alt="L2 value stream (stages) P.C" usemap="#id-45b4154bc76c4e509f520d31a20c8396map"/>
			   <map name="id-45b4154bc76c4e509f520d31a20c8396map">
				  						<area shape="rect" coords="682,106,851,161" href="../elements/id-db84f7346f554c89a24107f5175936dd.html"  target="element">

				  				<area shape="rect" coords="670,58,863,179" href="../elements/id-7008588f520a4d81b8f2cb6294e9ec57.html"  target="element">
				  						<area shape="rect" coords="466,106,647,161" href="../elements/id-2cbe9677b80a4ff28e98beeddbaaaa1e.html"  target="element">

				  				<area shape="rect" coords="454,58,659,179" href="../elements/id-0fb710c35c104ecca417a3933147700a.html"  target="element">
				  						<area shape="rect" coords="250,106,431,161" href="../elements/id-feded690ced34b398739f333ed3a29d9.html"  target="element">

				  				<area shape="rect" coords="238,58,443,179" href="../elements/id-2349e36106324c0a941e6cd981c2f42c.html"  target="element">
				  						<area shape="rect" coords="34,106,215,161" href="../elements/id-c56e023300a646578217b1bfc11e16e3.html"  target="element">

				  				<area shape="rect" coords="22,58,227,179" href="../elements/id-e66a8647b8d540b7b13b5a14fc22f54f.html"  target="element">

				  		<area shape="rect" coords="10,10,875,191" href="../elements/id-91bf847e403945859162d47ea5d7490f.html"  target="element">
				  						<area shape="rect" coords="262,358,419,383" href="../elements/id-729592.html"  target="element">

				  				<area shape="rect" coords="250,298,431,394" href="../elements/id-711321.html"  target="element">

				  		<area shape="rect" coords="238,226,443,407" href="../elements/id-718167.html"  target="element">
				  						<area shape="rect" coords="46,358,203,383" href="../elements/id-729634.html"  target="element">

				  				<area shape="rect" coords="34,298,215,395" href="../elements/id-711284.html"  target="element">

				  		<area shape="rect" coords="22,226,227,407" href="../elements/id-718171.html"  target="element">
				  						<area shape="rect" coords="478,358,635,383" href="../elements/id-729622.html"  target="element">

				  				<area shape="rect" coords="466,298,647,394" href="../elements/id-711278.html"  target="element">

				  		<area shape="rect" coords="454,226,659,407" href="../elements/id-718169.html"  target="element">
				  						<area shape="rect" coords="694,358,851,383" href="../elements/id-729563.html"  target="element">

				  				<area shape="rect" coords="682,298,863,395" href="../elements/id-711318.html"  target="element">

				  		<area shape="rect" coords="670,226,875,407" href="../elements/id-718168.html"  target="element">

			   </map>

			<div role="tabpanel">
				<!-- Nav tabs -->
				<ul class="nav nav-tabs" role="tablist">
                    <!-- Purpose / Documentation / Content -->
					   <li role="presentation" class="active"><a href="#documentation" aria-controls="documentation" role="tab" data-toggle="tab" class="i18n-documentation"></a></li>

                    <!-- Properties -->
                    <li role="presentation"><a href="#properties" aria-controls="properties" role="tab" data-toggle="tab" class="i18n-properties"></a></li>

						<li role="presentation"><a href="#elements" aria-controls="elements" role="tab" data-toggle="tab" class="i18n-elements"></a></li>
						<li role="presentation"><a href="#relationships" aria-controls="relationships" role="tab" data-toggle="tab" class="i18n-relationships"></a></li>
                    <!-- Model, Query Tab -->
				</ul>

				<!-- Tab panes -->
				<div class="tab-content">
					<div role="tabpanel" class="tab-pane active" id="documentation">
						<div class="convertlinks documentation" style="white-space:pre-wrap"></div>
					</div>
					<div role="tabpanel" class="tab-pane" id="properties">
						<table class="table table-striped table-hover table-condensed">
							<thead>
								<tr>
									<th class="i18n-key"></th>
									<th class="i18n-value"></th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
					</div>
						<div role="tabpanel" class="tab-pane" id="elements">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
									</tr>
								</thead>
								<tbody>
											<tr>
											    <td> <a href="../elements/id-718168.html" target="element"> Energie transporteren </a> </td>
											    <td> <a href="../elements/id-718168.html" target="element" class="i18n-elementtype-BusinessFunction">
											    </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/id-711318.html" target="element"> Energietransport verzorgen </a> </td>
													    <td> <a href="../elements/id-711318.html" target="element" class="i18n-elementtype-BusinessFunction">
													    </a> </td>
													</tr>

															<tr>
															    <td> <a href="../elements/id-729563.html" target="element"> Energietransport </a> </td>
															    <td> <a href="../elements/id-729563.html" target="element" class="i18n-elementtype-BusinessObject">
															    </a> </td>
															</tr>

													
											
											<tr>
											    <td> <a href="../elements/id-718169.html" target="element"> Werkzaamheden uitvoeren aan energienetten </a> </td>
											    <td> <a href="../elements/id-718169.html" target="element" class="i18n-elementtype-BusinessFunction">
											    </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/id-711278.html" target="element"> Werkzaamheden uitvoeren </a> </td>
													    <td> <a href="../elements/id-711278.html" target="element" class="i18n-elementtype-BusinessFunction">
													    </a> </td>
													</tr>

															<tr>
															    <td> <a href="../elements/id-729622.html" target="element"> Werkactiviteit </a> </td>
															    <td> <a href="../elements/id-729622.html" target="element" class="i18n-elementtype-BusinessObject">
															    </a> </td>
															</tr>

													
											
											<tr>
											    <td> <a href="../elements/id-718171.html" target="element"> Klanten bedienen </a> </td>
											    <td> <a href="../elements/id-718171.html" target="element" class="i18n-elementtype-BusinessFunction">
											    </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/id-711284.html" target="element"> Klanten bedienen en relaties onderhouden </a> </td>
													    <td> <a href="../elements/id-711284.html" target="element" class="i18n-elementtype-BusinessFunction">
													    </a> </td>
													</tr>

															<tr>
															    <td> <a href="../elements/id-729634.html" target="element"> Klant </a> </td>
															    <td> <a href="../elements/id-729634.html" target="element" class="i18n-elementtype-BusinessObject">
															    </a> </td>
															</tr>

													
											
											<tr>
											    <td> <a href="../elements/id-718167.html" target="element"> Ontwikkeling en instandhouding van energienetten besturen </a> </td>
											    <td> <a href="../elements/id-718167.html" target="element" class="i18n-elementtype-BusinessFunction">
											    </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/id-711321.html" target="element"> Energienetten uitbreiden, vervangen en vernieuwen </a> </td>
													    <td> <a href="../elements/id-711321.html" target="element" class="i18n-elementtype-BusinessFunction">
													    </a> </td>
													</tr>

															<tr>
															    <td> <a href="../elements/id-729592.html" target="element"> Energienet </a> </td>
															    <td> <a href="../elements/id-729592.html" target="element" class="i18n-elementtype-BusinessObject">
															    </a> </td>
															</tr>

													
											
											<tr>
											    <td> <a href="../elements/id-91bf847e403945859162d47ea5d7490f.html" target="element"> Netgedreven aanpassen van energienetten </a> </td>
											    <td> <a href="../elements/id-91bf847e403945859162d47ea5d7490f.html" target="element" class="i18n-elementtype-BusinessProcess">
											    </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/id-e66a8647b8d540b7b13b5a14fc22f54f.html" target="element"> Bedienen klant voor netaanpassing </a> </td>
													    <td> <a href="../elements/id-e66a8647b8d540b7b13b5a14fc22f54f.html" target="element" class="i18n-elementtype-BusinessProcess">
													    </a> </td>
													</tr>

															<tr>
															    <td> <a href="../elements/id-c56e023300a646578217b1bfc11e16e3.html" target="element"> Interacteren over netaanpassing </a> </td>
															    <td> <a href="../elements/id-c56e023300a646578217b1bfc11e16e3.html" target="element" class="i18n-elementtype-BusinessProcess">
															    </a> </td>
															</tr>

													
													<tr>
													    <td> <a href="../elements/id-2349e36106324c0a941e6cd981c2f42c.html" target="element"> Besturen ontwikkeling energienet voor netaanpassing </a> </td>
													    <td> <a href="../elements/id-2349e36106324c0a941e6cd981c2f42c.html" target="element" class="i18n-elementtype-BusinessProcess">
													    </a> </td>
													</tr>

															<tr>
															    <td> <a href="../elements/id-feded690ced34b398739f333ed3a29d9.html" target="element"> Bepalen en inpassen netaanpassing in energienet </a> </td>
															    <td> <a href="../elements/id-feded690ced34b398739f333ed3a29d9.html" target="element" class="i18n-elementtype-BusinessProcess">
															    </a> </td>
															</tr>

													
													<tr>
													    <td> <a href="../elements/id-0fb710c35c104ecca417a3933147700a.html" target="element"> Uitvoeren netaanpassingwerkzaamheden </a> </td>
													    <td> <a href="../elements/id-0fb710c35c104ecca417a3933147700a.html" target="element" class="i18n-elementtype-BusinessProcess">
													    </a> </td>
													</tr>

															<tr>
															    <td> <a href="../elements/id-2cbe9677b80a4ff28e98beeddbaaaa1e.html" target="element"> Uitvoeren netaanpassingwerkzaamheden </a> </td>
															    <td> <a href="../elements/id-2cbe9677b80a4ff28e98beeddbaaaa1e.html" target="element" class="i18n-elementtype-BusinessProcess">
															    </a> </td>
															</tr>

													
													<tr>
													    <td> <a href="../elements/id-7008588f520a4d81b8f2cb6294e9ec57.html" target="element"> Opnemen netaanpassing in besturing energietransport </a> </td>
													    <td> <a href="../elements/id-7008588f520a4d81b8f2cb6294e9ec57.html" target="element" class="i18n-elementtype-BusinessProcess">
													    </a> </td>
													</tr>

															<tr>
															    <td> <a href="../elements/id-db84f7346f554c89a24107f5175936dd.html" target="element"> Opnemen netaanpassing in besturing energietransport </a> </td>
															    <td> <a href="../elements/id-db84f7346f554c89a24107f5175936dd.html" target="element" class="i18n-elementtype-BusinessProcess">
															    </a> </td>
															</tr>

													
											

								</tbody>
							</table>
						</div>
						<div role="tabpanel" class="tab-pane" id="relationships">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
										<th class="i18n-source"></th>
										<th class="i18n-target"></th>
									</tr>
								</thead>
								<tbody>
																	<tr>
																		<td> <a href="../elements/id-878865.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-878865.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-718168.html" target="element"> Energie transporteren </a> </td>
																		<td> <a href="../elements/id-711318.html" target="element"> Energietransport verzorgen </a> </td>
																	</tr>

																			<tr>
																				<td> <a href="../elements/id-2ca14e0e99a54a5a8e97b37585d1c5ac.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-2ca14e0e99a54a5a8e97b37585d1c5ac.html" target="element" class="i18n-elementtype-AccessRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-711318.html" target="element"> Energietransport verzorgen </a> </td>
																				<td> <a href="../elements/id-729563.html" target="element"> Energietransport </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-0de20ed6f2f44b3593da98c6dcc2edf3.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-0de20ed6f2f44b3593da98c6dcc2edf3.html" target="element" class="i18n-elementtype-ServingRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-711318.html" target="element"> Energietransport verzorgen </a> </td>
																				<td> <a href="../elements/id-db84f7346f554c89a24107f5175936dd.html" target="element"> Opnemen netaanpassing in besturing energietransport </a> </td>
																			</tr>

													
											
																	<tr>
																		<td> <a href="../elements/id-878380.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-878380.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-718169.html" target="element"> Werkzaamheden uitvoeren aan energienetten </a> </td>
																		<td> <a href="../elements/id-711278.html" target="element"> Werkzaamheden uitvoeren </a> </td>
																	</tr>

																			<tr>
																				<td> <a href="../elements/id-45d2c8b11a424dfe9b967e98c2f2f7ef.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-45d2c8b11a424dfe9b967e98c2f2f7ef.html" target="element" class="i18n-elementtype-AccessRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-711278.html" target="element"> Werkzaamheden uitvoeren </a> </td>
																				<td> <a href="../elements/id-729622.html" target="element"> Werkactiviteit </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-6b9de8753a3b4ca08519ea749fff2a9d.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-6b9de8753a3b4ca08519ea749fff2a9d.html" target="element" class="i18n-elementtype-ServingRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-711278.html" target="element"> Werkzaamheden uitvoeren </a> </td>
																				<td> <a href="../elements/id-2cbe9677b80a4ff28e98beeddbaaaa1e.html" target="element"> Uitvoeren netaanpassingwerkzaamheden </a> </td>
																			</tr>

													
											
																	<tr>
																		<td> <a href="../elements/id-878804.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-878804.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-718171.html" target="element"> Klanten bedienen </a> </td>
																		<td> <a href="../elements/id-711284.html" target="element"> Klanten bedienen en relaties onderhouden </a> </td>
																	</tr>

																			<tr>
																				<td> <a href="../elements/id-6e61750f4f9249e0bbe93bcb7b69503f.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-6e61750f4f9249e0bbe93bcb7b69503f.html" target="element" class="i18n-elementtype-AccessRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-711284.html" target="element"> Klanten bedienen en relaties onderhouden </a> </td>
																				<td> <a href="../elements/id-729634.html" target="element"> Klant </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-db806acdc0824afc931c8d78d905f0a2.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-db806acdc0824afc931c8d78d905f0a2.html" target="element" class="i18n-elementtype-ServingRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-711284.html" target="element"> Klanten bedienen en relaties onderhouden </a> </td>
																				<td> <a href="../elements/id-c56e023300a646578217b1bfc11e16e3.html" target="element"> Interacteren over netaanpassing </a> </td>
																			</tr>

													
											
																	<tr>
																		<td> <a href="../elements/id-878458.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-878458.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-718167.html" target="element"> Ontwikkeling en instandhouding van energienetten besturen </a> </td>
																		<td> <a href="../elements/id-711321.html" target="element"> Energienetten uitbreiden, vervangen en vernieuwen </a> </td>
																	</tr>

																			<tr>
																				<td> <a href="../elements/id-9c16357f67b64ee5acd3079b1fa07733.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-9c16357f67b64ee5acd3079b1fa07733.html" target="element" class="i18n-elementtype-AccessRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-711321.html" target="element"> Energienetten uitbreiden, vervangen en vernieuwen </a> </td>
																				<td> <a href="../elements/id-729592.html" target="element"> Energienet </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-ab90b85b2a7b4c41958f7ce3962f1b1b.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-ab90b85b2a7b4c41958f7ce3962f1b1b.html" target="element" class="i18n-elementtype-ServingRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-711321.html" target="element"> Energienetten uitbreiden, vervangen en vernieuwen </a> </td>
																				<td> <a href="../elements/id-feded690ced34b398739f333ed3a29d9.html" target="element"> Bepalen en inpassen netaanpassing in energienet </a> </td>
																			</tr>

													
											
																	<tr>
																		<td> <a href="../elements/id-4e614a5ff54c45bf96dd132ff1b4c1ba.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-4e614a5ff54c45bf96dd132ff1b4c1ba.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-91bf847e403945859162d47ea5d7490f.html" target="element"> Netgedreven aanpassen van energienetten </a> </td>
																		<td> <a href="../elements/id-e66a8647b8d540b7b13b5a14fc22f54f.html" target="element"> Bedienen klant voor netaanpassing </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-9a2574e1d8d1410aafa3d730941eb0a1.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-9a2574e1d8d1410aafa3d730941eb0a1.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-91bf847e403945859162d47ea5d7490f.html" target="element"> Netgedreven aanpassen van energienetten </a> </td>
																		<td> <a href="../elements/id-2349e36106324c0a941e6cd981c2f42c.html" target="element"> Besturen ontwikkeling energienet voor netaanpassing </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-cc29ae9bb0ac46f7be93b867ad7fb4cc.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-cc29ae9bb0ac46f7be93b867ad7fb4cc.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-91bf847e403945859162d47ea5d7490f.html" target="element"> Netgedreven aanpassen van energienetten </a> </td>
																		<td> <a href="../elements/id-7008588f520a4d81b8f2cb6294e9ec57.html" target="element"> Opnemen netaanpassing in besturing energietransport </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-8c3f50ebe247471481f658936dd2df00.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-8c3f50ebe247471481f658936dd2df00.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-91bf847e403945859162d47ea5d7490f.html" target="element"> Netgedreven aanpassen van energienetten </a> </td>
																		<td> <a href="../elements/id-0fb710c35c104ecca417a3933147700a.html" target="element"> Uitvoeren netaanpassingwerkzaamheden </a> </td>
																	</tr>

																			<tr>
																				<td> <a href="../elements/id-5aa52a4426984165be7176d06e020a3f.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-5aa52a4426984165be7176d06e020a3f.html" target="element" class="i18n-elementtype-CompositionRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-e66a8647b8d540b7b13b5a14fc22f54f.html" target="element"> Bedienen klant voor netaanpassing </a> </td>
																				<td> <a href="../elements/id-c56e023300a646578217b1bfc11e16e3.html" target="element"> Interacteren over netaanpassing </a> </td>
																			</tr>

													
																			<tr>
																				<td> <a href="../elements/id-1db9c87ab3ca48209346a7c53de91a09.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-1db9c87ab3ca48209346a7c53de91a09.html" target="element" class="i18n-elementtype-CompositionRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-2349e36106324c0a941e6cd981c2f42c.html" target="element"> Besturen ontwikkeling energienet voor netaanpassing </a> </td>
																				<td> <a href="../elements/id-feded690ced34b398739f333ed3a29d9.html" target="element"> Bepalen en inpassen netaanpassing in energienet </a> </td>
																			</tr>

													
																			<tr>
																				<td> <a href="../elements/id-82d7160ad0294787808b67fdbaae8acd.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-82d7160ad0294787808b67fdbaae8acd.html" target="element" class="i18n-elementtype-CompositionRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-0fb710c35c104ecca417a3933147700a.html" target="element"> Uitvoeren netaanpassingwerkzaamheden </a> </td>
																				<td> <a href="../elements/id-2cbe9677b80a4ff28e98beeddbaaaa1e.html" target="element"> Uitvoeren netaanpassingwerkzaamheden </a> </td>
																			</tr>

													
																			<tr>
																				<td> <a href="../elements/id-e680f7da8d4a4119ad29f9a17b59f575.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-e680f7da8d4a4119ad29f9a17b59f575.html" target="element" class="i18n-elementtype-CompositionRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-7008588f520a4d81b8f2cb6294e9ec57.html" target="element"> Opnemen netaanpassing in besturing energietransport </a> </td>
																				<td> <a href="../elements/id-db84f7346f554c89a24107f5175936dd.html" target="element"> Opnemen netaanpassing in besturing energietransport </a> </td>
																			</tr>

													
											

								</tbody>
							</table>
						</div>
			  </div>
			</div>
		</div>
	</div>
	<script type="text/javascript">imageMapResize();</script>
</body>
</html>