<!DOCTYPE html>
<html class="frame" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
	<title>L1 value stream (stages) P.E</title>

	<!-- JQUERY -->
	<script type="text/javascript" src="../../lib/jquery/jquery.min.js"></script>
	<!-- BOOTSTRAP -->
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap.min.yeti.css">
	<script type="text/javascript" src="../../lib/bootstrap/js/bootstrap-3.3.2.min.js"></script>
	<!-- REPORT SPECIFIC -->
	<link type="text/css" rel="stylesheet" href="../../css/model.css">
	<link type="text/css" rel="stylesheet" href="../../css/i18n.css">
	<script type="text/javascript" src="../../js/frame.js"></script>
	<script type="text/javascript" src="../../js/imageMapResizer.min.js"></script>
</head>

<body>
	<div class="panel panel-default root-panel">

		<div class="panel-heading root-panel-heading">
            <!-- Name -->
               <b>L1 value stream (stages) P.E</b>

            <!-- If a View with Viewpoint -->
			   (<span class="i18n-viewpoint-"></span>)
			   <a class="glyphicon glyphicon-info-sign" id="hint-viewpoint_" target="hint"></a>
            <!-- Or if a model (i.e has Purpose method) -->
		</div>

		<div class="panel-body root-panel-body">
		    <!-- If this is a digram model (has children and no bounds) show the image -->
			   <img class="diagram" src="../images/id-5dfaba01bc1c4e128529ecb3173901cd.png" alt="L1 value stream (stages) P.E" usemap="#id-5dfaba01bc1c4e128529ecb3173901cdmap"/>
			   <map name="id-5dfaba01bc1c4e128529ecb3173901cdmap">
				  				<area shape="rect" coords="34,262,155,287" href="../elements/id-729632.html"  target="element">

				  		<area shape="rect" coords="22,190,167,299" href="../elements/id-718171.html"  target="element">
				  				<area shape="rect" coords="190,262,311,287" href="../elements/id-729578.html"  target="element">

				  		<area shape="rect" coords="178,190,323,299" href="../elements/id-718167.html"  target="element">
				  				<area shape="rect" coords="346,262,467,287" href="../elements/id-729665.html"  target="element">

				  		<area shape="rect" coords="334,190,479,300" href="../elements/id-718173.html"  target="element">
				  				<area shape="rect" coords="658,262,779,287" href="../elements/id-729558.html"  target="element">

				  		<area shape="rect" coords="646,190,791,299" href="../elements/id-718168.html"  target="element">
				  				<area shape="rect" coords="502,261,623,286" href="../elements/id-729659.html"  target="element">

				  		<area shape="rect" coords="490,189,635,300" href="../elements/id-718170.html"  target="element">
				  				<area shape="rect" coords="646,58,791,128" href="../elements/id-31f2b2db48fb4356b1769a746840f5c7.html"  target="element">
				  				<area shape="rect" coords="490,58,635,131" href="../elements/id-00f8f623948b414482d76d260ad17e71.html"  target="element">
				  				<area shape="rect" coords="334,58,479,131" href="../elements/id-bd41e33fa9074c179c36bd1618686f8a.html"  target="element">
				  				<area shape="rect" coords="178,58,323,131" href="../elements/id-2008f8e028124246a16468b79ab8d298.html"  target="element">
				  				<area shape="rect" coords="22,58,167,131" href="../elements/id-0c5d7c53cbe845daa9df31d1a5a55eb2.html"  target="element">

				  		<area shape="rect" coords="10,10,803,143" href="../elements/id-4993de1666b84efcbc102bcd6102ada2.html"  target="element">

			   </map>

			<div role="tabpanel">
				<!-- Nav tabs -->
				<ul class="nav nav-tabs" role="tablist">
                    <!-- Purpose / Documentation / Content -->
					   <li role="presentation" class="active"><a href="#documentation" aria-controls="documentation" role="tab" data-toggle="tab" class="i18n-documentation"></a></li>

                    <!-- Properties -->
                    <li role="presentation"><a href="#properties" aria-controls="properties" role="tab" data-toggle="tab" class="i18n-properties"></a></li>

						<li role="presentation"><a href="#elements" aria-controls="elements" role="tab" data-toggle="tab" class="i18n-elements"></a></li>
						<li role="presentation"><a href="#relationships" aria-controls="relationships" role="tab" data-toggle="tab" class="i18n-relationships"></a></li>
                    <!-- Model, Query Tab -->
				</ul>

				<!-- Tab panes -->
				<div class="tab-content">
					<div role="tabpanel" class="tab-pane active" id="documentation">
						<div class="convertlinks documentation" style="white-space:pre-wrap"></div>
					</div>
					<div role="tabpanel" class="tab-pane" id="properties">
						<table class="table table-striped table-hover table-condensed">
							<thead>
								<tr>
									<th class="i18n-key"></th>
									<th class="i18n-value"></th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
					</div>
						<div role="tabpanel" class="tab-pane" id="elements">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
									</tr>
								</thead>
								<tbody>
											<tr>
											    <td> <a href="../elements/id-4993de1666b84efcbc102bcd6102ada2.html" target="element"> Afstemmen gewenste en beschikbare transportcapaciteit </a> </td>
											    <td> <a href="../elements/id-4993de1666b84efcbc102bcd6102ada2.html" target="element" class="i18n-elementtype-BusinessProcess">
											    </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/id-0c5d7c53cbe845daa9df31d1a5a55eb2.html" target="element"> Bedienen klant voor regelbaar vermogen </a> </td>
													    <td> <a href="../elements/id-0c5d7c53cbe845daa9df31d1a5a55eb2.html" target="element" class="i18n-elementtype-BusinessProcess">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-2008f8e028124246a16468b79ab8d298.html" target="element"> Besturen ontwikkeling energienet met regelbaar vermogen </a> </td>
													    <td> <a href="../elements/id-2008f8e028124246a16468b79ab8d298.html" target="element" class="i18n-elementtype-BusinessProcess">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-bd41e33fa9074c179c36bd1618686f8a.html" target="element"> Faciliteren energiemarkt voor regelbaar vermogen </a> </td>
													    <td> <a href="../elements/id-bd41e33fa9074c179c36bd1618686f8a.html" target="element" class="i18n-elementtype-BusinessProcess">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-00f8f623948b414482d76d260ad17e71.html" target="element"> Meten transport capaciteit </a> </td>
													    <td> <a href="../elements/id-00f8f623948b414482d76d260ad17e71.html" target="element" class="i18n-elementtype-BusinessProcess">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-31f2b2db48fb4356b1769a746840f5c7.html" target="element"> Inzetten regelbaar vermogen bij energietransport </a> </td>
													    <td> <a href="../elements/id-31f2b2db48fb4356b1769a746840f5c7.html" target="element" class="i18n-elementtype-BusinessProcess">
													    </a> </td>
													</tr>

											
											<tr>
											    <td> <a href="../elements/id-718170.html" target="element"> Energietransport en -netten meten </a> </td>
											    <td> <a href="../elements/id-718170.html" target="element" class="i18n-elementtype-BusinessFunction">
											    </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/id-729659.html" target="element"> Meting </a> </td>
													    <td> <a href="../elements/id-729659.html" target="element" class="i18n-elementtype-BusinessObject">
													    </a> </td>
													</tr>

											
											<tr>
											    <td> <a href="../elements/id-718168.html" target="element"> Energie transporteren </a> </td>
											    <td> <a href="../elements/id-718168.html" target="element" class="i18n-elementtype-BusinessFunction">
											    </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/id-729558.html" target="element"> Energietransport </a> </td>
													    <td> <a href="../elements/id-729558.html" target="element" class="i18n-elementtype-BusinessObject">
													    </a> </td>
													</tr>

											
											<tr>
											    <td> <a href="../elements/id-718173.html" target="element"> De energiemarkt faciliteren </a> </td>
											    <td> <a href="../elements/id-718173.html" target="element" class="i18n-elementtype-BusinessFunction">
											    </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/id-729665.html" target="element"> Energiemarkt </a> </td>
													    <td> <a href="../elements/id-729665.html" target="element" class="i18n-elementtype-BusinessObject">
													    </a> </td>
													</tr>

											
											<tr>
											    <td> <a href="../elements/id-718167.html" target="element"> Ontwikkeling en instandhouding van energienetten besturen </a> </td>
											    <td> <a href="../elements/id-718167.html" target="element" class="i18n-elementtype-BusinessFunction">
											    </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/id-729578.html" target="element"> Energienet </a> </td>
													    <td> <a href="../elements/id-729578.html" target="element" class="i18n-elementtype-BusinessObject">
													    </a> </td>
													</tr>

											
											<tr>
											    <td> <a href="../elements/id-718171.html" target="element"> Klanten bedienen </a> </td>
											    <td> <a href="../elements/id-718171.html" target="element" class="i18n-elementtype-BusinessFunction">
											    </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/id-729632.html" target="element"> Klant </a> </td>
													    <td> <a href="../elements/id-729632.html" target="element" class="i18n-elementtype-BusinessObject">
													    </a> </td>
													</tr>

											

								</tbody>
							</table>
						</div>
						<div role="tabpanel" class="tab-pane" id="relationships">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
										<th class="i18n-source"></th>
										<th class="i18n-target"></th>
									</tr>
								</thead>
								<tbody>
																	<tr>
																		<td> <a href="../elements/id-214330223c8c45be98bffeeb6f7a3c86.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-214330223c8c45be98bffeeb6f7a3c86.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-4993de1666b84efcbc102bcd6102ada2.html" target="element"> Afstemmen gewenste en beschikbare transportcapaciteit </a> </td>
																		<td> <a href="../elements/id-0c5d7c53cbe845daa9df31d1a5a55eb2.html" target="element"> Bedienen klant voor regelbaar vermogen </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-4978c7aab2f442da97c63b34e7a8fa61.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-4978c7aab2f442da97c63b34e7a8fa61.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-4993de1666b84efcbc102bcd6102ada2.html" target="element"> Afstemmen gewenste en beschikbare transportcapaciteit </a> </td>
																		<td> <a href="../elements/id-2008f8e028124246a16468b79ab8d298.html" target="element"> Besturen ontwikkeling energienet met regelbaar vermogen </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-4ed933fe989c48fbb8699e1809d7c09e.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-4ed933fe989c48fbb8699e1809d7c09e.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-4993de1666b84efcbc102bcd6102ada2.html" target="element"> Afstemmen gewenste en beschikbare transportcapaciteit </a> </td>
																		<td> <a href="../elements/id-bd41e33fa9074c179c36bd1618686f8a.html" target="element"> Faciliteren energiemarkt voor regelbaar vermogen </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-45b8e93fedac49de997f78fd1bf0c75f.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-45b8e93fedac49de997f78fd1bf0c75f.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-4993de1666b84efcbc102bcd6102ada2.html" target="element"> Afstemmen gewenste en beschikbare transportcapaciteit </a> </td>
																		<td> <a href="../elements/id-00f8f623948b414482d76d260ad17e71.html" target="element"> Meten transport capaciteit </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-2927887f53234d938ca084ce8167874f.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-2927887f53234d938ca084ce8167874f.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-4993de1666b84efcbc102bcd6102ada2.html" target="element"> Afstemmen gewenste en beschikbare transportcapaciteit </a> </td>
																		<td> <a href="../elements/id-31f2b2db48fb4356b1769a746840f5c7.html" target="element"> Inzetten regelbaar vermogen bij energietransport </a> </td>
																	</tr>

											
																	<tr>
																		<td> <a href="../elements/id-5bcd31ab74db45918e27fe251a8c542c.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-5bcd31ab74db45918e27fe251a8c542c.html" target="element" class="i18n-elementtype-AccessRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-718170.html" target="element"> Energietransport en -netten meten </a> </td>
																		<td> <a href="../elements/id-729659.html" target="element"> Meting </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-0a485d6556424eb48570adaed30fdc0c.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-0a485d6556424eb48570adaed30fdc0c.html" target="element" class="i18n-elementtype-ServingRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-718170.html" target="element"> Energietransport en -netten meten </a> </td>
																		<td> <a href="../elements/id-00f8f623948b414482d76d260ad17e71.html" target="element"> Meten transport capaciteit </a> </td>
																	</tr>

											
																	<tr>
																		<td> <a href="../elements/id-b3a14c269c654e21b693cd929c2dabc8.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-b3a14c269c654e21b693cd929c2dabc8.html" target="element" class="i18n-elementtype-AccessRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-718168.html" target="element"> Energie transporteren </a> </td>
																		<td> <a href="../elements/id-729558.html" target="element"> Energietransport </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-515be2e132d241c3bd0692ccf3d5d357.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-515be2e132d241c3bd0692ccf3d5d357.html" target="element" class="i18n-elementtype-ServingRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-718168.html" target="element"> Energie transporteren </a> </td>
																		<td> <a href="../elements/id-31f2b2db48fb4356b1769a746840f5c7.html" target="element"> Inzetten regelbaar vermogen bij energietransport </a> </td>
																	</tr>

											
																	<tr>
																		<td> <a href="../elements/id-9bd49ce25c34427aa2ec8aa868aa2c94.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-9bd49ce25c34427aa2ec8aa868aa2c94.html" target="element" class="i18n-elementtype-AccessRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-718173.html" target="element"> De energiemarkt faciliteren </a> </td>
																		<td> <a href="../elements/id-729665.html" target="element"> Energiemarkt </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-ae4e57815f9e4c30a3e37e3ac2bbc075.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-ae4e57815f9e4c30a3e37e3ac2bbc075.html" target="element" class="i18n-elementtype-ServingRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-718173.html" target="element"> De energiemarkt faciliteren </a> </td>
																		<td> <a href="../elements/id-bd41e33fa9074c179c36bd1618686f8a.html" target="element"> Faciliteren energiemarkt voor regelbaar vermogen </a> </td>
																	</tr>

											
																	<tr>
																		<td> <a href="../elements/id-9057072ede3a4c8f8460f56c7875e4e8.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-9057072ede3a4c8f8460f56c7875e4e8.html" target="element" class="i18n-elementtype-AccessRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-718167.html" target="element"> Ontwikkeling en instandhouding van energienetten besturen </a> </td>
																		<td> <a href="../elements/id-729578.html" target="element"> Energienet </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-006754d7977b49bda85586bd3154e6c6.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-006754d7977b49bda85586bd3154e6c6.html" target="element" class="i18n-elementtype-ServingRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-718167.html" target="element"> Ontwikkeling en instandhouding van energienetten besturen </a> </td>
																		<td> <a href="../elements/id-2008f8e028124246a16468b79ab8d298.html" target="element"> Besturen ontwikkeling energienet met regelbaar vermogen </a> </td>
																	</tr>

											
																	<tr>
																		<td> <a href="../elements/id-8b5faaa74f294cd8a477fad05cf21eb4.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-8b5faaa74f294cd8a477fad05cf21eb4.html" target="element" class="i18n-elementtype-AccessRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-718171.html" target="element"> Klanten bedienen </a> </td>
																		<td> <a href="../elements/id-729632.html" target="element"> Klant </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-14f9cb4f313e42d38008d209e6d4bf37.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-14f9cb4f313e42d38008d209e6d4bf37.html" target="element" class="i18n-elementtype-ServingRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-718171.html" target="element"> Klanten bedienen </a> </td>
																		<td> <a href="../elements/id-0c5d7c53cbe845daa9df31d1a5a55eb2.html" target="element"> Bedienen klant voor regelbaar vermogen </a> </td>
																	</tr>

											

								</tbody>
							</table>
						</div>
			  </div>
			</div>
		</div>
	</div>
	<script type="text/javascript">imageMapResize();</script>
</body>
</html>