<!DOCTYPE html>
<html class="frame" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
	<title>N1 waardestroom(stappen) P.D2</title>

	<!-- JQUERY -->
	<script type="text/javascript" src="../../lib/jquery/jquery.min.js"></script>
	<!-- BOOTSTRAP -->
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap.min.yeti.css">
	<script type="text/javascript" src="../../lib/bootstrap/js/bootstrap-3.3.2.min.js"></script>
	<!-- REPORT SPECIFIC -->
	<link type="text/css" rel="stylesheet" href="../../css/model.css">
	<link type="text/css" rel="stylesheet" href="../../css/i18n.css">
	<script type="text/javascript" src="../../js/frame.js"></script>
	<script type="text/javascript" src="../../js/imageMapResizer.min.js"></script>
</head>

<body>
	<div class="panel panel-default root-panel">

		<div class="panel-heading root-panel-heading">
            <!-- Name -->
               <b>N1 waardestroom(stappen) P.D2</b>

            <!-- If a View with Viewpoint -->
			   (<span class="i18n-viewpoint-"></span>)
			   <a class="glyphicon glyphicon-info-sign" id="hint-viewpoint_" target="hint"></a>
            <!-- Or if a model (i.e has Purpose method) -->
		</div>

		<div class="panel-body root-panel-body">
		    <!-- If this is a digram model (has children and no bounds) show the image -->
			   <img class="diagram" src="../images/id-7230715c6d0d467b9c3ed07b6c162392.png" alt="N1 waardestroom(stappen) P.D2" usemap="#id-7230715c6d0d467b9c3ed07b6c162392map"/>
			   <map name="id-7230715c6d0d467b9c3ed07b6c162392map">
				  				<area shape="rect" coords="34,263,155,288" href="../elements/id-729632.html"  target="element">

				  		<area shape="rect" coords="22,191,167,298" href="../elements/id-718171.html"  target="element">
				  				<area shape="rect" coords="502,263,623,288" href="../elements/id-729578.html"  target="element">

				  		<area shape="rect" coords="490,191,635,298" href="../elements/id-718167.html"  target="element">
				  				<area shape="rect" coords="658,264,779,289" href="../elements/id-729609.html"  target="element">

				  		<area shape="rect" coords="646,192,791,299" href="../elements/id-718169.html"  target="element">
				  				<area shape="rect" coords="346,263,467,288" href="../elements/id-729558.html"  target="element">

				  		<area shape="rect" coords="334,191,479,298" href="../elements/id-718168.html"  target="element">
				  				<area shape="rect" coords="190,262,311,287" href="../elements/id-729659.html"  target="element">

				  		<area shape="rect" coords="178,190,323,299" href="../elements/id-718170.html"  target="element">
				  				<area shape="rect" coords="646,58,791,131" href="../elements/id-39472cb2840a4f849d76c41db40afa9d.html"  target="element">
				  				<area shape="rect" coords="490,58,635,131" href="../elements/id-4f3301dfa1664080af2b187bad518039.html"  target="element">
				  				<area shape="rect" coords="334,58,479,131" href="../elements/id-74e7083749184261b8309df3c4b4d0b3.html"  target="element">
				  				<area shape="rect" coords="178,58,323,131" href="../elements/id-599af46af31e479f8bfb4b1417eb2586.html"  target="element">
				  				<area shape="rect" coords="22,58,167,131" href="../elements/id-df46691b104545de95d75ca67615459a.html"  target="element">

				  		<area shape="rect" coords="10,10,803,143" href="../elements/id-3716424db89446b59aaef8164198f9f6.html"  target="element">

			   </map>

			<div role="tabpanel">
				<!-- Nav tabs -->
				<ul class="nav nav-tabs" role="tablist">
                    <!-- Purpose / Documentation / Content -->
					   <li role="presentation" class="active"><a href="#documentation" aria-controls="documentation" role="tab" data-toggle="tab" class="i18n-documentation"></a></li>

                    <!-- Properties -->
                    <li role="presentation"><a href="#properties" aria-controls="properties" role="tab" data-toggle="tab" class="i18n-properties"></a></li>

						<li role="presentation"><a href="#elements" aria-controls="elements" role="tab" data-toggle="tab" class="i18n-elements"></a></li>
						<li role="presentation"><a href="#relationships" aria-controls="relationships" role="tab" data-toggle="tab" class="i18n-relationships"></a></li>
                    <!-- Model, Query Tab -->
				</ul>

				<!-- Tab panes -->
				<div class="tab-content">
					<div role="tabpanel" class="tab-pane active" id="documentation">
						<div class="convertlinks documentation" style="white-space:pre-wrap"></div>
					</div>
					<div role="tabpanel" class="tab-pane" id="properties">
						<table class="table table-striped table-hover table-condensed">
							<thead>
								<tr>
									<th class="i18n-key"></th>
									<th class="i18n-value"></th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
					</div>
						<div role="tabpanel" class="tab-pane" id="elements">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
									</tr>
								</thead>
								<tbody>
											<tr>
											    <td> <a href="../elements/id-3716424db89446b59aaef8164198f9f6.html" target="element"> Instandhouden van energienetten - storingsherstel </a> </td>
											    <td> <a href="../elements/id-3716424db89446b59aaef8164198f9f6.html" target="element" class="i18n-elementtype-BusinessProcess">
											    </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/id-df46691b104545de95d75ca67615459a.html" target="element"> Bedienen klant voor storingherstel </a> </td>
													    <td> <a href="../elements/id-df46691b104545de95d75ca67615459a.html" target="element" class="i18n-elementtype-BusinessProcess">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-599af46af31e479f8bfb4b1417eb2586.html" target="element"> Meten storing energietransport en -netten </a> </td>
													    <td> <a href="../elements/id-599af46af31e479f8bfb4b1417eb2586.html" target="element" class="i18n-elementtype-BusinessProcess">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-74e7083749184261b8309df3c4b4d0b3.html" target="element"> Herstellen energietransport </a> </td>
													    <td> <a href="../elements/id-74e7083749184261b8309df3c4b4d0b3.html" target="element" class="i18n-elementtype-BusinessProcess">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-4f3301dfa1664080af2b187bad518039.html" target="element"> Besturen instandhouding energienet voor storingsherstel </a> </td>
													    <td> <a href="../elements/id-4f3301dfa1664080af2b187bad518039.html" target="element" class="i18n-elementtype-BusinessProcess">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-39472cb2840a4f849d76c41db40afa9d.html" target="element"> Uitvoeren storingherstelwerkzaamheden </a> </td>
													    <td> <a href="../elements/id-39472cb2840a4f849d76c41db40afa9d.html" target="element" class="i18n-elementtype-BusinessProcess">
													    </a> </td>
													</tr>

											
											<tr>
											    <td> <a href="../elements/id-718170.html" target="element"> Energietransport en -netten meten </a> </td>
											    <td> <a href="../elements/id-718170.html" target="element" class="i18n-elementtype-BusinessFunction">
											    </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/id-729659.html" target="element"> Meting </a> </td>
													    <td> <a href="../elements/id-729659.html" target="element" class="i18n-elementtype-BusinessObject">
													    </a> </td>
													</tr>

											
											<tr>
											    <td> <a href="../elements/id-718168.html" target="element"> Energie transporteren </a> </td>
											    <td> <a href="../elements/id-718168.html" target="element" class="i18n-elementtype-BusinessFunction">
											    </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/id-729558.html" target="element"> Energietransport </a> </td>
													    <td> <a href="../elements/id-729558.html" target="element" class="i18n-elementtype-BusinessObject">
													    </a> </td>
													</tr>

											
											<tr>
											    <td> <a href="../elements/id-718169.html" target="element"> Werkzaamheden uitvoeren aan energienetten </a> </td>
											    <td> <a href="../elements/id-718169.html" target="element" class="i18n-elementtype-BusinessFunction">
											    </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/id-729609.html" target="element"> Werk </a> </td>
													    <td> <a href="../elements/id-729609.html" target="element" class="i18n-elementtype-BusinessObject">
													    </a> </td>
													</tr>

											
											<tr>
											    <td> <a href="../elements/id-718167.html" target="element"> Ontwikkeling en instandhouding van energienetten besturen </a> </td>
											    <td> <a href="../elements/id-718167.html" target="element" class="i18n-elementtype-BusinessFunction">
											    </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/id-729578.html" target="element"> Energienet </a> </td>
													    <td> <a href="../elements/id-729578.html" target="element" class="i18n-elementtype-BusinessObject">
													    </a> </td>
													</tr>

											
											<tr>
											    <td> <a href="../elements/id-718171.html" target="element"> Klanten bedienen </a> </td>
											    <td> <a href="../elements/id-718171.html" target="element" class="i18n-elementtype-BusinessFunction">
											    </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/id-729632.html" target="element"> Klant </a> </td>
													    <td> <a href="../elements/id-729632.html" target="element" class="i18n-elementtype-BusinessObject">
													    </a> </td>
													</tr>

											

								</tbody>
							</table>
						</div>
						<div role="tabpanel" class="tab-pane" id="relationships">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
										<th class="i18n-source"></th>
										<th class="i18n-target"></th>
									</tr>
								</thead>
								<tbody>
																	<tr>
																		<td> <a href="../elements/id-dac34500a4c44173a6b30eb9b2f5e592.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-dac34500a4c44173a6b30eb9b2f5e592.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-3716424db89446b59aaef8164198f9f6.html" target="element"> Instandhouden van energienetten - storingsherstel </a> </td>
																		<td> <a href="../elements/id-df46691b104545de95d75ca67615459a.html" target="element"> Bedienen klant voor storingherstel </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-9d995d85b9b1422fbb5a3ad54ef87e91.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-9d995d85b9b1422fbb5a3ad54ef87e91.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-3716424db89446b59aaef8164198f9f6.html" target="element"> Instandhouden van energienetten - storingsherstel </a> </td>
																		<td> <a href="../elements/id-599af46af31e479f8bfb4b1417eb2586.html" target="element"> Meten storing energietransport en -netten </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-34da2e50448f43428ad335e0561a70e0.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-34da2e50448f43428ad335e0561a70e0.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-3716424db89446b59aaef8164198f9f6.html" target="element"> Instandhouden van energienetten - storingsherstel </a> </td>
																		<td> <a href="../elements/id-74e7083749184261b8309df3c4b4d0b3.html" target="element"> Herstellen energietransport </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-0b8f8284288845238de50fc2960e357e.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-0b8f8284288845238de50fc2960e357e.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-3716424db89446b59aaef8164198f9f6.html" target="element"> Instandhouden van energienetten - storingsherstel </a> </td>
																		<td> <a href="../elements/id-4f3301dfa1664080af2b187bad518039.html" target="element"> Besturen instandhouding energienet voor storingsherstel </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-22d748693a7d43b5b8073b59ae30c688.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-22d748693a7d43b5b8073b59ae30c688.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-3716424db89446b59aaef8164198f9f6.html" target="element"> Instandhouden van energienetten - storingsherstel </a> </td>
																		<td> <a href="../elements/id-39472cb2840a4f849d76c41db40afa9d.html" target="element"> Uitvoeren storingherstelwerkzaamheden </a> </td>
																	</tr>

											
																	<tr>
																		<td> <a href="../elements/id-5bcd31ab74db45918e27fe251a8c542c.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-5bcd31ab74db45918e27fe251a8c542c.html" target="element" class="i18n-elementtype-AccessRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-718170.html" target="element"> Energietransport en -netten meten </a> </td>
																		<td> <a href="../elements/id-729659.html" target="element"> Meting </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-2d6c57074aac4af9b7302aabad12aab3.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-2d6c57074aac4af9b7302aabad12aab3.html" target="element" class="i18n-elementtype-ServingRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-718170.html" target="element"> Energietransport en -netten meten </a> </td>
																		<td> <a href="../elements/id-599af46af31e479f8bfb4b1417eb2586.html" target="element"> Meten storing energietransport en -netten </a> </td>
																	</tr>

											
																	<tr>
																		<td> <a href="../elements/id-b3a14c269c654e21b693cd929c2dabc8.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-b3a14c269c654e21b693cd929c2dabc8.html" target="element" class="i18n-elementtype-AccessRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-718168.html" target="element"> Energie transporteren </a> </td>
																		<td> <a href="../elements/id-729558.html" target="element"> Energietransport </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-aa652f0eff8f4cd99b6bfb875bf70a96.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-aa652f0eff8f4cd99b6bfb875bf70a96.html" target="element" class="i18n-elementtype-ServingRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-718168.html" target="element"> Energie transporteren </a> </td>
																		<td> <a href="../elements/id-74e7083749184261b8309df3c4b4d0b3.html" target="element"> Herstellen energietransport </a> </td>
																	</tr>

											
																	<tr>
																		<td> <a href="../elements/id-9081dde26c44433ca424b1d9f2b9d346.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-9081dde26c44433ca424b1d9f2b9d346.html" target="element" class="i18n-elementtype-AccessRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-718169.html" target="element"> Werkzaamheden uitvoeren aan energienetten </a> </td>
																		<td> <a href="../elements/id-729609.html" target="element"> Werk </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-869190ee46c640609e76f01f448e9be2.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-869190ee46c640609e76f01f448e9be2.html" target="element" class="i18n-elementtype-ServingRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-718169.html" target="element"> Werkzaamheden uitvoeren aan energienetten </a> </td>
																		<td> <a href="../elements/id-39472cb2840a4f849d76c41db40afa9d.html" target="element"> Uitvoeren storingherstelwerkzaamheden </a> </td>
																	</tr>

											
																	<tr>
																		<td> <a href="../elements/id-9057072ede3a4c8f8460f56c7875e4e8.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-9057072ede3a4c8f8460f56c7875e4e8.html" target="element" class="i18n-elementtype-AccessRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-718167.html" target="element"> Ontwikkeling en instandhouding van energienetten besturen </a> </td>
																		<td> <a href="../elements/id-729578.html" target="element"> Energienet </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-48c622aab89649108afb6a8a71746224.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-48c622aab89649108afb6a8a71746224.html" target="element" class="i18n-elementtype-ServingRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-718167.html" target="element"> Ontwikkeling en instandhouding van energienetten besturen </a> </td>
																		<td> <a href="../elements/id-4f3301dfa1664080af2b187bad518039.html" target="element"> Besturen instandhouding energienet voor storingsherstel </a> </td>
																	</tr>

											
																	<tr>
																		<td> <a href="../elements/id-8b5faaa74f294cd8a477fad05cf21eb4.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-8b5faaa74f294cd8a477fad05cf21eb4.html" target="element" class="i18n-elementtype-AccessRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-718171.html" target="element"> Klanten bedienen </a> </td>
																		<td> <a href="../elements/id-729632.html" target="element"> Klant </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-16d01170db154fb9ab4173596c9a6498.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-16d01170db154fb9ab4173596c9a6498.html" target="element" class="i18n-elementtype-ServingRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-718171.html" target="element"> Klanten bedienen </a> </td>
																		<td> <a href="../elements/id-df46691b104545de95d75ca67615459a.html" target="element"> Bedienen klant voor storingherstel </a> </td>
																	</tr>

											

								</tbody>
							</table>
						</div>
			  </div>
			</div>
		</div>
	</div>
	<script type="text/javascript">imageMapResize();</script>
</body>
</html>