<!DOCTYPE html>
<html class="frame" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
	<title>L2 value stream (stages) P.F</title>

	<!-- JQUERY -->
	<script type="text/javascript" src="../../lib/jquery/jquery.min.js"></script>
	<!-- BOOTSTRAP -->
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap.min.yeti.css">
	<script type="text/javascript" src="../../lib/bootstrap/js/bootstrap-3.3.2.min.js"></script>
	<!-- REPORT SPECIFIC -->
	<link type="text/css" rel="stylesheet" href="../../css/model.css">
	<link type="text/css" rel="stylesheet" href="../../css/i18n.css">
	<script type="text/javascript" src="../../js/frame.js"></script>
	<script type="text/javascript" src="../../js/imageMapResizer.min.js"></script>
</head>

<body>
	<div class="panel panel-default root-panel">

		<div class="panel-heading root-panel-heading">
            <!-- Name -->
               <b>L2 value stream (stages) P.F</b>

            <!-- If a View with Viewpoint -->
			   (<span class="i18n-viewpoint-"></span>)
			   <a class="glyphicon glyphicon-info-sign" id="hint-viewpoint_" target="hint"></a>
            <!-- Or if a model (i.e has Purpose method) -->
		</div>

		<div class="panel-body root-panel-body">
		    <!-- If this is a digram model (has children and no bounds) show the image -->
			   <img class="diagram" src="../images/id-70b12a2c37ff4568862c1fb1ede55a58.png" alt="L2 value stream (stages) P.F" usemap="#id-70b12a2c37ff4568862c1fb1ede55a58map"/>
			   <map name="id-70b12a2c37ff4568862c1fb1ede55a58map">
				  						<area shape="rect" coords="1942,358,2099,383" href="../elements/id-729643.html"  target="element">

				  				<area shape="rect" coords="1930,298,2111,394" href="../elements/id-711331.html"  target="element">

				  		<area shape="rect" coords="1918,226,2123,407" href="../elements/id-718171.html"  target="element">
				  						<area shape="rect" coords="1510,358,1667,383" href="../elements/id-729661.html"  target="element">

				  				<area shape="rect" coords="1498,298,1679,395" href="../elements/id-718341.html"  target="element">

				  		<area shape="rect" coords="1486,226,1691,407" href="../elements/id-718170.html"  target="element">
				  						<area shape="rect" coords="1726,358,1883,383" href="../elements/id-729676.html"  target="element">

				  				<area shape="rect" coords="1714,298,1895,395" href="../elements/id-718383.html"  target="element">

				  		<area shape="rect" coords="1702,226,1907,407" href="../elements/id-718173.html"  target="element">
				  						<area shape="rect" coords="1294,358,1451,383" href="../elements/id-729676.html"  target="element">

				  				<area shape="rect" coords="1282,298,1463,395" href="../elements/id-718383.html"  target="element">

				  		<area shape="rect" coords="1270,226,1475,407" href="../elements/id-718173.html"  target="element">
				  						<area shape="rect" coords="1930,106,2111,161" href="../elements/id-f668ee46ff17448e9f9801c17eabc6ed.html"  target="element">

				  				<area shape="rect" coords="1918,58,2123,179" href="../elements/id-2a9402a0a2ec46a684101d5bfe875568.html"  target="element">
				  						<area shape="rect" coords="1714,106,1895,161" href="../elements/id-0d6a9fc7c1cd418c8f8a1669a7b93e2d.html"  target="element">

				  				<area shape="rect" coords="1702,58,1907,179" href="../elements/id-3b355716702e4bdfb0d2472e2b321e43.html"  target="element">
				  						<area shape="rect" coords="1498,106,1679,161" href="../elements/id-f803da715f944d31808ad5bb00faa5ab.html"  target="element">

				  				<area shape="rect" coords="1486,58,1691,179" href="../elements/id-2b811e21b793413fb6d1eb4768d5bdec.html"  target="element">
				  						<area shape="rect" coords="1282,106,1463,161" href="../elements/id-4f061edf3379471197b5053d7b2a35a2.html"  target="element">

				  				<area shape="rect" coords="1270,58,1475,179" href="../elements/id-3b355716702e4bdfb0d2472e2b321e43.html"  target="element">
				  						<area shape="rect" coords="1066,106,1247,161" href="../elements/id-988fb4a9ad234cd8abdcd75f677cc82e.html"  target="element">
				  						<area shape="rect" coords="874,106,1055,161" href="../elements/id-567011b675064e3a92984672562c0813.html"  target="element">

				  				<area shape="rect" coords="862,58,1259,179" href="../elements/id-6907e2b137d146ea9f19c16051f32c19.html"  target="element">
				  						<area shape="rect" coords="658,106,839,161" href="../elements/id-b415aa0f062d4cd3a0034a4823fdfe74.html"  target="element">

				  				<area shape="rect" coords="646,58,851,179" href="../elements/id-3b355716702e4bdfb0d2472e2b321e43.html"  target="element">
				  						<area shape="rect" coords="442,106,623,161" href="../elements/id-cd17a07b42d243fcb79973ae6d661a51.html"  target="element">

				  				<area shape="rect" coords="430,58,635,179" href="../elements/id-2b811e21b793413fb6d1eb4768d5bdec.html"  target="element">
				  						<area shape="rect" coords="226,106,407,161" href="../elements/id-a5585b5c97ac4c7f8b9860799ab8dc8d.html"  target="element">
				  						<area shape="rect" coords="34,106,215,161" href="../elements/id-b0803a829e314e89891c4b9204d06c1b.html"  target="element">

				  				<area shape="rect" coords="22,58,419,179" href="../elements/id-2a9402a0a2ec46a684101d5bfe875568.html"  target="element">

				  		<area shape="rect" coords="10,10,2135,191" href="../elements/id-afa6bf1f62714f499a365d33d9c4eb15.html"  target="element">
				  						<area shape="rect" coords="670,358,827,383" href="../elements/id-729676.html"  target="element">

				  				<area shape="rect" coords="658,298,839,395" href="../elements/id-718383.html"  target="element">

				  		<area shape="rect" coords="646,226,851,407" href="../elements/id-718173.html"  target="element">
				  						<area shape="rect" coords="46,358,203,383" href="../elements/id-729634.html"  target="element">

				  				<area shape="rect" coords="34,298,215,395" href="../elements/id-711284.html"  target="element">
				  						<area shape="rect" coords="238,358,395,383" href="../elements/id-729646.html"  target="element">

				  				<area shape="rect" coords="226,298,407,395" href="../elements/id-718334.html"  target="element">

				  		<area shape="rect" coords="22,226,419,407" href="../elements/id-718171.html"  target="element">
				  						<area shape="rect" coords="886,357,1043,382" href="../elements/id-729570.html"  target="element">

				  				<area shape="rect" coords="874,297,1055,394" href="../elements/id-711323.html"  target="element">
				  						<area shape="rect" coords="1078,358,1235,383" href="../elements/id-729563.html"  target="element">

				  				<area shape="rect" coords="1066,298,1247,394" href="../elements/id-711318.html"  target="element">

				  		<area shape="rect" coords="862,226,1259,407" href="../elements/id-718168.html"  target="element">
				  						<area shape="rect" coords="454,358,611,383" href="../elements/id-729661.html"  target="element">

				  				<area shape="rect" coords="442,298,623,395" href="../elements/id-718341.html"  target="element">

				  		<area shape="rect" coords="430,226,635,407" href="../elements/id-718170.html"  target="element">

			   </map>

			<div role="tabpanel">
				<!-- Nav tabs -->
				<ul class="nav nav-tabs" role="tablist">
                    <!-- Purpose / Documentation / Content -->
					   <li role="presentation" class="active"><a href="#documentation" aria-controls="documentation" role="tab" data-toggle="tab" class="i18n-documentation"></a></li>

                    <!-- Properties -->
                    <li role="presentation"><a href="#properties" aria-controls="properties" role="tab" data-toggle="tab" class="i18n-properties"></a></li>

						<li role="presentation"><a href="#elements" aria-controls="elements" role="tab" data-toggle="tab" class="i18n-elements"></a></li>
						<li role="presentation"><a href="#relationships" aria-controls="relationships" role="tab" data-toggle="tab" class="i18n-relationships"></a></li>
                    <!-- Model, Query Tab -->
				</ul>

				<!-- Tab panes -->
				<div class="tab-content">
					<div role="tabpanel" class="tab-pane active" id="documentation">
						<div class="convertlinks documentation" style="white-space:pre-wrap"></div>
					</div>
					<div role="tabpanel" class="tab-pane" id="properties">
						<table class="table table-striped table-hover table-condensed">
							<thead>
								<tr>
									<th class="i18n-key"></th>
									<th class="i18n-value"></th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
					</div>
						<div role="tabpanel" class="tab-pane" id="elements">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
									</tr>
								</thead>
								<tbody>
											<tr>
											    <td> <a href="../elements/id-718170.html" target="element"> Energietransport en -netten meten </a> </td>
											    <td> <a href="../elements/id-718170.html" target="element" class="i18n-elementtype-BusinessFunction">
											    </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/id-718341.html" target="element"> Metingen van energietransport en -netten ter beschikking stellen </a> </td>
													    <td> <a href="../elements/id-718341.html" target="element" class="i18n-elementtype-BusinessFunction">
													    </a> </td>
													</tr>

															<tr>
															    <td> <a href="../elements/id-729661.html" target="element"> Meting </a> </td>
															    <td> <a href="../elements/id-729661.html" target="element" class="i18n-elementtype-BusinessObject">
															    </a> </td>
															</tr>

													
											
											<tr>
											    <td> <a href="../elements/id-718168.html" target="element"> Energie transporteren </a> </td>
											    <td> <a href="../elements/id-718168.html" target="element" class="i18n-elementtype-BusinessFunction">
											    </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/id-711318.html" target="element"> Energietransport verzorgen </a> </td>
													    <td> <a href="../elements/id-711318.html" target="element" class="i18n-elementtype-BusinessFunction">
													    </a> </td>
													</tr>

															<tr>
															    <td> <a href="../elements/id-729563.html" target="element"> Energietransport </a> </td>
															    <td> <a href="../elements/id-729563.html" target="element" class="i18n-elementtype-BusinessObject">
															    </a> </td>
															</tr>

													
													<tr>
													    <td> <a href="../elements/id-711323.html" target="element"> Transport- en bedieningsplannen maken </a> </td>
													    <td> <a href="../elements/id-711323.html" target="element" class="i18n-elementtype-BusinessFunction">
													    </a> </td>
													</tr>

															<tr>
															    <td> <a href="../elements/id-729570.html" target="element"> Transportplanning </a> </td>
															    <td> <a href="../elements/id-729570.html" target="element" class="i18n-elementtype-BusinessObject">
															    </a> </td>
															</tr>

													
											
											<tr>
											    <td> <a href="../elements/id-718171.html" target="element"> Klanten bedienen </a> </td>
											    <td> <a href="../elements/id-718171.html" target="element" class="i18n-elementtype-BusinessFunction">
											    </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/id-718334.html" target="element"> Klantovereenkomsten verwerven en beheren </a> </td>
													    <td> <a href="../elements/id-718334.html" target="element" class="i18n-elementtype-BusinessFunction">
													    </a> </td>
													</tr>

															<tr>
															    <td> <a href="../elements/id-729646.html" target="element"> Klantovereenkomst </a> </td>
															    <td> <a href="../elements/id-729646.html" target="element" class="i18n-elementtype-BusinessObject">
															    </a> </td>
															</tr>

													
													<tr>
													    <td> <a href="../elements/id-711284.html" target="element"> Klanten bedienen en relaties onderhouden </a> </td>
													    <td> <a href="../elements/id-711284.html" target="element" class="i18n-elementtype-BusinessFunction">
													    </a> </td>
													</tr>

															<tr>
															    <td> <a href="../elements/id-729634.html" target="element"> Klant </a> </td>
															    <td> <a href="../elements/id-729634.html" target="element" class="i18n-elementtype-BusinessObject">
															    </a> </td>
															</tr>

													
											
											<tr>
											    <td> <a href="../elements/id-718173.html" target="element"> De energiemarkt faciliteren </a> </td>
											    <td> <a href="../elements/id-718173.html" target="element" class="i18n-elementtype-BusinessFunction">
											    </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/id-718383.html" target="element"> Marktprocessen uitvoeren/faciliteren </a> </td>
													    <td> <a href="../elements/id-718383.html" target="element" class="i18n-elementtype-BusinessFunction">
													    </a> </td>
													</tr>

															<tr>
															    <td> <a href="../elements/id-729676.html" target="element"> Marktproces </a> </td>
															    <td> <a href="../elements/id-729676.html" target="element" class="i18n-elementtype-BusinessObject">
															    </a> </td>
															</tr>

													
											
											<tr>
											    <td> <a href="../elements/id-afa6bf1f62714f499a365d33d9c4eb15.html" target="element"> Transporteren van energie </a> </td>
											    <td> <a href="../elements/id-afa6bf1f62714f499a365d33d9c4eb15.html" target="element" class="i18n-elementtype-BusinessProcess">
											    </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/id-2a9402a0a2ec46a684101d5bfe875568.html" target="element"> Bedienen klant voor energietransport </a> </td>
													    <td> <a href="../elements/id-2a9402a0a2ec46a684101d5bfe875568.html" target="element" class="i18n-elementtype-BusinessProcess">
													    </a> </td>
													</tr>

															<tr>
															    <td> <a href="../elements/id-b0803a829e314e89891c4b9204d06c1b.html" target="element"> Interacteren over energietransport </a> </td>
															    <td> <a href="../elements/id-b0803a829e314e89891c4b9204d06c1b.html" target="element" class="i18n-elementtype-BusinessProcess">
															    </a> </td>
															</tr>

															<tr>
															    <td> <a href="../elements/id-a5585b5c97ac4c7f8b9860799ab8dc8d.html" target="element"> Overeenkomen energietransport </a> </td>
															    <td> <a href="../elements/id-a5585b5c97ac4c7f8b9860799ab8dc8d.html" target="element" class="i18n-elementtype-BusinessProcess">
															    </a> </td>
															</tr>

													
													<tr>
													    <td> <a href="../elements/id-2b811e21b793413fb6d1eb4768d5bdec.html" target="element"> Meten energietransport </a> </td>
													    <td> <a href="../elements/id-2b811e21b793413fb6d1eb4768d5bdec.html" target="element" class="i18n-elementtype-BusinessProcess">
													    </a> </td>
													</tr>

															<tr>
															    <td> <a href="../elements/id-cd17a07b42d243fcb79973ae6d661a51.html" target="element"> Meten energietransport </a> </td>
															    <td> <a href="../elements/id-cd17a07b42d243fcb79973ae6d661a51.html" target="element" class="i18n-elementtype-BusinessProcess">
															    </a> </td>
															</tr>

													
													<tr>
													    <td> <a href="../elements/id-3b355716702e4bdfb0d2472e2b321e43.html" target="element"> Faciliteren energiemarkt voor energietransport </a> </td>
													    <td> <a href="../elements/id-3b355716702e4bdfb0d2472e2b321e43.html" target="element" class="i18n-elementtype-BusinessProcess">
													    </a> </td>
													</tr>

															<tr>
															    <td> <a href="../elements/id-b415aa0f062d4cd3a0034a4823fdfe74.html" target="element"> Verzamelen trasportprognoses </a> </td>
															    <td> <a href="../elements/id-b415aa0f062d4cd3a0034a4823fdfe74.html" target="element" class="i18n-elementtype-BusinessProcess">
															    </a> </td>
															</tr>

													
													<tr>
													    <td> <a href="../elements/id-6907e2b137d146ea9f19c16051f32c19.html" target="element"> Transporteren energie </a> </td>
													    <td> <a href="../elements/id-6907e2b137d146ea9f19c16051f32c19.html" target="element" class="i18n-elementtype-BusinessProcess">
													    </a> </td>
													</tr>

															<tr>
															    <td> <a href="../elements/id-567011b675064e3a92984672562c0813.html" target="element"> Bepalen transportproblemen en restcapaciteit </a> </td>
															    <td> <a href="../elements/id-567011b675064e3a92984672562c0813.html" target="element" class="i18n-elementtype-BusinessProcess">
															    </a> </td>
															</tr>

															<tr>
															    <td> <a href="../elements/id-988fb4a9ad234cd8abdcd75f677cc82e.html" target="element"> Bewaken en besturen energietransport </a> </td>
															    <td> <a href="../elements/id-988fb4a9ad234cd8abdcd75f677cc82e.html" target="element" class="i18n-elementtype-BusinessProcess">
															    </a> </td>
															</tr>

													
													<tr>
													    <td> <a href="../elements/id-3b355716702e4bdfb0d2472e2b321e43.html" target="element"> Faciliteren energiemarkt voor energietransport </a> </td>
													    <td> <a href="../elements/id-3b355716702e4bdfb0d2472e2b321e43.html" target="element" class="i18n-elementtype-BusinessProcess">
													    </a> </td>
													</tr>

															<tr>
															    <td> <a href="../elements/id-4f061edf3379471197b5053d7b2a35a2.html" target="element"> Vrijgeven restcapaciteit </a> </td>
															    <td> <a href="../elements/id-4f061edf3379471197b5053d7b2a35a2.html" target="element" class="i18n-elementtype-BusinessProcess">
															    </a> </td>
															</tr>

													
													<tr>
													    <td> <a href="../elements/id-2b811e21b793413fb6d1eb4768d5bdec.html" target="element"> Meten energietransport </a> </td>
													    <td> <a href="../elements/id-2b811e21b793413fb6d1eb4768d5bdec.html" target="element" class="i18n-elementtype-BusinessProcess">
													    </a> </td>
													</tr>

															<tr>
															    <td> <a href="../elements/id-f803da715f944d31808ad5bb00faa5ab.html" target="element"> Meten energie-uitwisseling </a> </td>
															    <td> <a href="../elements/id-f803da715f944d31808ad5bb00faa5ab.html" target="element" class="i18n-elementtype-BusinessProcess">
															    </a> </td>
															</tr>

													
													<tr>
													    <td> <a href="../elements/id-3b355716702e4bdfb0d2472e2b321e43.html" target="element"> Faciliteren energiemarkt voor energietransport </a> </td>
													    <td> <a href="../elements/id-3b355716702e4bdfb0d2472e2b321e43.html" target="element" class="i18n-elementtype-BusinessProcess">
													    </a> </td>
													</tr>

															<tr>
															    <td> <a href="../elements/id-0d6a9fc7c1cd418c8f8a1669a7b93e2d.html" target="element"> Vaststellen energie-uitwisseling </a> </td>
															    <td> <a href="../elements/id-0d6a9fc7c1cd418c8f8a1669a7b93e2d.html" target="element" class="i18n-elementtype-BusinessProcess">
															    </a> </td>
															</tr>

													
													<tr>
													    <td> <a href="../elements/id-2a9402a0a2ec46a684101d5bfe875568.html" target="element"> Bedienen klant voor energietransport </a> </td>
													    <td> <a href="../elements/id-2a9402a0a2ec46a684101d5bfe875568.html" target="element" class="i18n-elementtype-BusinessProcess">
													    </a> </td>
													</tr>

															<tr>
															    <td> <a href="../elements/id-f668ee46ff17448e9f9801c17eabc6ed.html" target="element"> Factureren en innen energietransport </a> </td>
															    <td> <a href="../elements/id-f668ee46ff17448e9f9801c17eabc6ed.html" target="element" class="i18n-elementtype-BusinessProcess">
															    </a> </td>
															</tr>

													
											
											<tr>
											    <td> <a href="../elements/id-718173.html" target="element"> De energiemarkt faciliteren </a> </td>
											    <td> <a href="../elements/id-718173.html" target="element" class="i18n-elementtype-BusinessFunction">
											    </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/id-718383.html" target="element"> Marktprocessen uitvoeren/faciliteren </a> </td>
													    <td> <a href="../elements/id-718383.html" target="element" class="i18n-elementtype-BusinessFunction">
													    </a> </td>
													</tr>

															<tr>
															    <td> <a href="../elements/id-729676.html" target="element"> Marktproces </a> </td>
															    <td> <a href="../elements/id-729676.html" target="element" class="i18n-elementtype-BusinessObject">
															    </a> </td>
															</tr>

													
											
											<tr>
											    <td> <a href="../elements/id-718173.html" target="element"> De energiemarkt faciliteren </a> </td>
											    <td> <a href="../elements/id-718173.html" target="element" class="i18n-elementtype-BusinessFunction">
											    </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/id-718383.html" target="element"> Marktprocessen uitvoeren/faciliteren </a> </td>
													    <td> <a href="../elements/id-718383.html" target="element" class="i18n-elementtype-BusinessFunction">
													    </a> </td>
													</tr>

															<tr>
															    <td> <a href="../elements/id-729676.html" target="element"> Marktproces </a> </td>
															    <td> <a href="../elements/id-729676.html" target="element" class="i18n-elementtype-BusinessObject">
															    </a> </td>
															</tr>

													
											
											<tr>
											    <td> <a href="../elements/id-718170.html" target="element"> Energietransport en -netten meten </a> </td>
											    <td> <a href="../elements/id-718170.html" target="element" class="i18n-elementtype-BusinessFunction">
											    </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/id-718341.html" target="element"> Metingen van energietransport en -netten ter beschikking stellen </a> </td>
													    <td> <a href="../elements/id-718341.html" target="element" class="i18n-elementtype-BusinessFunction">
													    </a> </td>
													</tr>

															<tr>
															    <td> <a href="../elements/id-729661.html" target="element"> Meting </a> </td>
															    <td> <a href="../elements/id-729661.html" target="element" class="i18n-elementtype-BusinessObject">
															    </a> </td>
															</tr>

													
											
											<tr>
											    <td> <a href="../elements/id-718171.html" target="element"> Klanten bedienen </a> </td>
											    <td> <a href="../elements/id-718171.html" target="element" class="i18n-elementtype-BusinessFunction">
											    </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/id-711331.html" target="element"> Factureren en innen </a> </td>
													    <td> <a href="../elements/id-711331.html" target="element" class="i18n-elementtype-BusinessFunction">
													    </a> </td>
													</tr>

															<tr>
															    <td> <a href="../elements/id-729643.html" target="element"> Klantfactuur </a> </td>
															    <td> <a href="../elements/id-729643.html" target="element" class="i18n-elementtype-BusinessObject">
															    </a> </td>
															</tr>

													
											

								</tbody>
							</table>
						</div>
						<div role="tabpanel" class="tab-pane" id="relationships">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
										<th class="i18n-source"></th>
										<th class="i18n-target"></th>
									</tr>
								</thead>
								<tbody>
																	<tr>
																		<td> <a href="../elements/id-878937.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-878937.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-718170.html" target="element"> Energietransport en -netten meten </a> </td>
																		<td> <a href="../elements/id-718341.html" target="element"> Metingen van energietransport en -netten ter beschikking stellen </a> </td>
																	</tr>

																			<tr>
																				<td> <a href="../elements/id-32cbdacc6eda46d485cf296ad9183ac0.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-32cbdacc6eda46d485cf296ad9183ac0.html" target="element" class="i18n-elementtype-AccessRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-718341.html" target="element"> Metingen van energietransport en -netten ter beschikking stellen </a> </td>
																				<td> <a href="../elements/id-729661.html" target="element"> Meting </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-9ab1ec9a063b40caa7609e6283a8fca1.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-9ab1ec9a063b40caa7609e6283a8fca1.html" target="element" class="i18n-elementtype-ServingRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-718341.html" target="element"> Metingen van energietransport en -netten ter beschikking stellen </a> </td>
																				<td> <a href="../elements/id-cd17a07b42d243fcb79973ae6d661a51.html" target="element"> Meten energietransport </a> </td>
																			</tr>

													
											
																	<tr>
																		<td> <a href="../elements/id-878420.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-878420.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-718168.html" target="element"> Energie transporteren </a> </td>
																		<td> <a href="../elements/id-711323.html" target="element"> Transport- en bedieningsplannen maken </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-878865.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-878865.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-718168.html" target="element"> Energie transporteren </a> </td>
																		<td> <a href="../elements/id-711318.html" target="element"> Energietransport verzorgen </a> </td>
																	</tr>

																			<tr>
																				<td> <a href="../elements/id-2ca14e0e99a54a5a8e97b37585d1c5ac.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-2ca14e0e99a54a5a8e97b37585d1c5ac.html" target="element" class="i18n-elementtype-AccessRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-711318.html" target="element"> Energietransport verzorgen </a> </td>
																				<td> <a href="../elements/id-729563.html" target="element"> Energietransport </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-9000c346efa345caa395ea1d3501a69f.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-9000c346efa345caa395ea1d3501a69f.html" target="element" class="i18n-elementtype-ServingRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-711318.html" target="element"> Energietransport verzorgen </a> </td>
																				<td> <a href="../elements/id-988fb4a9ad234cd8abdcd75f677cc82e.html" target="element"> Bewaken en besturen energietransport </a> </td>
																			</tr>

													
																			<tr>
																				<td> <a href="../elements/id-fff5efd563884e629dc50f9065cef852.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-fff5efd563884e629dc50f9065cef852.html" target="element" class="i18n-elementtype-AccessRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-711323.html" target="element"> Transport- en bedieningsplannen maken </a> </td>
																				<td> <a href="../elements/id-729570.html" target="element"> Transportplanning </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-3331a994b6444b088ccb9a5e173ad150.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-3331a994b6444b088ccb9a5e173ad150.html" target="element" class="i18n-elementtype-ServingRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-711323.html" target="element"> Transport- en bedieningsplannen maken </a> </td>
																				<td> <a href="../elements/id-567011b675064e3a92984672562c0813.html" target="element"> Bepalen transportproblemen en restcapaciteit </a> </td>
																			</tr>

													
											
																	<tr>
																		<td> <a href="../elements/id-878392.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-878392.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-718171.html" target="element"> Klanten bedienen </a> </td>
																		<td> <a href="../elements/id-718334.html" target="element"> Klantovereenkomsten verwerven en beheren </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-878804.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-878804.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-718171.html" target="element"> Klanten bedienen </a> </td>
																		<td> <a href="../elements/id-711284.html" target="element"> Klanten bedienen en relaties onderhouden </a> </td>
																	</tr>

																			<tr>
																				<td> <a href="../elements/id-51c376359d8c4130957a1befc7ec9bd0.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-51c376359d8c4130957a1befc7ec9bd0.html" target="element" class="i18n-elementtype-AccessRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-718334.html" target="element"> Klantovereenkomsten verwerven en beheren </a> </td>
																				<td> <a href="../elements/id-729646.html" target="element"> Klantovereenkomst </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-99c687f6a3364c268552db4e7667c890.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-99c687f6a3364c268552db4e7667c890.html" target="element" class="i18n-elementtype-ServingRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-718334.html" target="element"> Klantovereenkomsten verwerven en beheren </a> </td>
																				<td> <a href="../elements/id-a5585b5c97ac4c7f8b9860799ab8dc8d.html" target="element"> Overeenkomen energietransport </a> </td>
																			</tr>

													
																			<tr>
																				<td> <a href="../elements/id-6e61750f4f9249e0bbe93bcb7b69503f.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-6e61750f4f9249e0bbe93bcb7b69503f.html" target="element" class="i18n-elementtype-AccessRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-711284.html" target="element"> Klanten bedienen en relaties onderhouden </a> </td>
																				<td> <a href="../elements/id-729634.html" target="element"> Klant </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-c6fe9f24a0ab46e590027c8d57061d16.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-c6fe9f24a0ab46e590027c8d57061d16.html" target="element" class="i18n-elementtype-ServingRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-711284.html" target="element"> Klanten bedienen en relaties onderhouden </a> </td>
																				<td> <a href="../elements/id-b0803a829e314e89891c4b9204d06c1b.html" target="element"> Interacteren over energietransport </a> </td>
																			</tr>

													
											
																	<tr>
																		<td> <a href="../elements/id-878900.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-878900.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-718173.html" target="element"> De energiemarkt faciliteren </a> </td>
																		<td> <a href="../elements/id-718383.html" target="element"> Marktprocessen uitvoeren/faciliteren </a> </td>
																	</tr>

																			<tr>
																				<td> <a href="../elements/id-5f4b9bd4d47b48fb92f44c7a37ba17d8.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-5f4b9bd4d47b48fb92f44c7a37ba17d8.html" target="element" class="i18n-elementtype-AccessRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-718383.html" target="element"> Marktprocessen uitvoeren/faciliteren </a> </td>
																				<td> <a href="../elements/id-729676.html" target="element"> Marktproces </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-1c5af1c785b946f18538cc9d8512622b.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-1c5af1c785b946f18538cc9d8512622b.html" target="element" class="i18n-elementtype-ServingRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-718383.html" target="element"> Marktprocessen uitvoeren/faciliteren </a> </td>
																				<td> <a href="../elements/id-b415aa0f062d4cd3a0034a4823fdfe74.html" target="element"> Verzamelen trasportprognoses </a> </td>
																			</tr>

													
											
																	<tr>
																		<td> <a href="../elements/id-acfd79ce27e34bdfbe21fb17d7ae754a.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-acfd79ce27e34bdfbe21fb17d7ae754a.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-afa6bf1f62714f499a365d33d9c4eb15.html" target="element"> Transporteren van energie </a> </td>
																		<td> <a href="../elements/id-3b355716702e4bdfb0d2472e2b321e43.html" target="element"> Faciliteren energiemarkt voor energietransport </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-8edbd643d1b249ff93543c7fe3631588.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-8edbd643d1b249ff93543c7fe3631588.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-afa6bf1f62714f499a365d33d9c4eb15.html" target="element"> Transporteren van energie </a> </td>
																		<td> <a href="../elements/id-2b811e21b793413fb6d1eb4768d5bdec.html" target="element"> Meten energietransport </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-acfd79ce27e34bdfbe21fb17d7ae754a.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-acfd79ce27e34bdfbe21fb17d7ae754a.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-afa6bf1f62714f499a365d33d9c4eb15.html" target="element"> Transporteren van energie </a> </td>
																		<td> <a href="../elements/id-3b355716702e4bdfb0d2472e2b321e43.html" target="element"> Faciliteren energiemarkt voor energietransport </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-f2380fd03686457193bb3dc0a87e24f2.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-f2380fd03686457193bb3dc0a87e24f2.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-afa6bf1f62714f499a365d33d9c4eb15.html" target="element"> Transporteren van energie </a> </td>
																		<td> <a href="../elements/id-6907e2b137d146ea9f19c16051f32c19.html" target="element"> Transporteren energie </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-acfd79ce27e34bdfbe21fb17d7ae754a.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-acfd79ce27e34bdfbe21fb17d7ae754a.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-afa6bf1f62714f499a365d33d9c4eb15.html" target="element"> Transporteren van energie </a> </td>
																		<td> <a href="../elements/id-3b355716702e4bdfb0d2472e2b321e43.html" target="element"> Faciliteren energiemarkt voor energietransport </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-8edbd643d1b249ff93543c7fe3631588.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-8edbd643d1b249ff93543c7fe3631588.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-afa6bf1f62714f499a365d33d9c4eb15.html" target="element"> Transporteren van energie </a> </td>
																		<td> <a href="../elements/id-2b811e21b793413fb6d1eb4768d5bdec.html" target="element"> Meten energietransport </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-834c9f315ae940cfb6fa888dd8db3ba8.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-834c9f315ae940cfb6fa888dd8db3ba8.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-afa6bf1f62714f499a365d33d9c4eb15.html" target="element"> Transporteren van energie </a> </td>
																		<td> <a href="../elements/id-2a9402a0a2ec46a684101d5bfe875568.html" target="element"> Bedienen klant voor energietransport </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-834c9f315ae940cfb6fa888dd8db3ba8.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-834c9f315ae940cfb6fa888dd8db3ba8.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-afa6bf1f62714f499a365d33d9c4eb15.html" target="element"> Transporteren van energie </a> </td>
																		<td> <a href="../elements/id-2a9402a0a2ec46a684101d5bfe875568.html" target="element"> Bedienen klant voor energietransport </a> </td>
																	</tr>

																			<tr>
																				<td> <a href="../elements/id-900973a9ba7a43a1a0088172947f68a0.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-900973a9ba7a43a1a0088172947f68a0.html" target="element" class="i18n-elementtype-CompositionRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-2a9402a0a2ec46a684101d5bfe875568.html" target="element"> Bedienen klant voor energietransport </a> </td>
																				<td> <a href="../elements/id-a5585b5c97ac4c7f8b9860799ab8dc8d.html" target="element"> Overeenkomen energietransport </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-8aeebba049c441e982e91a94c92f3394.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-8aeebba049c441e982e91a94c92f3394.html" target="element" class="i18n-elementtype-CompositionRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-2a9402a0a2ec46a684101d5bfe875568.html" target="element"> Bedienen klant voor energietransport </a> </td>
																				<td> <a href="../elements/id-b0803a829e314e89891c4b9204d06c1b.html" target="element"> Interacteren over energietransport </a> </td>
																			</tr>

													
																			<tr>
																				<td> <a href="../elements/id-899ddccd11454add9e2c3533555940d4.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-899ddccd11454add9e2c3533555940d4.html" target="element" class="i18n-elementtype-CompositionRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-2b811e21b793413fb6d1eb4768d5bdec.html" target="element"> Meten energietransport </a> </td>
																				<td> <a href="../elements/id-cd17a07b42d243fcb79973ae6d661a51.html" target="element"> Meten energietransport </a> </td>
																			</tr>

													
																			<tr>
																				<td> <a href="../elements/id-4ce7afcdb0bd4cfb9d730a1c2772d426.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-4ce7afcdb0bd4cfb9d730a1c2772d426.html" target="element" class="i18n-elementtype-CompositionRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-3b355716702e4bdfb0d2472e2b321e43.html" target="element"> Faciliteren energiemarkt voor energietransport </a> </td>
																				<td> <a href="../elements/id-b415aa0f062d4cd3a0034a4823fdfe74.html" target="element"> Verzamelen trasportprognoses </a> </td>
																			</tr>

													
																			<tr>
																				<td> <a href="../elements/id-beddee61b56844029641d6a0d24ad992.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-beddee61b56844029641d6a0d24ad992.html" target="element" class="i18n-elementtype-CompositionRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-6907e2b137d146ea9f19c16051f32c19.html" target="element"> Transporteren energie </a> </td>
																				<td> <a href="../elements/id-988fb4a9ad234cd8abdcd75f677cc82e.html" target="element"> Bewaken en besturen energietransport </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-69eb97a6ed0444b6939f53e2f9f6141c.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-69eb97a6ed0444b6939f53e2f9f6141c.html" target="element" class="i18n-elementtype-CompositionRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-6907e2b137d146ea9f19c16051f32c19.html" target="element"> Transporteren energie </a> </td>
																				<td> <a href="../elements/id-567011b675064e3a92984672562c0813.html" target="element"> Bepalen transportproblemen en restcapaciteit </a> </td>
																			</tr>

													
																			<tr>
																				<td> <a href="../elements/id-774e2edc6e994b6b910f7c7ee5e5cae7.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-774e2edc6e994b6b910f7c7ee5e5cae7.html" target="element" class="i18n-elementtype-CompositionRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-3b355716702e4bdfb0d2472e2b321e43.html" target="element"> Faciliteren energiemarkt voor energietransport </a> </td>
																				<td> <a href="../elements/id-4f061edf3379471197b5053d7b2a35a2.html" target="element"> Vrijgeven restcapaciteit </a> </td>
																			</tr>

													
																			<tr>
																				<td> <a href="../elements/id-1a05f5c36e0743ec8a1e3038f7b4422b.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-1a05f5c36e0743ec8a1e3038f7b4422b.html" target="element" class="i18n-elementtype-CompositionRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-2b811e21b793413fb6d1eb4768d5bdec.html" target="element"> Meten energietransport </a> </td>
																				<td> <a href="../elements/id-f803da715f944d31808ad5bb00faa5ab.html" target="element"> Meten energie-uitwisseling </a> </td>
																			</tr>

													
																			<tr>
																				<td> <a href="../elements/id-876926095bfd471fbff4129a614d9b2d.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-876926095bfd471fbff4129a614d9b2d.html" target="element" class="i18n-elementtype-CompositionRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-3b355716702e4bdfb0d2472e2b321e43.html" target="element"> Faciliteren energiemarkt voor energietransport </a> </td>
																				<td> <a href="../elements/id-0d6a9fc7c1cd418c8f8a1669a7b93e2d.html" target="element"> Vaststellen energie-uitwisseling </a> </td>
																			</tr>

													
																			<tr>
																				<td> <a href="../elements/id-8fb6e30912c844fcb4fda7a8cef914eb.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-8fb6e30912c844fcb4fda7a8cef914eb.html" target="element" class="i18n-elementtype-CompositionRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-2a9402a0a2ec46a684101d5bfe875568.html" target="element"> Bedienen klant voor energietransport </a> </td>
																				<td> <a href="../elements/id-f668ee46ff17448e9f9801c17eabc6ed.html" target="element"> Factureren en innen energietransport </a> </td>
																			</tr>

													
											
																	<tr>
																		<td> <a href="../elements/id-878900.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-878900.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-718173.html" target="element"> De energiemarkt faciliteren </a> </td>
																		<td> <a href="../elements/id-718383.html" target="element"> Marktprocessen uitvoeren/faciliteren </a> </td>
																	</tr>

																			<tr>
																				<td> <a href="../elements/id-5f4b9bd4d47b48fb92f44c7a37ba17d8.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-5f4b9bd4d47b48fb92f44c7a37ba17d8.html" target="element" class="i18n-elementtype-AccessRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-718383.html" target="element"> Marktprocessen uitvoeren/faciliteren </a> </td>
																				<td> <a href="../elements/id-729676.html" target="element"> Marktproces </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-2516c72298e843ef913b34e4a3da67ad.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-2516c72298e843ef913b34e4a3da67ad.html" target="element" class="i18n-elementtype-ServingRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-718383.html" target="element"> Marktprocessen uitvoeren/faciliteren </a> </td>
																				<td> <a href="../elements/id-4f061edf3379471197b5053d7b2a35a2.html" target="element"> Vrijgeven restcapaciteit </a> </td>
																			</tr>

													
											
																	<tr>
																		<td> <a href="../elements/id-878900.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-878900.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-718173.html" target="element"> De energiemarkt faciliteren </a> </td>
																		<td> <a href="../elements/id-718383.html" target="element"> Marktprocessen uitvoeren/faciliteren </a> </td>
																	</tr>

																			<tr>
																				<td> <a href="../elements/id-5f4b9bd4d47b48fb92f44c7a37ba17d8.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-5f4b9bd4d47b48fb92f44c7a37ba17d8.html" target="element" class="i18n-elementtype-AccessRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-718383.html" target="element"> Marktprocessen uitvoeren/faciliteren </a> </td>
																				<td> <a href="../elements/id-729676.html" target="element"> Marktproces </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-b31cef7d34484686808496f312b31649.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-b31cef7d34484686808496f312b31649.html" target="element" class="i18n-elementtype-ServingRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-718383.html" target="element"> Marktprocessen uitvoeren/faciliteren </a> </td>
																				<td> <a href="../elements/id-0d6a9fc7c1cd418c8f8a1669a7b93e2d.html" target="element"> Vaststellen energie-uitwisseling </a> </td>
																			</tr>

													
											
																	<tr>
																		<td> <a href="../elements/id-878937.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-878937.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-718170.html" target="element"> Energietransport en -netten meten </a> </td>
																		<td> <a href="../elements/id-718341.html" target="element"> Metingen van energietransport en -netten ter beschikking stellen </a> </td>
																	</tr>

																			<tr>
																				<td> <a href="../elements/id-32cbdacc6eda46d485cf296ad9183ac0.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-32cbdacc6eda46d485cf296ad9183ac0.html" target="element" class="i18n-elementtype-AccessRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-718341.html" target="element"> Metingen van energietransport en -netten ter beschikking stellen </a> </td>
																				<td> <a href="../elements/id-729661.html" target="element"> Meting </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-0886d14de0c147ddb2c5aee736b00cf8.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-0886d14de0c147ddb2c5aee736b00cf8.html" target="element" class="i18n-elementtype-ServingRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-718341.html" target="element"> Metingen van energietransport en -netten ter beschikking stellen </a> </td>
																				<td> <a href="../elements/id-f803da715f944d31808ad5bb00faa5ab.html" target="element"> Meten energie-uitwisseling </a> </td>
																			</tr>

													
											
																	<tr>
																		<td> <a href="../elements/id-878527.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-878527.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-718171.html" target="element"> Klanten bedienen </a> </td>
																		<td> <a href="../elements/id-711331.html" target="element"> Factureren en innen </a> </td>
																	</tr>

																			<tr>
																				<td> <a href="../elements/id-260b7a9bc4304ceaaa8b386c83022aa6.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-260b7a9bc4304ceaaa8b386c83022aa6.html" target="element" class="i18n-elementtype-AccessRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-711331.html" target="element"> Factureren en innen </a> </td>
																				<td> <a href="../elements/id-729643.html" target="element"> Klantfactuur </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-9f9f0b513e3e4896a40c4e8b46cbc361.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-9f9f0b513e3e4896a40c4e8b46cbc361.html" target="element" class="i18n-elementtype-ServingRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-711331.html" target="element"> Factureren en innen </a> </td>
																				<td> <a href="../elements/id-f668ee46ff17448e9f9801c17eabc6ed.html" target="element"> Factureren en innen energietransport </a> </td>
																			</tr>

													
											

								</tbody>
							</table>
						</div>
			  </div>
			</div>
		</div>
	</div>
	<script type="text/javascript">imageMapResize();</script>
</body>
</html>