<!DOCTYPE html>
<html class="frame" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
	<title>L3 value stream (stages) summary P.E</title>

	<!-- JQUERY -->
	<script type="text/javascript" src="../../lib/jquery/jquery.min.js"></script>
	<!-- BOOTSTRAP -->
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap.min.yeti.css">
	<script type="text/javascript" src="../../lib/bootstrap/js/bootstrap-3.3.2.min.js"></script>
	<!-- REPORT SPECIFIC -->
	<link type="text/css" rel="stylesheet" href="../../css/model.css">
	<link type="text/css" rel="stylesheet" href="../../css/i18n.css">
	<script type="text/javascript" src="../../js/frame.js"></script>
	<script type="text/javascript" src="../../js/imageMapResizer.min.js"></script>
</head>

<body>
	<div class="panel panel-default root-panel">

		<div class="panel-heading root-panel-heading">
            <!-- Name -->
               <b>L3 value stream (stages) summary P.E</b>

            <!-- If a View with Viewpoint -->
			   (<span class="i18n-viewpoint-"></span>)
			   <a class="glyphicon glyphicon-info-sign" id="hint-viewpoint_" target="hint"></a>
            <!-- Or if a model (i.e has Purpose method) -->
		</div>

		<div class="panel-body root-panel-body">
		    <!-- If this is a digram model (has children and no bounds) show the image -->
			   <img class="diagram" src="../images/id-8b5825e41d56490497889f4108ac040d.png" alt="L3 value stream (stages) summary P.E" usemap="#id-8b5825e41d56490497889f4108ac040dmap"/>
			   <map name="id-8b5825e41d56490497889f4108ac040dmap">
				  				<area shape="rect" coords="3623,311,3863,336" href="../elements/id-470230.html"  target="element">

				  		<area shape="rect" coords="3611,263,3876,348" href="../elements/id-718728.html"  target="element">
				  				<area shape="rect" coords="1967,311,2207,335" href="../elements/id-469105.html"  target="element">

				  		<area shape="rect" coords="1955,263,2220,348" href="../elements/id-718806.html"  target="element">
				  				<area shape="rect" coords="587,311,827,335" href="../elements/id-470129.html"  target="element">

				  		<area shape="rect" coords="575,263,839,347" href="../elements/id-718760.html"  target="element">
				  				<area shape="rect" coords="3899,311,4139,335" href="../elements/id-469274.html"  target="element">

				  		<area shape="rect" coords="3887,263,4151,348" href="../elements/id-718771.html"  target="element">
				  				<area shape="rect" coords="1139,310,1380,335" href="../elements/id-469215.html"  target="element">

				  		<area shape="rect" coords="1127,262,1392,347" href="../elements/id-718730.html"  target="element">
				  				<area shape="rect" coords="3347,311,3588,336" href="../elements/id-723122.html"  target="element">

				  		<area shape="rect" coords="3335,263,3600,348" href="../elements/id-718720.html"  target="element">
				  				<area shape="rect" coords="2243,311,2483,336" href="../elements/id-723122.html"  target="element">

				  		<area shape="rect" coords="2231,263,2496,348" href="../elements/id-718720.html"  target="element">
				  				<area shape="rect" coords="35,311,275,335" href="../elements/id-722954.html"  target="element">

				  		<area shape="rect" coords="23,263,287,347" href="../elements/id-718810.html"  target="element">
				  				<area shape="rect" coords="2795,309,3035,333" href="../elements/id-722915.html"  target="element">

				  		<area shape="rect" coords="2783,261,3047,346" href="../elements/id-718757.html"  target="element">
				  				<area shape="rect" coords="1691,310,1932,335" href="../elements/id-468886.html"  target="element">

				  		<area shape="rect" coords="1679,262,1944,347" href="../elements/id-718714.html"  target="element">
				  				<area shape="rect" coords="311,311,552,336" href="../elements/id-469958.html"  target="element">

				  		<area shape="rect" coords="299,263,563,348" href="../elements/id-718750.html"  target="element">
				  				<area shape="rect" coords="1415,310,1655,335" href="../elements/id-723094.html"  target="element">

				  		<area shape="rect" coords="1403,262,1668,347" href="../elements/id-718789.html"  target="element">
				  				<area shape="rect" coords="4175,311,4416,336" href="../elements/id-469958.html"  target="element">

				  		<area shape="rect" coords="4163,263,4428,348" href="../elements/id-718750.html"  target="element">
				  				<area shape="rect" coords="3071,309,3312,334" href="../elements/id-722918.html"  target="element">

				  		<area shape="rect" coords="3059,261,3324,346" href="../elements/id-718759.html"  target="element">
				  				<area shape="rect" coords="2519,309,2760,334" href="../elements/id-722927.html"  target="element">

				  		<area shape="rect" coords="2507,261,2771,346" href="../elements/id-718756.html"  target="element">
				  				<area shape="rect" coords="863,310,1103,334" href="../elements/id-469480.html"  target="element">

				  		<area shape="rect" coords="851,262,1115,347" href="../elements/id-718772.html"  target="element">
				  		<area shape="rect" coords="3334,180,3599,217" href="../elements/id-2a2ad629c64b456b94a38ed15046c90b.html"  target="element">
				  		<area shape="rect" coords="3058,177,3323,214" href="../elements/id-cff95165bf864f54912a10a17e2c7122.html"  target="element">
				  		<area shape="rect" coords="1678,179,1943,216" href="../elements/id-d1b90ba0cacf409a82d67be865355965.html"  target="element">
				  		<area shape="rect" coords="4162,179,4427,216" href="../elements/id-026f53b918024719b21290eb348f7ba3.html"  target="element">
				  		<area shape="rect" coords="3886,179,4151,216" href="../elements/id-e95154393da745589f9dd7e693174dd5.html"  target="element">
				  		<area shape="rect" coords="3610,179,3875,216" href="../elements/id-b974cdee420a498099de0f2cc37a9c87.html"  target="element">
				  		<area shape="rect" coords="2782,177,3047,214" href="../elements/id-4c050c52058a4e6194a5cc5ebdccaf28.html"  target="element">
				  		<area shape="rect" coords="2506,177,2771,214" href="../elements/id-7ff243ea34cc421c9e2c1ee503cc34a4.html"  target="element">
				  		<area shape="rect" coords="2230,179,2495,216" href="../elements/id-25826efabfd6408b8684764e35868513.html"  target="element">
				  		<area shape="rect" coords="1954,179,2219,216" href="../elements/id-a939248064d4416ba91952ee4abb7170.html"  target="element">
				  		<area shape="rect" coords="1402,179,1667,216" href="../elements/id-47e2c87132fc405791b7099e46dd64d9.html"  target="element">
				  		<area shape="rect" coords="1126,179,1391,216" href="../elements/id-26b5875ed44b491286089c588d86393e.html"  target="element">
				  		<area shape="rect" coords="850,179,1115,216" href="../elements/id-41949e1fa6ea41039877cbc68fb5b343.html"  target="element">
				  		<area shape="rect" coords="574,179,839,216" href="../elements/id-25f45deb0947484a86230ad7c7605016.html"  target="element">
				  		<area shape="rect" coords="298,179,563,216" href="../elements/id-f714c3ea38a2425a9479c57ca8fd3464.html"  target="element">
				  		<area shape="rect" coords="22,179,287,216" href="../elements/id-5c536350be97467c9e774356a50a1b69.html"  target="element">
				  				<area shape="rect" coords="1678,59,1943,114" href="../elements/id-0f6babc98b30461ba9fcc3d985b7eea8.html"  target="element">
				  				<area shape="rect" coords="3610,59,3875,114" href="../elements/id-1370961c96d84e6f8e4654fb4d77bdc8.html"  target="element">
				  				<area shape="rect" coords="2230,59,2495,114" href="../elements/id-07edd5a0f0644b36a16b01ae5e436599.html"  target="element">
				  				<area shape="rect" coords="2782,57,3047,112" href="../elements/id-eda407c0de194916bd41a6d47524962d.html"  target="element">
				  				<area shape="rect" coords="3058,57,3323,112" href="../elements/id-4193ed07568e4471b78510e920269263.html"  target="element">
				  				<area shape="rect" coords="4162,59,4427,114" href="../elements/id-e7b201a541ba4f4280e4baac3c0e78ed.html"  target="element">
				  				<area shape="rect" coords="1954,59,2219,114" href="../elements/id-6e7d8db2927146a2b3500660de603d5e.html"  target="element">
				  				<area shape="rect" coords="850,59,1115,114" href="../elements/id-4eeb7050caba4ef5b56c305b2440f550.html"  target="element">
				  				<area shape="rect" coords="1402,59,1667,114" href="../elements/id-b48c122f10a54370a8ec5de57fb4e4aa.html"  target="element">
				  				<area shape="rect" coords="3334,59,3599,114" href="../elements/id-6a359dfa96ac4831835992899599be07.html"  target="element">
				  				<area shape="rect" coords="1126,59,1391,114" href="../elements/id-4352b38044ed42a8b526fe4a8f3ac4ec.html"  target="element">
				  				<area shape="rect" coords="298,59,563,114" href="../elements/id-c554ddd3abb54cf5805b5001faa4c367.html"  target="element">
				  				<area shape="rect" coords="2506,57,2771,112" href="../elements/id-03c0b51b20a943398a478d39c03bc791.html"  target="element">
				  				<area shape="rect" coords="22,59,287,114" href="../elements/id-56758c2739994f3d8c7f8db4e4ad6e07.html"  target="element">
				  				<area shape="rect" coords="574,59,839,114" href="../elements/id-699a10ca250241d8a1f20d55429950ad.html"  target="element">
				  				<area shape="rect" coords="3886,59,4151,114" href="../elements/id-ca9cb95b6955459797bcf77d385572c5.html"  target="element">

				  		<area shape="rect" coords="10,10,4439,131" href="../elements/id-4993de1666b84efcbc102bcd6102ada2.html"  target="element">

			   </map>

			<div role="tabpanel">
				<!-- Nav tabs -->
				<ul class="nav nav-tabs" role="tablist">
                    <!-- Purpose / Documentation / Content -->
					   <li role="presentation" class="active"><a href="#documentation" aria-controls="documentation" role="tab" data-toggle="tab" class="i18n-documentation"></a></li>

                    <!-- Properties -->
                    <li role="presentation"><a href="#properties" aria-controls="properties" role="tab" data-toggle="tab" class="i18n-properties"></a></li>

						<li role="presentation"><a href="#elements" aria-controls="elements" role="tab" data-toggle="tab" class="i18n-elements"></a></li>
						<li role="presentation"><a href="#relationships" aria-controls="relationships" role="tab" data-toggle="tab" class="i18n-relationships"></a></li>
                    <!-- Model, Query Tab -->
				</ul>

				<!-- Tab panes -->
				<div class="tab-content">
					<div role="tabpanel" class="tab-pane active" id="documentation">
						<div class="convertlinks documentation" style="white-space:pre-wrap"></div>
					</div>
					<div role="tabpanel" class="tab-pane" id="properties">
						<table class="table table-striped table-hover table-condensed">
							<thead>
								<tr>
									<th class="i18n-key"></th>
									<th class="i18n-value"></th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
					</div>
						<div role="tabpanel" class="tab-pane" id="elements">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
									</tr>
								</thead>
								<tbody>
											<tr>
											    <td> <a href="../elements/id-4993de1666b84efcbc102bcd6102ada2.html" target="element"> Afstemmen gewenste en beschikbare transportcapaciteit </a> </td>
											    <td> <a href="../elements/id-4993de1666b84efcbc102bcd6102ada2.html" target="element" class="i18n-elementtype-BusinessProcess">
											    </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/id-ca9cb95b6955459797bcf77d385572c5.html" target="element"> Vergoeden inzet regelbaar vermogen </a> </td>
													    <td> <a href="../elements/id-ca9cb95b6955459797bcf77d385572c5.html" target="element" class="i18n-elementtype-BusinessProcess">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-699a10ca250241d8a1f20d55429950ad.html" target="element"> Offreren inzet regelbaar vermogen </a> </td>
													    <td> <a href="../elements/id-699a10ca250241d8a1f20d55429950ad.html" target="element" class="i18n-elementtype-BusinessProcess">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-56758c2739994f3d8c7f8db4e4ad6e07.html" target="element"> Vindbaar maken mogelijkheden aanbieden regelbaar vermogen </a> </td>
													    <td> <a href="../elements/id-56758c2739994f3d8c7f8db4e4ad6e07.html" target="element" class="i18n-elementtype-BusinessProcess">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-03c0b51b20a943398a478d39c03bc791.html" target="element"> Bepalen transportcapaciteitsproblemen </a> </td>
													    <td> <a href="../elements/id-03c0b51b20a943398a478d39c03bc791.html" target="element" class="i18n-elementtype-BusinessProcess">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-c554ddd3abb54cf5805b5001faa4c367.html" target="element"> In behandeling nemen aanbod regelbaar vermogen </a> </td>
													    <td> <a href="../elements/id-c554ddd3abb54cf5805b5001faa4c367.html" target="element" class="i18n-elementtype-BusinessProcess">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-4352b38044ed42a8b526fe4a8f3ac4ec.html" target="element"> Bepalen inzet regelbaar vermogen als mitigerende maatregel </a> </td>
													    <td> <a href="../elements/id-4352b38044ed42a8b526fe4a8f3ac4ec.html" target="element" class="i18n-elementtype-BusinessProcess">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-6a359dfa96ac4831835992899599be07.html" target="element"> Afroepen (pre intraday) regelbaar vermogen </a> </td>
													    <td> <a href="../elements/id-6a359dfa96ac4831835992899599be07.html" target="element" class="i18n-elementtype-BusinessProcess">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-b48c122f10a54370a8ec5de57fb4e4aa.html" target="element"> Bekend maken congestiegebied </a> </td>
													    <td> <a href="../elements/id-b48c122f10a54370a8ec5de57fb4e4aa.html" target="element" class="i18n-elementtype-BusinessProcess">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-4eeb7050caba4ef5b56c305b2440f550.html" target="element"> Overeenkomen inzet regelbaar vermogen </a> </td>
													    <td> <a href="../elements/id-4eeb7050caba4ef5b56c305b2440f550.html" target="element" class="i18n-elementtype-BusinessProcess">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-6e7d8db2927146a2b3500660de603d5e.html" target="element"> Beschikbaar maken metingen transportcapaciteit </a> </td>
													    <td> <a href="../elements/id-6e7d8db2927146a2b3500660de603d5e.html" target="element" class="i18n-elementtype-BusinessProcess">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-e7b201a541ba4f4280e4baac3c0e78ed.html" target="element"> Behandelen vraag over regelbaar vermogen </a> </td>
													    <td> <a href="../elements/id-e7b201a541ba4f4280e4baac3c0e78ed.html" target="element" class="i18n-elementtype-BusinessProcess">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-4193ed07568e4471b78510e920269263.html" target="element"> Bedienen energienet voor transportcapaciteitsprobleem </a> </td>
													    <td> <a href="../elements/id-4193ed07568e4471b78510e920269263.html" target="element" class="i18n-elementtype-BusinessProcess">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-eda407c0de194916bd41a6d47524962d.html" target="element"> Direct besturen energienet voor transportcapaciteitsprobleem </a> </td>
													    <td> <a href="../elements/id-eda407c0de194916bd41a6d47524962d.html" target="element" class="i18n-elementtype-BusinessProcess">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-07edd5a0f0644b36a16b01ae5e436599.html" target="element"> Afstemmen inzet regelbaar vermogen </a> </td>
													    <td> <a href="../elements/id-07edd5a0f0644b36a16b01ae5e436599.html" target="element" class="i18n-elementtype-BusinessProcess">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-1370961c96d84e6f8e4654fb4d77bdc8.html" target="element"> Behandelen marktvraag over regelbaar vermogen </a> </td>
													    <td> <a href="../elements/id-1370961c96d84e6f8e4654fb4d77bdc8.html" target="element" class="i18n-elementtype-BusinessProcess">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-0f6babc98b30461ba9fcc3d985b7eea8.html" target="element"> Prekwalificeren aansluiting voor regelbaar vermogen </a> </td>
													    <td> <a href="../elements/id-0f6babc98b30461ba9fcc3d985b7eea8.html" target="element" class="i18n-elementtype-BusinessProcess">
													    </a> </td>
													</tr>

											
											<tr>
											    <td> <a href="../elements/id-5c536350be97467c9e774356a50a1b69.html" target="element"> Gevonden aanbiedmogelijkheid regelbaar vermogen </a> </td>
											    <td> <a href="../elements/id-5c536350be97467c9e774356a50a1b69.html" target="element" class="i18n-elementtype-Value">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-f714c3ea38a2425a9479c57ca8fd3464.html" target="element"> In behandeling genomen aanbod regelbaar vermogen </a> </td>
											    <td> <a href="../elements/id-f714c3ea38a2425a9479c57ca8fd3464.html" target="element" class="i18n-elementtype-Value">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-25f45deb0947484a86230ad7c7605016.html" target="element"> Geoffreerde inzet regelbaar vermogen </a> </td>
											    <td> <a href="../elements/id-25f45deb0947484a86230ad7c7605016.html" target="element" class="i18n-elementtype-Value">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-41949e1fa6ea41039877cbc68fb5b343.html" target="element"> Overeengekomen inzet regelbaar vermogen </a> </td>
											    <td> <a href="../elements/id-41949e1fa6ea41039877cbc68fb5b343.html" target="element" class="i18n-elementtype-Value">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-26b5875ed44b491286089c588d86393e.html" target="element"> Vastgestelde inzet regelbaar vermogen </a> </td>
											    <td> <a href="../elements/id-26b5875ed44b491286089c588d86393e.html" target="element" class="i18n-elementtype-Value">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-47e2c87132fc405791b7099e46dd64d9.html" target="element"> Gecommuniceerd congestiegebied </a> </td>
											    <td> <a href="../elements/id-47e2c87132fc405791b7099e46dd64d9.html" target="element" class="i18n-elementtype-Value">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-a939248064d4416ba91952ee4abb7170.html" target="element"> Inzicht in transportcapaciteit </a> </td>
											    <td> <a href="../elements/id-a939248064d4416ba91952ee4abb7170.html" target="element" class="i18n-elementtype-Value">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-25826efabfd6408b8684764e35868513.html" target="element"> Afgestemde inzet regelbaar vermogen </a> </td>
											    <td> <a href="../elements/id-25826efabfd6408b8684764e35868513.html" target="element" class="i18n-elementtype-Value">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-7ff243ea34cc421c9e2c1ee503cc34a4.html" target="element"> Vastgestelde transportcapaciteitsproblemen </a> </td>
											    <td> <a href="../elements/id-7ff243ea34cc421c9e2c1ee503cc34a4.html" target="element" class="i18n-elementtype-Value">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-4c050c52058a4e6194a5cc5ebdccaf28.html" target="element"> Afgehandeld transportcapaciteitsprobleem door energienetbesturing </a> </td>
											    <td> <a href="../elements/id-4c050c52058a4e6194a5cc5ebdccaf28.html" target="element" class="i18n-elementtype-Value">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-b974cdee420a498099de0f2cc37a9c87.html" target="element"> Beantwoorde marktvraag over regelbaar vermogen </a> </td>
											    <td> <a href="../elements/id-b974cdee420a498099de0f2cc37a9c87.html" target="element" class="i18n-elementtype-Value">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-e95154393da745589f9dd7e693174dd5.html" target="element"> Betaalde vergoeding inzet regelbaar vermogen </a> </td>
											    <td> <a href="../elements/id-e95154393da745589f9dd7e693174dd5.html" target="element" class="i18n-elementtype-Value">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-026f53b918024719b21290eb348f7ba3.html" target="element"> Beantwoorde vraag over regelbaar vermogen </a> </td>
											    <td> <a href="../elements/id-026f53b918024719b21290eb348f7ba3.html" target="element" class="i18n-elementtype-Value">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-d1b90ba0cacf409a82d67be865355965.html" target="element"> Geprekwalificeerde aansluiting </a> </td>
											    <td> <a href="../elements/id-d1b90ba0cacf409a82d67be865355965.html" target="element" class="i18n-elementtype-Value">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-cff95165bf864f54912a10a17e2c7122.html" target="element"> Afgehandeld transportcapaciteitsprobleem door energienetbediening </a> </td>
											    <td> <a href="../elements/id-cff95165bf864f54912a10a17e2c7122.html" target="element" class="i18n-elementtype-Value">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-2a2ad629c64b456b94a38ed15046c90b.html" target="element"> Afgeroepen regelbaar vermogen </a> </td>
											    <td> <a href="../elements/id-2a2ad629c64b456b94a38ed15046c90b.html" target="element" class="i18n-elementtype-Value">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-718772.html" target="element"> Klantovereenkomsten afsluiten en beheren </a> </td>
											    <td> <a href="../elements/id-718772.html" target="element" class="i18n-elementtype-BusinessFunction">
											    </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/id-469480.html" target="element"> Klantovereenkomst </a> </td>
													    <td> <a href="../elements/id-469480.html" target="element" class="i18n-elementtype-BusinessObject">
													    </a> </td>
													</tr>

											
											<tr>
											    <td> <a href="../elements/id-718756.html" target="element"> Energietransport plannen en analyseren </a> </td>
											    <td> <a href="../elements/id-718756.html" target="element" class="i18n-elementtype-BusinessFunction">
											    </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/id-722927.html" target="element"> Transportanalyse </a> </td>
													    <td> <a href="../elements/id-722927.html" target="element" class="i18n-elementtype-BusinessObject">
													    </a> </td>
													</tr>

											
											<tr>
											    <td> <a href="../elements/id-718759.html" target="element"> Energienetten bedienen op afstand </a> </td>
											    <td> <a href="../elements/id-718759.html" target="element" class="i18n-elementtype-BusinessFunction">
											    </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/id-722918.html" target="element"> Bedieningssituatie </a> </td>
													    <td> <a href="../elements/id-722918.html" target="element" class="i18n-elementtype-BusinessObject">
													    </a> </td>
													</tr>

											
											<tr>
											    <td> <a href="../elements/id-718750.html" target="element"> Melding/vraag/verzoek van klanten behandelen </a> </td>
											    <td> <a href="../elements/id-718750.html" target="element" class="i18n-elementtype-BusinessFunction">
											    </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/id-469958.html" target="element"> Klantverzoek </a> </td>
													    <td> <a href="../elements/id-469958.html" target="element" class="i18n-elementtype-BusinessObject">
													    </a> </td>
													</tr>

											
											<tr>
											    <td> <a href="../elements/id-718789.html" target="element"> Congestiegebieden beheren </a> </td>
											    <td> <a href="../elements/id-718789.html" target="element" class="i18n-elementtype-BusinessFunction">
											    </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/id-723094.html" target="element"> Congestiegebied </a> </td>
													    <td> <a href="../elements/id-723094.html" target="element" class="i18n-elementtype-BusinessObject">
													    </a> </td>
													</tr>

											
											<tr>
											    <td> <a href="../elements/id-718750.html" target="element"> Melding/vraag/verzoek van klanten behandelen </a> </td>
											    <td> <a href="../elements/id-718750.html" target="element" class="i18n-elementtype-BusinessFunction">
											    </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/id-469958.html" target="element"> Klantverzoek </a> </td>
													    <td> <a href="../elements/id-469958.html" target="element" class="i18n-elementtype-BusinessObject">
													    </a> </td>
													</tr>

											
											<tr>
											    <td> <a href="../elements/id-718714.html" target="element"> Aansluitingen/allocatiepunten beheren </a> </td>
											    <td> <a href="../elements/id-718714.html" target="element" class="i18n-elementtype-BusinessFunction">
											    </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/id-468886.html" target="element"> Aansluiting </a> </td>
													    <td> <a href="../elements/id-468886.html" target="element" class="i18n-elementtype-BusinessObject">
													    </a> </td>
													</tr>

											
											<tr>
											    <td> <a href="../elements/id-718757.html" target="element"> Energietransport besturen </a> </td>
											    <td> <a href="../elements/id-718757.html" target="element" class="i18n-elementtype-BusinessFunction">
											    </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/id-722915.html" target="element"> Opregel- of afregelactie </a> </td>
													    <td> <a href="../elements/id-722915.html" target="element" class="i18n-elementtype-BusinessObject">
													    </a> </td>
													</tr>

											
											<tr>
											    <td> <a href="../elements/id-718810.html" target="element"> Producten en diensten ontwikkelen en beheren </a> </td>
											    <td> <a href="../elements/id-718810.html" target="element" class="i18n-elementtype-BusinessFunction">
											    </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/id-722954.html" target="element"> Klantproduct </a> </td>
													    <td> <a href="../elements/id-722954.html" target="element" class="i18n-elementtype-BusinessObject">
													    </a> </td>
													</tr>

											
											<tr>
											    <td> <a href="../elements/id-718720.html" target="element"> Opregel- en afregelaanbod beheren </a> </td>
											    <td> <a href="../elements/id-718720.html" target="element" class="i18n-elementtype-BusinessFunction">
											    </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/id-723122.html" target="element"> Opregel- of afregelaanbod </a> </td>
													    <td> <a href="../elements/id-723122.html" target="element" class="i18n-elementtype-BusinessObject">
													    </a> </td>
													</tr>

											
											<tr>
											    <td> <a href="../elements/id-718720.html" target="element"> Opregel- en afregelaanbod beheren </a> </td>
											    <td> <a href="../elements/id-718720.html" target="element" class="i18n-elementtype-BusinessFunction">
											    </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/id-723122.html" target="element"> Opregel- of afregelaanbod </a> </td>
													    <td> <a href="../elements/id-723122.html" target="element" class="i18n-elementtype-BusinessObject">
													    </a> </td>
													</tr>

											
											<tr>
											    <td> <a href="../elements/id-718730.html" target="element"> Alternatieven voor mitigatie risico op capaciteit en/of functionaliteit analyseren en mitigerende maatregelen bepalen </a> </td>
											    <td> <a href="../elements/id-718730.html" target="element" class="i18n-elementtype-BusinessFunction">
											    </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/id-469215.html" target="element"> Capaciteitsknelpunt </a> </td>
													    <td> <a href="../elements/id-469215.html" target="element" class="i18n-elementtype-BusinessObject">
													    </a> </td>
													</tr>

											
											<tr>
											    <td> <a href="../elements/id-718771.html" target="element"> Factuur maken en versturen </a> </td>
											    <td> <a href="../elements/id-718771.html" target="element" class="i18n-elementtype-BusinessFunction">
											    </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/id-469274.html" target="element"> Klantfactuur </a> </td>
													    <td> <a href="../elements/id-469274.html" target="element" class="i18n-elementtype-BusinessObject">
													    </a> </td>
													</tr>

											
											<tr>
											    <td> <a href="../elements/id-718760.html" target="element"> Producten aan klanten offreren </a> </td>
											    <td> <a href="../elements/id-718760.html" target="element" class="i18n-elementtype-BusinessFunction">
											    </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/id-470129.html" target="element"> Klantofferte </a> </td>
													    <td> <a href="../elements/id-470129.html" target="element" class="i18n-elementtype-BusinessObject">
													    </a> </td>
													</tr>

											
											<tr>
											    <td> <a href="../elements/id-718806.html" target="element"> Metingen beschikbaar maken </a> </td>
											    <td> <a href="../elements/id-718806.html" target="element" class="i18n-elementtype-BusinessFunction">
											    </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/id-469105.html" target="element"> Meting </a> </td>
													    <td> <a href="../elements/id-469105.html" target="element" class="i18n-elementtype-BusinessObject">
													    </a> </td>
													</tr>

											
											<tr>
											    <td> <a href="../elements/id-718728.html" target="element"> Vragen van marktpartijen afhandelen </a> </td>
											    <td> <a href="../elements/id-718728.html" target="element" class="i18n-elementtype-BusinessFunction">
											    </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/id-470230.html" target="element"> Marktverzoek </a> </td>
													    <td> <a href="../elements/id-470230.html" target="element" class="i18n-elementtype-BusinessObject">
													    </a> </td>
													</tr>

											

								</tbody>
							</table>
						</div>
						<div role="tabpanel" class="tab-pane" id="relationships">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
										<th class="i18n-source"></th>
										<th class="i18n-target"></th>
									</tr>
								</thead>
								<tbody>
											
																	<tr>
																		<td> <a href="../elements/id-564e350290c54a72b02bb454b272ab1c.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-564e350290c54a72b02bb454b272ab1c.html" target="element" class="i18n-elementtype-AccessRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-718772.html" target="element"> Klantovereenkomsten afsluiten en beheren </a> </td>
																		<td> <a href="../elements/id-469480.html" target="element"> Klantovereenkomst </a> </td>
																	</tr>

											
																	<tr>
																		<td> <a href="../elements/id-d4e8112a917246c0bc689caee9d92159.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-d4e8112a917246c0bc689caee9d92159.html" target="element" class="i18n-elementtype-AccessRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-718756.html" target="element"> Energietransport plannen en analyseren </a> </td>
																		<td> <a href="../elements/id-722927.html" target="element"> Transportanalyse </a> </td>
																	</tr>

											
																	<tr>
																		<td> <a href="../elements/id-1c9b7a6f113442cea7b717989b3638ea.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-1c9b7a6f113442cea7b717989b3638ea.html" target="element" class="i18n-elementtype-AccessRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-718759.html" target="element"> Energienetten bedienen op afstand </a> </td>
																		<td> <a href="../elements/id-722918.html" target="element"> Bedieningssituatie </a> </td>
																	</tr>

											
																	<tr>
																		<td> <a href="../elements/id-18cb91e991384741a0494d4b76263c74.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-18cb91e991384741a0494d4b76263c74.html" target="element" class="i18n-elementtype-AccessRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-718750.html" target="element"> Melding/vraag/verzoek van klanten behandelen </a> </td>
																		<td> <a href="../elements/id-469958.html" target="element"> Klantverzoek </a> </td>
																	</tr>

											
																	<tr>
																		<td> <a href="../elements/id-29ff75bff7ba46e3ade2c6e134b104ae.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-29ff75bff7ba46e3ade2c6e134b104ae.html" target="element" class="i18n-elementtype-AccessRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-718789.html" target="element"> Congestiegebieden beheren </a> </td>
																		<td> <a href="../elements/id-723094.html" target="element"> Congestiegebied </a> </td>
																	</tr>

											
																	<tr>
																		<td> <a href="../elements/id-18cb91e991384741a0494d4b76263c74.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-18cb91e991384741a0494d4b76263c74.html" target="element" class="i18n-elementtype-AccessRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-718750.html" target="element"> Melding/vraag/verzoek van klanten behandelen </a> </td>
																		<td> <a href="../elements/id-469958.html" target="element"> Klantverzoek </a> </td>
																	</tr>

											
																	<tr>
																		<td> <a href="../elements/id-23220ef7e09748bd8da1e3a5019fba22.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-23220ef7e09748bd8da1e3a5019fba22.html" target="element" class="i18n-elementtype-AccessRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-718714.html" target="element"> Aansluitingen/allocatiepunten beheren </a> </td>
																		<td> <a href="../elements/id-468886.html" target="element"> Aansluiting </a> </td>
																	</tr>

											
																	<tr>
																		<td> <a href="../elements/id-c0b4f736f0df442c9f96d7b25a991bc4.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-c0b4f736f0df442c9f96d7b25a991bc4.html" target="element" class="i18n-elementtype-AccessRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-718757.html" target="element"> Energietransport besturen </a> </td>
																		<td> <a href="../elements/id-722915.html" target="element"> Opregel- of afregelactie </a> </td>
																	</tr>

											
																	<tr>
																		<td> <a href="../elements/id-65d78ca4a09e44469608fb773e6f1920.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-65d78ca4a09e44469608fb773e6f1920.html" target="element" class="i18n-elementtype-AccessRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-718810.html" target="element"> Producten en diensten ontwikkelen en beheren </a> </td>
																		<td> <a href="../elements/id-722954.html" target="element"> Klantproduct </a> </td>
																	</tr>

											
																	<tr>
																		<td> <a href="../elements/id-4b5202a5a453469faee91b80c9eb64a1.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-4b5202a5a453469faee91b80c9eb64a1.html" target="element" class="i18n-elementtype-AccessRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-718720.html" target="element"> Opregel- en afregelaanbod beheren </a> </td>
																		<td> <a href="../elements/id-723122.html" target="element"> Opregel- of afregelaanbod </a> </td>
																	</tr>

											
																	<tr>
																		<td> <a href="../elements/id-4b5202a5a453469faee91b80c9eb64a1.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-4b5202a5a453469faee91b80c9eb64a1.html" target="element" class="i18n-elementtype-AccessRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-718720.html" target="element"> Opregel- en afregelaanbod beheren </a> </td>
																		<td> <a href="../elements/id-723122.html" target="element"> Opregel- of afregelaanbod </a> </td>
																	</tr>

											
																	<tr>
																		<td> <a href="../elements/id-33a53400f96347a78d287d6f85591d10.html" target="element"> modification </a> </td>
																		<td> <a href="../elements/id-33a53400f96347a78d287d6f85591d10.html" target="element" class="i18n-elementtype-AccessRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-718730.html" target="element"> Alternatieven voor mitigatie risico op capaciteit en/of functionaliteit analyseren en mitigerende maatregelen bepalen </a> </td>
																		<td> <a href="../elements/id-469215.html" target="element"> Capaciteitsknelpunt </a> </td>
																	</tr>

											
																	<tr>
																		<td> <a href="../elements/id-ff869d658ff84b39a1b50631d1e7a771.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-ff869d658ff84b39a1b50631d1e7a771.html" target="element" class="i18n-elementtype-AccessRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-718771.html" target="element"> Factuur maken en versturen </a> </td>
																		<td> <a href="../elements/id-469274.html" target="element"> Klantfactuur </a> </td>
																	</tr>

											
																	<tr>
																		<td> <a href="../elements/id-ef8d258db5244dbf86a66611af635855.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-ef8d258db5244dbf86a66611af635855.html" target="element" class="i18n-elementtype-AccessRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-718760.html" target="element"> Producten aan klanten offreren </a> </td>
																		<td> <a href="../elements/id-470129.html" target="element"> Klantofferte </a> </td>
																	</tr>

											
																	<tr>
																		<td> <a href="../elements/id-b3f056e4836746c29264fa70cc37b838.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-b3f056e4836746c29264fa70cc37b838.html" target="element" class="i18n-elementtype-AccessRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-718806.html" target="element"> Metingen beschikbaar maken </a> </td>
																		<td> <a href="../elements/id-469105.html" target="element"> Meting </a> </td>
																	</tr>

											
																	<tr>
																		<td> <a href="../elements/id-d022448973c444af9b0d441d5b26c0af.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-d022448973c444af9b0d441d5b26c0af.html" target="element" class="i18n-elementtype-AccessRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-718728.html" target="element"> Vragen van marktpartijen afhandelen </a> </td>
																		<td> <a href="../elements/id-470230.html" target="element"> Marktverzoek </a> </td>
																	</tr>

											

								</tbody>
							</table>
						</div>
			  </div>
			</div>
		</div>
	</div>
	<script type="text/javascript">imageMapResize();</script>
</body>
</html>