<!DOCTYPE html>
<html class="frame" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
	<title>L2 value stream (stages) P.G</title>

	<!-- JQUERY -->
	<script type="text/javascript" src="../../lib/jquery/jquery.min.js"></script>
	<!-- BOOTSTRAP -->
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap.min.yeti.css">
	<script type="text/javascript" src="../../lib/bootstrap/js/bootstrap-3.3.2.min.js"></script>
	<!-- REPORT SPECIFIC -->
	<link type="text/css" rel="stylesheet" href="../../css/model.css">
	<link type="text/css" rel="stylesheet" href="../../css/i18n.css">
	<script type="text/javascript" src="../../js/frame.js"></script>
	<script type="text/javascript" src="../../js/imageMapResizer.min.js"></script>
</head>

<body>
	<div class="panel panel-default root-panel">

		<div class="panel-heading root-panel-heading">
            <!-- Name -->
               <b>L2 value stream (stages) P.G</b>

            <!-- If a View with Viewpoint -->
			   (<span class="i18n-viewpoint-"></span>)
			   <a class="glyphicon glyphicon-info-sign" id="hint-viewpoint_" target="hint"></a>
            <!-- Or if a model (i.e has Purpose method) -->
		</div>

		<div class="panel-body root-panel-body">
		    <!-- If this is a digram model (has children and no bounds) show the image -->
			   <img class="diagram" src="../images/id-8573ee46d9134e2886de0f62fed6a747.png" alt="L2 value stream (stages) P.G" usemap="#id-8573ee46d9134e2886de0f62fed6a747map"/>
			   <map name="id-8573ee46d9134e2886de0f62fed6a747map">
				  						<area shape="rect" coords="910,358,1067,383" href="../elements/id-729667.html"  target="element">

				  				<area shape="rect" coords="898,298,1079,395" href="../elements/id-718338.html"  target="element">

				  		<area shape="rect" coords="886,226,1091,407" href="../elements/id-718173.html"  target="element">
				  						<area shape="rect" coords="478,358,635,383" href="../elements/id-729676.html"  target="element">

				  				<area shape="rect" coords="466,298,647,395" href="../elements/id-718383.html"  target="element">

				  		<area shape="rect" coords="454,226,659,407" href="../elements/id-718173.html"  target="element">
				  						<area shape="rect" coords="898,106,1079,161" href="../elements/id-c8fa037bb4b84ababc9828856d17e667.html"  target="element">

				  				<area shape="rect" coords="886,58,1091,179" href="../elements/id-f9b2a17a26e84f049b0ce7dbb08bd208.html"  target="element">
				  						<area shape="rect" coords="466,106,647,161" href="../elements/id-e777ce638f9b464fbedb8e2eb9dbd42d.html"  target="element">

				  				<area shape="rect" coords="454,58,659,179" href="../elements/id-f9b2a17a26e84f049b0ce7dbb08bd208.html"  target="element">
				  						<area shape="rect" coords="682,106,863,161" href="../elements/id-3c5a9aa8e51d4d8e8453444a74f4c5d9.html"  target="element">

				  				<area shape="rect" coords="670,58,875,179" href="../elements/id-82d8e4b01ecb4da8912b4ca98a75027e.html"  target="element">
				  						<area shape="rect" coords="250,106,431,161" href="../elements/id-10c4b06b69474fd98275d80c4251be7f.html"  target="element">

				  				<area shape="rect" coords="238,58,443,179" href="../elements/id-6fe1a377039f4d3b911ab5f0dbd11725.html"  target="element">
				  						<area shape="rect" coords="34,106,215,161" href="../elements/id-c9e74e0120d54b34abf6aae3713c01a0.html"  target="element">

				  				<area shape="rect" coords="22,58,227,179" href="../elements/id-f9b2a17a26e84f049b0ce7dbb08bd208.html"  target="element">

				  		<area shape="rect" coords="10,10,1103,191" href="../elements/id-2653d94e08524482adaf3439ed2972e3.html"  target="element">
				  						<area shape="rect" coords="46,358,203,383" href="../elements/id-729676.html"  target="element">

				  				<area shape="rect" coords="34,298,215,395" href="../elements/id-718383.html"  target="element">

				  		<area shape="rect" coords="22,226,227,407" href="../elements/id-718173.html"  target="element">
				  						<area shape="rect" coords="694,358,851,383" href="../elements/id-729651.html"  target="element">

				  				<area shape="rect" coords="682,298,863,394" href="../elements/id-718342.html"  target="element">

				  		<area shape="rect" coords="670,226,875,407" href="../elements/id-718171.html"  target="element">
				  						<area shape="rect" coords="262,358,419,383" href="../elements/id-729661.html"  target="element">

				  				<area shape="rect" coords="250,298,431,395" href="../elements/id-718341.html"  target="element">

				  		<area shape="rect" coords="238,226,443,407" href="../elements/id-718170.html"  target="element">

			   </map>

			<div role="tabpanel">
				<!-- Nav tabs -->
				<ul class="nav nav-tabs" role="tablist">
                    <!-- Purpose / Documentation / Content -->
					   <li role="presentation" class="active"><a href="#documentation" aria-controls="documentation" role="tab" data-toggle="tab" class="i18n-documentation"></a></li>

                    <!-- Properties -->
                    <li role="presentation"><a href="#properties" aria-controls="properties" role="tab" data-toggle="tab" class="i18n-properties"></a></li>

						<li role="presentation"><a href="#elements" aria-controls="elements" role="tab" data-toggle="tab" class="i18n-elements"></a></li>
						<li role="presentation"><a href="#relationships" aria-controls="relationships" role="tab" data-toggle="tab" class="i18n-relationships"></a></li>
                    <!-- Model, Query Tab -->
				</ul>

				<!-- Tab panes -->
				<div class="tab-content">
					<div role="tabpanel" class="tab-pane active" id="documentation">
						<div class="convertlinks documentation" style="white-space:pre-wrap"></div>
					</div>
					<div role="tabpanel" class="tab-pane" id="properties">
						<table class="table table-striped table-hover table-condensed">
							<thead>
								<tr>
									<th class="i18n-key"></th>
									<th class="i18n-value"></th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
					</div>
						<div role="tabpanel" class="tab-pane" id="elements">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
									</tr>
								</thead>
								<tbody>
											<tr>
											    <td> <a href="../elements/id-718170.html" target="element"> Energietransport en -netten meten </a> </td>
											    <td> <a href="../elements/id-718170.html" target="element" class="i18n-elementtype-BusinessFunction">
											    </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/id-718341.html" target="element"> Metingen van energietransport en -netten ter beschikking stellen </a> </td>
													    <td> <a href="../elements/id-718341.html" target="element" class="i18n-elementtype-BusinessFunction">
													    </a> </td>
													</tr>

															<tr>
															    <td> <a href="../elements/id-729661.html" target="element"> Meting </a> </td>
															    <td> <a href="../elements/id-729661.html" target="element" class="i18n-elementtype-BusinessObject">
															    </a> </td>
															</tr>

													
											
											<tr>
											    <td> <a href="../elements/id-718171.html" target="element"> Klanten bedienen </a> </td>
											    <td> <a href="../elements/id-718171.html" target="element" class="i18n-elementtype-BusinessFunction">
											    </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/id-718342.html" target="element"> Inkomstenverlies beperken </a> </td>
													    <td> <a href="../elements/id-718342.html" target="element" class="i18n-elementtype-BusinessFunction">
													    </a> </td>
													</tr>

															<tr>
															    <td> <a href="../elements/id-729651.html" target="element"> Inkomstenverlies </a> </td>
															    <td> <a href="../elements/id-729651.html" target="element" class="i18n-elementtype-BusinessObject">
															    </a> </td>
															</tr>

													
											
											<tr>
											    <td> <a href="../elements/id-718173.html" target="element"> De energiemarkt faciliteren </a> </td>
											    <td> <a href="../elements/id-718173.html" target="element" class="i18n-elementtype-BusinessFunction">
											    </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/id-718383.html" target="element"> Marktprocessen uitvoeren/faciliteren </a> </td>
													    <td> <a href="../elements/id-718383.html" target="element" class="i18n-elementtype-BusinessFunction">
													    </a> </td>
													</tr>

															<tr>
															    <td> <a href="../elements/id-729676.html" target="element"> Marktproces </a> </td>
															    <td> <a href="../elements/id-729676.html" target="element" class="i18n-elementtype-BusinessObject">
															    </a> </td>
															</tr>

													
											
											<tr>
											    <td> <a href="../elements/id-2653d94e08524482adaf3439ed2972e3.html" target="element"> Toewijzen van energie-uitwisseling </a> </td>
											    <td> <a href="../elements/id-2653d94e08524482adaf3439ed2972e3.html" target="element" class="i18n-elementtype-BusinessProcess">
											    </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/id-f9b2a17a26e84f049b0ce7dbb08bd208.html" target="element"> Faciliteren energiemarkt voor energie-uitwisseling </a> </td>
													    <td> <a href="../elements/id-f9b2a17a26e84f049b0ce7dbb08bd208.html" target="element" class="i18n-elementtype-BusinessProcess">
													    </a> </td>
													</tr>

															<tr>
															    <td> <a href="../elements/id-c9e74e0120d54b34abf6aae3713c01a0.html" target="element"> Afhandelen marktmutatie </a> </td>
															    <td> <a href="../elements/id-c9e74e0120d54b34abf6aae3713c01a0.html" target="element" class="i18n-elementtype-BusinessProcess">
															    </a> </td>
															</tr>

													
													<tr>
													    <td> <a href="../elements/id-6fe1a377039f4d3b911ab5f0dbd11725.html" target="element"> Meten energie-uitwisseling </a> </td>
													    <td> <a href="../elements/id-6fe1a377039f4d3b911ab5f0dbd11725.html" target="element" class="i18n-elementtype-BusinessProcess">
													    </a> </td>
													</tr>

															<tr>
															    <td> <a href="../elements/id-10c4b06b69474fd98275d80c4251be7f.html" target="element"> Meten afname en invoeding </a> </td>
															    <td> <a href="../elements/id-10c4b06b69474fd98275d80c4251be7f.html" target="element" class="i18n-elementtype-BusinessProcess">
															    </a> </td>
															</tr>

													
													<tr>
													    <td> <a href="../elements/id-82d8e4b01ecb4da8912b4ca98a75027e.html" target="element"> Compenseren netverlies </a> </td>
													    <td> <a href="../elements/id-82d8e4b01ecb4da8912b4ca98a75027e.html" target="element" class="i18n-elementtype-BusinessProcess">
													    </a> </td>
													</tr>

															<tr>
															    <td> <a href="../elements/id-3c5a9aa8e51d4d8e8453444a74f4c5d9.html" target="element"> Compenseren netverlies </a> </td>
															    <td> <a href="../elements/id-3c5a9aa8e51d4d8e8453444a74f4c5d9.html" target="element" class="i18n-elementtype-BusinessProcess">
															    </a> </td>
															</tr>

													
													<tr>
													    <td> <a href="../elements/id-f9b2a17a26e84f049b0ce7dbb08bd208.html" target="element"> Faciliteren energiemarkt voor energie-uitwisseling </a> </td>
													    <td> <a href="../elements/id-f9b2a17a26e84f049b0ce7dbb08bd208.html" target="element" class="i18n-elementtype-BusinessProcess">
													    </a> </td>
													</tr>

															<tr>
															    <td> <a href="../elements/id-e777ce638f9b464fbedb8e2eb9dbd42d.html" target="element"> Bepalen energietoerekening </a> </td>
															    <td> <a href="../elements/id-e777ce638f9b464fbedb8e2eb9dbd42d.html" target="element" class="i18n-elementtype-BusinessProcess">
															    </a> </td>
															</tr>

													
													<tr>
													    <td> <a href="../elements/id-f9b2a17a26e84f049b0ce7dbb08bd208.html" target="element"> Faciliteren energiemarkt voor energie-uitwisseling </a> </td>
													    <td> <a href="../elements/id-f9b2a17a26e84f049b0ce7dbb08bd208.html" target="element" class="i18n-elementtype-BusinessProcess">
													    </a> </td>
													</tr>

															<tr>
															    <td> <a href="../elements/id-c8fa037bb4b84ababc9828856d17e667.html" target="element"> Behandelen marktvraag over energietoerekening </a> </td>
															    <td> <a href="../elements/id-c8fa037bb4b84ababc9828856d17e667.html" target="element" class="i18n-elementtype-BusinessProcess">
															    </a> </td>
															</tr>

													
											
											<tr>
											    <td> <a href="../elements/id-718173.html" target="element"> De energiemarkt faciliteren </a> </td>
											    <td> <a href="../elements/id-718173.html" target="element" class="i18n-elementtype-BusinessFunction">
											    </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/id-718383.html" target="element"> Marktprocessen uitvoeren/faciliteren </a> </td>
													    <td> <a href="../elements/id-718383.html" target="element" class="i18n-elementtype-BusinessFunction">
													    </a> </td>
													</tr>

															<tr>
															    <td> <a href="../elements/id-729676.html" target="element"> Marktproces </a> </td>
															    <td> <a href="../elements/id-729676.html" target="element" class="i18n-elementtype-BusinessObject">
															    </a> </td>
															</tr>

													
											
											<tr>
											    <td> <a href="../elements/id-718173.html" target="element"> De energiemarkt faciliteren </a> </td>
											    <td> <a href="../elements/id-718173.html" target="element" class="i18n-elementtype-BusinessFunction">
											    </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/id-718338.html" target="element"> Marktpartijen bedienen en relaties onderhouden </a> </td>
													    <td> <a href="../elements/id-718338.html" target="element" class="i18n-elementtype-BusinessFunction">
													    </a> </td>
													</tr>

															<tr>
															    <td> <a href="../elements/id-729667.html" target="element"> Marktpartij </a> </td>
															    <td> <a href="../elements/id-729667.html" target="element" class="i18n-elementtype-BusinessObject">
															    </a> </td>
															</tr>

													
											

								</tbody>
							</table>
						</div>
						<div role="tabpanel" class="tab-pane" id="relationships">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
										<th class="i18n-source"></th>
										<th class="i18n-target"></th>
									</tr>
								</thead>
								<tbody>
																	<tr>
																		<td> <a href="../elements/id-878937.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-878937.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-718170.html" target="element"> Energietransport en -netten meten </a> </td>
																		<td> <a href="../elements/id-718341.html" target="element"> Metingen van energietransport en -netten ter beschikking stellen </a> </td>
																	</tr>

																			<tr>
																				<td> <a href="../elements/id-32cbdacc6eda46d485cf296ad9183ac0.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-32cbdacc6eda46d485cf296ad9183ac0.html" target="element" class="i18n-elementtype-AccessRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-718341.html" target="element"> Metingen van energietransport en -netten ter beschikking stellen </a> </td>
																				<td> <a href="../elements/id-729661.html" target="element"> Meting </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-5d52fd9c9bdd44fb872182ba563567bf.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-5d52fd9c9bdd44fb872182ba563567bf.html" target="element" class="i18n-elementtype-ServingRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-718341.html" target="element"> Metingen van energietransport en -netten ter beschikking stellen </a> </td>
																				<td> <a href="../elements/id-10c4b06b69474fd98275d80c4251be7f.html" target="element"> Meten afname en invoeding </a> </td>
																			</tr>

													
											
																	<tr>
																		<td> <a href="../elements/id-878512.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-878512.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-718171.html" target="element"> Klanten bedienen </a> </td>
																		<td> <a href="../elements/id-718342.html" target="element"> Inkomstenverlies beperken </a> </td>
																	</tr>

																			<tr>
																				<td> <a href="../elements/id-4aa84cd953b14d5da886dfa4677e7136.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-4aa84cd953b14d5da886dfa4677e7136.html" target="element" class="i18n-elementtype-AccessRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-718342.html" target="element"> Inkomstenverlies beperken </a> </td>
																				<td> <a href="../elements/id-729651.html" target="element"> Inkomstenverlies </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-1df9c6f2fc434a72818d7529d1cd4e09.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-1df9c6f2fc434a72818d7529d1cd4e09.html" target="element" class="i18n-elementtype-ServingRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-718342.html" target="element"> Inkomstenverlies beperken </a> </td>
																				<td> <a href="../elements/id-3c5a9aa8e51d4d8e8453444a74f4c5d9.html" target="element"> Compenseren netverlies </a> </td>
																			</tr>

													
											
																	<tr>
																		<td> <a href="../elements/id-878900.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-878900.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-718173.html" target="element"> De energiemarkt faciliteren </a> </td>
																		<td> <a href="../elements/id-718383.html" target="element"> Marktprocessen uitvoeren/faciliteren </a> </td>
																	</tr>

																			<tr>
																				<td> <a href="../elements/id-5f4b9bd4d47b48fb92f44c7a37ba17d8.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-5f4b9bd4d47b48fb92f44c7a37ba17d8.html" target="element" class="i18n-elementtype-AccessRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-718383.html" target="element"> Marktprocessen uitvoeren/faciliteren </a> </td>
																				<td> <a href="../elements/id-729676.html" target="element"> Marktproces </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-c5ff35f7cc1a4f5fa6a4fb90f32f1343.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-c5ff35f7cc1a4f5fa6a4fb90f32f1343.html" target="element" class="i18n-elementtype-ServingRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-718383.html" target="element"> Marktprocessen uitvoeren/faciliteren </a> </td>
																				<td> <a href="../elements/id-c9e74e0120d54b34abf6aae3713c01a0.html" target="element"> Afhandelen marktmutatie </a> </td>
																			</tr>

													
											
																	<tr>
																		<td> <a href="../elements/id-122f3e2c113e45b29d5731824280da10.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-122f3e2c113e45b29d5731824280da10.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-2653d94e08524482adaf3439ed2972e3.html" target="element"> Toewijzen van energie-uitwisseling </a> </td>
																		<td> <a href="../elements/id-6fe1a377039f4d3b911ab5f0dbd11725.html" target="element"> Meten energie-uitwisseling </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-c582dba93ec24c51b98d5b095aa5cc0e.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-c582dba93ec24c51b98d5b095aa5cc0e.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-2653d94e08524482adaf3439ed2972e3.html" target="element"> Toewijzen van energie-uitwisseling </a> </td>
																		<td> <a href="../elements/id-f9b2a17a26e84f049b0ce7dbb08bd208.html" target="element"> Faciliteren energiemarkt voor energie-uitwisseling </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-5a705a12904d4dfe8b9e41e5cea287cc.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-5a705a12904d4dfe8b9e41e5cea287cc.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-2653d94e08524482adaf3439ed2972e3.html" target="element"> Toewijzen van energie-uitwisseling </a> </td>
																		<td> <a href="../elements/id-82d8e4b01ecb4da8912b4ca98a75027e.html" target="element"> Compenseren netverlies </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-c582dba93ec24c51b98d5b095aa5cc0e.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-c582dba93ec24c51b98d5b095aa5cc0e.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-2653d94e08524482adaf3439ed2972e3.html" target="element"> Toewijzen van energie-uitwisseling </a> </td>
																		<td> <a href="../elements/id-f9b2a17a26e84f049b0ce7dbb08bd208.html" target="element"> Faciliteren energiemarkt voor energie-uitwisseling </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-c582dba93ec24c51b98d5b095aa5cc0e.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-c582dba93ec24c51b98d5b095aa5cc0e.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-2653d94e08524482adaf3439ed2972e3.html" target="element"> Toewijzen van energie-uitwisseling </a> </td>
																		<td> <a href="../elements/id-f9b2a17a26e84f049b0ce7dbb08bd208.html" target="element"> Faciliteren energiemarkt voor energie-uitwisseling </a> </td>
																	</tr>

																			<tr>
																				<td> <a href="../elements/id-5a4418fc77f140809119eb142553ad57.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-5a4418fc77f140809119eb142553ad57.html" target="element" class="i18n-elementtype-CompositionRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-f9b2a17a26e84f049b0ce7dbb08bd208.html" target="element"> Faciliteren energiemarkt voor energie-uitwisseling </a> </td>
																				<td> <a href="../elements/id-c9e74e0120d54b34abf6aae3713c01a0.html" target="element"> Afhandelen marktmutatie </a> </td>
																			</tr>

													
																			<tr>
																				<td> <a href="../elements/id-fc40271eec2a4808b1a4524d339ad824.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-fc40271eec2a4808b1a4524d339ad824.html" target="element" class="i18n-elementtype-CompositionRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-6fe1a377039f4d3b911ab5f0dbd11725.html" target="element"> Meten energie-uitwisseling </a> </td>
																				<td> <a href="../elements/id-10c4b06b69474fd98275d80c4251be7f.html" target="element"> Meten afname en invoeding </a> </td>
																			</tr>

													
																			<tr>
																				<td> <a href="../elements/id-1d6fa34a6a41444fbbdefc7573a85f85.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-1d6fa34a6a41444fbbdefc7573a85f85.html" target="element" class="i18n-elementtype-CompositionRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-82d8e4b01ecb4da8912b4ca98a75027e.html" target="element"> Compenseren netverlies </a> </td>
																				<td> <a href="../elements/id-3c5a9aa8e51d4d8e8453444a74f4c5d9.html" target="element"> Compenseren netverlies </a> </td>
																			</tr>

													
																			<tr>
																				<td> <a href="../elements/id-95159e02e30b474588f1b69e467ae0e3.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-95159e02e30b474588f1b69e467ae0e3.html" target="element" class="i18n-elementtype-CompositionRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-f9b2a17a26e84f049b0ce7dbb08bd208.html" target="element"> Faciliteren energiemarkt voor energie-uitwisseling </a> </td>
																				<td> <a href="../elements/id-e777ce638f9b464fbedb8e2eb9dbd42d.html" target="element"> Bepalen energietoerekening </a> </td>
																			</tr>

													
																			<tr>
																				<td> <a href="../elements/id-997e1647395b46b682636ebb955c58fc.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-997e1647395b46b682636ebb955c58fc.html" target="element" class="i18n-elementtype-CompositionRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-f9b2a17a26e84f049b0ce7dbb08bd208.html" target="element"> Faciliteren energiemarkt voor energie-uitwisseling </a> </td>
																				<td> <a href="../elements/id-c8fa037bb4b84ababc9828856d17e667.html" target="element"> Behandelen marktvraag over energietoerekening </a> </td>
																			</tr>

													
											
																	<tr>
																		<td> <a href="../elements/id-878900.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-878900.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-718173.html" target="element"> De energiemarkt faciliteren </a> </td>
																		<td> <a href="../elements/id-718383.html" target="element"> Marktprocessen uitvoeren/faciliteren </a> </td>
																	</tr>

																			<tr>
																				<td> <a href="../elements/id-5f4b9bd4d47b48fb92f44c7a37ba17d8.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-5f4b9bd4d47b48fb92f44c7a37ba17d8.html" target="element" class="i18n-elementtype-AccessRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-718383.html" target="element"> Marktprocessen uitvoeren/faciliteren </a> </td>
																				<td> <a href="../elements/id-729676.html" target="element"> Marktproces </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-6edc495898f0473192b3ef25065f6001.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-6edc495898f0473192b3ef25065f6001.html" target="element" class="i18n-elementtype-ServingRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-718383.html" target="element"> Marktprocessen uitvoeren/faciliteren </a> </td>
																				<td> <a href="../elements/id-e777ce638f9b464fbedb8e2eb9dbd42d.html" target="element"> Bepalen energietoerekening </a> </td>
																			</tr>

													
											
																	<tr>
																		<td> <a href="../elements/id-878938.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-878938.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-718173.html" target="element"> De energiemarkt faciliteren </a> </td>
																		<td> <a href="../elements/id-718338.html" target="element"> Marktpartijen bedienen en relaties onderhouden </a> </td>
																	</tr>

																			<tr>
																				<td> <a href="../elements/id-60b8964d10494d31afe74d33a58ef094.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-60b8964d10494d31afe74d33a58ef094.html" target="element" class="i18n-elementtype-AccessRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-718338.html" target="element"> Marktpartijen bedienen en relaties onderhouden </a> </td>
																				<td> <a href="../elements/id-729667.html" target="element"> Marktpartij </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-fc94c15e1206447eb0e6964ea4c6e48f.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-fc94c15e1206447eb0e6964ea4c6e48f.html" target="element" class="i18n-elementtype-ServingRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-718338.html" target="element"> Marktpartijen bedienen en relaties onderhouden </a> </td>
																				<td> <a href="../elements/id-c8fa037bb4b84ababc9828856d17e667.html" target="element"> Behandelen marktvraag over energietoerekening </a> </td>
																			</tr>

													
											

								</tbody>
							</table>
						</div>
			  </div>
			</div>
		</div>
	</div>
	<script type="text/javascript">imageMapResize();</script>
</body>
</html>