<!DOCTYPE html>
<html class="frame" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
	<title>L3 value stream (stages) summary P.F</title>

	<!-- JQUERY -->
	<script type="text/javascript" src="../../lib/jquery/jquery.min.js"></script>
	<!-- BOOTSTRAP -->
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap.min.yeti.css">
	<script type="text/javascript" src="../../lib/bootstrap/js/bootstrap-3.3.2.min.js"></script>
	<!-- REPORT SPECIFIC -->
	<link type="text/css" rel="stylesheet" href="../../css/model.css">
	<link type="text/css" rel="stylesheet" href="../../css/i18n.css">
	<script type="text/javascript" src="../../js/frame.js"></script>
	<script type="text/javascript" src="../../js/imageMapResizer.min.js"></script>
</head>

<body>
	<div class="panel panel-default root-panel">

		<div class="panel-heading root-panel-heading">
            <!-- Name -->
               <b>L3 value stream (stages) summary P.F</b>

            <!-- If a View with Viewpoint -->
			   (<span class="i18n-viewpoint-"></span>)
			   <a class="glyphicon glyphicon-info-sign" id="hint-viewpoint_" target="hint"></a>
            <!-- Or if a model (i.e has Purpose method) -->
		</div>

		<div class="panel-body root-panel-body">
		    <!-- If this is a digram model (has children and no bounds) show the image -->
			   <img class="diagram" src="../images/id-8afbe71895d74b5086ae0698d536afa1.png" alt="L3 value stream (stages) summary P.F" usemap="#id-8afbe71895d74b5086ae0698d536afa1map"/>
			   <map name="id-8afbe71895d74b5086ae0698d536afa1map">
				  				<area shape="rect" coords="4139,310,4379,334" href="../elements/id-469274.html"  target="element">

				  		<area shape="rect" coords="4127,262,4391,347" href="../elements/id-718770.html"  target="element">
				  				<area shape="rect" coords="311,310,552,335" href="../elements/id-469958.html"  target="element">

				  		<area shape="rect" coords="299,262,563,347" href="../elements/id-718750.html"  target="element">
				  				<area shape="rect" coords="2243,310,2483,334" href="../elements/id-722908.html"  target="element">

				  		<area shape="rect" coords="2231,262,2495,346" href="../elements/id-718704.html"  target="element">
				  				<area shape="rect" coords="1139,310,1379,334" href="../elements/id-469105.html"  target="element">

				  		<area shape="rect" coords="1127,262,1392,347" href="../elements/id-718806.html"  target="element">
				  				<area shape="rect" coords="4415,310,4656,335" href="../elements/id-469958.html"  target="element">

				  		<area shape="rect" coords="4403,262,4668,347" href="../elements/id-718750.html"  target="element">
				  				<area shape="rect" coords="2795,310,3035,334" href="../elements/id-722918.html"  target="element">

				  		<area shape="rect" coords="2783,262,3047,346" href="../elements/id-718759.html"  target="element">
				  				<area shape="rect" coords="3599,313,3828,338" href="../elements/id-723109.html"  target="element">

				  		<area shape="rect" coords="3587,265,3842,347" href="../elements/id-718780.html"  target="element">
				  				<area shape="rect" coords="587,310,827,334" href="../elements/id-470129.html"  target="element">

				  		<area shape="rect" coords="575,262,839,346" href="../elements/id-718760.html"  target="element">
				  				<area shape="rect" coords="35,310,276,335" href="../elements/id-722954.html"  target="element">

				  		<area shape="rect" coords="23,262,288,347" href="../elements/id-718810.html"  target="element">
				  				<area shape="rect" coords="863,309,1103,333" href="../elements/id-469480.html"  target="element">

				  		<area shape="rect" coords="851,261,1115,346" href="../elements/id-718772.html"  target="element">
				  				<area shape="rect" coords="1967,310,2207,334" href="../elements/id-722911.html"  target="element">

				  		<area shape="rect" coords="1955,262,2219,346" href="../elements/id-718758.html"  target="element">
				  				<area shape="rect" coords="1415,310,1655,335" href="../elements/id-723119.html"  target="element">

				  		<area shape="rect" coords="1403,262,1668,347" href="../elements/id-718796.html"  target="element">
				  				<area shape="rect" coords="2519,310,2759,334" href="../elements/id-469705.html"  target="element">

				  		<area shape="rect" coords="2507,262,2771,346" href="../elements/id-718757.html"  target="element">
				  				<area shape="rect" coords="3863,310,4103,334" href="../elements/id-469274.html"  target="element">

				  		<area shape="rect" coords="3851,262,4115,347" href="../elements/id-718771.html"  target="element">
				  				<area shape="rect" coords="3071,310,3300,335" href="../elements/id-723119.html"  target="element">

				  		<area shape="rect" coords="3059,262,3312,347" href="../elements/id-718796.html"  target="element">
				  				<area shape="rect" coords="1691,310,1931,334" href="../elements/id-722927.html"  target="element">

				  		<area shape="rect" coords="1679,262,1943,347" href="../elements/id-718756.html"  target="element">
				  				<area shape="rect" coords="3335,310,3564,335" href="../elements/id-469105.html"  target="element">

				  		<area shape="rect" coords="3323,262,3576,347" href="../elements/id-718806.html"  target="element">
				  		<area shape="rect" coords="4402,178,4667,215" href="../elements/id-7b4f02a18a7343b0a0d4cb5a144dfd1d.html"  target="element">
				  		<area shape="rect" coords="4126,178,4391,215" href="../elements/id-884d7a2377b8459d8a2bb0531110e5f7.html"  target="element">
				  		<area shape="rect" coords="3850,178,4115,215" href="../elements/id-8ece99b5dff146afb3f9bfc4c154016d.html"  target="element">
				  		<area shape="rect" coords="3586,178,3839,215" href="../elements/id-f1957b36885642149d71c57126269609.html"  target="element">
				  		<area shape="rect" coords="3322,178,3575,215" href="../elements/id-04176294d44149948f9ad69ea0dba9c6.html"  target="element">
				  		<area shape="rect" coords="3058,178,3311,215" href="../elements/id-c990ec752103489ebcb91d5992815326.html"  target="element">
				  		<area shape="rect" coords="2782,178,3047,215" href="../elements/id-95f4d1118782447eafba81932922239d.html"  target="element">
				  		<area shape="rect" coords="2506,178,2771,215" href="../elements/id-d1394ff85b1b450b8680e3fe4f4391d5.html"  target="element">
				  		<area shape="rect" coords="2230,178,2495,215" href="../elements/id-368fae867bfe4bba86adbf171f0a833d.html"  target="element">
				  		<area shape="rect" coords="1954,178,2219,215" href="../elements/id-6ba6fe7ee366498383a9e3d1c1c9d7e7.html"  target="element">
				  		<area shape="rect" coords="1678,178,1943,215" href="../elements/id-c124c21c7d204ea0b057d2566e88dd68.html"  target="element">
				  		<area shape="rect" coords="1402,178,1667,215" href="../elements/id-ed6deb7aae38412ca271ae412b230de8.html"  target="element">
				  		<area shape="rect" coords="1126,178,1391,215" href="../elements/id-d924747fbd424629b5a84d2a3f0052c7.html"  target="element">
				  		<area shape="rect" coords="850,178,1115,215" href="../elements/id-4cff32a77fd34bfabde9a3179ceeaf4e.html"  target="element">
				  		<area shape="rect" coords="574,178,839,215" href="../elements/id-004f214f86bf485ead0009097998dda7.html"  target="element">
				  		<area shape="rect" coords="298,178,563,215" href="../elements/id-2fad909093b34158a46a1cae34db34e2.html"  target="element">
				  		<area shape="rect" coords="22,178,287,215" href="../elements/id-171a56c09b364d1aa3dc2ad8803aa6a6.html"  target="element">
				  				<area shape="rect" coords="2506,58,2771,113" href="../elements/id-276cfbb870dc45eea10cbb129dc8fe10.html"  target="element">
				  				<area shape="rect" coords="574,58,839,113" href="../elements/id-ba9126da89584c4b8dfb31c5a9853a54.html"  target="element">
				  				<area shape="rect" coords="1402,58,1667,113" href="../elements/id-fdd948153007408d9212c26850168ffe.html"  target="element">
				  				<area shape="rect" coords="3322,58,3575,113" href="../elements/id-980ea0abfed74565a3cc33fe9bbaca91.html"  target="element">
				  				<area shape="rect" coords="1954,58,2219,113" href="../elements/id-81c34b87ca934adebec7e14ad7d50cbd.html"  target="element">
				  				<area shape="rect" coords="22,58,287,113" href="../elements/id-eaa2b23127304e3eb5b3e7b7ed0476d5.html"  target="element">
				  				<area shape="rect" coords="4126,58,4391,113" href="../elements/id-3d4e87dfad0941669c9555868306d63b.html"  target="element">
				  				<area shape="rect" coords="298,58,563,113" href="../elements/id-36a7c625cbd04c85962caac6a7803fce.html"  target="element">
				  				<area shape="rect" coords="4402,58,4667,113" href="../elements/id-2e2fcce1e61f4f4e9981fb83c851c2a3.html"  target="element">
				  				<area shape="rect" coords="850,58,1115,113" href="../elements/id-a0ea5d7981124cf181d1fa24a94da727.html"  target="element">
				  				<area shape="rect" coords="2230,58,2495,113" href="../elements/id-075345afd9f54abbbd58bf65d839bf5a.html"  target="element">
				  				<area shape="rect" coords="3058,58,3311,113" href="../elements/id-9d5e5d3c5f0a49d6b9c2bfc6c8713d5c.html"  target="element">
				  				<area shape="rect" coords="3850,58,4115,113" href="../elements/id-2f15f18170284c018a57f9b9858872e7.html"  target="element">
				  				<area shape="rect" coords="3586,58,3839,113" href="../elements/id-06e817b3380649d49850537eb6ca1e4b.html"  target="element">
				  				<area shape="rect" coords="1126,58,1391,113" href="../elements/id-f5b8617d085e49e88baddebc82ccaaf0.html"  target="element">
				  				<area shape="rect" coords="2782,58,3047,113" href="../elements/id-7b879d24cb174d818312214938a85e57.html"  target="element">
				  				<area shape="rect" coords="1678,58,1943,113" href="../elements/id-9f4befe8267c48a99061d1019fcbc48d.html"  target="element">

				  		<area shape="rect" coords="10,10,4679,131" href="../elements/id-afa6bf1f62714f499a365d33d9c4eb15.html"  target="element">

			   </map>

			<div role="tabpanel">
				<!-- Nav tabs -->
				<ul class="nav nav-tabs" role="tablist">
                    <!-- Purpose / Documentation / Content -->
					   <li role="presentation" class="active"><a href="#documentation" aria-controls="documentation" role="tab" data-toggle="tab" class="i18n-documentation"></a></li>

                    <!-- Properties -->
                    <li role="presentation"><a href="#properties" aria-controls="properties" role="tab" data-toggle="tab" class="i18n-properties"></a></li>

						<li role="presentation"><a href="#elements" aria-controls="elements" role="tab" data-toggle="tab" class="i18n-elements"></a></li>
						<li role="presentation"><a href="#relationships" aria-controls="relationships" role="tab" data-toggle="tab" class="i18n-relationships"></a></li>
                    <!-- Model, Query Tab -->
				</ul>

				<!-- Tab panes -->
				<div class="tab-content">
					<div role="tabpanel" class="tab-pane active" id="documentation">
						<div class="convertlinks documentation" style="white-space:pre-wrap"></div>
					</div>
					<div role="tabpanel" class="tab-pane" id="properties">
						<table class="table table-striped table-hover table-condensed">
							<thead>
								<tr>
									<th class="i18n-key"></th>
									<th class="i18n-value"></th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
					</div>
						<div role="tabpanel" class="tab-pane" id="elements">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
									</tr>
								</thead>
								<tbody>
											<tr>
											    <td> <a href="../elements/id-afa6bf1f62714f499a365d33d9c4eb15.html" target="element"> Transporteren van energie </a> </td>
											    <td> <a href="../elements/id-afa6bf1f62714f499a365d33d9c4eb15.html" target="element" class="i18n-elementtype-BusinessProcess">
											    </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/id-9f4befe8267c48a99061d1019fcbc48d.html" target="element"> Plannen en analyseren energietransport </a> </td>
													    <td> <a href="../elements/id-9f4befe8267c48a99061d1019fcbc48d.html" target="element" class="i18n-elementtype-BusinessProcess">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-7b879d24cb174d818312214938a85e57.html" target="element"> Bedienen energienet voor energietransport </a> </td>
													    <td> <a href="../elements/id-7b879d24cb174d818312214938a85e57.html" target="element" class="i18n-elementtype-BusinessProcess">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-f5b8617d085e49e88baddebc82ccaaf0.html" target="element"> Beschikbaar maken metingen energietransport </a> </td>
													    <td> <a href="../elements/id-f5b8617d085e49e88baddebc82ccaaf0.html" target="element" class="i18n-elementtype-BusinessProcess">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-06e817b3380649d49850537eb6ca1e4b.html" target="element"> Vaststellen getransporteerde energie </a> </td>
													    <td> <a href="../elements/id-06e817b3380649d49850537eb6ca1e4b.html" target="element" class="i18n-elementtype-BusinessProcess">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-2f15f18170284c018a57f9b9858872e7.html" target="element"> Factureren energietransport </a> </td>
													    <td> <a href="../elements/id-2f15f18170284c018a57f9b9858872e7.html" target="element" class="i18n-elementtype-BusinessProcess">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-9d5e5d3c5f0a49d6b9c2bfc6c8713d5c.html" target="element"> Vrijgeven en benutten restcapaciteit </a> </td>
													    <td> <a href="../elements/id-9d5e5d3c5f0a49d6b9c2bfc6c8713d5c.html" target="element" class="i18n-elementtype-BusinessProcess">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-075345afd9f54abbbd58bf65d839bf5a.html" target="element"> Bewaken energietransport </a> </td>
													    <td> <a href="../elements/id-075345afd9f54abbbd58bf65d839bf5a.html" target="element" class="i18n-elementtype-BusinessProcess">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-a0ea5d7981124cf181d1fa24a94da727.html" target="element"> Overeenkomen energietransport </a> </td>
													    <td> <a href="../elements/id-a0ea5d7981124cf181d1fa24a94da727.html" target="element" class="i18n-elementtype-BusinessProcess">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-2e2fcce1e61f4f4e9981fb83c851c2a3.html" target="element"> Behandelen vraag over energietransport </a> </td>
													    <td> <a href="../elements/id-2e2fcce1e61f4f4e9981fb83c851c2a3.html" target="element" class="i18n-elementtype-BusinessProcess">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-36a7c625cbd04c85962caac6a7803fce.html" target="element"> In behandeling nemen energietransportverzoek </a> </td>
													    <td> <a href="../elements/id-36a7c625cbd04c85962caac6a7803fce.html" target="element" class="i18n-elementtype-BusinessProcess">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-3d4e87dfad0941669c9555868306d63b.html" target="element"> Innen energietransportfactuur </a> </td>
													    <td> <a href="../elements/id-3d4e87dfad0941669c9555868306d63b.html" target="element" class="i18n-elementtype-BusinessProcess">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-eaa2b23127304e3eb5b3e7b7ed0476d5.html" target="element"> Vindbaar maken energietransportmogelijkheden </a> </td>
													    <td> <a href="../elements/id-eaa2b23127304e3eb5b3e7b7ed0476d5.html" target="element" class="i18n-elementtype-BusinessProcess">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-81c34b87ca934adebec7e14ad7d50cbd.html" target="element"> Bewaken werking netcomponenten </a> </td>
													    <td> <a href="../elements/id-81c34b87ca934adebec7e14ad7d50cbd.html" target="element" class="i18n-elementtype-BusinessProcess">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-980ea0abfed74565a3cc33fe9bbaca91.html" target="element"> Beschikbaar maken metingen energie-uitwisseling </a> </td>
													    <td> <a href="../elements/id-980ea0abfed74565a3cc33fe9bbaca91.html" target="element" class="i18n-elementtype-BusinessProcess">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-fdd948153007408d9212c26850168ffe.html" target="element"> Verzamelen prognoses energietransport </a> </td>
													    <td> <a href="../elements/id-fdd948153007408d9212c26850168ffe.html" target="element" class="i18n-elementtype-BusinessProcess">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-ba9126da89584c4b8dfb31c5a9853a54.html" target="element"> Offreren energietransport </a> </td>
													    <td> <a href="../elements/id-ba9126da89584c4b8dfb31c5a9853a54.html" target="element" class="i18n-elementtype-BusinessProcess">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-276cfbb870dc45eea10cbb129dc8fe10.html" target="element"> Direct besturen energietransport </a> </td>
													    <td> <a href="../elements/id-276cfbb870dc45eea10cbb129dc8fe10.html" target="element" class="i18n-elementtype-BusinessProcess">
													    </a> </td>
													</tr>

											
											<tr>
											    <td> <a href="../elements/id-171a56c09b364d1aa3dc2ad8803aa6a6.html" target="element"> Gevonden energietransportmogelijkheid </a> </td>
											    <td> <a href="../elements/id-171a56c09b364d1aa3dc2ad8803aa6a6.html" target="element" class="i18n-elementtype-Value">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-2fad909093b34158a46a1cae34db34e2.html" target="element"> In behandeling genomen energietransportverzoek </a> </td>
											    <td> <a href="../elements/id-2fad909093b34158a46a1cae34db34e2.html" target="element" class="i18n-elementtype-Value">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-004f214f86bf485ead0009097998dda7.html" target="element"> Geoffreerd energietransport </a> </td>
											    <td> <a href="../elements/id-004f214f86bf485ead0009097998dda7.html" target="element" class="i18n-elementtype-Value">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-4cff32a77fd34bfabde9a3179ceeaf4e.html" target="element"> Overeengekomen energietransport </a> </td>
											    <td> <a href="../elements/id-4cff32a77fd34bfabde9a3179ceeaf4e.html" target="element" class="i18n-elementtype-Value">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-d924747fbd424629b5a84d2a3f0052c7.html" target="element"> Inzicht in energietransport </a> </td>
											    <td> <a href="../elements/id-d924747fbd424629b5a84d2a3f0052c7.html" target="element" class="i18n-elementtype-Value">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-ed6deb7aae38412ca271ae412b230de8.html" target="element"> Geprognotiseerd energietransport </a> </td>
											    <td> <a href="../elements/id-ed6deb7aae38412ca271ae412b230de8.html" target="element" class="i18n-elementtype-Value">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-c124c21c7d204ea0b057d2566e88dd68.html" target="element"> Gepland energietransport </a> </td>
											    <td> <a href="../elements/id-c124c21c7d204ea0b057d2566e88dd68.html" target="element" class="i18n-elementtype-Value">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-6ba6fe7ee366498383a9e3d1c1c9d7e7.html" target="element"> Gecontroleerde werking netcomponenten </a> </td>
											    <td> <a href="../elements/id-6ba6fe7ee366498383a9e3d1c1c9d7e7.html" target="element" class="i18n-elementtype-Value">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-368fae867bfe4bba86adbf171f0a833d.html" target="element"> Gecontroleerd energietransport </a> </td>
											    <td> <a href="../elements/id-368fae867bfe4bba86adbf171f0a833d.html" target="element" class="i18n-elementtype-Value">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-d1394ff85b1b450b8680e3fe4f4391d5.html" target="element"> Bestuurd energietransport </a> </td>
											    <td> <a href="../elements/id-d1394ff85b1b450b8680e3fe4f4391d5.html" target="element" class="i18n-elementtype-Value">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-95f4d1118782447eafba81932922239d.html" target="element"> Bediend energienet voor energietransport </a> </td>
											    <td> <a href="../elements/id-95f4d1118782447eafba81932922239d.html" target="element" class="i18n-elementtype-Value">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-c990ec752103489ebcb91d5992815326.html" target="element"> Benutte restcapaciteit </a> </td>
											    <td> <a href="../elements/id-c990ec752103489ebcb91d5992815326.html" target="element" class="i18n-elementtype-Value">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-04176294d44149948f9ad69ea0dba9c6.html" target="element"> Inzicht in energie-uitwisseling </a> </td>
											    <td> <a href="../elements/id-04176294d44149948f9ad69ea0dba9c6.html" target="element" class="i18n-elementtype-Value">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-f1957b36885642149d71c57126269609.html" target="element"> Vastgesteld energietransport </a> </td>
											    <td> <a href="../elements/id-f1957b36885642149d71c57126269609.html" target="element" class="i18n-elementtype-Value">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-8ece99b5dff146afb3f9bfc4c154016d.html" target="element"> Gefactureerd energietransport </a> </td>
											    <td> <a href="../elements/id-8ece99b5dff146afb3f9bfc4c154016d.html" target="element" class="i18n-elementtype-Value">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-884d7a2377b8459d8a2bb0531110e5f7.html" target="element"> Betaald energietransport </a> </td>
											    <td> <a href="../elements/id-884d7a2377b8459d8a2bb0531110e5f7.html" target="element" class="i18n-elementtype-Value">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-7b4f02a18a7343b0a0d4cb5a144dfd1d.html" target="element"> Beantwoorde vraag over energietransport </a> </td>
											    <td> <a href="../elements/id-7b4f02a18a7343b0a0d4cb5a144dfd1d.html" target="element" class="i18n-elementtype-Value">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-718806.html" target="element"> Metingen beschikbaar maken </a> </td>
											    <td> <a href="../elements/id-718806.html" target="element" class="i18n-elementtype-BusinessFunction">
											    </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/id-469105.html" target="element"> Meting </a> </td>
													    <td> <a href="../elements/id-469105.html" target="element" class="i18n-elementtype-BusinessObject">
													    </a> </td>
													</tr>

											
											<tr>
											    <td> <a href="../elements/id-718756.html" target="element"> Energietransport plannen en analyseren </a> </td>
											    <td> <a href="../elements/id-718756.html" target="element" class="i18n-elementtype-BusinessFunction">
											    </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/id-722927.html" target="element"> Transportanalyse </a> </td>
													    <td> <a href="../elements/id-722927.html" target="element" class="i18n-elementtype-BusinessObject">
													    </a> </td>
													</tr>

											
											<tr>
											    <td> <a href="../elements/id-718796.html" target="element"> Energieplanning uitwisselen </a> </td>
											    <td> <a href="../elements/id-718796.html" target="element" class="i18n-elementtype-BusinessFunction">
											    </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/id-723119.html" target="element"> Transportprognose </a> </td>
													    <td> <a href="../elements/id-723119.html" target="element" class="i18n-elementtype-BusinessObject">
													    </a> </td>
													</tr>

											
											<tr>
											    <td> <a href="../elements/id-718771.html" target="element"> Factuur maken en versturen </a> </td>
											    <td> <a href="../elements/id-718771.html" target="element" class="i18n-elementtype-BusinessFunction">
											    </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/id-469274.html" target="element"> Klantfactuur </a> </td>
													    <td> <a href="../elements/id-469274.html" target="element" class="i18n-elementtype-BusinessObject">
													    </a> </td>
													</tr>

											
											<tr>
											    <td> <a href="../elements/id-718757.html" target="element"> Energietransport besturen </a> </td>
											    <td> <a href="../elements/id-718757.html" target="element" class="i18n-elementtype-BusinessFunction">
											    </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/id-469705.html" target="element"> Bedieningshandeling </a> </td>
													    <td> <a href="../elements/id-469705.html" target="element" class="i18n-elementtype-BusinessObject">
													    </a> </td>
													</tr>

											
											<tr>
											    <td> <a href="../elements/id-718796.html" target="element"> Energieplanning uitwisselen </a> </td>
											    <td> <a href="../elements/id-718796.html" target="element" class="i18n-elementtype-BusinessFunction">
											    </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/id-723119.html" target="element"> Transportprognose </a> </td>
													    <td> <a href="../elements/id-723119.html" target="element" class="i18n-elementtype-BusinessObject">
													    </a> </td>
													</tr>

											
											<tr>
											    <td> <a href="../elements/id-718758.html" target="element"> Werking van netcomponenten bewaken </a> </td>
											    <td> <a href="../elements/id-718758.html" target="element" class="i18n-elementtype-BusinessFunction">
											    </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/id-722911.html" target="element"> Netcomponentprestatie </a> </td>
													    <td> <a href="../elements/id-722911.html" target="element" class="i18n-elementtype-BusinessObject">
													    </a> </td>
													</tr>

											
											<tr>
											    <td> <a href="../elements/id-718772.html" target="element"> Klantovereenkomsten afsluiten en beheren </a> </td>
											    <td> <a href="../elements/id-718772.html" target="element" class="i18n-elementtype-BusinessFunction">
											    </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/id-469480.html" target="element"> Klantovereenkomst </a> </td>
													    <td> <a href="../elements/id-469480.html" target="element" class="i18n-elementtype-BusinessObject">
													    </a> </td>
													</tr>

											
											<tr>
											    <td> <a href="../elements/id-718810.html" target="element"> Producten en diensten ontwikkelen en beheren </a> </td>
											    <td> <a href="../elements/id-718810.html" target="element" class="i18n-elementtype-BusinessFunction">
											    </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/id-722954.html" target="element"> Klantproduct </a> </td>
													    <td> <a href="../elements/id-722954.html" target="element" class="i18n-elementtype-BusinessObject">
													    </a> </td>
													</tr>

											
											<tr>
											    <td> <a href="../elements/id-718760.html" target="element"> Producten aan klanten offreren </a> </td>
											    <td> <a href="../elements/id-718760.html" target="element" class="i18n-elementtype-BusinessFunction">
											    </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/id-470129.html" target="element"> Klantofferte </a> </td>
													    <td> <a href="../elements/id-470129.html" target="element" class="i18n-elementtype-BusinessObject">
													    </a> </td>
													</tr>

											
											<tr>
											    <td> <a href="../elements/id-718780.html" target="element"> Energie-uitwisseling beheren </a> </td>
											    <td> <a href="../elements/id-718780.html" target="element" class="i18n-elementtype-BusinessFunction">
											    </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/id-723109.html" target="element"> Energie-uitwisseling </a> </td>
													    <td> <a href="../elements/id-723109.html" target="element" class="i18n-elementtype-BusinessObject">
													    </a> </td>
													</tr>

											
											<tr>
											    <td> <a href="../elements/id-718759.html" target="element"> Energienetten bedienen op afstand </a> </td>
											    <td> <a href="../elements/id-718759.html" target="element" class="i18n-elementtype-BusinessFunction">
											    </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/id-722918.html" target="element"> Bedieningssituatie </a> </td>
													    <td> <a href="../elements/id-722918.html" target="element" class="i18n-elementtype-BusinessObject">
													    </a> </td>
													</tr>

											
											<tr>
											    <td> <a href="../elements/id-718750.html" target="element"> Melding/vraag/verzoek van klanten behandelen </a> </td>
											    <td> <a href="../elements/id-718750.html" target="element" class="i18n-elementtype-BusinessFunction">
											    </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/id-469958.html" target="element"> Klantverzoek </a> </td>
													    <td> <a href="../elements/id-469958.html" target="element" class="i18n-elementtype-BusinessObject">
													    </a> </td>
													</tr>

											
											<tr>
											    <td> <a href="../elements/id-718806.html" target="element"> Metingen beschikbaar maken </a> </td>
											    <td> <a href="../elements/id-718806.html" target="element" class="i18n-elementtype-BusinessFunction">
											    </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/id-469105.html" target="element"> Meting </a> </td>
													    <td> <a href="../elements/id-469105.html" target="element" class="i18n-elementtype-BusinessObject">
													    </a> </td>
													</tr>

											
											<tr>
											    <td> <a href="../elements/id-718704.html" target="element"> Energietransport bewaken </a> </td>
											    <td> <a href="../elements/id-718704.html" target="element" class="i18n-elementtype-BusinessFunction">
											    </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/id-722908.html" target="element"> Energietransport </a> </td>
													    <td> <a href="../elements/id-722908.html" target="element" class="i18n-elementtype-BusinessObject">
													    </a> </td>
													</tr>

											
											<tr>
											    <td> <a href="../elements/id-718750.html" target="element"> Melding/vraag/verzoek van klanten behandelen </a> </td>
											    <td> <a href="../elements/id-718750.html" target="element" class="i18n-elementtype-BusinessFunction">
											    </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/id-469958.html" target="element"> Klantverzoek </a> </td>
													    <td> <a href="../elements/id-469958.html" target="element" class="i18n-elementtype-BusinessObject">
													    </a> </td>
													</tr>

											
											<tr>
											    <td> <a href="../elements/id-718770.html" target="element"> Openstaande vorderingen innen </a> </td>
											    <td> <a href="../elements/id-718770.html" target="element" class="i18n-elementtype-BusinessFunction">
											    </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/id-469274.html" target="element"> Klantfactuur </a> </td>
													    <td> <a href="../elements/id-469274.html" target="element" class="i18n-elementtype-BusinessObject">
													    </a> </td>
													</tr>

											

								</tbody>
							</table>
						</div>
						<div role="tabpanel" class="tab-pane" id="relationships">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
										<th class="i18n-source"></th>
										<th class="i18n-target"></th>
									</tr>
								</thead>
								<tbody>
											
																	<tr>
																		<td> <a href="../elements/id-b3f056e4836746c29264fa70cc37b838.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-b3f056e4836746c29264fa70cc37b838.html" target="element" class="i18n-elementtype-AccessRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-718806.html" target="element"> Metingen beschikbaar maken </a> </td>
																		<td> <a href="../elements/id-469105.html" target="element"> Meting </a> </td>
																	</tr>

											
																	<tr>
																		<td> <a href="../elements/id-d4e8112a917246c0bc689caee9d92159.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-d4e8112a917246c0bc689caee9d92159.html" target="element" class="i18n-elementtype-AccessRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-718756.html" target="element"> Energietransport plannen en analyseren </a> </td>
																		<td> <a href="../elements/id-722927.html" target="element"> Transportanalyse </a> </td>
																	</tr>

											
																	<tr>
																		<td> <a href="../elements/id-353132d0de4a4520a376d74a56683a77.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-353132d0de4a4520a376d74a56683a77.html" target="element" class="i18n-elementtype-AccessRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-718796.html" target="element"> Energieplanning uitwisselen </a> </td>
																		<td> <a href="../elements/id-723119.html" target="element"> Transportprognose </a> </td>
																	</tr>

											
																	<tr>
																		<td> <a href="../elements/id-ff869d658ff84b39a1b50631d1e7a771.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-ff869d658ff84b39a1b50631d1e7a771.html" target="element" class="i18n-elementtype-AccessRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-718771.html" target="element"> Factuur maken en versturen </a> </td>
																		<td> <a href="../elements/id-469274.html" target="element"> Klantfactuur </a> </td>
																	</tr>

											
																	<tr>
																		<td> <a href="../elements/id-39e3314f31bd4fe1ac770eb6c999051d.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-39e3314f31bd4fe1ac770eb6c999051d.html" target="element" class="i18n-elementtype-AccessRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-718757.html" target="element"> Energietransport besturen </a> </td>
																		<td> <a href="../elements/id-469705.html" target="element"> Bedieningshandeling </a> </td>
																	</tr>

											
																	<tr>
																		<td> <a href="../elements/id-353132d0de4a4520a376d74a56683a77.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-353132d0de4a4520a376d74a56683a77.html" target="element" class="i18n-elementtype-AccessRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-718796.html" target="element"> Energieplanning uitwisselen </a> </td>
																		<td> <a href="../elements/id-723119.html" target="element"> Transportprognose </a> </td>
																	</tr>

											
																	<tr>
																		<td> <a href="../elements/id-0645939c5fb945b18835fc6d4516b190.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-0645939c5fb945b18835fc6d4516b190.html" target="element" class="i18n-elementtype-AccessRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-718758.html" target="element"> Werking van netcomponenten bewaken </a> </td>
																		<td> <a href="../elements/id-722911.html" target="element"> Netcomponentprestatie </a> </td>
																	</tr>

											
																	<tr>
																		<td> <a href="../elements/id-564e350290c54a72b02bb454b272ab1c.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-564e350290c54a72b02bb454b272ab1c.html" target="element" class="i18n-elementtype-AccessRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-718772.html" target="element"> Klantovereenkomsten afsluiten en beheren </a> </td>
																		<td> <a href="../elements/id-469480.html" target="element"> Klantovereenkomst </a> </td>
																	</tr>

											
																	<tr>
																		<td> <a href="../elements/id-65d78ca4a09e44469608fb773e6f1920.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-65d78ca4a09e44469608fb773e6f1920.html" target="element" class="i18n-elementtype-AccessRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-718810.html" target="element"> Producten en diensten ontwikkelen en beheren </a> </td>
																		<td> <a href="../elements/id-722954.html" target="element"> Klantproduct </a> </td>
																	</tr>

											
																	<tr>
																		<td> <a href="../elements/id-ef8d258db5244dbf86a66611af635855.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-ef8d258db5244dbf86a66611af635855.html" target="element" class="i18n-elementtype-AccessRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-718760.html" target="element"> Producten aan klanten offreren </a> </td>
																		<td> <a href="../elements/id-470129.html" target="element"> Klantofferte </a> </td>
																	</tr>

											
																	<tr>
																		<td> <a href="../elements/id-5edd0d14e9ff494fb517e77a701388b1.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-5edd0d14e9ff494fb517e77a701388b1.html" target="element" class="i18n-elementtype-AccessRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-718780.html" target="element"> Energie-uitwisseling beheren </a> </td>
																		<td> <a href="../elements/id-723109.html" target="element"> Energie-uitwisseling </a> </td>
																	</tr>

											
																	<tr>
																		<td> <a href="../elements/id-1c9b7a6f113442cea7b717989b3638ea.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-1c9b7a6f113442cea7b717989b3638ea.html" target="element" class="i18n-elementtype-AccessRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-718759.html" target="element"> Energienetten bedienen op afstand </a> </td>
																		<td> <a href="../elements/id-722918.html" target="element"> Bedieningssituatie </a> </td>
																	</tr>

											
																	<tr>
																		<td> <a href="../elements/id-18cb91e991384741a0494d4b76263c74.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-18cb91e991384741a0494d4b76263c74.html" target="element" class="i18n-elementtype-AccessRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-718750.html" target="element"> Melding/vraag/verzoek van klanten behandelen </a> </td>
																		<td> <a href="../elements/id-469958.html" target="element"> Klantverzoek </a> </td>
																	</tr>

											
																	<tr>
																		<td> <a href="../elements/id-b3f056e4836746c29264fa70cc37b838.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-b3f056e4836746c29264fa70cc37b838.html" target="element" class="i18n-elementtype-AccessRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-718806.html" target="element"> Metingen beschikbaar maken </a> </td>
																		<td> <a href="../elements/id-469105.html" target="element"> Meting </a> </td>
																	</tr>

											
																	<tr>
																		<td> <a href="../elements/id-4f407ef3044f4320a60c573d2669371c.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-4f407ef3044f4320a60c573d2669371c.html" target="element" class="i18n-elementtype-AccessRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-718704.html" target="element"> Energietransport bewaken </a> </td>
																		<td> <a href="../elements/id-722908.html" target="element"> Energietransport </a> </td>
																	</tr>

											
																	<tr>
																		<td> <a href="../elements/id-18cb91e991384741a0494d4b76263c74.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-18cb91e991384741a0494d4b76263c74.html" target="element" class="i18n-elementtype-AccessRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-718750.html" target="element"> Melding/vraag/verzoek van klanten behandelen </a> </td>
																		<td> <a href="../elements/id-469958.html" target="element"> Klantverzoek </a> </td>
																	</tr>

											
																	<tr>
																		<td> <a href="../elements/id-8541c0e94b1446819b972af78def357b.html" target="element"> modification </a> </td>
																		<td> <a href="../elements/id-8541c0e94b1446819b972af78def357b.html" target="element" class="i18n-elementtype-AccessRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-718770.html" target="element"> Openstaande vorderingen innen </a> </td>
																		<td> <a href="../elements/id-469274.html" target="element"> Klantfactuur </a> </td>
																	</tr>

											

								</tbody>
							</table>
						</div>
			  </div>
			</div>
		</div>
	</div>
	<script type="text/javascript">imageMapResize();</script>
</body>
</html>