<!DOCTYPE html>
<html class="frame" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
	<title>L2 value stream (stages) P.E</title>

	<!-- JQUERY -->
	<script type="text/javascript" src="../../lib/jquery/jquery.min.js"></script>
	<!-- BOOTSTRAP -->
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap.min.yeti.css">
	<script type="text/javascript" src="../../lib/bootstrap/js/bootstrap-3.3.2.min.js"></script>
	<!-- REPORT SPECIFIC -->
	<link type="text/css" rel="stylesheet" href="../../css/model.css">
	<link type="text/css" rel="stylesheet" href="../../css/i18n.css">
	<script type="text/javascript" src="../../js/frame.js"></script>
	<script type="text/javascript" src="../../js/imageMapResizer.min.js"></script>
</head>

<body>
	<div class="panel panel-default root-panel">

		<div class="panel-heading root-panel-heading">
            <!-- Name -->
               <b>L2 value stream (stages) P.E</b>

            <!-- If a View with Viewpoint -->
			   (<span class="i18n-viewpoint-"></span>)
			   <a class="glyphicon glyphicon-info-sign" id="hint-viewpoint_" target="hint"></a>
            <!-- Or if a model (i.e has Purpose method) -->
		</div>

		<div class="panel-body root-panel-body">
		    <!-- If this is a digram model (has children and no bounds) show the image -->
			   <img class="diagram" src="../images/id-99e9fa964991456ea4029a758ed4b02d.png" alt="L2 value stream (stages) P.E" usemap="#id-99e9fa964991456ea4029a758ed4b02dmap"/>
			   <map name="id-99e9fa964991456ea4029a758ed4b02dmap">
				  						<area shape="rect" coords="1942,358,2099,383" href="../elements/id-729643.html"  target="element">

				  				<area shape="rect" coords="1930,298,2111,394" href="../elements/id-711331.html"  target="element">

				  		<area shape="rect" coords="1918,226,2125,407" href="../elements/id-718171.html"  target="element">
				  						<area shape="rect" coords="1726,358,1883,383" href="../elements/id-729667.html"  target="element">

				  				<area shape="rect" coords="1714,298,1895,395" href="../elements/id-718338.html"  target="element">

				  		<area shape="rect" coords="1702,226,1907,407" href="../elements/id-718173.html"  target="element">
				  						<area shape="rect" coords="1102,358,1259,383" href="../elements/id-729676.html"  target="element">

				  				<area shape="rect" coords="1090,298,1271,395" href="../elements/id-718383.html"  target="element">

				  		<area shape="rect" coords="1078,226,1283,407" href="../elements/id-718173.html"  target="element">
				  						<area shape="rect" coords="1930,105,2111,160" href="../elements/id-a7c16b8c96bb4fb39381d3aa3fb3f6a4.html"  target="element">

				  				<area shape="rect" coords="1918,57,2123,179" href="../elements/id-0c5d7c53cbe845daa9df31d1a5a55eb2.html"  target="element">
				  						<area shape="rect" coords="1714,106,1895,161" href="../elements/id-b1fd10d04a9241d5af8b55581748b17a.html"  target="element">

				  				<area shape="rect" coords="1702,58,1907,179" href="../elements/id-bd41e33fa9074c179c36bd1618686f8a.html"  target="element">
				  						<area shape="rect" coords="1090,105,1271,160" href="../elements/id-a5160a78a9cb47bf890e8553bd7f4d75.html"  target="element">

				  				<area shape="rect" coords="1078,57,1283,179" href="../elements/id-bd41e33fa9074c179c36bd1618686f8a.html"  target="element">
				  						<area shape="rect" coords="1498,106,1679,161" href="../elements/id-4d59cb69b55b44dd92f72fa8b1771e40.html"  target="element">
				  						<area shape="rect" coords="1306,106,1487,161" href="../elements/id-ec8eb798cc9140e8aef5e8e57de55fef.html"  target="element">

				  				<area shape="rect" coords="1294,58,1691,179" href="../elements/id-31f2b2db48fb4356b1769a746840f5c7.html"  target="element">
				  						<area shape="rect" coords="874,105,1055,160" href="../elements/id-a172ce336a694980866d3b1546480ed7.html"  target="element">

				  				<area shape="rect" coords="862,57,1067,179" href="../elements/id-00f8f623948b414482d76d260ad17e71.html"  target="element">
				  						<area shape="rect" coords="658,106,839,161" href="../elements/id-ecebf67d8ec04aefb71d2b2d02e20dfe.html"  target="element">

				  				<area shape="rect" coords="646,58,851,179" href="../elements/id-bd41e33fa9074c179c36bd1618686f8a.html"  target="element">
				  						<area shape="rect" coords="442,106,623,161" href="../elements/id-5ed68458c3394610a95a50a8a6dcf621.html"  target="element">

				  				<area shape="rect" coords="430,58,635,179" href="../elements/id-2008f8e028124246a16468b79ab8d298.html"  target="element">
				  						<area shape="rect" coords="226,106,407,161" href="../elements/id-472730656eff4dc89e2e8fd6fa439358.html"  target="element">
				  						<area shape="rect" coords="34,106,215,161" href="../elements/id-f68b183753534e779d96cac4bb468ea1.html"  target="element">

				  				<area shape="rect" coords="22,58,419,179" href="../elements/id-0c5d7c53cbe845daa9df31d1a5a55eb2.html"  target="element">

				  		<area shape="rect" coords="10,10,2135,191" href="../elements/id-4993de1666b84efcbc102bcd6102ada2.html"  target="element">
				  						<area shape="rect" coords="454,358,611,383" href="../elements/id-729592.html"  target="element">

				  				<area shape="rect" coords="442,298,623,395" href="../elements/id-711321.html"  target="element">

				  		<area shape="rect" coords="430,226,635,407" href="../elements/id-718167.html"  target="element">
				  						<area shape="rect" coords="670,358,827,383" href="../elements/id-729684.html"  target="element">

				  				<area shape="rect" coords="658,298,839,395" href="../elements/id-718345.html"  target="element">

				  		<area shape="rect" coords="646,226,851,407" href="../elements/id-718173.html"  target="element">
				  						<area shape="rect" coords="46,358,203,383" href="../elements/id-729634.html"  target="element">

				  				<area shape="rect" coords="34,298,215,395" href="../elements/id-711284.html"  target="element">
				  						<area shape="rect" coords="238,358,395,383" href="../elements/id-729646.html"  target="element">

				  				<area shape="rect" coords="226,298,407,395" href="../elements/id-718334.html"  target="element">

				  		<area shape="rect" coords="22,226,419,407" href="../elements/id-718171.html"  target="element">
				  						<area shape="rect" coords="1318,358,1475,383" href="../elements/id-729570.html"  target="element">

				  				<area shape="rect" coords="1306,298,1487,395" href="../elements/id-711323.html"  target="element">
				  						<area shape="rect" coords="1510,358,1667,383" href="../elements/id-729563.html"  target="element">

				  				<area shape="rect" coords="1498,298,1679,394" href="../elements/id-711318.html"  target="element">

				  		<area shape="rect" coords="1294,226,1691,407" href="../elements/id-718168.html"  target="element">
				  						<area shape="rect" coords="886,358,1043,383" href="../elements/id-729661.html"  target="element">

				  				<area shape="rect" coords="874,298,1055,395" href="../elements/id-718341.html"  target="element">

				  		<area shape="rect" coords="862,226,1067,407" href="../elements/id-718170.html"  target="element">

			   </map>

			<div role="tabpanel">
				<!-- Nav tabs -->
				<ul class="nav nav-tabs" role="tablist">
                    <!-- Purpose / Documentation / Content -->
					   <li role="presentation" class="active"><a href="#documentation" aria-controls="documentation" role="tab" data-toggle="tab" class="i18n-documentation"></a></li>

                    <!-- Properties -->
                    <li role="presentation"><a href="#properties" aria-controls="properties" role="tab" data-toggle="tab" class="i18n-properties"></a></li>

						<li role="presentation"><a href="#elements" aria-controls="elements" role="tab" data-toggle="tab" class="i18n-elements"></a></li>
						<li role="presentation"><a href="#relationships" aria-controls="relationships" role="tab" data-toggle="tab" class="i18n-relationships"></a></li>
                    <!-- Model, Query Tab -->
				</ul>

				<!-- Tab panes -->
				<div class="tab-content">
					<div role="tabpanel" class="tab-pane active" id="documentation">
						<div class="convertlinks documentation" style="white-space:pre-wrap"></div>
					</div>
					<div role="tabpanel" class="tab-pane" id="properties">
						<table class="table table-striped table-hover table-condensed">
							<thead>
								<tr>
									<th class="i18n-key"></th>
									<th class="i18n-value"></th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
					</div>
						<div role="tabpanel" class="tab-pane" id="elements">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
									</tr>
								</thead>
								<tbody>
											<tr>
											    <td> <a href="../elements/id-718170.html" target="element"> Energietransport en -netten meten </a> </td>
											    <td> <a href="../elements/id-718170.html" target="element" class="i18n-elementtype-BusinessFunction">
											    </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/id-718341.html" target="element"> Metingen van energietransport en -netten ter beschikking stellen </a> </td>
													    <td> <a href="../elements/id-718341.html" target="element" class="i18n-elementtype-BusinessFunction">
													    </a> </td>
													</tr>

															<tr>
															    <td> <a href="../elements/id-729661.html" target="element"> Meting </a> </td>
															    <td> <a href="../elements/id-729661.html" target="element" class="i18n-elementtype-BusinessObject">
															    </a> </td>
															</tr>

													
											
											<tr>
											    <td> <a href="../elements/id-718168.html" target="element"> Energie transporteren </a> </td>
											    <td> <a href="../elements/id-718168.html" target="element" class="i18n-elementtype-BusinessFunction">
											    </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/id-711318.html" target="element"> Energietransport verzorgen </a> </td>
													    <td> <a href="../elements/id-711318.html" target="element" class="i18n-elementtype-BusinessFunction">
													    </a> </td>
													</tr>

															<tr>
															    <td> <a href="../elements/id-729563.html" target="element"> Energietransport </a> </td>
															    <td> <a href="../elements/id-729563.html" target="element" class="i18n-elementtype-BusinessObject">
															    </a> </td>
															</tr>

													
													<tr>
													    <td> <a href="../elements/id-711323.html" target="element"> Transport- en bedieningsplannen maken </a> </td>
													    <td> <a href="../elements/id-711323.html" target="element" class="i18n-elementtype-BusinessFunction">
													    </a> </td>
													</tr>

															<tr>
															    <td> <a href="../elements/id-729570.html" target="element"> Transportplanning </a> </td>
															    <td> <a href="../elements/id-729570.html" target="element" class="i18n-elementtype-BusinessObject">
															    </a> </td>
															</tr>

													
											
											<tr>
											    <td> <a href="../elements/id-718171.html" target="element"> Klanten bedienen </a> </td>
											    <td> <a href="../elements/id-718171.html" target="element" class="i18n-elementtype-BusinessFunction">
											    </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/id-718334.html" target="element"> Klantovereenkomsten verwerven en beheren </a> </td>
													    <td> <a href="../elements/id-718334.html" target="element" class="i18n-elementtype-BusinessFunction">
													    </a> </td>
													</tr>

															<tr>
															    <td> <a href="../elements/id-729646.html" target="element"> Klantovereenkomst </a> </td>
															    <td> <a href="../elements/id-729646.html" target="element" class="i18n-elementtype-BusinessObject">
															    </a> </td>
															</tr>

													
													<tr>
													    <td> <a href="../elements/id-711284.html" target="element"> Klanten bedienen en relaties onderhouden </a> </td>
													    <td> <a href="../elements/id-711284.html" target="element" class="i18n-elementtype-BusinessFunction">
													    </a> </td>
													</tr>

															<tr>
															    <td> <a href="../elements/id-729634.html" target="element"> Klant </a> </td>
															    <td> <a href="../elements/id-729634.html" target="element" class="i18n-elementtype-BusinessObject">
															    </a> </td>
															</tr>

													
											
											<tr>
											    <td> <a href="../elements/id-718173.html" target="element"> De energiemarkt faciliteren </a> </td>
											    <td> <a href="../elements/id-718173.html" target="element" class="i18n-elementtype-BusinessFunction">
											    </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/id-718345.html" target="element"> Marktdata beheren </a> </td>
													    <td> <a href="../elements/id-718345.html" target="element" class="i18n-elementtype-BusinessFunction">
													    </a> </td>
													</tr>

															<tr>
															    <td> <a href="../elements/id-729684.html" target="element"> Aansluiting </a> </td>
															    <td> <a href="../elements/id-729684.html" target="element" class="i18n-elementtype-BusinessObject">
															    </a> </td>
															</tr>

													
											
											<tr>
											    <td> <a href="../elements/id-718167.html" target="element"> Ontwikkeling en instandhouding van energienetten besturen </a> </td>
											    <td> <a href="../elements/id-718167.html" target="element" class="i18n-elementtype-BusinessFunction">
											    </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/id-711321.html" target="element"> Energienetten uitbreiden, vervangen en vernieuwen </a> </td>
													    <td> <a href="../elements/id-711321.html" target="element" class="i18n-elementtype-BusinessFunction">
													    </a> </td>
													</tr>

															<tr>
															    <td> <a href="../elements/id-729592.html" target="element"> Energienet </a> </td>
															    <td> <a href="../elements/id-729592.html" target="element" class="i18n-elementtype-BusinessObject">
															    </a> </td>
															</tr>

													
											
											<tr>
											    <td> <a href="../elements/id-4993de1666b84efcbc102bcd6102ada2.html" target="element"> Afstemmen gewenste en beschikbare transportcapaciteit </a> </td>
											    <td> <a href="../elements/id-4993de1666b84efcbc102bcd6102ada2.html" target="element" class="i18n-elementtype-BusinessProcess">
											    </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/id-0c5d7c53cbe845daa9df31d1a5a55eb2.html" target="element"> Bedienen klant voor regelbaar vermogen </a> </td>
													    <td> <a href="../elements/id-0c5d7c53cbe845daa9df31d1a5a55eb2.html" target="element" class="i18n-elementtype-BusinessProcess">
													    </a> </td>
													</tr>

															<tr>
															    <td> <a href="../elements/id-f68b183753534e779d96cac4bb468ea1.html" target="element"> Interacteren over regelbaar vermogen </a> </td>
															    <td> <a href="../elements/id-f68b183753534e779d96cac4bb468ea1.html" target="element" class="i18n-elementtype-BusinessProcess">
															    </a> </td>
															</tr>

															<tr>
															    <td> <a href="../elements/id-472730656eff4dc89e2e8fd6fa439358.html" target="element"> Overeenkomen regelbaar vermogen </a> </td>
															    <td> <a href="../elements/id-472730656eff4dc89e2e8fd6fa439358.html" target="element" class="i18n-elementtype-BusinessProcess">
															    </a> </td>
															</tr>

													
													<tr>
													    <td> <a href="../elements/id-2008f8e028124246a16468b79ab8d298.html" target="element"> Besturen ontwikkeling energienet met regelbaar vermogen </a> </td>
													    <td> <a href="../elements/id-2008f8e028124246a16468b79ab8d298.html" target="element" class="i18n-elementtype-BusinessProcess">
													    </a> </td>
													</tr>

															<tr>
															    <td> <a href="../elements/id-5ed68458c3394610a95a50a8a6dcf621.html" target="element"> Bepalen regelbaar vermogen als mitigerende maatregel </a> </td>
															    <td> <a href="../elements/id-5ed68458c3394610a95a50a8a6dcf621.html" target="element" class="i18n-elementtype-BusinessProcess">
															    </a> </td>
															</tr>

													
													<tr>
													    <td> <a href="../elements/id-bd41e33fa9074c179c36bd1618686f8a.html" target="element"> Faciliteren energiemarkt voor regelbaar vermogen </a> </td>
													    <td> <a href="../elements/id-bd41e33fa9074c179c36bd1618686f8a.html" target="element" class="i18n-elementtype-BusinessProcess">
													    </a> </td>
													</tr>

															<tr>
															    <td> <a href="../elements/id-ecebf67d8ec04aefb71d2b2d02e20dfe.html" target="element"> Voorbereiden inzet regelbaar vermogen </a> </td>
															    <td> <a href="../elements/id-ecebf67d8ec04aefb71d2b2d02e20dfe.html" target="element" class="i18n-elementtype-BusinessProcess">
															    </a> </td>
															</tr>

													
													<tr>
													    <td> <a href="../elements/id-00f8f623948b414482d76d260ad17e71.html" target="element"> Meten transport capaciteit </a> </td>
													    <td> <a href="../elements/id-00f8f623948b414482d76d260ad17e71.html" target="element" class="i18n-elementtype-BusinessProcess">
													    </a> </td>
													</tr>

															<tr>
															    <td> <a href="../elements/id-a172ce336a694980866d3b1546480ed7.html" target="element"> Meten transport capaciteit </a> </td>
															    <td> <a href="../elements/id-a172ce336a694980866d3b1546480ed7.html" target="element" class="i18n-elementtype-BusinessProcess">
															    </a> </td>
															</tr>

													
													<tr>
													    <td> <a href="../elements/id-31f2b2db48fb4356b1769a746840f5c7.html" target="element"> Inzetten regelbaar vermogen bij energietransport </a> </td>
													    <td> <a href="../elements/id-31f2b2db48fb4356b1769a746840f5c7.html" target="element" class="i18n-elementtype-BusinessProcess">
													    </a> </td>
													</tr>

															<tr>
															    <td> <a href="../elements/id-ec8eb798cc9140e8aef5e8e57de55fef.html" target="element"> Bepalen transportcapaciteitsproblemen </a> </td>
															    <td> <a href="../elements/id-ec8eb798cc9140e8aef5e8e57de55fef.html" target="element" class="i18n-elementtype-BusinessProcess">
															    </a> </td>
															</tr>

															<tr>
															    <td> <a href="../elements/id-4d59cb69b55b44dd92f72fa8b1771e40.html" target="element"> Inzetten regelbaar vermogen bij energietransport </a> </td>
															    <td> <a href="../elements/id-4d59cb69b55b44dd92f72fa8b1771e40.html" target="element" class="i18n-elementtype-BusinessProcess">
															    </a> </td>
															</tr>

													
													<tr>
													    <td> <a href="../elements/id-bd41e33fa9074c179c36bd1618686f8a.html" target="element"> Faciliteren energiemarkt voor regelbaar vermogen </a> </td>
													    <td> <a href="../elements/id-bd41e33fa9074c179c36bd1618686f8a.html" target="element" class="i18n-elementtype-BusinessProcess">
													    </a> </td>
													</tr>

															<tr>
															    <td> <a href="../elements/id-a5160a78a9cb47bf890e8553bd7f4d75.html" target="element"> Afhandelen inzet regelbaar vermogen </a> </td>
															    <td> <a href="../elements/id-a5160a78a9cb47bf890e8553bd7f4d75.html" target="element" class="i18n-elementtype-BusinessProcess">
															    </a> </td>
															</tr>

													
													<tr>
													    <td> <a href="../elements/id-bd41e33fa9074c179c36bd1618686f8a.html" target="element"> Faciliteren energiemarkt voor regelbaar vermogen </a> </td>
													    <td> <a href="../elements/id-bd41e33fa9074c179c36bd1618686f8a.html" target="element" class="i18n-elementtype-BusinessProcess">
													    </a> </td>
													</tr>

															<tr>
															    <td> <a href="../elements/id-b1fd10d04a9241d5af8b55581748b17a.html" target="element"> Afhandelen marktvragen over regelbaar vermogen </a> </td>
															    <td> <a href="../elements/id-b1fd10d04a9241d5af8b55581748b17a.html" target="element" class="i18n-elementtype-BusinessProcess">
															    </a> </td>
															</tr>

													
													<tr>
													    <td> <a href="../elements/id-0c5d7c53cbe845daa9df31d1a5a55eb2.html" target="element"> Bedienen klant voor regelbaar vermogen </a> </td>
													    <td> <a href="../elements/id-0c5d7c53cbe845daa9df31d1a5a55eb2.html" target="element" class="i18n-elementtype-BusinessProcess">
													    </a> </td>
													</tr>

															<tr>
															    <td> <a href="../elements/id-a7c16b8c96bb4fb39381d3aa3fb3f6a4.html" target="element"> Vergoeden regelbaar vermogen </a> </td>
															    <td> <a href="../elements/id-a7c16b8c96bb4fb39381d3aa3fb3f6a4.html" target="element" class="i18n-elementtype-BusinessProcess">
															    </a> </td>
															</tr>

													
											
											<tr>
											    <td> <a href="../elements/id-718173.html" target="element"> De energiemarkt faciliteren </a> </td>
											    <td> <a href="../elements/id-718173.html" target="element" class="i18n-elementtype-BusinessFunction">
											    </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/id-718383.html" target="element"> Marktprocessen uitvoeren/faciliteren </a> </td>
													    <td> <a href="../elements/id-718383.html" target="element" class="i18n-elementtype-BusinessFunction">
													    </a> </td>
													</tr>

															<tr>
															    <td> <a href="../elements/id-729676.html" target="element"> Marktproces </a> </td>
															    <td> <a href="../elements/id-729676.html" target="element" class="i18n-elementtype-BusinessObject">
															    </a> </td>
															</tr>

													
											
											<tr>
											    <td> <a href="../elements/id-718173.html" target="element"> De energiemarkt faciliteren </a> </td>
											    <td> <a href="../elements/id-718173.html" target="element" class="i18n-elementtype-BusinessFunction">
											    </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/id-718338.html" target="element"> Marktpartijen bedienen en relaties onderhouden </a> </td>
													    <td> <a href="../elements/id-718338.html" target="element" class="i18n-elementtype-BusinessFunction">
													    </a> </td>
													</tr>

															<tr>
															    <td> <a href="../elements/id-729667.html" target="element"> Marktpartij </a> </td>
															    <td> <a href="../elements/id-729667.html" target="element" class="i18n-elementtype-BusinessObject">
															    </a> </td>
															</tr>

													
											
											<tr>
											    <td> <a href="../elements/id-718171.html" target="element"> Klanten bedienen </a> </td>
											    <td> <a href="../elements/id-718171.html" target="element" class="i18n-elementtype-BusinessFunction">
											    </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/id-711331.html" target="element"> Factureren en innen </a> </td>
													    <td> <a href="../elements/id-711331.html" target="element" class="i18n-elementtype-BusinessFunction">
													    </a> </td>
													</tr>

															<tr>
															    <td> <a href="../elements/id-729643.html" target="element"> Klantfactuur </a> </td>
															    <td> <a href="../elements/id-729643.html" target="element" class="i18n-elementtype-BusinessObject">
															    </a> </td>
															</tr>

													
											

								</tbody>
							</table>
						</div>
						<div role="tabpanel" class="tab-pane" id="relationships">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
										<th class="i18n-source"></th>
										<th class="i18n-target"></th>
									</tr>
								</thead>
								<tbody>
																	<tr>
																		<td> <a href="../elements/id-878937.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-878937.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-718170.html" target="element"> Energietransport en -netten meten </a> </td>
																		<td> <a href="../elements/id-718341.html" target="element"> Metingen van energietransport en -netten ter beschikking stellen </a> </td>
																	</tr>

																			<tr>
																				<td> <a href="../elements/id-32cbdacc6eda46d485cf296ad9183ac0.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-32cbdacc6eda46d485cf296ad9183ac0.html" target="element" class="i18n-elementtype-AccessRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-718341.html" target="element"> Metingen van energietransport en -netten ter beschikking stellen </a> </td>
																				<td> <a href="../elements/id-729661.html" target="element"> Meting </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-a1ab9d0dbcc14dd2bf2a28e0ba5318db.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-a1ab9d0dbcc14dd2bf2a28e0ba5318db.html" target="element" class="i18n-elementtype-ServingRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-718341.html" target="element"> Metingen van energietransport en -netten ter beschikking stellen </a> </td>
																				<td> <a href="../elements/id-a172ce336a694980866d3b1546480ed7.html" target="element"> Meten transport capaciteit </a> </td>
																			</tr>

													
											
																	<tr>
																		<td> <a href="../elements/id-878420.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-878420.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-718168.html" target="element"> Energie transporteren </a> </td>
																		<td> <a href="../elements/id-711323.html" target="element"> Transport- en bedieningsplannen maken </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-878865.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-878865.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-718168.html" target="element"> Energie transporteren </a> </td>
																		<td> <a href="../elements/id-711318.html" target="element"> Energietransport verzorgen </a> </td>
																	</tr>

																			<tr>
																				<td> <a href="../elements/id-2ca14e0e99a54a5a8e97b37585d1c5ac.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-2ca14e0e99a54a5a8e97b37585d1c5ac.html" target="element" class="i18n-elementtype-AccessRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-711318.html" target="element"> Energietransport verzorgen </a> </td>
																				<td> <a href="../elements/id-729563.html" target="element"> Energietransport </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-5d43b033d6ee48d2b4b28a522ed24628.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-5d43b033d6ee48d2b4b28a522ed24628.html" target="element" class="i18n-elementtype-ServingRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-711318.html" target="element"> Energietransport verzorgen </a> </td>
																				<td> <a href="../elements/id-4d59cb69b55b44dd92f72fa8b1771e40.html" target="element"> Inzetten regelbaar vermogen bij energietransport </a> </td>
																			</tr>

													
																			<tr>
																				<td> <a href="../elements/id-fff5efd563884e629dc50f9065cef852.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-fff5efd563884e629dc50f9065cef852.html" target="element" class="i18n-elementtype-AccessRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-711323.html" target="element"> Transport- en bedieningsplannen maken </a> </td>
																				<td> <a href="../elements/id-729570.html" target="element"> Transportplanning </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-e0f7bff3f84c4849a1864fba25427431.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-e0f7bff3f84c4849a1864fba25427431.html" target="element" class="i18n-elementtype-ServingRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-711323.html" target="element"> Transport- en bedieningsplannen maken </a> </td>
																				<td> <a href="../elements/id-ec8eb798cc9140e8aef5e8e57de55fef.html" target="element"> Bepalen transportcapaciteitsproblemen </a> </td>
																			</tr>

													
											
																	<tr>
																		<td> <a href="../elements/id-878392.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-878392.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-718171.html" target="element"> Klanten bedienen </a> </td>
																		<td> <a href="../elements/id-718334.html" target="element"> Klantovereenkomsten verwerven en beheren </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-878804.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-878804.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-718171.html" target="element"> Klanten bedienen </a> </td>
																		<td> <a href="../elements/id-711284.html" target="element"> Klanten bedienen en relaties onderhouden </a> </td>
																	</tr>

																			<tr>
																				<td> <a href="../elements/id-51c376359d8c4130957a1befc7ec9bd0.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-51c376359d8c4130957a1befc7ec9bd0.html" target="element" class="i18n-elementtype-AccessRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-718334.html" target="element"> Klantovereenkomsten verwerven en beheren </a> </td>
																				<td> <a href="../elements/id-729646.html" target="element"> Klantovereenkomst </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-302a5d59aac64328af9aba3d99c7d8e2.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-302a5d59aac64328af9aba3d99c7d8e2.html" target="element" class="i18n-elementtype-ServingRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-718334.html" target="element"> Klantovereenkomsten verwerven en beheren </a> </td>
																				<td> <a href="../elements/id-472730656eff4dc89e2e8fd6fa439358.html" target="element"> Overeenkomen regelbaar vermogen </a> </td>
																			</tr>

													
																			<tr>
																				<td> <a href="../elements/id-6e61750f4f9249e0bbe93bcb7b69503f.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-6e61750f4f9249e0bbe93bcb7b69503f.html" target="element" class="i18n-elementtype-AccessRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-711284.html" target="element"> Klanten bedienen en relaties onderhouden </a> </td>
																				<td> <a href="../elements/id-729634.html" target="element"> Klant </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-a814c0505a7d404b94010f60476647e1.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-a814c0505a7d404b94010f60476647e1.html" target="element" class="i18n-elementtype-ServingRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-711284.html" target="element"> Klanten bedienen en relaties onderhouden </a> </td>
																				<td> <a href="../elements/id-f68b183753534e779d96cac4bb468ea1.html" target="element"> Interacteren over regelbaar vermogen </a> </td>
																			</tr>

													
											
																	<tr>
																		<td> <a href="../elements/id-878306.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-878306.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-718173.html" target="element"> De energiemarkt faciliteren </a> </td>
																		<td> <a href="../elements/id-718345.html" target="element"> Marktdata beheren </a> </td>
																	</tr>

																			<tr>
																				<td> <a href="../elements/id-e304578ba5794f558a2173ff359d21ee.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-e304578ba5794f558a2173ff359d21ee.html" target="element" class="i18n-elementtype-AccessRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-718345.html" target="element"> Marktdata beheren </a> </td>
																				<td> <a href="../elements/id-729684.html" target="element"> Aansluiting </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-e759c39ca6b145dc832c5382ad416fe2.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-e759c39ca6b145dc832c5382ad416fe2.html" target="element" class="i18n-elementtype-ServingRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-718345.html" target="element"> Marktdata beheren </a> </td>
																				<td> <a href="../elements/id-ecebf67d8ec04aefb71d2b2d02e20dfe.html" target="element"> Voorbereiden inzet regelbaar vermogen </a> </td>
																			</tr>

													
											
																	<tr>
																		<td> <a href="../elements/id-878458.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-878458.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-718167.html" target="element"> Ontwikkeling en instandhouding van energienetten besturen </a> </td>
																		<td> <a href="../elements/id-711321.html" target="element"> Energienetten uitbreiden, vervangen en vernieuwen </a> </td>
																	</tr>

																			<tr>
																				<td> <a href="../elements/id-af6e2293a6a04fa08e9b6179e764e909.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-af6e2293a6a04fa08e9b6179e764e909.html" target="element" class="i18n-elementtype-ServingRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-711321.html" target="element"> Energienetten uitbreiden, vervangen en vernieuwen </a> </td>
																				<td> <a href="../elements/id-5ed68458c3394610a95a50a8a6dcf621.html" target="element"> Bepalen regelbaar vermogen als mitigerende maatregel </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-9c16357f67b64ee5acd3079b1fa07733.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-9c16357f67b64ee5acd3079b1fa07733.html" target="element" class="i18n-elementtype-AccessRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-711321.html" target="element"> Energienetten uitbreiden, vervangen en vernieuwen </a> </td>
																				<td> <a href="../elements/id-729592.html" target="element"> Energienet </a> </td>
																			</tr>

													
											
																	<tr>
																		<td> <a href="../elements/id-45b8e93fedac49de997f78fd1bf0c75f.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-45b8e93fedac49de997f78fd1bf0c75f.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-4993de1666b84efcbc102bcd6102ada2.html" target="element"> Afstemmen gewenste en beschikbare transportcapaciteit </a> </td>
																		<td> <a href="../elements/id-00f8f623948b414482d76d260ad17e71.html" target="element"> Meten transport capaciteit </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-4978c7aab2f442da97c63b34e7a8fa61.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-4978c7aab2f442da97c63b34e7a8fa61.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-4993de1666b84efcbc102bcd6102ada2.html" target="element"> Afstemmen gewenste en beschikbare transportcapaciteit </a> </td>
																		<td> <a href="../elements/id-2008f8e028124246a16468b79ab8d298.html" target="element"> Besturen ontwikkeling energienet met regelbaar vermogen </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-4ed933fe989c48fbb8699e1809d7c09e.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-4ed933fe989c48fbb8699e1809d7c09e.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-4993de1666b84efcbc102bcd6102ada2.html" target="element"> Afstemmen gewenste en beschikbare transportcapaciteit </a> </td>
																		<td> <a href="../elements/id-bd41e33fa9074c179c36bd1618686f8a.html" target="element"> Faciliteren energiemarkt voor regelbaar vermogen </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-2927887f53234d938ca084ce8167874f.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-2927887f53234d938ca084ce8167874f.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-4993de1666b84efcbc102bcd6102ada2.html" target="element"> Afstemmen gewenste en beschikbare transportcapaciteit </a> </td>
																		<td> <a href="../elements/id-31f2b2db48fb4356b1769a746840f5c7.html" target="element"> Inzetten regelbaar vermogen bij energietransport </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-214330223c8c45be98bffeeb6f7a3c86.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-214330223c8c45be98bffeeb6f7a3c86.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-4993de1666b84efcbc102bcd6102ada2.html" target="element"> Afstemmen gewenste en beschikbare transportcapaciteit </a> </td>
																		<td> <a href="../elements/id-0c5d7c53cbe845daa9df31d1a5a55eb2.html" target="element"> Bedienen klant voor regelbaar vermogen </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-4ed933fe989c48fbb8699e1809d7c09e.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-4ed933fe989c48fbb8699e1809d7c09e.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-4993de1666b84efcbc102bcd6102ada2.html" target="element"> Afstemmen gewenste en beschikbare transportcapaciteit </a> </td>
																		<td> <a href="../elements/id-bd41e33fa9074c179c36bd1618686f8a.html" target="element"> Faciliteren energiemarkt voor regelbaar vermogen </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-4ed933fe989c48fbb8699e1809d7c09e.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-4ed933fe989c48fbb8699e1809d7c09e.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-4993de1666b84efcbc102bcd6102ada2.html" target="element"> Afstemmen gewenste en beschikbare transportcapaciteit </a> </td>
																		<td> <a href="../elements/id-bd41e33fa9074c179c36bd1618686f8a.html" target="element"> Faciliteren energiemarkt voor regelbaar vermogen </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-214330223c8c45be98bffeeb6f7a3c86.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-214330223c8c45be98bffeeb6f7a3c86.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-4993de1666b84efcbc102bcd6102ada2.html" target="element"> Afstemmen gewenste en beschikbare transportcapaciteit </a> </td>
																		<td> <a href="../elements/id-0c5d7c53cbe845daa9df31d1a5a55eb2.html" target="element"> Bedienen klant voor regelbaar vermogen </a> </td>
																	</tr>

																			<tr>
																				<td> <a href="../elements/id-1b85ff5692044bc49e135411602e692b.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-1b85ff5692044bc49e135411602e692b.html" target="element" class="i18n-elementtype-CompositionRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-0c5d7c53cbe845daa9df31d1a5a55eb2.html" target="element"> Bedienen klant voor regelbaar vermogen </a> </td>
																				<td> <a href="../elements/id-f68b183753534e779d96cac4bb468ea1.html" target="element"> Interacteren over regelbaar vermogen </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-db4dd415122744c1a82675099e395134.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-db4dd415122744c1a82675099e395134.html" target="element" class="i18n-elementtype-CompositionRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-0c5d7c53cbe845daa9df31d1a5a55eb2.html" target="element"> Bedienen klant voor regelbaar vermogen </a> </td>
																				<td> <a href="../elements/id-472730656eff4dc89e2e8fd6fa439358.html" target="element"> Overeenkomen regelbaar vermogen </a> </td>
																			</tr>

													
																			<tr>
																				<td> <a href="../elements/id-a8e34a3f7e58422e9169687b97e709d1.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-a8e34a3f7e58422e9169687b97e709d1.html" target="element" class="i18n-elementtype-CompositionRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-2008f8e028124246a16468b79ab8d298.html" target="element"> Besturen ontwikkeling energienet met regelbaar vermogen </a> </td>
																				<td> <a href="../elements/id-5ed68458c3394610a95a50a8a6dcf621.html" target="element"> Bepalen regelbaar vermogen als mitigerende maatregel </a> </td>
																			</tr>

													
																			<tr>
																				<td> <a href="../elements/id-5be2c4a8baea42039e66cdbd59e01211.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-5be2c4a8baea42039e66cdbd59e01211.html" target="element" class="i18n-elementtype-CompositionRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-bd41e33fa9074c179c36bd1618686f8a.html" target="element"> Faciliteren energiemarkt voor regelbaar vermogen </a> </td>
																				<td> <a href="../elements/id-ecebf67d8ec04aefb71d2b2d02e20dfe.html" target="element"> Voorbereiden inzet regelbaar vermogen </a> </td>
																			</tr>

													
																			<tr>
																				<td> <a href="../elements/id-fd6dcdea2c384dc9a66593b5b826c39a.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-fd6dcdea2c384dc9a66593b5b826c39a.html" target="element" class="i18n-elementtype-CompositionRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-00f8f623948b414482d76d260ad17e71.html" target="element"> Meten transport capaciteit </a> </td>
																				<td> <a href="../elements/id-a172ce336a694980866d3b1546480ed7.html" target="element"> Meten transport capaciteit </a> </td>
																			</tr>

													
																			<tr>
																				<td> <a href="../elements/id-f851bc4e5dae404485a1cd5a247f7c4d.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-f851bc4e5dae404485a1cd5a247f7c4d.html" target="element" class="i18n-elementtype-CompositionRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-31f2b2db48fb4356b1769a746840f5c7.html" target="element"> Inzetten regelbaar vermogen bij energietransport </a> </td>
																				<td> <a href="../elements/id-ec8eb798cc9140e8aef5e8e57de55fef.html" target="element"> Bepalen transportcapaciteitsproblemen </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-55b846c6a63d49e992064d9e35c5cff8.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-55b846c6a63d49e992064d9e35c5cff8.html" target="element" class="i18n-elementtype-CompositionRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-31f2b2db48fb4356b1769a746840f5c7.html" target="element"> Inzetten regelbaar vermogen bij energietransport </a> </td>
																				<td> <a href="../elements/id-4d59cb69b55b44dd92f72fa8b1771e40.html" target="element"> Inzetten regelbaar vermogen bij energietransport </a> </td>
																			</tr>

													
																			<tr>
																				<td> <a href="../elements/id-bf9862a1490945e797b36133f770322d.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-bf9862a1490945e797b36133f770322d.html" target="element" class="i18n-elementtype-CompositionRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-bd41e33fa9074c179c36bd1618686f8a.html" target="element"> Faciliteren energiemarkt voor regelbaar vermogen </a> </td>
																				<td> <a href="../elements/id-a5160a78a9cb47bf890e8553bd7f4d75.html" target="element"> Afhandelen inzet regelbaar vermogen </a> </td>
																			</tr>

													
																			<tr>
																				<td> <a href="../elements/id-709997dd3e74499cbbb5b1e281e28756.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-709997dd3e74499cbbb5b1e281e28756.html" target="element" class="i18n-elementtype-CompositionRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-bd41e33fa9074c179c36bd1618686f8a.html" target="element"> Faciliteren energiemarkt voor regelbaar vermogen </a> </td>
																				<td> <a href="../elements/id-b1fd10d04a9241d5af8b55581748b17a.html" target="element"> Afhandelen marktvragen over regelbaar vermogen </a> </td>
																			</tr>

													
																			<tr>
																				<td> <a href="../elements/id-daee675d3db54aae83ada7c2cbacdf53.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-daee675d3db54aae83ada7c2cbacdf53.html" target="element" class="i18n-elementtype-CompositionRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-0c5d7c53cbe845daa9df31d1a5a55eb2.html" target="element"> Bedienen klant voor regelbaar vermogen </a> </td>
																				<td> <a href="../elements/id-a7c16b8c96bb4fb39381d3aa3fb3f6a4.html" target="element"> Vergoeden regelbaar vermogen </a> </td>
																			</tr>

													
											
																	<tr>
																		<td> <a href="../elements/id-878900.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-878900.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-718173.html" target="element"> De energiemarkt faciliteren </a> </td>
																		<td> <a href="../elements/id-718383.html" target="element"> Marktprocessen uitvoeren/faciliteren </a> </td>
																	</tr>

																			<tr>
																				<td> <a href="../elements/id-5f4b9bd4d47b48fb92f44c7a37ba17d8.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-5f4b9bd4d47b48fb92f44c7a37ba17d8.html" target="element" class="i18n-elementtype-AccessRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-718383.html" target="element"> Marktprocessen uitvoeren/faciliteren </a> </td>
																				<td> <a href="../elements/id-729676.html" target="element"> Marktproces </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-89bb2acb0a834815a3596b9b7f36018f.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-89bb2acb0a834815a3596b9b7f36018f.html" target="element" class="i18n-elementtype-ServingRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-718383.html" target="element"> Marktprocessen uitvoeren/faciliteren </a> </td>
																				<td> <a href="../elements/id-a5160a78a9cb47bf890e8553bd7f4d75.html" target="element"> Afhandelen inzet regelbaar vermogen </a> </td>
																			</tr>

													
											
																	<tr>
																		<td> <a href="../elements/id-878938.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-878938.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-718173.html" target="element"> De energiemarkt faciliteren </a> </td>
																		<td> <a href="../elements/id-718338.html" target="element"> Marktpartijen bedienen en relaties onderhouden </a> </td>
																	</tr>

																			<tr>
																				<td> <a href="../elements/id-60b8964d10494d31afe74d33a58ef094.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-60b8964d10494d31afe74d33a58ef094.html" target="element" class="i18n-elementtype-AccessRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-718338.html" target="element"> Marktpartijen bedienen en relaties onderhouden </a> </td>
																				<td> <a href="../elements/id-729667.html" target="element"> Marktpartij </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-ea7d54a2d5e84ead89708efca2b2d81d.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-ea7d54a2d5e84ead89708efca2b2d81d.html" target="element" class="i18n-elementtype-ServingRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-718338.html" target="element"> Marktpartijen bedienen en relaties onderhouden </a> </td>
																				<td> <a href="../elements/id-b1fd10d04a9241d5af8b55581748b17a.html" target="element"> Afhandelen marktvragen over regelbaar vermogen </a> </td>
																			</tr>

													
											
																	<tr>
																		<td> <a href="../elements/id-878527.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-878527.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-718171.html" target="element"> Klanten bedienen </a> </td>
																		<td> <a href="../elements/id-711331.html" target="element"> Factureren en innen </a> </td>
																	</tr>

																			<tr>
																				<td> <a href="../elements/id-260b7a9bc4304ceaaa8b386c83022aa6.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-260b7a9bc4304ceaaa8b386c83022aa6.html" target="element" class="i18n-elementtype-AccessRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-711331.html" target="element"> Factureren en innen </a> </td>
																				<td> <a href="../elements/id-729643.html" target="element"> Klantfactuur </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-c08cdb1fc8c044e1b30b097e331941db.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-c08cdb1fc8c044e1b30b097e331941db.html" target="element" class="i18n-elementtype-ServingRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-711331.html" target="element"> Factureren en innen </a> </td>
																				<td> <a href="../elements/id-a7c16b8c96bb4fb39381d3aa3fb3f6a4.html" target="element"> Vergoeden regelbaar vermogen </a> </td>
																			</tr>

													
											

								</tbody>
							</table>
						</div>
			  </div>
			</div>
		</div>
	</div>
	<script type="text/javascript">imageMapResize();</script>
</body>
</html>