<!DOCTYPE html>
<html class="frame" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
	<title>L1 objects</title>

	<!-- JQUERY -->
	<script type="text/javascript" src="../../lib/jquery/jquery.min.js"></script>
	<!-- BOOTSTRAP -->
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap.min.yeti.css">
	<script type="text/javascript" src="../../lib/bootstrap/js/bootstrap-3.3.2.min.js"></script>
	<!-- REPORT SPECIFIC -->
	<link type="text/css" rel="stylesheet" href="../../css/model.css">
	<link type="text/css" rel="stylesheet" href="../../css/i18n.css">
	<script type="text/javascript" src="../../js/frame.js"></script>
	<script type="text/javascript" src="../../js/imageMapResizer.min.js"></script>
</head>

<body>
	<div class="panel panel-default root-panel">

		<div class="panel-heading root-panel-heading">
            <!-- Name -->
               <b>L1 objects</b>

            <!-- If a View with Viewpoint -->
			   (<span class="i18n-viewpoint-"></span>)
			   <a class="glyphicon glyphicon-info-sign" id="hint-viewpoint_" target="hint"></a>
            <!-- Or if a model (i.e has Purpose method) -->
		</div>

		<div class="panel-body root-panel-body">
		    <!-- If this is a digram model (has children and no bounds) show the image -->
			   <img class="diagram" src="../images/id-928653f85c2649fcb2f807ed41a94ac3.png" alt="L1 objects" usemap="#id-928653f85c2649fcb2f807ed41a94ac3map"/>
			   <map name="id-928653f85c2649fcb2f807ed41a94ac3map">
				  				<area shape="rect" coords="286,46,407,95" href="../elements/id-729578.html"  target="element">
				  				<area shape="rect" coords="418,46,539,95" href="../elements/id-729659.html"  target="element">
				  				<area shape="rect" coords="22,46,143,95" href="../elements/id-729632.html"  target="element">
				  				<area shape="rect" coords="154,46,275,95" href="../elements/id-729558.html"  target="element">
				  				<area shape="rect" coords="682,46,803,95" href="../elements/id-729665.html"  target="element">
				  				<area shape="rect" coords="550,46,671,95" href="../elements/id-729609.html"  target="element">

				  		<area shape="rect" coords="10,10,815,107" href="../elements/id-738789.html"  target="element">
				  				<area shape="rect" coords="1366,46,1488,96" href="../elements/id-736051.html"  target="element">
				  				<area shape="rect" coords="970,46,1092,96" href="../elements/id-736094.html"  target="element">
				  				<area shape="rect" coords="1102,46,1224,96" href="../elements/id-736067.html"  target="element">
				  				<area shape="rect" coords="838,46,960,96" href="../elements/id-736114.html"  target="element">
				  				<area shape="rect" coords="1498,46,1620,96" href="../elements/id-736039.html"  target="element">
				  				<area shape="rect" coords="1234,46,1356,96" href="../elements/id-736162.html"  target="element">
				  				<area shape="rect" coords="1630,46,1752,96" href="../elements/id-736011.html"  target="element">

				  		<area shape="rect" coords="826,10,1763,107" href="../elements/id-729690.html"  target="element">

			   </map>

			<div role="tabpanel">
				<!-- Nav tabs -->
				<ul class="nav nav-tabs" role="tablist">
                    <!-- Purpose / Documentation / Content -->
					   <li role="presentation" class="active"><a href="#documentation" aria-controls="documentation" role="tab" data-toggle="tab" class="i18n-documentation"></a></li>

                    <!-- Properties -->
                    <li role="presentation"><a href="#properties" aria-controls="properties" role="tab" data-toggle="tab" class="i18n-properties"></a></li>

						<li role="presentation"><a href="#elements" aria-controls="elements" role="tab" data-toggle="tab" class="i18n-elements"></a></li>
						<li role="presentation"><a href="#relationships" aria-controls="relationships" role="tab" data-toggle="tab" class="i18n-relationships"></a></li>
                    <!-- Model, Query Tab -->
				</ul>

				<!-- Tab panes -->
				<div class="tab-content">
					<div role="tabpanel" class="tab-pane active" id="documentation">
						<div class="convertlinks documentation" style="white-space:pre-wrap"></div>
					</div>
					<div role="tabpanel" class="tab-pane" id="properties">
						<table class="table table-striped table-hover table-condensed">
							<thead>
								<tr>
									<th class="i18n-key"></th>
									<th class="i18n-value"></th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
					</div>
						<div role="tabpanel" class="tab-pane" id="elements">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
									</tr>
								</thead>
								<tbody>
											<tr>
											    <td> <a href="../elements/id-729690.html" target="element"> Enterprise objecten </a> </td>
											    <td> <a href="../elements/id-729690.html" target="element" class="i18n-elementtype-Grouping">
											    </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/id-736011.html" target="element"> Financi&#235;n </a> </td>
													    <td> <a href="../elements/id-736011.html" target="element" class="i18n-elementtype-BusinessObject">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-736162.html" target="element"> Digitaal product </a> </td>
													    <td> <a href="../elements/id-736162.html" target="element" class="i18n-elementtype-BusinessObject">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-736039.html" target="element"> Bedrijfsgebouw </a> </td>
													    <td> <a href="../elements/id-736039.html" target="element" class="i18n-elementtype-BusinessObject">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-736114.html" target="element"> Richting </a> </td>
													    <td> <a href="../elements/id-736114.html" target="element" class="i18n-elementtype-BusinessObject">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-736067.html" target="element"> Medewerker </a> </td>
													    <td> <a href="../elements/id-736067.html" target="element" class="i18n-elementtype-BusinessObject">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-736094.html" target="element"> Proces en data </a> </td>
													    <td> <a href="../elements/id-736094.html" target="element" class="i18n-elementtype-BusinessObject">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-736051.html" target="element"> Inkoopproduct </a> </td>
													    <td> <a href="../elements/id-736051.html" target="element" class="i18n-elementtype-BusinessObject">
													    </a> </td>
													</tr>

											
											<tr>
											    <td> <a href="../elements/id-738789.html" target="element"> Core objecten </a> </td>
											    <td> <a href="../elements/id-738789.html" target="element" class="i18n-elementtype-Grouping">
											    </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/id-729609.html" target="element"> Werk </a> </td>
													    <td> <a href="../elements/id-729609.html" target="element" class="i18n-elementtype-BusinessObject">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-729665.html" target="element"> Energiemarkt </a> </td>
													    <td> <a href="../elements/id-729665.html" target="element" class="i18n-elementtype-BusinessObject">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-729558.html" target="element"> Energietransport </a> </td>
													    <td> <a href="../elements/id-729558.html" target="element" class="i18n-elementtype-BusinessObject">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-729632.html" target="element"> Klant </a> </td>
													    <td> <a href="../elements/id-729632.html" target="element" class="i18n-elementtype-BusinessObject">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-729659.html" target="element"> Meting </a> </td>
													    <td> <a href="../elements/id-729659.html" target="element" class="i18n-elementtype-BusinessObject">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-729578.html" target="element"> Energienet </a> </td>
													    <td> <a href="../elements/id-729578.html" target="element" class="i18n-elementtype-BusinessObject">
													    </a> </td>
													</tr>

											

								</tbody>
							</table>
						</div>
						<div role="tabpanel" class="tab-pane" id="relationships">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
										<th class="i18n-source"></th>
										<th class="i18n-target"></th>
									</tr>
								</thead>
								<tbody>
																	<tr>
																		<td> <a href="../elements/id-951af3203dc5414f9ea78d9d7a60e825.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-951af3203dc5414f9ea78d9d7a60e825.html" target="element" class="i18n-elementtype-AggregationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-729690.html" target="element"> Enterprise objecten </a> </td>
																		<td> <a href="../elements/id-736094.html" target="element"> Proces en data </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-e323f5c7b1e2404da2c1789f36692b3c.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-e323f5c7b1e2404da2c1789f36692b3c.html" target="element" class="i18n-elementtype-AggregationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-729690.html" target="element"> Enterprise objecten </a> </td>
																		<td> <a href="../elements/id-736011.html" target="element"> Financi&#235;n </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-6b8672283ee04e2c8b6e1f760ad9a53a.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-6b8672283ee04e2c8b6e1f760ad9a53a.html" target="element" class="i18n-elementtype-AggregationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-729690.html" target="element"> Enterprise objecten </a> </td>
																		<td> <a href="../elements/id-736051.html" target="element"> Inkoopproduct </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-7e03da829c2b44a4bf56b522d6ddf46a.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-7e03da829c2b44a4bf56b522d6ddf46a.html" target="element" class="i18n-elementtype-AggregationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-729690.html" target="element"> Enterprise objecten </a> </td>
																		<td> <a href="../elements/id-736039.html" target="element"> Bedrijfsgebouw </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-4749e0e66b0d4594b822963f4fd1d323.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-4749e0e66b0d4594b822963f4fd1d323.html" target="element" class="i18n-elementtype-AggregationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-729690.html" target="element"> Enterprise objecten </a> </td>
																		<td> <a href="../elements/id-736114.html" target="element"> Richting </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-c815a608061241afb86dbd78c34ad558.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-c815a608061241afb86dbd78c34ad558.html" target="element" class="i18n-elementtype-AggregationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-729690.html" target="element"> Enterprise objecten </a> </td>
																		<td> <a href="../elements/id-736067.html" target="element"> Medewerker </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-6ffeccfd89a44d14bff7b425031d6bcd.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-6ffeccfd89a44d14bff7b425031d6bcd.html" target="element" class="i18n-elementtype-AggregationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-729690.html" target="element"> Enterprise objecten </a> </td>
																		<td> <a href="../elements/id-736162.html" target="element"> Digitaal product </a> </td>
																	</tr>

											
																	<tr>
																		<td> <a href="../elements/id-e7bd515105d0474282e81bf1097a9e1e.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-e7bd515105d0474282e81bf1097a9e1e.html" target="element" class="i18n-elementtype-AggregationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-738789.html" target="element"> Core objecten </a> </td>
																		<td> <a href="../elements/id-729609.html" target="element"> Werk </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-2dd479e5d6014013b7634b08b6118085.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-2dd479e5d6014013b7634b08b6118085.html" target="element" class="i18n-elementtype-AggregationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-738789.html" target="element"> Core objecten </a> </td>
																		<td> <a href="../elements/id-729659.html" target="element"> Meting </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-8ddb94cbdc104fa888ec77077c7d75b1.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-8ddb94cbdc104fa888ec77077c7d75b1.html" target="element" class="i18n-elementtype-AggregationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-738789.html" target="element"> Core objecten </a> </td>
																		<td> <a href="../elements/id-729578.html" target="element"> Energienet </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-f4110e48b77d483381e1ddc64bf966f9.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-f4110e48b77d483381e1ddc64bf966f9.html" target="element" class="i18n-elementtype-AggregationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-738789.html" target="element"> Core objecten </a> </td>
																		<td> <a href="../elements/id-729558.html" target="element"> Energietransport </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-5b48ec8fd9d24a6f9e45b8fa332b2971.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-5b48ec8fd9d24a6f9e45b8fa332b2971.html" target="element" class="i18n-elementtype-AggregationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-738789.html" target="element"> Core objecten </a> </td>
																		<td> <a href="../elements/id-729665.html" target="element"> Energiemarkt </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-5b22e55fd7d3446da13f05d1c4c5f0e0.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-5b22e55fd7d3446da13f05d1c4c5f0e0.html" target="element" class="i18n-elementtype-AggregationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-738789.html" target="element"> Core objecten </a> </td>
																		<td> <a href="../elements/id-729632.html" target="element"> Klant </a> </td>
																	</tr>

											

								</tbody>
							</table>
						</div>
			  </div>
			</div>
		</div>
	</div>
	<script type="text/javascript">imageMapResize();</script>
</body>
</html>