<!DOCTYPE html>
<html class="frame" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
	<title>N1 functies</title>

	<!-- JQUERY -->
	<script type="text/javascript" src="../../lib/jquery/jquery.min.js"></script>
	<!-- BOOTSTRAP -->
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap.min.yeti.css">
	<script type="text/javascript" src="../../lib/bootstrap/js/bootstrap-3.3.2.min.js"></script>
	<!-- REPORT SPECIFIC -->
	<link type="text/css" rel="stylesheet" href="../../css/model.css">
	<link type="text/css" rel="stylesheet" href="../../css/i18n.css">
	<script type="text/javascript" src="../../js/frame.js"></script>
	<script type="text/javascript" src="../../js/imageMapResizer.min.js"></script>
</head>

<body>
	<div class="panel panel-default root-panel">

		<div class="panel-heading root-panel-heading">
            <!-- Name -->
               <b>N1 functies</b>

            <!-- If a View with Viewpoint -->
			   (<span class="i18n-viewpoint-"></span>)
			   <a class="glyphicon glyphicon-info-sign" id="hint-viewpoint_" target="hint"></a>
            <!-- Or if a model (i.e has Purpose method) -->
		</div>

		<div class="panel-body root-panel-body">
		    <!-- If this is a digram model (has children and no bounds) show the image -->
			   <img class="diagram" src="../images/id-93a8ffd80d60435e98c9ea3ca2aa5cdb.png" alt="N1 functies" usemap="#id-93a8ffd80d60435e98c9ea3ca2aa5cdbmap"/>
			   <map name="id-93a8ffd80d60435e98c9ea3ca2aa5cdbmap">
				  				<area shape="rect" coords="1294,46,1438,143" href="../elements/id-718836.html"  target="element">
				  				<area shape="rect" coords="1918,46,2062,143" href="../elements/id-718832.html"  target="element">
				  				<area shape="rect" coords="1450,46,1594,143" href="../elements/id-718834.html"  target="element">
				  				<area shape="rect" coords="982,46,1126,143" href="../elements/id-736356.html"  target="element">
				  				<area shape="rect" coords="1606,46,1750,143" href="../elements/id-718833.html"  target="element">
				  				<area shape="rect" coords="1138,46,1282,143" href="../elements/id-736543.html"  target="element">
				  				<area shape="rect" coords="1762,46,1906,143" href="../elements/id-718824.html"  target="element">

				  		<area shape="rect" coords="970,10,2074,155" href="../elements/id-737000.html"  target="element">
				  				<area shape="rect" coords="22,46,167,143" href="../elements/id-718171.html"  target="element">
				  				<area shape="rect" coords="334,46,479,143" href="../elements/id-718167.html"  target="element">
				  				<area shape="rect" coords="802,46,947,144" href="../elements/id-718173.html"  target="element">
				  				<area shape="rect" coords="646,46,791,143" href="../elements/id-718169.html"  target="element">
				  				<area shape="rect" coords="178,46,323,143" href="../elements/id-718168.html"  target="element">
				  				<area shape="rect" coords="490,46,635,145" href="../elements/id-718170.html"  target="element">

				  		<area shape="rect" coords="10,10,959,155" href="../elements/id-737009.html"  target="element">

			   </map>

			<div role="tabpanel">
				<!-- Nav tabs -->
				<ul class="nav nav-tabs" role="tablist">
                    <!-- Purpose / Documentation / Content -->
					   <li role="presentation" class="active"><a href="#documentation" aria-controls="documentation" role="tab" data-toggle="tab" class="i18n-documentation"></a></li>

                    <!-- Properties -->
                    <li role="presentation"><a href="#properties" aria-controls="properties" role="tab" data-toggle="tab" class="i18n-properties"></a></li>

						<li role="presentation"><a href="#elements" aria-controls="elements" role="tab" data-toggle="tab" class="i18n-elements"></a></li>
						<li role="presentation"><a href="#relationships" aria-controls="relationships" role="tab" data-toggle="tab" class="i18n-relationships"></a></li>
                    <!-- Model, Query Tab -->
				</ul>

				<!-- Tab panes -->
				<div class="tab-content">
					<div role="tabpanel" class="tab-pane active" id="documentation">
						<div class="convertlinks documentation" style="white-space:pre-wrap"></div>
					</div>
					<div role="tabpanel" class="tab-pane" id="properties">
						<table class="table table-striped table-hover table-condensed">
							<thead>
								<tr>
									<th class="i18n-key"></th>
									<th class="i18n-value"></th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
					</div>
						<div role="tabpanel" class="tab-pane" id="elements">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
									</tr>
								</thead>
								<tbody>
											<tr>
											    <td> <a href="../elements/id-737009.html" target="element"> Core functies </a> </td>
											    <td> <a href="../elements/id-737009.html" target="element" class="i18n-elementtype-Grouping">
											    </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/id-718170.html" target="element"> Energietransport en -netten meten </a> </td>
													    <td> <a href="../elements/id-718170.html" target="element" class="i18n-elementtype-BusinessFunction">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-718168.html" target="element"> Energie transporteren </a> </td>
													    <td> <a href="../elements/id-718168.html" target="element" class="i18n-elementtype-BusinessFunction">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-718169.html" target="element"> Werkzaamheden uitvoeren aan energienetten </a> </td>
													    <td> <a href="../elements/id-718169.html" target="element" class="i18n-elementtype-BusinessFunction">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-718173.html" target="element"> De energiemarkt faciliteren </a> </td>
													    <td> <a href="../elements/id-718173.html" target="element" class="i18n-elementtype-BusinessFunction">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-718167.html" target="element"> Ontwikkeling en instandhouding van energienetten besturen </a> </td>
													    <td> <a href="../elements/id-718167.html" target="element" class="i18n-elementtype-BusinessFunction">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-718171.html" target="element"> Klanten bedienen </a> </td>
													    <td> <a href="../elements/id-718171.html" target="element" class="i18n-elementtype-BusinessFunction">
													    </a> </td>
													</tr>

											
											<tr>
											    <td> <a href="../elements/id-737000.html" target="element"> Enterprise functies </a> </td>
											    <td> <a href="../elements/id-737000.html" target="element" class="i18n-elementtype-Grouping">
											    </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/id-718824.html" target="element"> Bedrijfsgebouwen beheren en faciliteiten beschikbaar stellen </a> </td>
													    <td> <a href="../elements/id-718824.html" target="element" class="i18n-elementtype-BusinessFunction">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-736543.html" target="element"> Processen en data ontwikkelen en beheren </a> </td>
													    <td> <a href="../elements/id-736543.html" target="element" class="i18n-elementtype-BusinessFunction">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-718833.html" target="element"> Goederen en diensten verkrijgen </a> </td>
													    <td> <a href="../elements/id-718833.html" target="element" class="i18n-elementtype-BusinessFunction">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-736356.html" target="element"> Bedrijfsrichting opstellen en besturen </a> </td>
													    <td> <a href="../elements/id-736356.html" target="element" class="i18n-elementtype-BusinessFunction">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-718834.html" target="element"> Digitale producten ontwikkelen en beheren </a> </td>
													    <td> <a href="../elements/id-718834.html" target="element" class="i18n-elementtype-BusinessFunction">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-718832.html" target="element"> Financi&#235;n verkrijgen en beheren </a> </td>
													    <td> <a href="../elements/id-718832.html" target="element" class="i18n-elementtype-BusinessFunction">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-718836.html" target="element"> Medewerkers werven en inzetbaar houden </a> </td>
													    <td> <a href="../elements/id-718836.html" target="element" class="i18n-elementtype-BusinessFunction">
													    </a> </td>
													</tr>

											

								</tbody>
							</table>
						</div>
						<div role="tabpanel" class="tab-pane" id="relationships">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
										<th class="i18n-source"></th>
										<th class="i18n-target"></th>
									</tr>
								</thead>
								<tbody>
																	<tr>
																		<td> <a href="../elements/id-eb751df522df42799e07c37153dfacbd.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-eb751df522df42799e07c37153dfacbd.html" target="element" class="i18n-elementtype-AggregationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-737009.html" target="element"> Core functies </a> </td>
																		<td> <a href="../elements/id-718167.html" target="element"> Ontwikkeling en instandhouding van energienetten besturen </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-ce57cd54da00428d95b7e9f435181a0d.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-ce57cd54da00428d95b7e9f435181a0d.html" target="element" class="i18n-elementtype-AggregationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-737009.html" target="element"> Core functies </a> </td>
																		<td> <a href="../elements/id-718168.html" target="element"> Energie transporteren </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-d99da8cc1f584203aa1a275769d12bfe.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-d99da8cc1f584203aa1a275769d12bfe.html" target="element" class="i18n-elementtype-AggregationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-737009.html" target="element"> Core functies </a> </td>
																		<td> <a href="../elements/id-718171.html" target="element"> Klanten bedienen </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-e062f0201ae1408a9fde4a0768bd5f29.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-e062f0201ae1408a9fde4a0768bd5f29.html" target="element" class="i18n-elementtype-AggregationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-737009.html" target="element"> Core functies </a> </td>
																		<td> <a href="../elements/id-718170.html" target="element"> Energietransport en -netten meten </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-704b48b92ac8462db8c6350688bda10a.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-704b48b92ac8462db8c6350688bda10a.html" target="element" class="i18n-elementtype-AggregationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-737009.html" target="element"> Core functies </a> </td>
																		<td> <a href="../elements/id-718173.html" target="element"> De energiemarkt faciliteren </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-1a29e8b56d2149ada60740c94be3d2f8.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-1a29e8b56d2149ada60740c94be3d2f8.html" target="element" class="i18n-elementtype-AggregationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-737009.html" target="element"> Core functies </a> </td>
																		<td> <a href="../elements/id-718169.html" target="element"> Werkzaamheden uitvoeren aan energienetten </a> </td>
																	</tr>

											
																	<tr>
																		<td> <a href="../elements/id-9ea33c9cff2e4ddca21d47a05ea7e9f3.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-9ea33c9cff2e4ddca21d47a05ea7e9f3.html" target="element" class="i18n-elementtype-AggregationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-737000.html" target="element"> Enterprise functies </a> </td>
																		<td> <a href="../elements/id-718834.html" target="element"> Digitale producten ontwikkelen en beheren </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-5dc52c8bdcea4a6b967a512c2049cc28.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-5dc52c8bdcea4a6b967a512c2049cc28.html" target="element" class="i18n-elementtype-AggregationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-737000.html" target="element"> Enterprise functies </a> </td>
																		<td> <a href="../elements/id-736356.html" target="element"> Bedrijfsrichting opstellen en besturen </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-de25fbe6ccea48c2b2353a40f188d9ca.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-de25fbe6ccea48c2b2353a40f188d9ca.html" target="element" class="i18n-elementtype-AggregationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-737000.html" target="element"> Enterprise functies </a> </td>
																		<td> <a href="../elements/id-718833.html" target="element"> Goederen en diensten verkrijgen </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-36e9c514687e4837b415a858faf9bed5.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-36e9c514687e4837b415a858faf9bed5.html" target="element" class="i18n-elementtype-AggregationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-737000.html" target="element"> Enterprise functies </a> </td>
																		<td> <a href="../elements/id-718832.html" target="element"> Financi&#235;n verkrijgen en beheren </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-02c10cd598fa45fe904f33db48200b01.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-02c10cd598fa45fe904f33db48200b01.html" target="element" class="i18n-elementtype-AggregationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-737000.html" target="element"> Enterprise functies </a> </td>
																		<td> <a href="../elements/id-718824.html" target="element"> Bedrijfsgebouwen beheren en faciliteiten beschikbaar stellen </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-c23d6501623746eabbb832f9ec2887ed.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-c23d6501623746eabbb832f9ec2887ed.html" target="element" class="i18n-elementtype-AggregationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-737000.html" target="element"> Enterprise functies </a> </td>
																		<td> <a href="../elements/id-718836.html" target="element"> Medewerkers werven en inzetbaar houden </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-526eb0622cc44ce2aba7bd1493c2e12b.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-526eb0622cc44ce2aba7bd1493c2e12b.html" target="element" class="i18n-elementtype-AggregationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-737000.html" target="element"> Enterprise functies </a> </td>
																		<td> <a href="../elements/id-736543.html" target="element"> Processen en data ontwikkelen en beheren </a> </td>
																	</tr>

											

								</tbody>
							</table>
						</div>
			  </div>
			</div>
		</div>
	</div>
	<script type="text/javascript">imageMapResize();</script>
</body>
</html>