<!DOCTYPE html>
<html class="frame" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
	<title>N1 C objectrelaties</title>

	<!-- JQUERY -->
	<script type="text/javascript" src="../../lib/jquery/jquery.min.js"></script>
	<!-- BOOTSTRAP -->
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap.min.yeti.css">
	<script type="text/javascript" src="../../lib/bootstrap/js/bootstrap-3.3.2.min.js"></script>
	<!-- REPORT SPECIFIC -->
	<link type="text/css" rel="stylesheet" href="../../css/model.css">
	<link type="text/css" rel="stylesheet" href="../../css/i18n.css">
	<script type="text/javascript" src="../../js/frame.js"></script>
	<script type="text/javascript" src="../../js/imageMapResizer.min.js"></script>
</head>

<body>
	<div class="panel panel-default root-panel">

		<div class="panel-heading root-panel-heading">
            <!-- Name -->
               <b>N1 C objectrelaties</b>

            <!-- If a View with Viewpoint -->
			   (<span class="i18n-viewpoint-"></span>)
			   <a class="glyphicon glyphicon-info-sign" id="hint-viewpoint_" target="hint"></a>
            <!-- Or if a model (i.e has Purpose method) -->
		</div>

		<div class="panel-body root-panel-body">
		    <!-- If this is a digram model (has children and no bounds) show the image -->
			   <img class="diagram" src="../images/id-a5eeae6f77cd4f3d8bd6cd88079731f4.png" alt="N1 C objectrelaties" usemap="#id-a5eeae6f77cd4f3d8bd6cd88079731f4map"/>
			   <map name="id-a5eeae6f77cd4f3d8bd6cd88079731f4map">
				  		<area shape="rect" coords="10,130,179,179" href="../elements/id-729609.html"  target="element">
				  		<area shape="rect" coords="370,250,899,299" href="../elements/id-729659.html"  target="element">
				  		<area shape="rect" coords="10,10,179,59" href="../elements/id-729632.html"  target="element">
				  		<area shape="rect" coords="730,130,899,179" href="../elements/id-729558.html"  target="element">
				  		<area shape="rect" coords="370,130,539,179" href="../elements/id-729578.html"  target="element">
				  		<area shape="rect" coords="370,10,899,59" href="../elements/id-729665.html"  target="element">

			   </map>

			<div role="tabpanel">
				<!-- Nav tabs -->
				<ul class="nav nav-tabs" role="tablist">
                    <!-- Purpose / Documentation / Content -->
					   <li role="presentation" class="active"><a href="#documentation" aria-controls="documentation" role="tab" data-toggle="tab" class="i18n-documentation"></a></li>

                    <!-- Properties -->
                    <li role="presentation"><a href="#properties" aria-controls="properties" role="tab" data-toggle="tab" class="i18n-properties"></a></li>

						<li role="presentation"><a href="#elements" aria-controls="elements" role="tab" data-toggle="tab" class="i18n-elements"></a></li>
						<li role="presentation"><a href="#relationships" aria-controls="relationships" role="tab" data-toggle="tab" class="i18n-relationships"></a></li>
                    <!-- Model, Query Tab -->
				</ul>

				<!-- Tab panes -->
				<div class="tab-content">
					<div role="tabpanel" class="tab-pane active" id="documentation">
						<div class="convertlinks documentation" style="white-space:pre-wrap"></div>
					</div>
					<div role="tabpanel" class="tab-pane" id="properties">
						<table class="table table-striped table-hover table-condensed">
							<thead>
								<tr>
									<th class="i18n-key"></th>
									<th class="i18n-value"></th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
					</div>
						<div role="tabpanel" class="tab-pane" id="elements">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
									</tr>
								</thead>
								<tbody>
											<tr>
											    <td> <a href="../elements/id-729665.html" target="element"> Energiemarkt </a> </td>
											    <td> <a href="../elements/id-729665.html" target="element" class="i18n-elementtype-BusinessObject">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-729578.html" target="element"> Energienet </a> </td>
											    <td> <a href="../elements/id-729578.html" target="element" class="i18n-elementtype-BusinessObject">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-729558.html" target="element"> Energietransport </a> </td>
											    <td> <a href="../elements/id-729558.html" target="element" class="i18n-elementtype-BusinessObject">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-729632.html" target="element"> Klant </a> </td>
											    <td> <a href="../elements/id-729632.html" target="element" class="i18n-elementtype-BusinessObject">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-729659.html" target="element"> Meting </a> </td>
											    <td> <a href="../elements/id-729659.html" target="element" class="i18n-elementtype-BusinessObject">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-729609.html" target="element"> Werk </a> </td>
											    <td> <a href="../elements/id-729609.html" target="element" class="i18n-elementtype-BusinessObject">
											    </a> </td>
											</tr>


								</tbody>
							</table>
						</div>
						<div role="tabpanel" class="tab-pane" id="relationships">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
										<th class="i18n-source"></th>
										<th class="i18n-target"></th>
									</tr>
								</thead>
								<tbody>
																	<tr>
																		<td> <a href="../elements/id-738850.html" target="element"> voor gebruik op </a> </td>
																		<td> <a href="../elements/id-738850.html" target="element" class="i18n-elementtype-AssociationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-729578.html" target="element"> Energienet </a> </td>
																		<td> <a href="../elements/id-729665.html" target="element"> Energiemarkt </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-738855.html" target="element"> via </a> </td>
																		<td> <a href="../elements/id-738855.html" target="element" class="i18n-elementtype-AssociationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-729558.html" target="element"> Energietransport </a> </td>
																		<td> <a href="../elements/id-729578.html" target="element"> Energienet </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-738852.html" target="element"> voor gebruik op </a> </td>
																		<td> <a href="../elements/id-738852.html" target="element" class="i18n-elementtype-AssociationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-729558.html" target="element"> Energietransport </a> </td>
																		<td> <a href="../elements/id-729665.html" target="element"> Energiemarkt </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-738849.html" target="element"> vrager op </a> </td>
																		<td> <a href="../elements/id-738849.html" target="element" class="i18n-elementtype-AssociationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-729632.html" target="element"> Klant </a> </td>
																		<td> <a href="../elements/id-729665.html" target="element"> Energiemarkt </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-738853.html" target="element"> van </a> </td>
																		<td> <a href="../elements/id-738853.html" target="element" class="i18n-elementtype-AssociationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-729659.html" target="element"> Meting </a> </td>
																		<td> <a href="../elements/id-729558.html" target="element"> Energietransport </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-738854.html" target="element"> van </a> </td>
																		<td> <a href="../elements/id-738854.html" target="element" class="i18n-elementtype-AssociationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-729659.html" target="element"> Meting </a> </td>
																		<td> <a href="../elements/id-729578.html" target="element"> Energienet </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-738851.html" target="element"> aan </a> </td>
																		<td> <a href="../elements/id-738851.html" target="element" class="i18n-elementtype-AssociationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-729609.html" target="element"> Werk </a> </td>
																		<td> <a href="../elements/id-729578.html" target="element"> Energienet </a> </td>
																	</tr>


								</tbody>
							</table>
						</div>
			  </div>
			</div>
		</div>
	</div>
	<script type="text/javascript">imageMapResize();</script>
</body>
</html>