<!DOCTYPE html>
<html class="frame" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
	<title>N2 waardestroom(stappen) P.D2</title>

	<!-- JQUERY -->
	<script type="text/javascript" src="../../lib/jquery/jquery.min.js"></script>
	<!-- BOOTSTRAP -->
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap.min.yeti.css">
	<script type="text/javascript" src="../../lib/bootstrap/js/bootstrap-3.3.2.min.js"></script>
	<!-- REPORT SPECIFIC -->
	<link type="text/css" rel="stylesheet" href="../../css/model.css">
	<link type="text/css" rel="stylesheet" href="../../css/i18n.css">
	<script type="text/javascript" src="../../js/frame.js"></script>
	<script type="text/javascript" src="../../js/imageMapResizer.min.js"></script>
</head>

<body>
	<div class="panel panel-default root-panel">

		<div class="panel-heading root-panel-heading">
            <!-- Name -->
               <b>N2 waardestroom(stappen) P.D2</b>

            <!-- If a View with Viewpoint -->
			   (<span class="i18n-viewpoint-"></span>)
			   <a class="glyphicon glyphicon-info-sign" id="hint-viewpoint_" target="hint"></a>
            <!-- Or if a model (i.e has Purpose method) -->
		</div>

		<div class="panel-body root-panel-body">
		    <!-- If this is a digram model (has children and no bounds) show the image -->
			   <img class="diagram" src="../images/id-ab1bc1031da84f5c9effa6c0e098bbe3.png" alt="N2 waardestroom(stappen) P.D2" usemap="#id-ab1bc1031da84f5c9effa6c0e098bbe3map"/>
			   <map name="id-ab1bc1031da84f5c9effa6c0e098bbe3map">
				  						<area shape="rect" coords="1726,358,1883,383" href="../elements/id-729643.html"  target="element">

				  				<area shape="rect" coords="1714,298,1895,394" href="../elements/id-711331.html"  target="element">
				  						<area shape="rect" coords="1534,358,1691,383" href="../elements/id-729651.html"  target="element">

				  				<area shape="rect" coords="1522,298,1703,394" href="../elements/id-718342.html"  target="element">

				  		<area shape="rect" coords="1510,226,1907,407" href="../elements/id-718171.html"  target="element">
				  						<area shape="rect" coords="1318,356,1475,381" href="../elements/id-729563.html"  target="element">

				  				<area shape="rect" coords="1306,296,1487,392" href="../elements/id-711318.html"  target="element">

				  		<area shape="rect" coords="1294,224,1499,407" href="../elements/id-718168.html"  target="element">
				  						<area shape="rect" coords="1714,106,1895,161" href="../elements/id-34735f7be8d44823b5038b5d78b3da75.html"  target="element">
				  						<area shape="rect" coords="1522,106,1703,161" href="../elements/id-b1c641d5077648f09a301bcfe229d83e.html"  target="element">

				  				<area shape="rect" coords="1510,58,1907,179" href="../elements/id-df46691b104545de95d75ca67615459a.html"  target="element">
				  						<area shape="rect" coords="1306,106,1487,161" href="../elements/id-cde29c48ffa14f1e92da7b2188550a57.html"  target="element">

				  				<area shape="rect" coords="1294,58,1499,179" href="../elements/id-74e7083749184261b8309df3c4b4d0b3.html"  target="element">
				  						<area shape="rect" coords="682,106,863,161" href="../elements/id-0d5bad4a78e84358bfdd4ed4d274c15d.html"  target="element">

				  				<area shape="rect" coords="670,58,875,179" href="../elements/id-39472cb2840a4f849d76c41db40afa9d.html"  target="element">
				  						<area shape="rect" coords="1090,106,1271,161" href="../elements/id-0902e04ae45143c88291f7d7718c838f.html"  target="element">
				  						<area shape="rect" coords="898,106,1079,161" href="../elements/id-d1823f84a980479d8b344a49ad445d03.html"  target="element">

				  				<area shape="rect" coords="886,58,1283,179" href="../elements/id-4f3301dfa1664080af2b187bad518039.html"  target="element">
				  						<area shape="rect" coords="466,106,647,161" href="../elements/id-93b3a4cb7f6243688b5a8ce80ed13eda.html"  target="element">

				  				<area shape="rect" coords="454,58,659,179" href="../elements/id-74e7083749184261b8309df3c4b4d0b3.html"  target="element">
				  						<area shape="rect" coords="250,106,431,161" href="../elements/id-af461937c9284dbfac6a8f70ee9294cf.html"  target="element">

				  				<area shape="rect" coords="238,58,443,179" href="../elements/id-599af46af31e479f8bfb4b1417eb2586.html"  target="element">
				  						<area shape="rect" coords="34,106,215,161" href="../elements/id-5a28a27946d649f09ac6823030b9e8c1.html"  target="element">

				  				<area shape="rect" coords="22,58,227,179" href="../elements/id-df46691b104545de95d75ca67615459a.html"  target="element">

				  		<area shape="rect" coords="10,10,1919,191" href="../elements/id-3716424db89446b59aaef8164198f9f6.html"  target="element">
				  						<area shape="rect" coords="1102,355,1259,380" href="../elements/id-729585.html"  target="element">

				  				<area shape="rect" coords="1090,295,1271,392" href="../elements/id-711342.html"  target="element">
				  						<area shape="rect" coords="910,356,1067,381" href="../elements/id-729592.html"  target="element">

				  				<area shape="rect" coords="898,296,1079,392" href="../elements/id-711321.html"  target="element">

				  		<area shape="rect" coords="886,224,1283,407" href="../elements/id-718167.html"  target="element">
				  						<area shape="rect" coords="46,358,203,383" href="../elements/id-729634.html"  target="element">

				  				<area shape="rect" coords="34,298,215,395" href="../elements/id-711284.html"  target="element">

				  		<area shape="rect" coords="22,226,227,407" href="../elements/id-718171.html"  target="element">
				  						<area shape="rect" coords="694,358,851,383" href="../elements/id-729622.html"  target="element">

				  				<area shape="rect" coords="682,298,863,394" href="../elements/id-711278.html"  target="element">

				  		<area shape="rect" coords="670,226,875,407" href="../elements/id-718169.html"  target="element">
				  						<area shape="rect" coords="478,358,635,383" href="../elements/id-729560.html"  target="element">

				  				<area shape="rect" coords="466,298,647,394" href="../elements/id-718379.html"  target="element">

				  		<area shape="rect" coords="454,226,659,407" href="../elements/id-718168.html"  target="element">
				  						<area shape="rect" coords="262,358,419,383" href="../elements/id-729661.html"  target="element">

				  				<area shape="rect" coords="250,298,431,395" href="../elements/id-718341.html"  target="element">

				  		<area shape="rect" coords="238,226,443,407" href="../elements/id-718170.html"  target="element">

			   </map>

			<div role="tabpanel">
				<!-- Nav tabs -->
				<ul class="nav nav-tabs" role="tablist">
                    <!-- Purpose / Documentation / Content -->
					   <li role="presentation" class="active"><a href="#documentation" aria-controls="documentation" role="tab" data-toggle="tab" class="i18n-documentation"></a></li>

                    <!-- Properties -->
                    <li role="presentation"><a href="#properties" aria-controls="properties" role="tab" data-toggle="tab" class="i18n-properties"></a></li>

						<li role="presentation"><a href="#elements" aria-controls="elements" role="tab" data-toggle="tab" class="i18n-elements"></a></li>
						<li role="presentation"><a href="#relationships" aria-controls="relationships" role="tab" data-toggle="tab" class="i18n-relationships"></a></li>
                    <!-- Model, Query Tab -->
				</ul>

				<!-- Tab panes -->
				<div class="tab-content">
					<div role="tabpanel" class="tab-pane active" id="documentation">
						<div class="convertlinks documentation" style="white-space:pre-wrap"></div>
					</div>
					<div role="tabpanel" class="tab-pane" id="properties">
						<table class="table table-striped table-hover table-condensed">
							<thead>
								<tr>
									<th class="i18n-key"></th>
									<th class="i18n-value"></th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
					</div>
						<div role="tabpanel" class="tab-pane" id="elements">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
									</tr>
								</thead>
								<tbody>
											<tr>
											    <td> <a href="../elements/id-718170.html" target="element"> Energietransport en -netten meten </a> </td>
											    <td> <a href="../elements/id-718170.html" target="element" class="i18n-elementtype-BusinessFunction">
											    </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/id-718341.html" target="element"> Metingen van energietransport en -netten ter beschikking stellen </a> </td>
													    <td> <a href="../elements/id-718341.html" target="element" class="i18n-elementtype-BusinessFunction">
													    </a> </td>
													</tr>

															<tr>
															    <td> <a href="../elements/id-729661.html" target="element"> Meting </a> </td>
															    <td> <a href="../elements/id-729661.html" target="element" class="i18n-elementtype-BusinessObject">
															    </a> </td>
															</tr>

													
											
											<tr>
											    <td> <a href="../elements/id-718168.html" target="element"> Energie transporteren </a> </td>
											    <td> <a href="../elements/id-718168.html" target="element" class="i18n-elementtype-BusinessFunction">
											    </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/id-718379.html" target="element"> Energietransport herstellen </a> </td>
													    <td> <a href="../elements/id-718379.html" target="element" class="i18n-elementtype-BusinessFunction">
													    </a> </td>
													</tr>

															<tr>
															    <td> <a href="../elements/id-729560.html" target="element"> Storing </a> </td>
															    <td> <a href="../elements/id-729560.html" target="element" class="i18n-elementtype-BusinessObject">
															    </a> </td>
															</tr>

													
											
											<tr>
											    <td> <a href="../elements/id-718169.html" target="element"> Werkzaamheden uitvoeren aan energienetten </a> </td>
											    <td> <a href="../elements/id-718169.html" target="element" class="i18n-elementtype-BusinessFunction">
											    </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/id-711278.html" target="element"> Werkzaamheden uitvoeren </a> </td>
													    <td> <a href="../elements/id-711278.html" target="element" class="i18n-elementtype-BusinessFunction">
													    </a> </td>
													</tr>

															<tr>
															    <td> <a href="../elements/id-729622.html" target="element"> Werkactiviteit </a> </td>
															    <td> <a href="../elements/id-729622.html" target="element" class="i18n-elementtype-BusinessObject">
															    </a> </td>
															</tr>

													
											
											<tr>
											    <td> <a href="../elements/id-718171.html" target="element"> Klanten bedienen </a> </td>
											    <td> <a href="../elements/id-718171.html" target="element" class="i18n-elementtype-BusinessFunction">
											    </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/id-711284.html" target="element"> Klanten bedienen en relaties onderhouden </a> </td>
													    <td> <a href="../elements/id-711284.html" target="element" class="i18n-elementtype-BusinessFunction">
													    </a> </td>
													</tr>

															<tr>
															    <td> <a href="../elements/id-729634.html" target="element"> Klant </a> </td>
															    <td> <a href="../elements/id-729634.html" target="element" class="i18n-elementtype-BusinessObject">
															    </a> </td>
															</tr>

													
											
											<tr>
											    <td> <a href="../elements/id-718167.html" target="element"> Ontwikkeling en instandhouding van energienetten besturen </a> </td>
											    <td> <a href="../elements/id-718167.html" target="element" class="i18n-elementtype-BusinessFunction">
											    </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/id-711321.html" target="element"> Energienetten uitbreiden, vervangen en vernieuwen </a> </td>
													    <td> <a href="../elements/id-711321.html" target="element" class="i18n-elementtype-BusinessFunction">
													    </a> </td>
													</tr>

															<tr>
															    <td> <a href="../elements/id-729592.html" target="element"> Energienet </a> </td>
															    <td> <a href="../elements/id-729592.html" target="element" class="i18n-elementtype-BusinessObject">
															    </a> </td>
															</tr>

													
													<tr>
													    <td> <a href="../elements/id-711342.html" target="element"> Energienetten in stand houden </a> </td>
													    <td> <a href="../elements/id-711342.html" target="element" class="i18n-elementtype-BusinessFunction">
													    </a> </td>
													</tr>

															<tr>
															    <td> <a href="../elements/id-729585.html" target="element"> Netkwaliteit </a> </td>
															    <td> <a href="../elements/id-729585.html" target="element" class="i18n-elementtype-BusinessObject">
															    </a> </td>
															</tr>

													
											
											<tr>
											    <td> <a href="../elements/id-3716424db89446b59aaef8164198f9f6.html" target="element"> Instandhouden van energienetten - storingsherstel </a> </td>
											    <td> <a href="../elements/id-3716424db89446b59aaef8164198f9f6.html" target="element" class="i18n-elementtype-BusinessProcess">
											    </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/id-df46691b104545de95d75ca67615459a.html" target="element"> Bedienen klant voor storingherstel </a> </td>
													    <td> <a href="../elements/id-df46691b104545de95d75ca67615459a.html" target="element" class="i18n-elementtype-BusinessProcess">
													    </a> </td>
													</tr>

															<tr>
															    <td> <a href="../elements/id-5a28a27946d649f09ac6823030b9e8c1.html" target="element"> Interacteren over storing </a> </td>
															    <td> <a href="../elements/id-5a28a27946d649f09ac6823030b9e8c1.html" target="element" class="i18n-elementtype-BusinessProcess">
															    </a> </td>
															</tr>

													
													<tr>
													    <td> <a href="../elements/id-599af46af31e479f8bfb4b1417eb2586.html" target="element"> Meten storing energietransport en -netten </a> </td>
													    <td> <a href="../elements/id-599af46af31e479f8bfb4b1417eb2586.html" target="element" class="i18n-elementtype-BusinessProcess">
													    </a> </td>
													</tr>

															<tr>
															    <td> <a href="../elements/id-af461937c9284dbfac6a8f70ee9294cf.html" target="element"> Meten storing energietransport en -netten </a> </td>
															    <td> <a href="../elements/id-af461937c9284dbfac6a8f70ee9294cf.html" target="element" class="i18n-elementtype-BusinessProcess">
															    </a> </td>
															</tr>

													
													<tr>
													    <td> <a href="../elements/id-74e7083749184261b8309df3c4b4d0b3.html" target="element"> Herstellen energietransport </a> </td>
													    <td> <a href="../elements/id-74e7083749184261b8309df3c4b4d0b3.html" target="element" class="i18n-elementtype-BusinessProcess">
													    </a> </td>
													</tr>

															<tr>
															    <td> <a href="../elements/id-93b3a4cb7f6243688b5a8ce80ed13eda.html" target="element"> Herstellen energietransport </a> </td>
															    <td> <a href="../elements/id-93b3a4cb7f6243688b5a8ce80ed13eda.html" target="element" class="i18n-elementtype-BusinessProcess">
															    </a> </td>
															</tr>

													
													<tr>
													    <td> <a href="../elements/id-4f3301dfa1664080af2b187bad518039.html" target="element"> Besturen instandhouding energienet voor storingsherstel </a> </td>
													    <td> <a href="../elements/id-4f3301dfa1664080af2b187bad518039.html" target="element" class="i18n-elementtype-BusinessProcess">
													    </a> </td>
													</tr>

															<tr>
															    <td> <a href="../elements/id-d1823f84a980479d8b344a49ad445d03.html" target="element"> Inpassen vervanging door storingsherstel in energienet </a> </td>
															    <td> <a href="../elements/id-d1823f84a980479d8b344a49ad445d03.html" target="element" class="i18n-elementtype-BusinessProcess">
															    </a> </td>
															</tr>

															<tr>
															    <td> <a href="../elements/id-0902e04ae45143c88291f7d7718c838f.html" target="element"> Analyseren grondoorzaak en aansturen mitigatie </a> </td>
															    <td> <a href="../elements/id-0902e04ae45143c88291f7d7718c838f.html" target="element" class="i18n-elementtype-BusinessProcess">
															    </a> </td>
															</tr>

													
													<tr>
													    <td> <a href="../elements/id-39472cb2840a4f849d76c41db40afa9d.html" target="element"> Uitvoeren storingherstelwerkzaamheden </a> </td>
													    <td> <a href="../elements/id-39472cb2840a4f849d76c41db40afa9d.html" target="element" class="i18n-elementtype-BusinessProcess">
													    </a> </td>
													</tr>

															<tr>
															    <td> <a href="../elements/id-0d5bad4a78e84358bfdd4ed4d274c15d.html" target="element"> Uitvoeren storingherstelwerkzaamheden </a> </td>
															    <td> <a href="../elements/id-0d5bad4a78e84358bfdd4ed4d274c15d.html" target="element" class="i18n-elementtype-BusinessProcess">
															    </a> </td>
															</tr>

													
													<tr>
													    <td> <a href="../elements/id-74e7083749184261b8309df3c4b4d0b3.html" target="element"> Herstellen energietransport </a> </td>
													    <td> <a href="../elements/id-74e7083749184261b8309df3c4b4d0b3.html" target="element" class="i18n-elementtype-BusinessProcess">
													    </a> </td>
													</tr>

															<tr>
															    <td> <a href="../elements/id-cde29c48ffa14f1e92da7b2188550a57.html" target="element"> Opnemen vervanging door storingsherstel in besturing energietransport </a> </td>
															    <td> <a href="../elements/id-cde29c48ffa14f1e92da7b2188550a57.html" target="element" class="i18n-elementtype-BusinessProcess">
															    </a> </td>
															</tr>

													
													<tr>
													    <td> <a href="../elements/id-df46691b104545de95d75ca67615459a.html" target="element"> Bedienen klant voor storingherstel </a> </td>
													    <td> <a href="../elements/id-df46691b104545de95d75ca67615459a.html" target="element" class="i18n-elementtype-BusinessProcess">
													    </a> </td>
													</tr>

															<tr>
															    <td> <a href="../elements/id-b1c641d5077648f09a301bcfe229d83e.html" target="element"> Bepalen storingscompensatie </a> </td>
															    <td> <a href="../elements/id-b1c641d5077648f09a301bcfe229d83e.html" target="element" class="i18n-elementtype-BusinessProcess">
															    </a> </td>
															</tr>

															<tr>
															    <td> <a href="../elements/id-34735f7be8d44823b5038b5d78b3da75.html" target="element"> Vergoeden storing </a> </td>
															    <td> <a href="../elements/id-34735f7be8d44823b5038b5d78b3da75.html" target="element" class="i18n-elementtype-BusinessProcess">
															    </a> </td>
															</tr>

													
											
											<tr>
											    <td> <a href="../elements/id-718168.html" target="element"> Energie transporteren </a> </td>
											    <td> <a href="../elements/id-718168.html" target="element" class="i18n-elementtype-BusinessFunction">
											    </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/id-711318.html" target="element"> Energietransport verzorgen </a> </td>
													    <td> <a href="../elements/id-711318.html" target="element" class="i18n-elementtype-BusinessFunction">
													    </a> </td>
													</tr>

															<tr>
															    <td> <a href="../elements/id-729563.html" target="element"> Energietransport </a> </td>
															    <td> <a href="../elements/id-729563.html" target="element" class="i18n-elementtype-BusinessObject">
															    </a> </td>
															</tr>

													
											
											<tr>
											    <td> <a href="../elements/id-718171.html" target="element"> Klanten bedienen </a> </td>
											    <td> <a href="../elements/id-718171.html" target="element" class="i18n-elementtype-BusinessFunction">
											    </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/id-718342.html" target="element"> Inkomstenverlies beperken </a> </td>
													    <td> <a href="../elements/id-718342.html" target="element" class="i18n-elementtype-BusinessFunction">
													    </a> </td>
													</tr>

															<tr>
															    <td> <a href="../elements/id-729651.html" target="element"> Inkomstenverlies </a> </td>
															    <td> <a href="../elements/id-729651.html" target="element" class="i18n-elementtype-BusinessObject">
															    </a> </td>
															</tr>

													
													<tr>
													    <td> <a href="../elements/id-711331.html" target="element"> Factureren en innen </a> </td>
													    <td> <a href="../elements/id-711331.html" target="element" class="i18n-elementtype-BusinessFunction">
													    </a> </td>
													</tr>

															<tr>
															    <td> <a href="../elements/id-729643.html" target="element"> Klantfactuur </a> </td>
															    <td> <a href="../elements/id-729643.html" target="element" class="i18n-elementtype-BusinessObject">
															    </a> </td>
															</tr>

													
											

								</tbody>
							</table>
						</div>
						<div role="tabpanel" class="tab-pane" id="relationships">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
										<th class="i18n-source"></th>
										<th class="i18n-target"></th>
									</tr>
								</thead>
								<tbody>
																	<tr>
																		<td> <a href="../elements/id-878937.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-878937.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-718170.html" target="element"> Energietransport en -netten meten </a> </td>
																		<td> <a href="../elements/id-718341.html" target="element"> Metingen van energietransport en -netten ter beschikking stellen </a> </td>
																	</tr>

																			<tr>
																				<td> <a href="../elements/id-32cbdacc6eda46d485cf296ad9183ac0.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-32cbdacc6eda46d485cf296ad9183ac0.html" target="element" class="i18n-elementtype-AccessRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-718341.html" target="element"> Metingen van energietransport en -netten ter beschikking stellen </a> </td>
																				<td> <a href="../elements/id-729661.html" target="element"> Meting </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-72e9ab5fc52c4bc1bb492da575ae4810.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-72e9ab5fc52c4bc1bb492da575ae4810.html" target="element" class="i18n-elementtype-ServingRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-718341.html" target="element"> Metingen van energietransport en -netten ter beschikking stellen </a> </td>
																				<td> <a href="../elements/id-af461937c9284dbfac6a8f70ee9294cf.html" target="element"> Meten storing energietransport en -netten </a> </td>
																			</tr>

													
											
																	<tr>
																		<td> <a href="../elements/id-878826.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-878826.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-718168.html" target="element"> Energie transporteren </a> </td>
																		<td> <a href="../elements/id-718379.html" target="element"> Energietransport herstellen </a> </td>
																	</tr>

																			<tr>
																				<td> <a href="../elements/id-653e659f3d3e4476b8fde62262a15b38.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-653e659f3d3e4476b8fde62262a15b38.html" target="element" class="i18n-elementtype-AccessRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-718379.html" target="element"> Energietransport herstellen </a> </td>
																				<td> <a href="../elements/id-729560.html" target="element"> Storing </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-f62a7bf067b0409c95f1deb7107a0177.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-f62a7bf067b0409c95f1deb7107a0177.html" target="element" class="i18n-elementtype-ServingRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-718379.html" target="element"> Energietransport herstellen </a> </td>
																				<td> <a href="../elements/id-93b3a4cb7f6243688b5a8ce80ed13eda.html" target="element"> Herstellen energietransport </a> </td>
																			</tr>

													
											
																	<tr>
																		<td> <a href="../elements/id-878380.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-878380.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-718169.html" target="element"> Werkzaamheden uitvoeren aan energienetten </a> </td>
																		<td> <a href="../elements/id-711278.html" target="element"> Werkzaamheden uitvoeren </a> </td>
																	</tr>

																			<tr>
																				<td> <a href="../elements/id-45d2c8b11a424dfe9b967e98c2f2f7ef.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-45d2c8b11a424dfe9b967e98c2f2f7ef.html" target="element" class="i18n-elementtype-AccessRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-711278.html" target="element"> Werkzaamheden uitvoeren </a> </td>
																				<td> <a href="../elements/id-729622.html" target="element"> Werkactiviteit </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-5c9a6fa04ff746a4b211a1541d0a3d4c.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-5c9a6fa04ff746a4b211a1541d0a3d4c.html" target="element" class="i18n-elementtype-ServingRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-711278.html" target="element"> Werkzaamheden uitvoeren </a> </td>
																				<td> <a href="../elements/id-0d5bad4a78e84358bfdd4ed4d274c15d.html" target="element"> Uitvoeren storingherstelwerkzaamheden </a> </td>
																			</tr>

													
											
																	<tr>
																		<td> <a href="../elements/id-878804.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-878804.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-718171.html" target="element"> Klanten bedienen </a> </td>
																		<td> <a href="../elements/id-711284.html" target="element"> Klanten bedienen en relaties onderhouden </a> </td>
																	</tr>

																			<tr>
																				<td> <a href="../elements/id-6e61750f4f9249e0bbe93bcb7b69503f.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-6e61750f4f9249e0bbe93bcb7b69503f.html" target="element" class="i18n-elementtype-AccessRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-711284.html" target="element"> Klanten bedienen en relaties onderhouden </a> </td>
																				<td> <a href="../elements/id-729634.html" target="element"> Klant </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-b3039f4efd8948fa9be24d7faf13643e.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-b3039f4efd8948fa9be24d7faf13643e.html" target="element" class="i18n-elementtype-ServingRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-711284.html" target="element"> Klanten bedienen en relaties onderhouden </a> </td>
																				<td> <a href="../elements/id-5a28a27946d649f09ac6823030b9e8c1.html" target="element"> Interacteren over storing </a> </td>
																			</tr>

													
											
																	<tr>
																		<td> <a href="../elements/id-878371.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-878371.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-718167.html" target="element"> Ontwikkeling en instandhouding van energienetten besturen </a> </td>
																		<td> <a href="../elements/id-711342.html" target="element"> Energienetten in stand houden </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-878458.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-878458.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-718167.html" target="element"> Ontwikkeling en instandhouding van energienetten besturen </a> </td>
																		<td> <a href="../elements/id-711321.html" target="element"> Energienetten uitbreiden, vervangen en vernieuwen </a> </td>
																	</tr>

																			<tr>
																				<td> <a href="../elements/id-9c16357f67b64ee5acd3079b1fa07733.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-9c16357f67b64ee5acd3079b1fa07733.html" target="element" class="i18n-elementtype-AccessRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-711321.html" target="element"> Energienetten uitbreiden, vervangen en vernieuwen </a> </td>
																				<td> <a href="../elements/id-729592.html" target="element"> Energienet </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-4bbc1de96d4b4d88997b1e937c16f800.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-4bbc1de96d4b4d88997b1e937c16f800.html" target="element" class="i18n-elementtype-ServingRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-711321.html" target="element"> Energienetten uitbreiden, vervangen en vernieuwen </a> </td>
																				<td> <a href="../elements/id-d1823f84a980479d8b344a49ad445d03.html" target="element"> Inpassen vervanging door storingsherstel in energienet </a> </td>
																			</tr>

													
																			<tr>
																				<td> <a href="../elements/id-f1a3e9d4fc7943119aafcb4cfe095434.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-f1a3e9d4fc7943119aafcb4cfe095434.html" target="element" class="i18n-elementtype-AccessRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-711342.html" target="element"> Energienetten in stand houden </a> </td>
																				<td> <a href="../elements/id-729585.html" target="element"> Netkwaliteit </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-f81c66c8b7a5470fae7d05e5e9dafea4.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-f81c66c8b7a5470fae7d05e5e9dafea4.html" target="element" class="i18n-elementtype-ServingRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-711342.html" target="element"> Energienetten in stand houden </a> </td>
																				<td> <a href="../elements/id-0902e04ae45143c88291f7d7718c838f.html" target="element"> Analyseren grondoorzaak en aansturen mitigatie </a> </td>
																			</tr>

													
											
																	<tr>
																		<td> <a href="../elements/id-9d995d85b9b1422fbb5a3ad54ef87e91.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-9d995d85b9b1422fbb5a3ad54ef87e91.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-3716424db89446b59aaef8164198f9f6.html" target="element"> Instandhouden van energienetten - storingsherstel </a> </td>
																		<td> <a href="../elements/id-599af46af31e479f8bfb4b1417eb2586.html" target="element"> Meten storing energietransport en -netten </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-0b8f8284288845238de50fc2960e357e.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-0b8f8284288845238de50fc2960e357e.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-3716424db89446b59aaef8164198f9f6.html" target="element"> Instandhouden van energienetten - storingsherstel </a> </td>
																		<td> <a href="../elements/id-4f3301dfa1664080af2b187bad518039.html" target="element"> Besturen instandhouding energienet voor storingsherstel </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-dac34500a4c44173a6b30eb9b2f5e592.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-dac34500a4c44173a6b30eb9b2f5e592.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-3716424db89446b59aaef8164198f9f6.html" target="element"> Instandhouden van energienetten - storingsherstel </a> </td>
																		<td> <a href="../elements/id-df46691b104545de95d75ca67615459a.html" target="element"> Bedienen klant voor storingherstel </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-34da2e50448f43428ad335e0561a70e0.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-34da2e50448f43428ad335e0561a70e0.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-3716424db89446b59aaef8164198f9f6.html" target="element"> Instandhouden van energienetten - storingsherstel </a> </td>
																		<td> <a href="../elements/id-74e7083749184261b8309df3c4b4d0b3.html" target="element"> Herstellen energietransport </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-22d748693a7d43b5b8073b59ae30c688.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-22d748693a7d43b5b8073b59ae30c688.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-3716424db89446b59aaef8164198f9f6.html" target="element"> Instandhouden van energienetten - storingsherstel </a> </td>
																		<td> <a href="../elements/id-39472cb2840a4f849d76c41db40afa9d.html" target="element"> Uitvoeren storingherstelwerkzaamheden </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-34da2e50448f43428ad335e0561a70e0.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-34da2e50448f43428ad335e0561a70e0.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-3716424db89446b59aaef8164198f9f6.html" target="element"> Instandhouden van energienetten - storingsherstel </a> </td>
																		<td> <a href="../elements/id-74e7083749184261b8309df3c4b4d0b3.html" target="element"> Herstellen energietransport </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-dac34500a4c44173a6b30eb9b2f5e592.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-dac34500a4c44173a6b30eb9b2f5e592.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-3716424db89446b59aaef8164198f9f6.html" target="element"> Instandhouden van energienetten - storingsherstel </a> </td>
																		<td> <a href="../elements/id-df46691b104545de95d75ca67615459a.html" target="element"> Bedienen klant voor storingherstel </a> </td>
																	</tr>

																			<tr>
																				<td> <a href="../elements/id-c18b32f35a9b4962a86c735fc4834d18.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-c18b32f35a9b4962a86c735fc4834d18.html" target="element" class="i18n-elementtype-CompositionRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-df46691b104545de95d75ca67615459a.html" target="element"> Bedienen klant voor storingherstel </a> </td>
																				<td> <a href="../elements/id-5a28a27946d649f09ac6823030b9e8c1.html" target="element"> Interacteren over storing </a> </td>
																			</tr>

													
																			<tr>
																				<td> <a href="../elements/id-b781811a5f1f404a81aa473d2147a6e2.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-b781811a5f1f404a81aa473d2147a6e2.html" target="element" class="i18n-elementtype-CompositionRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-599af46af31e479f8bfb4b1417eb2586.html" target="element"> Meten storing energietransport en -netten </a> </td>
																				<td> <a href="../elements/id-af461937c9284dbfac6a8f70ee9294cf.html" target="element"> Meten storing energietransport en -netten </a> </td>
																			</tr>

													
																			<tr>
																				<td> <a href="../elements/id-7f44edc98f50408285a79e7cea8a6fa9.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-7f44edc98f50408285a79e7cea8a6fa9.html" target="element" class="i18n-elementtype-CompositionRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-74e7083749184261b8309df3c4b4d0b3.html" target="element"> Herstellen energietransport </a> </td>
																				<td> <a href="../elements/id-93b3a4cb7f6243688b5a8ce80ed13eda.html" target="element"> Herstellen energietransport </a> </td>
																			</tr>

													
																			<tr>
																				<td> <a href="../elements/id-dc9e77585e12429a8b54a53ad666f8fb.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-dc9e77585e12429a8b54a53ad666f8fb.html" target="element" class="i18n-elementtype-CompositionRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-4f3301dfa1664080af2b187bad518039.html" target="element"> Besturen instandhouding energienet voor storingsherstel </a> </td>
																				<td> <a href="../elements/id-d1823f84a980479d8b344a49ad445d03.html" target="element"> Inpassen vervanging door storingsherstel in energienet </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-024200f07bfa4446adef0e8903f89ace.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-024200f07bfa4446adef0e8903f89ace.html" target="element" class="i18n-elementtype-CompositionRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-4f3301dfa1664080af2b187bad518039.html" target="element"> Besturen instandhouding energienet voor storingsherstel </a> </td>
																				<td> <a href="../elements/id-0902e04ae45143c88291f7d7718c838f.html" target="element"> Analyseren grondoorzaak en aansturen mitigatie </a> </td>
																			</tr>

													
																			<tr>
																				<td> <a href="../elements/id-3a87adadaef245fd87a48cfb13c1f923.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-3a87adadaef245fd87a48cfb13c1f923.html" target="element" class="i18n-elementtype-CompositionRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-39472cb2840a4f849d76c41db40afa9d.html" target="element"> Uitvoeren storingherstelwerkzaamheden </a> </td>
																				<td> <a href="../elements/id-0d5bad4a78e84358bfdd4ed4d274c15d.html" target="element"> Uitvoeren storingherstelwerkzaamheden </a> </td>
																			</tr>

													
																			<tr>
																				<td> <a href="../elements/id-ed69ba0ef5fd4c8490a284516d341d31.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-ed69ba0ef5fd4c8490a284516d341d31.html" target="element" class="i18n-elementtype-CompositionRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-74e7083749184261b8309df3c4b4d0b3.html" target="element"> Herstellen energietransport </a> </td>
																				<td> <a href="../elements/id-cde29c48ffa14f1e92da7b2188550a57.html" target="element"> Opnemen vervanging door storingsherstel in besturing energietransport </a> </td>
																			</tr>

													
																			<tr>
																				<td> <a href="../elements/id-c2c4831629c14221a70fef571a03d1c2.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-c2c4831629c14221a70fef571a03d1c2.html" target="element" class="i18n-elementtype-CompositionRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-df46691b104545de95d75ca67615459a.html" target="element"> Bedienen klant voor storingherstel </a> </td>
																				<td> <a href="../elements/id-b1c641d5077648f09a301bcfe229d83e.html" target="element"> Bepalen storingscompensatie </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-70138ae649304504baa543afe3ffa0f5.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-70138ae649304504baa543afe3ffa0f5.html" target="element" class="i18n-elementtype-CompositionRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-df46691b104545de95d75ca67615459a.html" target="element"> Bedienen klant voor storingherstel </a> </td>
																				<td> <a href="../elements/id-34735f7be8d44823b5038b5d78b3da75.html" target="element"> Vergoeden storing </a> </td>
																			</tr>

													
											
																	<tr>
																		<td> <a href="../elements/id-878865.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-878865.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-718168.html" target="element"> Energie transporteren </a> </td>
																		<td> <a href="../elements/id-711318.html" target="element"> Energietransport verzorgen </a> </td>
																	</tr>

																			<tr>
																				<td> <a href="../elements/id-2ca14e0e99a54a5a8e97b37585d1c5ac.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-2ca14e0e99a54a5a8e97b37585d1c5ac.html" target="element" class="i18n-elementtype-AccessRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-711318.html" target="element"> Energietransport verzorgen </a> </td>
																				<td> <a href="../elements/id-729563.html" target="element"> Energietransport </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-6e3d61d0c94f4af0b3cdf67721cca851.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-6e3d61d0c94f4af0b3cdf67721cca851.html" target="element" class="i18n-elementtype-ServingRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-711318.html" target="element"> Energietransport verzorgen </a> </td>
																				<td> <a href="../elements/id-cde29c48ffa14f1e92da7b2188550a57.html" target="element"> Opnemen vervanging door storingsherstel in besturing energietransport </a> </td>
																			</tr>

													
											
																	<tr>
																		<td> <a href="../elements/id-878527.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-878527.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-718171.html" target="element"> Klanten bedienen </a> </td>
																		<td> <a href="../elements/id-711331.html" target="element"> Factureren en innen </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-878512.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-878512.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-718171.html" target="element"> Klanten bedienen </a> </td>
																		<td> <a href="../elements/id-718342.html" target="element"> Inkomstenverlies beperken </a> </td>
																	</tr>

																			<tr>
																				<td> <a href="../elements/id-4aa84cd953b14d5da886dfa4677e7136.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-4aa84cd953b14d5da886dfa4677e7136.html" target="element" class="i18n-elementtype-AccessRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-718342.html" target="element"> Inkomstenverlies beperken </a> </td>
																				<td> <a href="../elements/id-729651.html" target="element"> Inkomstenverlies </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-864250a22dd747349605a4d62f1030c4.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-864250a22dd747349605a4d62f1030c4.html" target="element" class="i18n-elementtype-ServingRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-718342.html" target="element"> Inkomstenverlies beperken </a> </td>
																				<td> <a href="../elements/id-b1c641d5077648f09a301bcfe229d83e.html" target="element"> Bepalen storingscompensatie </a> </td>
																			</tr>

													
																			<tr>
																				<td> <a href="../elements/id-260b7a9bc4304ceaaa8b386c83022aa6.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-260b7a9bc4304ceaaa8b386c83022aa6.html" target="element" class="i18n-elementtype-AccessRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-711331.html" target="element"> Factureren en innen </a> </td>
																				<td> <a href="../elements/id-729643.html" target="element"> Klantfactuur </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-fd812c21ee2948328ea60fff7d157d2c.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-fd812c21ee2948328ea60fff7d157d2c.html" target="element" class="i18n-elementtype-ServingRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-711331.html" target="element"> Factureren en innen </a> </td>
																				<td> <a href="../elements/id-34735f7be8d44823b5038b5d78b3da75.html" target="element"> Vergoeden storing </a> </td>
																			</tr>

													
											

								</tbody>
							</table>
						</div>
			  </div>
			</div>
		</div>
	</div>
	<script type="text/javascript">imageMapResize();</script>
</body>
</html>