<!DOCTYPE html>
<html class="frame" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
	<title>L3 value stream (stages) P.G</title>

	<!-- JQUERY -->
	<script type="text/javascript" src="../../lib/jquery/jquery.min.js"></script>
	<!-- BOOTSTRAP -->
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap.min.yeti.css">
	<script type="text/javascript" src="../../lib/bootstrap/js/bootstrap-3.3.2.min.js"></script>
	<!-- REPORT SPECIFIC -->
	<link type="text/css" rel="stylesheet" href="../../css/model.css">
	<link type="text/css" rel="stylesheet" href="../../css/i18n.css">
	<script type="text/javascript" src="../../js/frame.js"></script>
	<script type="text/javascript" src="../../js/imageMapResizer.min.js"></script>
</head>

<body>
	<div class="panel panel-default root-panel">

		<div class="panel-heading root-panel-heading">
            <!-- Name -->
               <b>L3 value stream (stages) P.G</b>

            <!-- If a View with Viewpoint -->
			   (<span class="i18n-viewpoint-"></span>)
			   <a class="glyphicon glyphicon-info-sign" id="hint-viewpoint_" target="hint"></a>
            <!-- Or if a model (i.e has Purpose method) -->
		</div>

		<div class="panel-body root-panel-body">
		    <!-- If this is a digram model (has children and no bounds) show the image -->
			   <img class="diagram" src="../images/id-bb2698b57fd9431d97f09d6901776493.png" alt="L3 value stream (stages) P.G" usemap="#id-bb2698b57fd9431d97f09d6901776493map"/>
			   <map name="id-bb2698b57fd9431d97f09d6901776493map">
				  		<area shape="rect" coords="1618,10,1883,47" href="../elements/id-2ce7d584929641e2a67eb37aac78af83.html"  target="element">
				  		<area shape="rect" coords="1294,10,1559,47" href="../elements/id-c31a2c977d8148c484d6d0cee4e6aa38.html"  target="element">
				  		<area shape="rect" coords="970,10,1235,47" href="../elements/id-5e1c5c37a5994dc0aacdba94479965ae.html"  target="element">
				  		<area shape="rect" coords="694,10,959,47" href="../elements/id-97bdbd8a344d49c18b8a662c49afe4a4.html"  target="element">
				  		<area shape="rect" coords="370,10,635,47" href="../elements/id-66d065469aaf49bfa549a1f588ed123d.html"  target="element">
				  		<area shape="rect" coords="46,10,311,47" href="../elements/id-ce512d38981a4249aa7a2396ee00c096.html"  target="element">
				  								<area shape="rect" coords="1630,559,1870,584" href="../elements/id-470230.html"  target="element">

				  						<area shape="rect" coords="1618,511,1883,596" href="../elements/id-718728.html"  target="element">

				  				<area shape="rect" coords="1606,463,1895,608" href="../elements/id-718338.html"  target="element">

				  		<area shape="rect" coords="1594,406,1907,623" href="../elements/id-718173.html"  target="element">
				  								<area shape="rect" coords="982,562,1223,587" href="../elements/id-bfed979dfc074c77bd5b801b3f7e4045.html"  target="element">

				  						<area shape="rect" coords="970,514,1235,599" href="../elements/id-718742.html"  target="element">
				  								<area shape="rect" coords="706,562,946,587" href="../elements/id-723109.html"  target="element">

				  						<area shape="rect" coords="694,514,959,599" href="../elements/id-718780.html"  target="element">

				  				<area shape="rect" coords="682,466,1247,611" href="../elements/id-718383.html"  target="element">

				  		<area shape="rect" coords="670,406,1259,623" href="../elements/id-718173.html"  target="element">
				  								<area shape="rect" coords="1618,238,1883,293" href="../elements/id-0ac4f884b3ff43c3a5d9dc9859ad8935.html"  target="element">

				  						<area shape="rect" coords="1606,190,1895,311" href="../elements/id-c8fa037bb4b84ababc9828856d17e667.html"  target="element">

				  				<area shape="rect" coords="1594,142,1907,323" href="../elements/id-f9b2a17a26e84f049b0ce7dbb08bd208.html"  target="element">
				  								<area shape="rect" coords="970,238,1235,293" href="../elements/id-58735e45effd49e98f590c27994f9c88.html"  target="element">
				  								<area shape="rect" coords="694,238,959,293" href="../elements/id-4f040e82ba93481ba43f66c44701fc00.html"  target="element">

				  						<area shape="rect" coords="682,190,1247,311" href="../elements/id-e777ce638f9b464fbedb8e2eb9dbd42d.html"  target="element">

				  				<area shape="rect" coords="670,142,1259,323" href="../elements/id-f9b2a17a26e84f049b0ce7dbb08bd208.html"  target="element">
				  								<area shape="rect" coords="1294,238,1559,293" href="../elements/id-a51c38344ff645f68d8d0e6a527922c2.html"  target="element">

				  						<area shape="rect" coords="1282,190,1571,311" href="../elements/id-3c5a9aa8e51d4d8e8453444a74f4c5d9.html"  target="element">

				  				<area shape="rect" coords="1270,142,1583,323" href="../elements/id-82d8e4b01ecb4da8912b4ca98a75027e.html"  target="element">
				  								<area shape="rect" coords="370,238,635,293" href="../elements/id-9cfb2dc94cf44334aebcd45b99eb0b03.html"  target="element">

				  						<area shape="rect" coords="358,190,647,311" href="../elements/id-10c4b06b69474fd98275d80c4251be7f.html"  target="element">

				  				<area shape="rect" coords="346,142,659,323" href="../elements/id-6fe1a377039f4d3b911ab5f0dbd11725.html"  target="element">
				  								<area shape="rect" coords="46,238,311,293" href="../elements/id-67dadb24ee8d487f8e93e0fcfce2e6c6.html"  target="element">

				  						<area shape="rect" coords="34,190,323,311" href="../elements/id-c9e74e0120d54b34abf6aae3713c01a0.html"  target="element">

				  				<area shape="rect" coords="22,142,335,323" href="../elements/id-f9b2a17a26e84f049b0ce7dbb08bd208.html"  target="element">

				  		<area shape="rect" coords="10,94,1919,335" href="../elements/id-2653d94e08524482adaf3439ed2972e3.html"  target="element">
				  								<area shape="rect" coords="58,561,298,586" href="../elements/id-729682.html"  target="element">

				  						<area shape="rect" coords="46,513,311,598" href="../elements/id-718774.html"  target="element">

				  				<area shape="rect" coords="34,466,323,611" href="../elements/id-718383.html"  target="element">

				  		<area shape="rect" coords="22,406,335,623" href="../elements/id-718173.html"  target="element">
				  								<area shape="rect" coords="1306,562,1547,587" href="../elements/id-27b9ed3707564206939d0aba30e7fb44.html"  target="element">

				  						<area shape="rect" coords="1294,514,1559,599" href="../elements/id-59de618dd1ec4fb6b7a2bad6cac7c807.html"  target="element">

				  				<area shape="rect" coords="1282,466,1571,611" href="../elements/id-718342.html"  target="element">

				  		<area shape="rect" coords="1270,406,1583,623" href="../elements/id-718171.html"  target="element">
				  								<area shape="rect" coords="382,562,622,586" href="../elements/id-469105.html"  target="element">

				  						<area shape="rect" coords="370,514,635,599" href="../elements/id-718806.html"  target="element">

				  				<area shape="rect" coords="358,466,647,611" href="../elements/id-718341.html"  target="element">

				  		<area shape="rect" coords="346,406,659,623" href="../elements/id-718170.html"  target="element">

			   </map>

			<div role="tabpanel">
				<!-- Nav tabs -->
				<ul class="nav nav-tabs" role="tablist">
                    <!-- Purpose / Documentation / Content -->
					   <li role="presentation" class="active"><a href="#documentation" aria-controls="documentation" role="tab" data-toggle="tab" class="i18n-documentation"></a></li>

                    <!-- Properties -->
                    <li role="presentation"><a href="#properties" aria-controls="properties" role="tab" data-toggle="tab" class="i18n-properties"></a></li>

						<li role="presentation"><a href="#elements" aria-controls="elements" role="tab" data-toggle="tab" class="i18n-elements"></a></li>
						<li role="presentation"><a href="#relationships" aria-controls="relationships" role="tab" data-toggle="tab" class="i18n-relationships"></a></li>
                    <!-- Model, Query Tab -->
				</ul>

				<!-- Tab panes -->
				<div class="tab-content">
					<div role="tabpanel" class="tab-pane active" id="documentation">
						<div class="convertlinks documentation" style="white-space:pre-wrap"></div>
					</div>
					<div role="tabpanel" class="tab-pane" id="properties">
						<table class="table table-striped table-hover table-condensed">
							<thead>
								<tr>
									<th class="i18n-key"></th>
									<th class="i18n-value"></th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
					</div>
						<div role="tabpanel" class="tab-pane" id="elements">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
									</tr>
								</thead>
								<tbody>
											<tr>
											    <td> <a href="../elements/id-718170.html" target="element"> Energietransport en -netten meten </a> </td>
											    <td> <a href="../elements/id-718170.html" target="element" class="i18n-elementtype-BusinessFunction">
											    </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/id-718341.html" target="element"> Metingen van energietransport en -netten ter beschikking stellen </a> </td>
													    <td> <a href="../elements/id-718341.html" target="element" class="i18n-elementtype-BusinessFunction">
													    </a> </td>
													</tr>

															<tr>
															    <td> <a href="../elements/id-718806.html" target="element"> Metingen beschikbaar maken </a> </td>
															    <td> <a href="../elements/id-718806.html" target="element" class="i18n-elementtype-BusinessFunction">
															    </a> </td>
															</tr>

																	<tr>
																	    <td> <a href="../elements/id-469105.html" target="element"> Meting </a> </td>
																	    <td> <a href="../elements/id-469105.html" target="element" class="i18n-elementtype-BusinessObject">
																	    </a> </td>
																	</tr>

															
													
											
											<tr>
											    <td> <a href="../elements/id-718171.html" target="element"> Klanten bedienen </a> </td>
											    <td> <a href="../elements/id-718171.html" target="element" class="i18n-elementtype-BusinessFunction">
											    </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/id-718342.html" target="element"> Inkomstenverlies beperken </a> </td>
													    <td> <a href="../elements/id-718342.html" target="element" class="i18n-elementtype-BusinessFunction">
													    </a> </td>
													</tr>

															<tr>
															    <td> <a href="../elements/id-59de618dd1ec4fb6b7a2bad6cac7c807.html" target="element"> Netverlies compenseren </a> </td>
															    <td> <a href="../elements/id-59de618dd1ec4fb6b7a2bad6cac7c807.html" target="element" class="i18n-elementtype-BusinessFunction">
															    </a> </td>
															</tr>

																	<tr>
																	    <td> <a href="../elements/id-27b9ed3707564206939d0aba30e7fb44.html" target="element"> Netverliescompensatie </a> </td>
																	    <td> <a href="../elements/id-27b9ed3707564206939d0aba30e7fb44.html" target="element" class="i18n-elementtype-BusinessObject">
																	    </a> </td>
																	</tr>

															
													
											
											<tr>
											    <td> <a href="../elements/id-718173.html" target="element"> De energiemarkt faciliteren </a> </td>
											    <td> <a href="../elements/id-718173.html" target="element" class="i18n-elementtype-BusinessFunction">
											    </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/id-718383.html" target="element"> Marktprocessen uitvoeren/faciliteren </a> </td>
													    <td> <a href="../elements/id-718383.html" target="element" class="i18n-elementtype-BusinessFunction">
													    </a> </td>
													</tr>

															<tr>
															    <td> <a href="../elements/id-718774.html" target="element"> Marktprocedures uitvoeren </a> </td>
															    <td> <a href="../elements/id-718774.html" target="element" class="i18n-elementtype-BusinessFunction">
															    </a> </td>
															</tr>

																	<tr>
																	    <td> <a href="../elements/id-729682.html" target="element"> Marktactiviteit </a> </td>
																	    <td> <a href="../elements/id-729682.html" target="element" class="i18n-elementtype-BusinessObject">
																	    </a> </td>
																	</tr>

															
													
											
											<tr>
											    <td> <a href="../elements/id-2653d94e08524482adaf3439ed2972e3.html" target="element"> Toewijzen van energie-uitwisseling </a> </td>
											    <td> <a href="../elements/id-2653d94e08524482adaf3439ed2972e3.html" target="element" class="i18n-elementtype-BusinessProcess">
											    </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/id-f9b2a17a26e84f049b0ce7dbb08bd208.html" target="element"> Faciliteren energiemarkt voor energie-uitwisseling </a> </td>
													    <td> <a href="../elements/id-f9b2a17a26e84f049b0ce7dbb08bd208.html" target="element" class="i18n-elementtype-BusinessProcess">
													    </a> </td>
													</tr>

															<tr>
															    <td> <a href="../elements/id-c9e74e0120d54b34abf6aae3713c01a0.html" target="element"> Afhandelen marktmutatie </a> </td>
															    <td> <a href="../elements/id-c9e74e0120d54b34abf6aae3713c01a0.html" target="element" class="i18n-elementtype-BusinessProcess">
															    </a> </td>
															</tr>

																	<tr>
																	    <td> <a href="../elements/id-67dadb24ee8d487f8e93e0fcfce2e6c6.html" target="element"> Afhandelen marktmutatie </a> </td>
																	    <td> <a href="../elements/id-67dadb24ee8d487f8e93e0fcfce2e6c6.html" target="element" class="i18n-elementtype-BusinessProcess">
																	    </a> </td>
																	</tr>

															
													
													<tr>
													    <td> <a href="../elements/id-6fe1a377039f4d3b911ab5f0dbd11725.html" target="element"> Meten energie-uitwisseling </a> </td>
													    <td> <a href="../elements/id-6fe1a377039f4d3b911ab5f0dbd11725.html" target="element" class="i18n-elementtype-BusinessProcess">
													    </a> </td>
													</tr>

															<tr>
															    <td> <a href="../elements/id-10c4b06b69474fd98275d80c4251be7f.html" target="element"> Meten afname en invoeding </a> </td>
															    <td> <a href="../elements/id-10c4b06b69474fd98275d80c4251be7f.html" target="element" class="i18n-elementtype-BusinessProcess">
															    </a> </td>
															</tr>

																	<tr>
																	    <td> <a href="../elements/id-9cfb2dc94cf44334aebcd45b99eb0b03.html" target="element"> Beschikbaar maken metingen afname en invoeding </a> </td>
																	    <td> <a href="../elements/id-9cfb2dc94cf44334aebcd45b99eb0b03.html" target="element" class="i18n-elementtype-BusinessProcess">
																	    </a> </td>
																	</tr>

															
													
													<tr>
													    <td> <a href="../elements/id-82d8e4b01ecb4da8912b4ca98a75027e.html" target="element"> Compenseren netverlies </a> </td>
													    <td> <a href="../elements/id-82d8e4b01ecb4da8912b4ca98a75027e.html" target="element" class="i18n-elementtype-BusinessProcess">
													    </a> </td>
													</tr>

															<tr>
															    <td> <a href="../elements/id-3c5a9aa8e51d4d8e8453444a74f4c5d9.html" target="element"> Compenseren netverlies </a> </td>
															    <td> <a href="../elements/id-3c5a9aa8e51d4d8e8453444a74f4c5d9.html" target="element" class="i18n-elementtype-BusinessProcess">
															    </a> </td>
															</tr>

																	<tr>
																	    <td> <a href="../elements/id-a51c38344ff645f68d8d0e6a527922c2.html" target="element"> Compenseren netverlies </a> </td>
																	    <td> <a href="../elements/id-a51c38344ff645f68d8d0e6a527922c2.html" target="element" class="i18n-elementtype-BusinessProcess">
																	    </a> </td>
																	</tr>

															
													
													<tr>
													    <td> <a href="../elements/id-f9b2a17a26e84f049b0ce7dbb08bd208.html" target="element"> Faciliteren energiemarkt voor energie-uitwisseling </a> </td>
													    <td> <a href="../elements/id-f9b2a17a26e84f049b0ce7dbb08bd208.html" target="element" class="i18n-elementtype-BusinessProcess">
													    </a> </td>
													</tr>

															<tr>
															    <td> <a href="../elements/id-e777ce638f9b464fbedb8e2eb9dbd42d.html" target="element"> Bepalen energietoerekening </a> </td>
															    <td> <a href="../elements/id-e777ce638f9b464fbedb8e2eb9dbd42d.html" target="element" class="i18n-elementtype-BusinessProcess">
															    </a> </td>
															</tr>

																	<tr>
																	    <td> <a href="../elements/id-4f040e82ba93481ba43f66c44701fc00.html" target="element"> Vaststellen en toewijzen uitgewisselde energie </a> </td>
																	    <td> <a href="../elements/id-4f040e82ba93481ba43f66c44701fc00.html" target="element" class="i18n-elementtype-BusinessProcess">
																	    </a> </td>
																	</tr>

																	<tr>
																	    <td> <a href="../elements/id-58735e45effd49e98f590c27994f9c88.html" target="element"> Faciliteren verrekenen energietoerekening </a> </td>
																	    <td> <a href="../elements/id-58735e45effd49e98f590c27994f9c88.html" target="element" class="i18n-elementtype-BusinessProcess">
																	    </a> </td>
																	</tr>

															
													
													<tr>
													    <td> <a href="../elements/id-f9b2a17a26e84f049b0ce7dbb08bd208.html" target="element"> Faciliteren energiemarkt voor energie-uitwisseling </a> </td>
													    <td> <a href="../elements/id-f9b2a17a26e84f049b0ce7dbb08bd208.html" target="element" class="i18n-elementtype-BusinessProcess">
													    </a> </td>
													</tr>

															<tr>
															    <td> <a href="../elements/id-c8fa037bb4b84ababc9828856d17e667.html" target="element"> Behandelen marktvraag over energietoerekening </a> </td>
															    <td> <a href="../elements/id-c8fa037bb4b84ababc9828856d17e667.html" target="element" class="i18n-elementtype-BusinessProcess">
															    </a> </td>
															</tr>

																	<tr>
																	    <td> <a href="../elements/id-0ac4f884b3ff43c3a5d9dc9859ad8935.html" target="element"> Behandelen marktvraag over energietoerekening </a> </td>
																	    <td> <a href="../elements/id-0ac4f884b3ff43c3a5d9dc9859ad8935.html" target="element" class="i18n-elementtype-BusinessProcess">
																	    </a> </td>
																	</tr>

															
													
											
											<tr>
											    <td> <a href="../elements/id-718173.html" target="element"> De energiemarkt faciliteren </a> </td>
											    <td> <a href="../elements/id-718173.html" target="element" class="i18n-elementtype-BusinessFunction">
											    </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/id-718383.html" target="element"> Marktprocessen uitvoeren/faciliteren </a> </td>
													    <td> <a href="../elements/id-718383.html" target="element" class="i18n-elementtype-BusinessFunction">
													    </a> </td>
													</tr>

															<tr>
															    <td> <a href="../elements/id-718780.html" target="element"> Energie-uitwisseling beheren </a> </td>
															    <td> <a href="../elements/id-718780.html" target="element" class="i18n-elementtype-BusinessFunction">
															    </a> </td>
															</tr>

																	<tr>
																	    <td> <a href="../elements/id-723109.html" target="element"> Energie-uitwisseling </a> </td>
																	    <td> <a href="../elements/id-723109.html" target="element" class="i18n-elementtype-BusinessObject">
																	    </a> </td>
																	</tr>

															
															<tr>
															    <td> <a href="../elements/id-718742.html" target="element"> Marktverrekening faciliteren </a> </td>
															    <td> <a href="../elements/id-718742.html" target="element" class="i18n-elementtype-BusinessFunction">
															    </a> </td>
															</tr>

																	<tr>
																	    <td> <a href="../elements/id-bfed979dfc074c77bd5b801b3f7e4045.html" target="element"> Energietoerekening </a> </td>
																	    <td> <a href="../elements/id-bfed979dfc074c77bd5b801b3f7e4045.html" target="element" class="i18n-elementtype-BusinessObject">
																	    </a> </td>
																	</tr>

															
													
											
											<tr>
											    <td> <a href="../elements/id-718173.html" target="element"> De energiemarkt faciliteren </a> </td>
											    <td> <a href="../elements/id-718173.html" target="element" class="i18n-elementtype-BusinessFunction">
											    </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/id-718338.html" target="element"> Marktpartijen bedienen en relaties onderhouden </a> </td>
													    <td> <a href="../elements/id-718338.html" target="element" class="i18n-elementtype-BusinessFunction">
													    </a> </td>
													</tr>

															<tr>
															    <td> <a href="../elements/id-718728.html" target="element"> Vragen van marktpartijen afhandelen </a> </td>
															    <td> <a href="../elements/id-718728.html" target="element" class="i18n-elementtype-BusinessFunction">
															    </a> </td>
															</tr>

																	<tr>
																	    <td> <a href="../elements/id-470230.html" target="element"> Marktverzoek </a> </td>
																	    <td> <a href="../elements/id-470230.html" target="element" class="i18n-elementtype-BusinessObject">
																	    </a> </td>
																	</tr>

															
													
											
											<tr>
											    <td> <a href="../elements/id-ce512d38981a4249aa7a2396ee00c096.html" target="element"> Afgehandelde marktmutatie </a> </td>
											    <td> <a href="../elements/id-ce512d38981a4249aa7a2396ee00c096.html" target="element" class="i18n-elementtype-Value">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-66d065469aaf49bfa549a1f588ed123d.html" target="element"> Inzicht in afname en invoeding </a> </td>
											    <td> <a href="../elements/id-66d065469aaf49bfa549a1f588ed123d.html" target="element" class="i18n-elementtype-Value">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-97bdbd8a344d49c18b8a662c49afe4a4.html" target="element"> Toegewezen energie-uitwisseling </a> </td>
											    <td> <a href="../elements/id-97bdbd8a344d49c18b8a662c49afe4a4.html" target="element" class="i18n-elementtype-Value">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-5e1c5c37a5994dc0aacdba94479965ae.html" target="element"> Gecommuniceerde te verrekenen energietoerekening </a> </td>
											    <td> <a href="../elements/id-5e1c5c37a5994dc0aacdba94479965ae.html" target="element" class="i18n-elementtype-Value">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-c31a2c977d8148c484d6d0cee4e6aa38.html" target="element"> Gecompenseerd netverlies </a> </td>
											    <td> <a href="../elements/id-c31a2c977d8148c484d6d0cee4e6aa38.html" target="element" class="i18n-elementtype-Value">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-2ce7d584929641e2a67eb37aac78af83.html" target="element"> Beantwoorde marktvraag over energietoerekening </a> </td>
											    <td> <a href="../elements/id-2ce7d584929641e2a67eb37aac78af83.html" target="element" class="i18n-elementtype-Value">
											    </a> </td>
											</tr>


								</tbody>
							</table>
						</div>
						<div role="tabpanel" class="tab-pane" id="relationships">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
										<th class="i18n-source"></th>
										<th class="i18n-target"></th>
									</tr>
								</thead>
								<tbody>
																	<tr>
																		<td> <a href="../elements/id-878937.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-878937.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-718170.html" target="element"> Energietransport en -netten meten </a> </td>
																		<td> <a href="../elements/id-718341.html" target="element"> Metingen van energietransport en -netten ter beschikking stellen </a> </td>
																	</tr>

																			<tr>
																				<td> <a href="../elements/id-878422.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-878422.html" target="element" class="i18n-elementtype-CompositionRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-718341.html" target="element"> Metingen van energietransport en -netten ter beschikking stellen </a> </td>
																				<td> <a href="../elements/id-718806.html" target="element"> Metingen beschikbaar maken </a> </td>
																			</tr>

																					<tr>
																						<td> <a href="../elements/id-b345a6e0c42e40e0995ab8eb34e6b418.html" target="element">  </a> </td>
																						<td> <a href="../elements/id-b345a6e0c42e40e0995ab8eb34e6b418.html" target="element" class="i18n-elementtype-ServingRelationship">
																						</a> </td>
																						<td> <a href="../elements/id-718806.html" target="element"> Metingen beschikbaar maken </a> </td>
																						<td> <a href="../elements/id-9cfb2dc94cf44334aebcd45b99eb0b03.html" target="element"> Beschikbaar maken metingen afname en invoeding </a> </td>
																					</tr>
																					<tr>
																						<td> <a href="../elements/id-b3f056e4836746c29264fa70cc37b838.html" target="element">  </a> </td>
																						<td> <a href="../elements/id-b3f056e4836746c29264fa70cc37b838.html" target="element" class="i18n-elementtype-AccessRelationship">
																						</a> </td>
																						<td> <a href="../elements/id-718806.html" target="element"> Metingen beschikbaar maken </a> </td>
																						<td> <a href="../elements/id-469105.html" target="element"> Meting </a> </td>
																					</tr>

															
													
											
																	<tr>
																		<td> <a href="../elements/id-878512.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-878512.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-718171.html" target="element"> Klanten bedienen </a> </td>
																		<td> <a href="../elements/id-718342.html" target="element"> Inkomstenverlies beperken </a> </td>
																	</tr>

																			<tr>
																				<td> <a href="../elements/id-5ebf83efb5a44f6594833eada546bdc4.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-5ebf83efb5a44f6594833eada546bdc4.html" target="element" class="i18n-elementtype-CompositionRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-718342.html" target="element"> Inkomstenverlies beperken </a> </td>
																				<td> <a href="../elements/id-59de618dd1ec4fb6b7a2bad6cac7c807.html" target="element"> Netverlies compenseren </a> </td>
																			</tr>

																					<tr>
																						<td> <a href="../elements/id-97242dcafd3845e8afcf43bf77c9f2c1.html" target="element">  </a> </td>
																						<td> <a href="../elements/id-97242dcafd3845e8afcf43bf77c9f2c1.html" target="element" class="i18n-elementtype-ServingRelationship">
																						</a> </td>
																						<td> <a href="../elements/id-59de618dd1ec4fb6b7a2bad6cac7c807.html" target="element"> Netverlies compenseren </a> </td>
																						<td> <a href="../elements/id-a51c38344ff645f68d8d0e6a527922c2.html" target="element"> Compenseren netverlies </a> </td>
																					</tr>
																					<tr>
																						<td> <a href="../elements/id-07e886cd22b44379a87cd80594e3fb3d.html" target="element">  </a> </td>
																						<td> <a href="../elements/id-07e886cd22b44379a87cd80594e3fb3d.html" target="element" class="i18n-elementtype-AccessRelationship">
																						</a> </td>
																						<td> <a href="../elements/id-59de618dd1ec4fb6b7a2bad6cac7c807.html" target="element"> Netverlies compenseren </a> </td>
																						<td> <a href="../elements/id-27b9ed3707564206939d0aba30e7fb44.html" target="element"> Netverliescompensatie </a> </td>
																					</tr>

															
													
											
																	<tr>
																		<td> <a href="../elements/id-878900.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-878900.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-718173.html" target="element"> De energiemarkt faciliteren </a> </td>
																		<td> <a href="../elements/id-718383.html" target="element"> Marktprocessen uitvoeren/faciliteren </a> </td>
																	</tr>

																			<tr>
																				<td> <a href="../elements/id-878340.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-878340.html" target="element" class="i18n-elementtype-CompositionRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-718383.html" target="element"> Marktprocessen uitvoeren/faciliteren </a> </td>
																				<td> <a href="../elements/id-718774.html" target="element"> Marktprocedures uitvoeren </a> </td>
																			</tr>

																					<tr>
																						<td> <a href="../elements/id-617d52dc776948a0bae1cf0de80f1a77.html" target="element">  </a> </td>
																						<td> <a href="../elements/id-617d52dc776948a0bae1cf0de80f1a77.html" target="element" class="i18n-elementtype-ServingRelationship">
																						</a> </td>
																						<td> <a href="../elements/id-718774.html" target="element"> Marktprocedures uitvoeren </a> </td>
																						<td> <a href="../elements/id-67dadb24ee8d487f8e93e0fcfce2e6c6.html" target="element"> Afhandelen marktmutatie </a> </td>
																					</tr>
																					<tr>
																						<td> <a href="../elements/id-183dd00f6458474887e215d5c1a57c89.html" target="element">  </a> </td>
																						<td> <a href="../elements/id-183dd00f6458474887e215d5c1a57c89.html" target="element" class="i18n-elementtype-AccessRelationship">
																						</a> </td>
																						<td> <a href="../elements/id-718774.html" target="element"> Marktprocedures uitvoeren </a> </td>
																						<td> <a href="../elements/id-729682.html" target="element"> Marktactiviteit </a> </td>
																					</tr>

															
													
											
																	<tr>
																		<td> <a href="../elements/id-c582dba93ec24c51b98d5b095aa5cc0e.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-c582dba93ec24c51b98d5b095aa5cc0e.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-2653d94e08524482adaf3439ed2972e3.html" target="element"> Toewijzen van energie-uitwisseling </a> </td>
																		<td> <a href="../elements/id-f9b2a17a26e84f049b0ce7dbb08bd208.html" target="element"> Faciliteren energiemarkt voor energie-uitwisseling </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-5a705a12904d4dfe8b9e41e5cea287cc.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-5a705a12904d4dfe8b9e41e5cea287cc.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-2653d94e08524482adaf3439ed2972e3.html" target="element"> Toewijzen van energie-uitwisseling </a> </td>
																		<td> <a href="../elements/id-82d8e4b01ecb4da8912b4ca98a75027e.html" target="element"> Compenseren netverlies </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-c582dba93ec24c51b98d5b095aa5cc0e.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-c582dba93ec24c51b98d5b095aa5cc0e.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-2653d94e08524482adaf3439ed2972e3.html" target="element"> Toewijzen van energie-uitwisseling </a> </td>
																		<td> <a href="../elements/id-f9b2a17a26e84f049b0ce7dbb08bd208.html" target="element"> Faciliteren energiemarkt voor energie-uitwisseling </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-c582dba93ec24c51b98d5b095aa5cc0e.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-c582dba93ec24c51b98d5b095aa5cc0e.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-2653d94e08524482adaf3439ed2972e3.html" target="element"> Toewijzen van energie-uitwisseling </a> </td>
																		<td> <a href="../elements/id-f9b2a17a26e84f049b0ce7dbb08bd208.html" target="element"> Faciliteren energiemarkt voor energie-uitwisseling </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-122f3e2c113e45b29d5731824280da10.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-122f3e2c113e45b29d5731824280da10.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-2653d94e08524482adaf3439ed2972e3.html" target="element"> Toewijzen van energie-uitwisseling </a> </td>
																		<td> <a href="../elements/id-6fe1a377039f4d3b911ab5f0dbd11725.html" target="element"> Meten energie-uitwisseling </a> </td>
																	</tr>

																			<tr>
																				<td> <a href="../elements/id-5a4418fc77f140809119eb142553ad57.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-5a4418fc77f140809119eb142553ad57.html" target="element" class="i18n-elementtype-CompositionRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-f9b2a17a26e84f049b0ce7dbb08bd208.html" target="element"> Faciliteren energiemarkt voor energie-uitwisseling </a> </td>
																				<td> <a href="../elements/id-c9e74e0120d54b34abf6aae3713c01a0.html" target="element"> Afhandelen marktmutatie </a> </td>
																			</tr>

																					<tr>
																						<td> <a href="../elements/id-8dba2d01dabc40faa1e6abe84eeb6711.html" target="element">  </a> </td>
																						<td> <a href="../elements/id-8dba2d01dabc40faa1e6abe84eeb6711.html" target="element" class="i18n-elementtype-CompositionRelationship">
																						</a> </td>
																						<td> <a href="../elements/id-c9e74e0120d54b34abf6aae3713c01a0.html" target="element"> Afhandelen marktmutatie </a> </td>
																						<td> <a href="../elements/id-67dadb24ee8d487f8e93e0fcfce2e6c6.html" target="element"> Afhandelen marktmutatie </a> </td>
																					</tr>

																							<tr>
																								<td> <a href="../elements/id-36feca17247748418d206710c823332a.html" target="element">  </a> </td>
																								<td> <a href="../elements/id-36feca17247748418d206710c823332a.html" target="element" class="i18n-elementtype-AssociationRelationship">
																								</a> </td>
																								<td> <a href="../elements/id-67dadb24ee8d487f8e93e0fcfce2e6c6.html" target="element"> Afhandelen marktmutatie </a> </td>
																								<td> <a href="../elements/id-ce512d38981a4249aa7a2396ee00c096.html" target="element"> Afgehandelde marktmutatie </a> </td>
																							</tr>

															
													
																			<tr>
																				<td> <a href="../elements/id-fc40271eec2a4808b1a4524d339ad824.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-fc40271eec2a4808b1a4524d339ad824.html" target="element" class="i18n-elementtype-CompositionRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-6fe1a377039f4d3b911ab5f0dbd11725.html" target="element"> Meten energie-uitwisseling </a> </td>
																				<td> <a href="../elements/id-10c4b06b69474fd98275d80c4251be7f.html" target="element"> Meten afname en invoeding </a> </td>
																			</tr>

																					<tr>
																						<td> <a href="../elements/id-a9cda3d0f7e9430995ab63b44df1be85.html" target="element">  </a> </td>
																						<td> <a href="../elements/id-a9cda3d0f7e9430995ab63b44df1be85.html" target="element" class="i18n-elementtype-CompositionRelationship">
																						</a> </td>
																						<td> <a href="../elements/id-10c4b06b69474fd98275d80c4251be7f.html" target="element"> Meten afname en invoeding </a> </td>
																						<td> <a href="../elements/id-9cfb2dc94cf44334aebcd45b99eb0b03.html" target="element"> Beschikbaar maken metingen afname en invoeding </a> </td>
																					</tr>

																							<tr>
																								<td> <a href="../elements/id-95896a6401844de88665f2475e27ed08.html" target="element">  </a> </td>
																								<td> <a href="../elements/id-95896a6401844de88665f2475e27ed08.html" target="element" class="i18n-elementtype-AssociationRelationship">
																								</a> </td>
																								<td> <a href="../elements/id-9cfb2dc94cf44334aebcd45b99eb0b03.html" target="element"> Beschikbaar maken metingen afname en invoeding </a> </td>
																								<td> <a href="../elements/id-66d065469aaf49bfa549a1f588ed123d.html" target="element"> Inzicht in afname en invoeding </a> </td>
																							</tr>

															
													
																			<tr>
																				<td> <a href="../elements/id-1d6fa34a6a41444fbbdefc7573a85f85.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-1d6fa34a6a41444fbbdefc7573a85f85.html" target="element" class="i18n-elementtype-CompositionRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-82d8e4b01ecb4da8912b4ca98a75027e.html" target="element"> Compenseren netverlies </a> </td>
																				<td> <a href="../elements/id-3c5a9aa8e51d4d8e8453444a74f4c5d9.html" target="element"> Compenseren netverlies </a> </td>
																			</tr>

																					<tr>
																						<td> <a href="../elements/id-3266095fd493443caa7532c817b474fd.html" target="element">  </a> </td>
																						<td> <a href="../elements/id-3266095fd493443caa7532c817b474fd.html" target="element" class="i18n-elementtype-CompositionRelationship">
																						</a> </td>
																						<td> <a href="../elements/id-3c5a9aa8e51d4d8e8453444a74f4c5d9.html" target="element"> Compenseren netverlies </a> </td>
																						<td> <a href="../elements/id-a51c38344ff645f68d8d0e6a527922c2.html" target="element"> Compenseren netverlies </a> </td>
																					</tr>

																							<tr>
																								<td> <a href="../elements/id-869db32037394b9c9150ef86fa42998c.html" target="element">  </a> </td>
																								<td> <a href="../elements/id-869db32037394b9c9150ef86fa42998c.html" target="element" class="i18n-elementtype-AssociationRelationship">
																								</a> </td>
																								<td> <a href="../elements/id-a51c38344ff645f68d8d0e6a527922c2.html" target="element"> Compenseren netverlies </a> </td>
																								<td> <a href="../elements/id-c31a2c977d8148c484d6d0cee4e6aa38.html" target="element"> Gecompenseerd netverlies </a> </td>
																							</tr>

															
													
																			<tr>
																				<td> <a href="../elements/id-95159e02e30b474588f1b69e467ae0e3.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-95159e02e30b474588f1b69e467ae0e3.html" target="element" class="i18n-elementtype-CompositionRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-f9b2a17a26e84f049b0ce7dbb08bd208.html" target="element"> Faciliteren energiemarkt voor energie-uitwisseling </a> </td>
																				<td> <a href="../elements/id-e777ce638f9b464fbedb8e2eb9dbd42d.html" target="element"> Bepalen energietoerekening </a> </td>
																			</tr>

																					<tr>
																						<td> <a href="../elements/id-edc81dea552e40df9be0822d80542b50.html" target="element">  </a> </td>
																						<td> <a href="../elements/id-edc81dea552e40df9be0822d80542b50.html" target="element" class="i18n-elementtype-CompositionRelationship">
																						</a> </td>
																						<td> <a href="../elements/id-e777ce638f9b464fbedb8e2eb9dbd42d.html" target="element"> Bepalen energietoerekening </a> </td>
																						<td> <a href="../elements/id-58735e45effd49e98f590c27994f9c88.html" target="element"> Faciliteren verrekenen energietoerekening </a> </td>
																					</tr>
																					<tr>
																						<td> <a href="../elements/id-f449cf115d7b486db9ae9b367ffb53b2.html" target="element">  </a> </td>
																						<td> <a href="../elements/id-f449cf115d7b486db9ae9b367ffb53b2.html" target="element" class="i18n-elementtype-CompositionRelationship">
																						</a> </td>
																						<td> <a href="../elements/id-e777ce638f9b464fbedb8e2eb9dbd42d.html" target="element"> Bepalen energietoerekening </a> </td>
																						<td> <a href="../elements/id-4f040e82ba93481ba43f66c44701fc00.html" target="element"> Vaststellen en toewijzen uitgewisselde energie </a> </td>
																					</tr>

																							<tr>
																								<td> <a href="../elements/id-7b3b44a265ed4344a5efc8deab7228e1.html" target="element">  </a> </td>
																								<td> <a href="../elements/id-7b3b44a265ed4344a5efc8deab7228e1.html" target="element" class="i18n-elementtype-AssociationRelationship">
																								</a> </td>
																								<td> <a href="../elements/id-4f040e82ba93481ba43f66c44701fc00.html" target="element"> Vaststellen en toewijzen uitgewisselde energie </a> </td>
																								<td> <a href="../elements/id-97bdbd8a344d49c18b8a662c49afe4a4.html" target="element"> Toegewezen energie-uitwisseling </a> </td>
																							</tr>

																							<tr>
																								<td> <a href="../elements/id-f2e6223f3ede4b2289eb78813487ec9b.html" target="element">  </a> </td>
																								<td> <a href="../elements/id-f2e6223f3ede4b2289eb78813487ec9b.html" target="element" class="i18n-elementtype-AssociationRelationship">
																								</a> </td>
																								<td> <a href="../elements/id-58735e45effd49e98f590c27994f9c88.html" target="element"> Faciliteren verrekenen energietoerekening </a> </td>
																								<td> <a href="../elements/id-5e1c5c37a5994dc0aacdba94479965ae.html" target="element"> Gecommuniceerde te verrekenen energietoerekening </a> </td>
																							</tr>

															
													
																			<tr>
																				<td> <a href="../elements/id-997e1647395b46b682636ebb955c58fc.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-997e1647395b46b682636ebb955c58fc.html" target="element" class="i18n-elementtype-CompositionRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-f9b2a17a26e84f049b0ce7dbb08bd208.html" target="element"> Faciliteren energiemarkt voor energie-uitwisseling </a> </td>
																				<td> <a href="../elements/id-c8fa037bb4b84ababc9828856d17e667.html" target="element"> Behandelen marktvraag over energietoerekening </a> </td>
																			</tr>

																					<tr>
																						<td> <a href="../elements/id-e1d8010cd12f4d8ebfc58804f5c72884.html" target="element">  </a> </td>
																						<td> <a href="../elements/id-e1d8010cd12f4d8ebfc58804f5c72884.html" target="element" class="i18n-elementtype-CompositionRelationship">
																						</a> </td>
																						<td> <a href="../elements/id-c8fa037bb4b84ababc9828856d17e667.html" target="element"> Behandelen marktvraag over energietoerekening </a> </td>
																						<td> <a href="../elements/id-0ac4f884b3ff43c3a5d9dc9859ad8935.html" target="element"> Behandelen marktvraag over energietoerekening </a> </td>
																					</tr>

																							<tr>
																								<td> <a href="../elements/id-4b605ad696274f30a84d0c0eab56ccf3.html" target="element">  </a> </td>
																								<td> <a href="../elements/id-4b605ad696274f30a84d0c0eab56ccf3.html" target="element" class="i18n-elementtype-AssociationRelationship">
																								</a> </td>
																								<td> <a href="../elements/id-0ac4f884b3ff43c3a5d9dc9859ad8935.html" target="element"> Behandelen marktvraag over energietoerekening </a> </td>
																								<td> <a href="../elements/id-2ce7d584929641e2a67eb37aac78af83.html" target="element"> Beantwoorde marktvraag over energietoerekening </a> </td>
																							</tr>

															
													
											
																	<tr>
																		<td> <a href="../elements/id-878900.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-878900.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-718173.html" target="element"> De energiemarkt faciliteren </a> </td>
																		<td> <a href="../elements/id-718383.html" target="element"> Marktprocessen uitvoeren/faciliteren </a> </td>
																	</tr>

																			<tr>
																				<td> <a href="../elements/id-878850.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-878850.html" target="element" class="i18n-elementtype-CompositionRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-718383.html" target="element"> Marktprocessen uitvoeren/faciliteren </a> </td>
																				<td> <a href="../elements/id-718780.html" target="element"> Energie-uitwisseling beheren </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-878733.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-878733.html" target="element" class="i18n-elementtype-CompositionRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-718383.html" target="element"> Marktprocessen uitvoeren/faciliteren </a> </td>
																				<td> <a href="../elements/id-718742.html" target="element"> Marktverrekening faciliteren </a> </td>
																			</tr>

																					<tr>
																						<td> <a href="../elements/id-dd3da144e03e47e7aefe5c3c5ab7aa0a.html" target="element">  </a> </td>
																						<td> <a href="../elements/id-dd3da144e03e47e7aefe5c3c5ab7aa0a.html" target="element" class="i18n-elementtype-ServingRelationship">
																						</a> </td>
																						<td> <a href="../elements/id-718780.html" target="element"> Energie-uitwisseling beheren </a> </td>
																						<td> <a href="../elements/id-4f040e82ba93481ba43f66c44701fc00.html" target="element"> Vaststellen en toewijzen uitgewisselde energie </a> </td>
																					</tr>
																					<tr>
																						<td> <a href="../elements/id-5edd0d14e9ff494fb517e77a701388b1.html" target="element">  </a> </td>
																						<td> <a href="../elements/id-5edd0d14e9ff494fb517e77a701388b1.html" target="element" class="i18n-elementtype-AccessRelationship">
																						</a> </td>
																						<td> <a href="../elements/id-718780.html" target="element"> Energie-uitwisseling beheren </a> </td>
																						<td> <a href="../elements/id-723109.html" target="element"> Energie-uitwisseling </a> </td>
																					</tr>

															
																					<tr>
																						<td> <a href="../elements/id-ccd04e3815c94903bd554c54faf4a8d4.html" target="element">  </a> </td>
																						<td> <a href="../elements/id-ccd04e3815c94903bd554c54faf4a8d4.html" target="element" class="i18n-elementtype-AccessRelationship">
																						</a> </td>
																						<td> <a href="../elements/id-718742.html" target="element"> Marktverrekening faciliteren </a> </td>
																						<td> <a href="../elements/id-bfed979dfc074c77bd5b801b3f7e4045.html" target="element"> Energietoerekening </a> </td>
																					</tr>
																					<tr>
																						<td> <a href="../elements/id-3127e4da47c64ba3b52f7bee797aae06.html" target="element">  </a> </td>
																						<td> <a href="../elements/id-3127e4da47c64ba3b52f7bee797aae06.html" target="element" class="i18n-elementtype-ServingRelationship">
																						</a> </td>
																						<td> <a href="../elements/id-718742.html" target="element"> Marktverrekening faciliteren </a> </td>
																						<td> <a href="../elements/id-58735e45effd49e98f590c27994f9c88.html" target="element"> Faciliteren verrekenen energietoerekening </a> </td>
																					</tr>

															
													
											
																	<tr>
																		<td> <a href="../elements/id-878938.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-878938.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-718173.html" target="element"> De energiemarkt faciliteren </a> </td>
																		<td> <a href="../elements/id-718338.html" target="element"> Marktpartijen bedienen en relaties onderhouden </a> </td>
																	</tr>

																			<tr>
																				<td> <a href="../elements/id-878782.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-878782.html" target="element" class="i18n-elementtype-CompositionRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-718338.html" target="element"> Marktpartijen bedienen en relaties onderhouden </a> </td>
																				<td> <a href="../elements/id-718728.html" target="element"> Vragen van marktpartijen afhandelen </a> </td>
																			</tr>

																					<tr>
																						<td> <a href="../elements/id-52f661e80ce249c5a18c3a1eb7605cfd.html" target="element">  </a> </td>
																						<td> <a href="../elements/id-52f661e80ce249c5a18c3a1eb7605cfd.html" target="element" class="i18n-elementtype-ServingRelationship">
																						</a> </td>
																						<td> <a href="../elements/id-718728.html" target="element"> Vragen van marktpartijen afhandelen </a> </td>
																						<td> <a href="../elements/id-0ac4f884b3ff43c3a5d9dc9859ad8935.html" target="element"> Behandelen marktvraag over energietoerekening </a> </td>
																					</tr>
																					<tr>
																						<td> <a href="../elements/id-d022448973c444af9b0d441d5b26c0af.html" target="element">  </a> </td>
																						<td> <a href="../elements/id-d022448973c444af9b0d441d5b26c0af.html" target="element" class="i18n-elementtype-AccessRelationship">
																						</a> </td>
																						<td> <a href="../elements/id-718728.html" target="element"> Vragen van marktpartijen afhandelen </a> </td>
																						<td> <a href="../elements/id-470230.html" target="element"> Marktverzoek </a> </td>
																					</tr>

															
													
											

								</tbody>
							</table>
						</div>
			  </div>
			</div>
		</div>
	</div>
	<script type="text/javascript">imageMapResize();</script>
</body>
</html>