<!DOCTYPE html>
<html class="frame" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
	<title>L1 E object relationships</title>

	<!-- JQUERY -->
	<script type="text/javascript" src="../../lib/jquery/jquery.min.js"></script>
	<!-- BOOTSTRAP -->
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap.min.yeti.css">
	<script type="text/javascript" src="../../lib/bootstrap/js/bootstrap-3.3.2.min.js"></script>
	<!-- REPORT SPECIFIC -->
	<link type="text/css" rel="stylesheet" href="../../css/model.css">
	<link type="text/css" rel="stylesheet" href="../../css/i18n.css">
	<script type="text/javascript" src="../../js/frame.js"></script>
	<script type="text/javascript" src="../../js/imageMapResizer.min.js"></script>
</head>

<body>
	<div class="panel panel-default root-panel">

		<div class="panel-heading root-panel-heading">
            <!-- Name -->
               <b>L1 E object relationships</b>

            <!-- If a View with Viewpoint -->
			   (<span class="i18n-viewpoint-"></span>)
			   <a class="glyphicon glyphicon-info-sign" id="hint-viewpoint_" target="hint"></a>
            <!-- Or if a model (i.e has Purpose method) -->
		</div>

		<div class="panel-body root-panel-body">
		    <!-- If this is a digram model (has children and no bounds) show the image -->
			   <img class="diagram" src="../images/id-c326820c15844696ab48a079c07fa5cb.png" alt="L1 E object relationships" usemap="#id-c326820c15844696ab48a079c07fa5cbmap"/>
			   <map name="id-c326820c15844696ab48a079c07fa5cbmap">
				  		<area shape="rect" coords="370,370,539,420" href="../elements/id-736011.html"  target="element">
				  		<area shape="rect" coords="10,130,539,180" href="../elements/id-736094.html"  target="element">
				  		<area shape="rect" coords="370,250,539,300" href="../elements/id-736051.html"  target="element">
				  		<area shape="rect" coords="10,250,179,300" href="../elements/id-736162.html"  target="element">
				  		<area shape="rect" coords="10,370,179,420" href="../elements/id-736067.html"  target="element">
				  		<area shape="rect" coords="10,10,539,60" href="../elements/id-736114.html"  target="element">
				  		<area shape="rect" coords="10,490,539,540" href="../elements/id-736039.html"  target="element">

			   </map>

			<div role="tabpanel">
				<!-- Nav tabs -->
				<ul class="nav nav-tabs" role="tablist">
                    <!-- Purpose / Documentation / Content -->
					   <li role="presentation" class="active"><a href="#documentation" aria-controls="documentation" role="tab" data-toggle="tab" class="i18n-documentation"></a></li>

                    <!-- Properties -->
                    <li role="presentation"><a href="#properties" aria-controls="properties" role="tab" data-toggle="tab" class="i18n-properties"></a></li>

						<li role="presentation"><a href="#elements" aria-controls="elements" role="tab" data-toggle="tab" class="i18n-elements"></a></li>
						<li role="presentation"><a href="#relationships" aria-controls="relationships" role="tab" data-toggle="tab" class="i18n-relationships"></a></li>
                    <!-- Model, Query Tab -->
				</ul>

				<!-- Tab panes -->
				<div class="tab-content">
					<div role="tabpanel" class="tab-pane active" id="documentation">
						<div class="convertlinks documentation" style="white-space:pre-wrap"></div>
					</div>
					<div role="tabpanel" class="tab-pane" id="properties">
						<table class="table table-striped table-hover table-condensed">
							<thead>
								<tr>
									<th class="i18n-key"></th>
									<th class="i18n-value"></th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
					</div>
						<div role="tabpanel" class="tab-pane" id="elements">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
									</tr>
								</thead>
								<tbody>
											<tr>
											    <td> <a href="../elements/id-736039.html" target="element"> Bedrijfsgebouw </a> </td>
											    <td> <a href="../elements/id-736039.html" target="element" class="i18n-elementtype-BusinessObject">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-736114.html" target="element"> Richting </a> </td>
											    <td> <a href="../elements/id-736114.html" target="element" class="i18n-elementtype-BusinessObject">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-736067.html" target="element"> Medewerker </a> </td>
											    <td> <a href="../elements/id-736067.html" target="element" class="i18n-elementtype-BusinessObject">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-736162.html" target="element"> Digitaal product </a> </td>
											    <td> <a href="../elements/id-736162.html" target="element" class="i18n-elementtype-BusinessObject">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-736051.html" target="element"> Inkoopproduct </a> </td>
											    <td> <a href="../elements/id-736051.html" target="element" class="i18n-elementtype-BusinessObject">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-736094.html" target="element"> Proces en data </a> </td>
											    <td> <a href="../elements/id-736094.html" target="element" class="i18n-elementtype-BusinessObject">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-736011.html" target="element"> Financi&#235;n </a> </td>
											    <td> <a href="../elements/id-736011.html" target="element" class="i18n-elementtype-BusinessObject">
											    </a> </td>
											</tr>


								</tbody>
							</table>
						</div>
						<div role="tabpanel" class="tab-pane" id="relationships">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
										<th class="i18n-source"></th>
										<th class="i18n-target"></th>
									</tr>
								</thead>
								<tbody>
																	<tr>
																		<td> <a href="../elements/id-0921eaacb5a54d7ba06558eac7a264dd.html" target="element"> gebruiker van </a> </td>
																		<td> <a href="../elements/id-0921eaacb5a54d7ba06558eac7a264dd.html" target="element" class="i18n-elementtype-AssociationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-736067.html" target="element"> Medewerker </a> </td>
																		<td> <a href="../elements/id-736039.html" target="element"> Bedrijfsgebouw </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-1274827348ed4046b77cfaa35a7a8159.html" target="element"> gebruiker van </a> </td>
																		<td> <a href="../elements/id-1274827348ed4046b77cfaa35a7a8159.html" target="element" class="i18n-elementtype-AssociationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-736067.html" target="element"> Medewerker </a> </td>
																		<td> <a href="../elements/id-736162.html" target="element"> Digitaal product </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-6a720afd642c4ce3824b727058157cd7.html" target="element"> ondersteunend bij </a> </td>
																		<td> <a href="../elements/id-6a720afd642c4ce3824b727058157cd7.html" target="element" class="i18n-elementtype-AssociationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-736162.html" target="element"> Digitaal product </a> </td>
																		<td> <a href="../elements/id-736094.html" target="element"> Proces en data </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-a0ea245ce9ce48759b379f94f1d88281.html" target="element"> gebaseerd op </a> </td>
																		<td> <a href="../elements/id-a0ea245ce9ce48759b379f94f1d88281.html" target="element" class="i18n-elementtype-AssociationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-736162.html" target="element"> Digitaal product </a> </td>
																		<td> <a href="../elements/id-736051.html" target="element"> Inkoopproduct </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-41b6e24e70bb42c5b9623278fe9ad697.html" target="element"> afhankelijk van </a> </td>
																		<td> <a href="../elements/id-41b6e24e70bb42c5b9623278fe9ad697.html" target="element" class="i18n-elementtype-AssociationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-736094.html" target="element"> Proces en data </a> </td>
																		<td> <a href="../elements/id-736051.html" target="element"> Inkoopproduct </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-51ddcd58bde04c64b6819c85a2d17771.html" target="element"> ingericht naar </a> </td>
																		<td> <a href="../elements/id-51ddcd58bde04c64b6819c85a2d17771.html" target="element" class="i18n-elementtype-AssociationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-736094.html" target="element"> Proces en data </a> </td>
																		<td> <a href="../elements/id-736114.html" target="element"> Richting </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-88551b41ab5f41e19bd1a6a17e302153.html" target="element"> bekostiging van </a> </td>
																		<td> <a href="../elements/id-88551b41ab5f41e19bd1a6a17e302153.html" target="element" class="i18n-elementtype-AssociationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-736011.html" target="element"> Financi&#235;n </a> </td>
																		<td> <a href="../elements/id-736039.html" target="element"> Bedrijfsgebouw </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-4b91200f4e6346ea83beb4498f825b13.html" target="element"> bekostiging van </a> </td>
																		<td> <a href="../elements/id-4b91200f4e6346ea83beb4498f825b13.html" target="element" class="i18n-elementtype-AssociationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-736011.html" target="element"> Financi&#235;n </a> </td>
																		<td> <a href="../elements/id-736067.html" target="element"> Medewerker </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-1213d23749814754a38b445ff5426571.html" target="element"> bekostiging van </a> </td>
																		<td> <a href="../elements/id-1213d23749814754a38b445ff5426571.html" target="element" class="i18n-elementtype-AssociationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-736011.html" target="element"> Financi&#235;n </a> </td>
																		<td> <a href="../elements/id-736051.html" target="element"> Inkoopproduct </a> </td>
																	</tr>


								</tbody>
							</table>
						</div>
			  </div>
			</div>
		</div>
	</div>
	<script type="text/javascript">imageMapResize();</script>
</body>
</html>