<!DOCTYPE html>
<html class="frame" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
	<title>N1 waardestroom(stappen) P.C</title>

	<!-- JQUERY -->
	<script type="text/javascript" src="../../lib/jquery/jquery.min.js"></script>
	<!-- BOOTSTRAP -->
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap.min.yeti.css">
	<script type="text/javascript" src="../../lib/bootstrap/js/bootstrap-3.3.2.min.js"></script>
	<!-- REPORT SPECIFIC -->
	<link type="text/css" rel="stylesheet" href="../../css/model.css">
	<link type="text/css" rel="stylesheet" href="../../css/i18n.css">
	<script type="text/javascript" src="../../js/frame.js"></script>
	<script type="text/javascript" src="../../js/imageMapResizer.min.js"></script>
</head>

<body>
	<div class="panel panel-default root-panel">

		<div class="panel-heading root-panel-heading">
            <!-- Name -->
               <b>N1 waardestroom(stappen) P.C</b>

            <!-- If a View with Viewpoint -->
			   (<span class="i18n-viewpoint-"></span>)
			   <a class="glyphicon glyphicon-info-sign" id="hint-viewpoint_" target="hint"></a>
            <!-- Or if a model (i.e has Purpose method) -->
		</div>

		<div class="panel-body root-panel-body">
		    <!-- If this is a digram model (has children and no bounds) show the image -->
			   <img class="diagram" src="../images/id-d9600d48f290414a875aeedf0340858d.png" alt="N1 waardestroom(stappen) P.C" usemap="#id-d9600d48f290414a875aeedf0340858dmap"/>
			   <map name="id-d9600d48f290414a875aeedf0340858dmap">
				  				<area shape="rect" coords="34,262,155,287" href="../elements/id-729632.html"  target="element">

				  		<area shape="rect" coords="22,190,167,299" href="../elements/id-718171.html"  target="element">
				  				<area shape="rect" coords="190,262,311,287" href="../elements/id-729578.html"  target="element">

				  		<area shape="rect" coords="178,190,323,299" href="../elements/id-718167.html"  target="element">
				  				<area shape="rect" coords="346,262,467,287" href="../elements/id-729609.html"  target="element">

				  		<area shape="rect" coords="334,190,479,299" href="../elements/id-718169.html"  target="element">
				  				<area shape="rect" coords="502,262,623,287" href="../elements/id-729558.html"  target="element">

				  		<area shape="rect" coords="490,190,635,299" href="../elements/id-718168.html"  target="element">
				  				<area shape="rect" coords="490,58,635,131" href="../elements/id-7008588f520a4d81b8f2cb6294e9ec57.html"  target="element">
				  				<area shape="rect" coords="334,58,479,131" href="../elements/id-0fb710c35c104ecca417a3933147700a.html"  target="element">
				  				<area shape="rect" coords="178,58,323,131" href="../elements/id-2349e36106324c0a941e6cd981c2f42c.html"  target="element">
				  				<area shape="rect" coords="22,58,167,131" href="../elements/id-e66a8647b8d540b7b13b5a14fc22f54f.html"  target="element">

				  		<area shape="rect" coords="10,10,647,143" href="../elements/id-91bf847e403945859162d47ea5d7490f.html"  target="element">

			   </map>

			<div role="tabpanel">
				<!-- Nav tabs -->
				<ul class="nav nav-tabs" role="tablist">
                    <!-- Purpose / Documentation / Content -->
					   <li role="presentation" class="active"><a href="#documentation" aria-controls="documentation" role="tab" data-toggle="tab" class="i18n-documentation"></a></li>

                    <!-- Properties -->
                    <li role="presentation"><a href="#properties" aria-controls="properties" role="tab" data-toggle="tab" class="i18n-properties"></a></li>

						<li role="presentation"><a href="#elements" aria-controls="elements" role="tab" data-toggle="tab" class="i18n-elements"></a></li>
						<li role="presentation"><a href="#relationships" aria-controls="relationships" role="tab" data-toggle="tab" class="i18n-relationships"></a></li>
                    <!-- Model, Query Tab -->
				</ul>

				<!-- Tab panes -->
				<div class="tab-content">
					<div role="tabpanel" class="tab-pane active" id="documentation">
						<div class="convertlinks documentation" style="white-space:pre-wrap"></div>
					</div>
					<div role="tabpanel" class="tab-pane" id="properties">
						<table class="table table-striped table-hover table-condensed">
							<thead>
								<tr>
									<th class="i18n-key"></th>
									<th class="i18n-value"></th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
					</div>
						<div role="tabpanel" class="tab-pane" id="elements">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
									</tr>
								</thead>
								<tbody>
											<tr>
											    <td> <a href="../elements/id-91bf847e403945859162d47ea5d7490f.html" target="element"> Netgedreven aanpassen van energienetten </a> </td>
											    <td> <a href="../elements/id-91bf847e403945859162d47ea5d7490f.html" target="element" class="i18n-elementtype-BusinessProcess">
											    </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/id-e66a8647b8d540b7b13b5a14fc22f54f.html" target="element"> Bedienen klant voor netaanpassing </a> </td>
													    <td> <a href="../elements/id-e66a8647b8d540b7b13b5a14fc22f54f.html" target="element" class="i18n-elementtype-BusinessProcess">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-2349e36106324c0a941e6cd981c2f42c.html" target="element"> Besturen ontwikkeling energienet voor netaanpassing </a> </td>
													    <td> <a href="../elements/id-2349e36106324c0a941e6cd981c2f42c.html" target="element" class="i18n-elementtype-BusinessProcess">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-0fb710c35c104ecca417a3933147700a.html" target="element"> Uitvoeren netaanpassingwerkzaamheden </a> </td>
													    <td> <a href="../elements/id-0fb710c35c104ecca417a3933147700a.html" target="element" class="i18n-elementtype-BusinessProcess">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-7008588f520a4d81b8f2cb6294e9ec57.html" target="element"> Opnemen netaanpassing in besturing energietransport </a> </td>
													    <td> <a href="../elements/id-7008588f520a4d81b8f2cb6294e9ec57.html" target="element" class="i18n-elementtype-BusinessProcess">
													    </a> </td>
													</tr>

											
											<tr>
											    <td> <a href="../elements/id-718168.html" target="element"> Energie transporteren </a> </td>
											    <td> <a href="../elements/id-718168.html" target="element" class="i18n-elementtype-BusinessFunction">
											    </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/id-729558.html" target="element"> Energietransport </a> </td>
													    <td> <a href="../elements/id-729558.html" target="element" class="i18n-elementtype-BusinessObject">
													    </a> </td>
													</tr>

											
											<tr>
											    <td> <a href="../elements/id-718169.html" target="element"> Werkzaamheden uitvoeren aan energienetten </a> </td>
											    <td> <a href="../elements/id-718169.html" target="element" class="i18n-elementtype-BusinessFunction">
											    </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/id-729609.html" target="element"> Werk </a> </td>
													    <td> <a href="../elements/id-729609.html" target="element" class="i18n-elementtype-BusinessObject">
													    </a> </td>
													</tr>

											
											<tr>
											    <td> <a href="../elements/id-718167.html" target="element"> Ontwikkeling en instandhouding van energienetten besturen </a> </td>
											    <td> <a href="../elements/id-718167.html" target="element" class="i18n-elementtype-BusinessFunction">
											    </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/id-729578.html" target="element"> Energienet </a> </td>
													    <td> <a href="../elements/id-729578.html" target="element" class="i18n-elementtype-BusinessObject">
													    </a> </td>
													</tr>

											
											<tr>
											    <td> <a href="../elements/id-718171.html" target="element"> Klanten bedienen </a> </td>
											    <td> <a href="../elements/id-718171.html" target="element" class="i18n-elementtype-BusinessFunction">
											    </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/id-729632.html" target="element"> Klant </a> </td>
													    <td> <a href="../elements/id-729632.html" target="element" class="i18n-elementtype-BusinessObject">
													    </a> </td>
													</tr>

											

								</tbody>
							</table>
						</div>
						<div role="tabpanel" class="tab-pane" id="relationships">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
										<th class="i18n-source"></th>
										<th class="i18n-target"></th>
									</tr>
								</thead>
								<tbody>
																	<tr>
																		<td> <a href="../elements/id-4e614a5ff54c45bf96dd132ff1b4c1ba.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-4e614a5ff54c45bf96dd132ff1b4c1ba.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-91bf847e403945859162d47ea5d7490f.html" target="element"> Netgedreven aanpassen van energienetten </a> </td>
																		<td> <a href="../elements/id-e66a8647b8d540b7b13b5a14fc22f54f.html" target="element"> Bedienen klant voor netaanpassing </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-9a2574e1d8d1410aafa3d730941eb0a1.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-9a2574e1d8d1410aafa3d730941eb0a1.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-91bf847e403945859162d47ea5d7490f.html" target="element"> Netgedreven aanpassen van energienetten </a> </td>
																		<td> <a href="../elements/id-2349e36106324c0a941e6cd981c2f42c.html" target="element"> Besturen ontwikkeling energienet voor netaanpassing </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-8c3f50ebe247471481f658936dd2df00.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-8c3f50ebe247471481f658936dd2df00.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-91bf847e403945859162d47ea5d7490f.html" target="element"> Netgedreven aanpassen van energienetten </a> </td>
																		<td> <a href="../elements/id-0fb710c35c104ecca417a3933147700a.html" target="element"> Uitvoeren netaanpassingwerkzaamheden </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-cc29ae9bb0ac46f7be93b867ad7fb4cc.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-cc29ae9bb0ac46f7be93b867ad7fb4cc.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-91bf847e403945859162d47ea5d7490f.html" target="element"> Netgedreven aanpassen van energienetten </a> </td>
																		<td> <a href="../elements/id-7008588f520a4d81b8f2cb6294e9ec57.html" target="element"> Opnemen netaanpassing in besturing energietransport </a> </td>
																	</tr>

											
																	<tr>
																		<td> <a href="../elements/id-b3a14c269c654e21b693cd929c2dabc8.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-b3a14c269c654e21b693cd929c2dabc8.html" target="element" class="i18n-elementtype-AccessRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-718168.html" target="element"> Energie transporteren </a> </td>
																		<td> <a href="../elements/id-729558.html" target="element"> Energietransport </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-ef0c0ef0969b4b658f06e585d6b485d7.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-ef0c0ef0969b4b658f06e585d6b485d7.html" target="element" class="i18n-elementtype-ServingRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-718168.html" target="element"> Energie transporteren </a> </td>
																		<td> <a href="../elements/id-7008588f520a4d81b8f2cb6294e9ec57.html" target="element"> Opnemen netaanpassing in besturing energietransport </a> </td>
																	</tr>

											
																	<tr>
																		<td> <a href="../elements/id-9081dde26c44433ca424b1d9f2b9d346.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-9081dde26c44433ca424b1d9f2b9d346.html" target="element" class="i18n-elementtype-AccessRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-718169.html" target="element"> Werkzaamheden uitvoeren aan energienetten </a> </td>
																		<td> <a href="../elements/id-729609.html" target="element"> Werk </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-68db7cb3896a4de29957f2ddd307ebc6.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-68db7cb3896a4de29957f2ddd307ebc6.html" target="element" class="i18n-elementtype-ServingRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-718169.html" target="element"> Werkzaamheden uitvoeren aan energienetten </a> </td>
																		<td> <a href="../elements/id-0fb710c35c104ecca417a3933147700a.html" target="element"> Uitvoeren netaanpassingwerkzaamheden </a> </td>
																	</tr>

											
																	<tr>
																		<td> <a href="../elements/id-9057072ede3a4c8f8460f56c7875e4e8.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-9057072ede3a4c8f8460f56c7875e4e8.html" target="element" class="i18n-elementtype-AccessRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-718167.html" target="element"> Ontwikkeling en instandhouding van energienetten besturen </a> </td>
																		<td> <a href="../elements/id-729578.html" target="element"> Energienet </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-09873c436579498c8d539c0ad97b8585.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-09873c436579498c8d539c0ad97b8585.html" target="element" class="i18n-elementtype-ServingRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-718167.html" target="element"> Ontwikkeling en instandhouding van energienetten besturen </a> </td>
																		<td> <a href="../elements/id-2349e36106324c0a941e6cd981c2f42c.html" target="element"> Besturen ontwikkeling energienet voor netaanpassing </a> </td>
																	</tr>

											
																	<tr>
																		<td> <a href="../elements/id-8b5faaa74f294cd8a477fad05cf21eb4.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-8b5faaa74f294cd8a477fad05cf21eb4.html" target="element" class="i18n-elementtype-AccessRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-718171.html" target="element"> Klanten bedienen </a> </td>
																		<td> <a href="../elements/id-729632.html" target="element"> Klant </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-4aaaa5ff96bb42578c43cb52a513e30d.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-4aaaa5ff96bb42578c43cb52a513e30d.html" target="element" class="i18n-elementtype-ServingRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-718171.html" target="element"> Klanten bedienen </a> </td>
																		<td> <a href="../elements/id-e66a8647b8d540b7b13b5a14fc22f54f.html" target="element"> Bedienen klant voor netaanpassing </a> </td>
																	</tr>

											

								</tbody>
							</table>
						</div>
			  </div>
			</div>
		</div>
	</div>
	<script type="text/javascript">imageMapResize();</script>
</body>
</html>