<!DOCTYPE html>
<html class="frame" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
	<title>N1 functies/objecten</title>

	<!-- JQUERY -->
	<script type="text/javascript" src="../../lib/jquery/jquery.min.js"></script>
	<!-- BOOTSTRAP -->
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap.min.yeti.css">
	<script type="text/javascript" src="../../lib/bootstrap/js/bootstrap-3.3.2.min.js"></script>
	<!-- REPORT SPECIFIC -->
	<link type="text/css" rel="stylesheet" href="../../css/model.css">
	<link type="text/css" rel="stylesheet" href="../../css/i18n.css">
	<script type="text/javascript" src="../../js/frame.js"></script>
	<script type="text/javascript" src="../../js/imageMapResizer.min.js"></script>
</head>

<body>
	<div class="panel panel-default root-panel">

		<div class="panel-heading root-panel-heading">
            <!-- Name -->
               <b>N1 functies/objecten</b>

            <!-- If a View with Viewpoint -->
			   (<span class="i18n-viewpoint-"></span>)
			   <a class="glyphicon glyphicon-info-sign" id="hint-viewpoint_" target="hint"></a>
            <!-- Or if a model (i.e has Purpose method) -->
		</div>

		<div class="panel-body root-panel-body">
		    <!-- If this is a digram model (has children and no bounds) show the image -->
			   <img class="diagram" src="../images/id-f0bae4ba58474121b5066df9c9509a53.png" alt="N1 functies/objecten" usemap="#id-f0bae4ba58474121b5066df9c9509a53map"/>
			   <map name="id-f0bae4ba58474121b5066df9c9509a53map">
				  						<area shape="rect" coords="1306,118,1428,144" href="../elements/id-736067.html"  target="element">

				  				<area shape="rect" coords="1294,46,1438,155" href="../elements/id-718836.html"  target="element">
				  						<area shape="rect" coords="1930,118,2052,144" href="../elements/id-736011.html"  target="element">

				  				<area shape="rect" coords="1918,46,2062,155" href="../elements/id-718832.html"  target="element">
				  						<area shape="rect" coords="1462,118,1584,144" href="../elements/id-736162.html"  target="element">

				  				<area shape="rect" coords="1450,46,1594,155" href="../elements/id-718834.html"  target="element">
				  						<area shape="rect" coords="994,118,1116,144" href="../elements/id-736114.html"  target="element">

				  				<area shape="rect" coords="982,46,1126,155" href="../elements/id-736356.html"  target="element">
				  						<area shape="rect" coords="1618,118,1740,144" href="../elements/id-736051.html"  target="element">

				  				<area shape="rect" coords="1606,46,1750,155" href="../elements/id-718833.html"  target="element">
				  						<area shape="rect" coords="1150,118,1272,144" href="../elements/id-736094.html"  target="element">

				  				<area shape="rect" coords="1138,46,1282,155" href="../elements/id-736543.html"  target="element">
				  						<area shape="rect" coords="1774,118,1896,144" href="../elements/id-736039.html"  target="element">

				  				<area shape="rect" coords="1762,46,1906,155" href="../elements/id-718824.html"  target="element">

				  		<area shape="rect" coords="970,10,2074,167" href="../elements/id-737000.html"  target="element">
				  						<area shape="rect" coords="34,118,155,143" href="../elements/id-729632.html"  target="element">

				  				<area shape="rect" coords="22,46,167,155" href="../elements/id-718171.html"  target="element">
				  						<area shape="rect" coords="346,118,467,143" href="../elements/id-729578.html"  target="element">

				  				<area shape="rect" coords="334,46,479,155" href="../elements/id-718167.html"  target="element">
				  						<area shape="rect" coords="814,118,935,143" href="../elements/id-729665.html"  target="element">

				  				<area shape="rect" coords="802,46,947,156" href="../elements/id-718173.html"  target="element">
				  						<area shape="rect" coords="658,118,779,143" href="../elements/id-729609.html"  target="element">

				  				<area shape="rect" coords="646,46,791,155" href="../elements/id-718169.html"  target="element">
				  						<area shape="rect" coords="190,118,311,143" href="../elements/id-729558.html"  target="element">

				  				<area shape="rect" coords="178,46,323,155" href="../elements/id-718168.html"  target="element">
				  						<area shape="rect" coords="502,118,623,143" href="../elements/id-729659.html"  target="element">

				  				<area shape="rect" coords="490,46,635,157" href="../elements/id-718170.html"  target="element">

				  		<area shape="rect" coords="10,10,959,167" href="../elements/id-737009.html"  target="element">

			   </map>

			<div role="tabpanel">
				<!-- Nav tabs -->
				<ul class="nav nav-tabs" role="tablist">
                    <!-- Purpose / Documentation / Content -->
					   <li role="presentation" class="active"><a href="#documentation" aria-controls="documentation" role="tab" data-toggle="tab" class="i18n-documentation"></a></li>

                    <!-- Properties -->
                    <li role="presentation"><a href="#properties" aria-controls="properties" role="tab" data-toggle="tab" class="i18n-properties"></a></li>

						<li role="presentation"><a href="#elements" aria-controls="elements" role="tab" data-toggle="tab" class="i18n-elements"></a></li>
						<li role="presentation"><a href="#relationships" aria-controls="relationships" role="tab" data-toggle="tab" class="i18n-relationships"></a></li>
                    <!-- Model, Query Tab -->
				</ul>

				<!-- Tab panes -->
				<div class="tab-content">
					<div role="tabpanel" class="tab-pane active" id="documentation">
						<div class="convertlinks documentation" style="white-space:pre-wrap"></div>
					</div>
					<div role="tabpanel" class="tab-pane" id="properties">
						<table class="table table-striped table-hover table-condensed">
							<thead>
								<tr>
									<th class="i18n-key"></th>
									<th class="i18n-value"></th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
					</div>
						<div role="tabpanel" class="tab-pane" id="elements">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
									</tr>
								</thead>
								<tbody>
											<tr>
											    <td> <a href="../elements/id-737009.html" target="element"> Core functies </a> </td>
											    <td> <a href="../elements/id-737009.html" target="element" class="i18n-elementtype-Grouping">
											    </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/id-718170.html" target="element"> Energietransport en -netten meten </a> </td>
													    <td> <a href="../elements/id-718170.html" target="element" class="i18n-elementtype-BusinessFunction">
													    </a> </td>
													</tr>

															<tr>
															    <td> <a href="../elements/id-729659.html" target="element"> Meting </a> </td>
															    <td> <a href="../elements/id-729659.html" target="element" class="i18n-elementtype-BusinessObject">
															    </a> </td>
															</tr>

													
													<tr>
													    <td> <a href="../elements/id-718168.html" target="element"> Energie transporteren </a> </td>
													    <td> <a href="../elements/id-718168.html" target="element" class="i18n-elementtype-BusinessFunction">
													    </a> </td>
													</tr>

															<tr>
															    <td> <a href="../elements/id-729558.html" target="element"> Energietransport </a> </td>
															    <td> <a href="../elements/id-729558.html" target="element" class="i18n-elementtype-BusinessObject">
															    </a> </td>
															</tr>

													
													<tr>
													    <td> <a href="../elements/id-718169.html" target="element"> Werkzaamheden uitvoeren aan energienetten </a> </td>
													    <td> <a href="../elements/id-718169.html" target="element" class="i18n-elementtype-BusinessFunction">
													    </a> </td>
													</tr>

															<tr>
															    <td> <a href="../elements/id-729609.html" target="element"> Werk </a> </td>
															    <td> <a href="../elements/id-729609.html" target="element" class="i18n-elementtype-BusinessObject">
															    </a> </td>
															</tr>

													
													<tr>
													    <td> <a href="../elements/id-718173.html" target="element"> De energiemarkt faciliteren </a> </td>
													    <td> <a href="../elements/id-718173.html" target="element" class="i18n-elementtype-BusinessFunction">
													    </a> </td>
													</tr>

															<tr>
															    <td> <a href="../elements/id-729665.html" target="element"> Energiemarkt </a> </td>
															    <td> <a href="../elements/id-729665.html" target="element" class="i18n-elementtype-BusinessObject">
															    </a> </td>
															</tr>

													
													<tr>
													    <td> <a href="../elements/id-718167.html" target="element"> Ontwikkeling en instandhouding van energienetten besturen </a> </td>
													    <td> <a href="../elements/id-718167.html" target="element" class="i18n-elementtype-BusinessFunction">
													    </a> </td>
													</tr>

															<tr>
															    <td> <a href="../elements/id-729578.html" target="element"> Energienet </a> </td>
															    <td> <a href="../elements/id-729578.html" target="element" class="i18n-elementtype-BusinessObject">
															    </a> </td>
															</tr>

													
													<tr>
													    <td> <a href="../elements/id-718171.html" target="element"> Klanten bedienen </a> </td>
													    <td> <a href="../elements/id-718171.html" target="element" class="i18n-elementtype-BusinessFunction">
													    </a> </td>
													</tr>

															<tr>
															    <td> <a href="../elements/id-729632.html" target="element"> Klant </a> </td>
															    <td> <a href="../elements/id-729632.html" target="element" class="i18n-elementtype-BusinessObject">
															    </a> </td>
															</tr>

													
											
											<tr>
											    <td> <a href="../elements/id-737000.html" target="element"> Enterprise functies </a> </td>
											    <td> <a href="../elements/id-737000.html" target="element" class="i18n-elementtype-Grouping">
											    </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/id-718824.html" target="element"> Bedrijfsgebouwen beheren en faciliteiten beschikbaar stellen </a> </td>
													    <td> <a href="../elements/id-718824.html" target="element" class="i18n-elementtype-BusinessFunction">
													    </a> </td>
													</tr>

															<tr>
															    <td> <a href="../elements/id-736039.html" target="element"> Bedrijfsgebouw </a> </td>
															    <td> <a href="../elements/id-736039.html" target="element" class="i18n-elementtype-BusinessObject">
															    </a> </td>
															</tr>

													
													<tr>
													    <td> <a href="../elements/id-736543.html" target="element"> Processen en data ontwikkelen en beheren </a> </td>
													    <td> <a href="../elements/id-736543.html" target="element" class="i18n-elementtype-BusinessFunction">
													    </a> </td>
													</tr>

															<tr>
															    <td> <a href="../elements/id-736094.html" target="element"> Proces en data </a> </td>
															    <td> <a href="../elements/id-736094.html" target="element" class="i18n-elementtype-BusinessObject">
															    </a> </td>
															</tr>

													
													<tr>
													    <td> <a href="../elements/id-718833.html" target="element"> Goederen en diensten verkrijgen </a> </td>
													    <td> <a href="../elements/id-718833.html" target="element" class="i18n-elementtype-BusinessFunction">
													    </a> </td>
													</tr>

															<tr>
															    <td> <a href="../elements/id-736051.html" target="element"> Inkoopproduct </a> </td>
															    <td> <a href="../elements/id-736051.html" target="element" class="i18n-elementtype-BusinessObject">
															    </a> </td>
															</tr>

													
													<tr>
													    <td> <a href="../elements/id-736356.html" target="element"> Bedrijfsrichting opstellen en besturen </a> </td>
													    <td> <a href="../elements/id-736356.html" target="element" class="i18n-elementtype-BusinessFunction">
													    </a> </td>
													</tr>

															<tr>
															    <td> <a href="../elements/id-736114.html" target="element"> Richting </a> </td>
															    <td> <a href="../elements/id-736114.html" target="element" class="i18n-elementtype-BusinessObject">
															    </a> </td>
															</tr>

													
													<tr>
													    <td> <a href="../elements/id-718834.html" target="element"> Digitale producten ontwikkelen en beheren </a> </td>
													    <td> <a href="../elements/id-718834.html" target="element" class="i18n-elementtype-BusinessFunction">
													    </a> </td>
													</tr>

															<tr>
															    <td> <a href="../elements/id-736162.html" target="element"> Digitaal product </a> </td>
															    <td> <a href="../elements/id-736162.html" target="element" class="i18n-elementtype-BusinessObject">
															    </a> </td>
															</tr>

													
													<tr>
													    <td> <a href="../elements/id-718832.html" target="element"> Financi&#235;n verkrijgen en beheren </a> </td>
													    <td> <a href="../elements/id-718832.html" target="element" class="i18n-elementtype-BusinessFunction">
													    </a> </td>
													</tr>

															<tr>
															    <td> <a href="../elements/id-736011.html" target="element"> Financi&#235;n </a> </td>
															    <td> <a href="../elements/id-736011.html" target="element" class="i18n-elementtype-BusinessObject">
															    </a> </td>
															</tr>

													
													<tr>
													    <td> <a href="../elements/id-718836.html" target="element"> Medewerkers werven en inzetbaar houden </a> </td>
													    <td> <a href="../elements/id-718836.html" target="element" class="i18n-elementtype-BusinessFunction">
													    </a> </td>
													</tr>

															<tr>
															    <td> <a href="../elements/id-736067.html" target="element"> Medewerker </a> </td>
															    <td> <a href="../elements/id-736067.html" target="element" class="i18n-elementtype-BusinessObject">
															    </a> </td>
															</tr>

													
											

								</tbody>
							</table>
						</div>
						<div role="tabpanel" class="tab-pane" id="relationships">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
										<th class="i18n-source"></th>
										<th class="i18n-target"></th>
									</tr>
								</thead>
								<tbody>
																	<tr>
																		<td> <a href="../elements/id-704b48b92ac8462db8c6350688bda10a.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-704b48b92ac8462db8c6350688bda10a.html" target="element" class="i18n-elementtype-AggregationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-737009.html" target="element"> Core functies </a> </td>
																		<td> <a href="../elements/id-718173.html" target="element"> De energiemarkt faciliteren </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-eb751df522df42799e07c37153dfacbd.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-eb751df522df42799e07c37153dfacbd.html" target="element" class="i18n-elementtype-AggregationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-737009.html" target="element"> Core functies </a> </td>
																		<td> <a href="../elements/id-718167.html" target="element"> Ontwikkeling en instandhouding van energienetten besturen </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-d99da8cc1f584203aa1a275769d12bfe.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-d99da8cc1f584203aa1a275769d12bfe.html" target="element" class="i18n-elementtype-AggregationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-737009.html" target="element"> Core functies </a> </td>
																		<td> <a href="../elements/id-718171.html" target="element"> Klanten bedienen </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-e062f0201ae1408a9fde4a0768bd5f29.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-e062f0201ae1408a9fde4a0768bd5f29.html" target="element" class="i18n-elementtype-AggregationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-737009.html" target="element"> Core functies </a> </td>
																		<td> <a href="../elements/id-718170.html" target="element"> Energietransport en -netten meten </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-ce57cd54da00428d95b7e9f435181a0d.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-ce57cd54da00428d95b7e9f435181a0d.html" target="element" class="i18n-elementtype-AggregationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-737009.html" target="element"> Core functies </a> </td>
																		<td> <a href="../elements/id-718168.html" target="element"> Energie transporteren </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-1a29e8b56d2149ada60740c94be3d2f8.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-1a29e8b56d2149ada60740c94be3d2f8.html" target="element" class="i18n-elementtype-AggregationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-737009.html" target="element"> Core functies </a> </td>
																		<td> <a href="../elements/id-718169.html" target="element"> Werkzaamheden uitvoeren aan energienetten </a> </td>
																	</tr>

																			<tr>
																				<td> <a href="../elements/id-5bcd31ab74db45918e27fe251a8c542c.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-5bcd31ab74db45918e27fe251a8c542c.html" target="element" class="i18n-elementtype-AccessRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-718170.html" target="element"> Energietransport en -netten meten </a> </td>
																				<td> <a href="../elements/id-729659.html" target="element"> Meting </a> </td>
																			</tr>

													
																			<tr>
																				<td> <a href="../elements/id-b3a14c269c654e21b693cd929c2dabc8.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-b3a14c269c654e21b693cd929c2dabc8.html" target="element" class="i18n-elementtype-AccessRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-718168.html" target="element"> Energie transporteren </a> </td>
																				<td> <a href="../elements/id-729558.html" target="element"> Energietransport </a> </td>
																			</tr>

													
																			<tr>
																				<td> <a href="../elements/id-9081dde26c44433ca424b1d9f2b9d346.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-9081dde26c44433ca424b1d9f2b9d346.html" target="element" class="i18n-elementtype-AccessRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-718169.html" target="element"> Werkzaamheden uitvoeren aan energienetten </a> </td>
																				<td> <a href="../elements/id-729609.html" target="element"> Werk </a> </td>
																			</tr>

													
																			<tr>
																				<td> <a href="../elements/id-9bd49ce25c34427aa2ec8aa868aa2c94.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-9bd49ce25c34427aa2ec8aa868aa2c94.html" target="element" class="i18n-elementtype-AccessRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-718173.html" target="element"> De energiemarkt faciliteren </a> </td>
																				<td> <a href="../elements/id-729665.html" target="element"> Energiemarkt </a> </td>
																			</tr>

													
																			<tr>
																				<td> <a href="../elements/id-9057072ede3a4c8f8460f56c7875e4e8.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-9057072ede3a4c8f8460f56c7875e4e8.html" target="element" class="i18n-elementtype-AccessRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-718167.html" target="element"> Ontwikkeling en instandhouding van energienetten besturen </a> </td>
																				<td> <a href="../elements/id-729578.html" target="element"> Energienet </a> </td>
																			</tr>

													
																			<tr>
																				<td> <a href="../elements/id-8b5faaa74f294cd8a477fad05cf21eb4.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-8b5faaa74f294cd8a477fad05cf21eb4.html" target="element" class="i18n-elementtype-AccessRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-718171.html" target="element"> Klanten bedienen </a> </td>
																				<td> <a href="../elements/id-729632.html" target="element"> Klant </a> </td>
																			</tr>

													
											
																	<tr>
																		<td> <a href="../elements/id-c23d6501623746eabbb832f9ec2887ed.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-c23d6501623746eabbb832f9ec2887ed.html" target="element" class="i18n-elementtype-AggregationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-737000.html" target="element"> Enterprise functies </a> </td>
																		<td> <a href="../elements/id-718836.html" target="element"> Medewerkers werven en inzetbaar houden </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-02c10cd598fa45fe904f33db48200b01.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-02c10cd598fa45fe904f33db48200b01.html" target="element" class="i18n-elementtype-AggregationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-737000.html" target="element"> Enterprise functies </a> </td>
																		<td> <a href="../elements/id-718824.html" target="element"> Bedrijfsgebouwen beheren en faciliteiten beschikbaar stellen </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-526eb0622cc44ce2aba7bd1493c2e12b.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-526eb0622cc44ce2aba7bd1493c2e12b.html" target="element" class="i18n-elementtype-AggregationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-737000.html" target="element"> Enterprise functies </a> </td>
																		<td> <a href="../elements/id-736543.html" target="element"> Processen en data ontwikkelen en beheren </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-36e9c514687e4837b415a858faf9bed5.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-36e9c514687e4837b415a858faf9bed5.html" target="element" class="i18n-elementtype-AggregationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-737000.html" target="element"> Enterprise functies </a> </td>
																		<td> <a href="../elements/id-718832.html" target="element"> Financi&#235;n verkrijgen en beheren </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-de25fbe6ccea48c2b2353a40f188d9ca.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-de25fbe6ccea48c2b2353a40f188d9ca.html" target="element" class="i18n-elementtype-AggregationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-737000.html" target="element"> Enterprise functies </a> </td>
																		<td> <a href="../elements/id-718833.html" target="element"> Goederen en diensten verkrijgen </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-9ea33c9cff2e4ddca21d47a05ea7e9f3.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-9ea33c9cff2e4ddca21d47a05ea7e9f3.html" target="element" class="i18n-elementtype-AggregationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-737000.html" target="element"> Enterprise functies </a> </td>
																		<td> <a href="../elements/id-718834.html" target="element"> Digitale producten ontwikkelen en beheren </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-5dc52c8bdcea4a6b967a512c2049cc28.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-5dc52c8bdcea4a6b967a512c2049cc28.html" target="element" class="i18n-elementtype-AggregationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-737000.html" target="element"> Enterprise functies </a> </td>
																		<td> <a href="../elements/id-736356.html" target="element"> Bedrijfsrichting opstellen en besturen </a> </td>
																	</tr>

																			<tr>
																				<td> <a href="../elements/id-d31e3c21ed614690b0768d8a8e1f8454.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-d31e3c21ed614690b0768d8a8e1f8454.html" target="element" class="i18n-elementtype-AccessRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-718824.html" target="element"> Bedrijfsgebouwen beheren en faciliteiten beschikbaar stellen </a> </td>
																				<td> <a href="../elements/id-736039.html" target="element"> Bedrijfsgebouw </a> </td>
																			</tr>

													
																			<tr>
																				<td> <a href="../elements/id-61c75cc2d6d44f64bb8b45d6dc7ed860.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-61c75cc2d6d44f64bb8b45d6dc7ed860.html" target="element" class="i18n-elementtype-AccessRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-736543.html" target="element"> Processen en data ontwikkelen en beheren </a> </td>
																				<td> <a href="../elements/id-736094.html" target="element"> Proces en data </a> </td>
																			</tr>

													
																			<tr>
																				<td> <a href="../elements/id-63cfc2965ee94645bd2b8107c21bfb7f.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-63cfc2965ee94645bd2b8107c21bfb7f.html" target="element" class="i18n-elementtype-AccessRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-718833.html" target="element"> Goederen en diensten verkrijgen </a> </td>
																				<td> <a href="../elements/id-736051.html" target="element"> Inkoopproduct </a> </td>
																			</tr>

													
																			<tr>
																				<td> <a href="../elements/id-1e95d1699fd243ddad12cc4c3477d9be.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-1e95d1699fd243ddad12cc4c3477d9be.html" target="element" class="i18n-elementtype-AccessRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-736356.html" target="element"> Bedrijfsrichting opstellen en besturen </a> </td>
																				<td> <a href="../elements/id-736114.html" target="element"> Richting </a> </td>
																			</tr>

													
																			<tr>
																				<td> <a href="../elements/id-50fb597b66e945dcb41ac8891f01d84e.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-50fb597b66e945dcb41ac8891f01d84e.html" target="element" class="i18n-elementtype-AccessRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-718834.html" target="element"> Digitale producten ontwikkelen en beheren </a> </td>
																				<td> <a href="../elements/id-736162.html" target="element"> Digitaal product </a> </td>
																			</tr>

													
																			<tr>
																				<td> <a href="../elements/id-ca18865e42894c1fa651a979c541295e.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-ca18865e42894c1fa651a979c541295e.html" target="element" class="i18n-elementtype-AccessRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-718832.html" target="element"> Financi&#235;n verkrijgen en beheren </a> </td>
																				<td> <a href="../elements/id-736011.html" target="element"> Financi&#235;n </a> </td>
																			</tr>

													
																			<tr>
																				<td> <a href="../elements/id-f2142eacc39b4a91bf04fad3e96b4941.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-f2142eacc39b4a91bf04fad3e96b4941.html" target="element" class="i18n-elementtype-AccessRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-718836.html" target="element"> Medewerkers werven en inzetbaar houden </a> </td>
																				<td> <a href="../elements/id-736067.html" target="element"> Medewerker </a> </td>
																			</tr>

													
											

								</tbody>
							</table>
						</div>
			  </div>
			</div>
		</div>
	</div>
	<script type="text/javascript">imageMapResize();</script>
</body>
</html>